[2015-03-16 15:12] nidev commented on #3359
@YorickPeterse, Thank you for your explanation. I was sticking to wrong point - Rake files. What can I do more to make this problem clearer? Just repeating certain routine doesn't seem helpful.

[2015-03-16 15:21] YorickPeterse commented on #3359
@nidev For now the build logs are adequate enough. Normally I'd suggest hooking up GDB and exporting its backtraces, but that's quite difficult to do during the installation process (since it's not running a single command you can attach to). What you could do is try to build from the master branch a few times to see if the error occurs there, though it's possible for it to only occur very rarely

[2015-03-16 16:12] jemc commented on #3359
I should add that I've seen this even when not compiling gems - I think it's a generic race condition within the VM related to some of the threading stuff that @brixen has been looking at.

[2015-03-17 10:07] maltoe opened #3360 "Compiler error for splat operator followed by more arguments in case-when"
Hi,

not sure if this qualifies as a bug, but at least this code used to work in MRI. Using rubinius 2.5.2.

[code]

System information:

[code]

[Gist with stacktrace](https://gist.github.com/maltoe/b43657ffb88f5f178340)

Otherwise, thanks for this great product!

[2015-03-17 12:10] bigzed opened #3361 "Using a tempfile as an argument for Process.spawn crashes rubinius"
Hi guys,

this worked in MRI but does not work on rubinius 2.5.2. Maybe its similar to this [MRI bug](https://bugs.ruby-lang.org/issues/6269)

[code]

System info:

[code]

Trace:

[code]

Thanks!

[2015-03-17 15:42] jemc commented on #3360
@maltoe
Thanks for reporting this!  I think I have a fix that works, but I'm not that familiar with this behavior of `case`/`when` and I want to make sure it's done right.  Would you mind writing a few specs in `spec/ruby/language/case_spec.rb` to demonstrate a normal case and some edge cases for the behavior (which you probably understand better than I do at the moment).

[2015-03-17 17:11] maltoe commented on #3360
In fact, I too have no real clue what is a "normal" case here, I just stumbled across this weird behaviour. Digging into it, it only got more interesting. See the PR, where only the latter two test cases fail. It seems like somehow the variable expansion is messed up when it is followed by additional values (yet for two values it works with a single splat...).

[2015-03-17 18:04] tamird opened #3363 "`super` is broken when using kwargs"
[code]
[code]
[code]

[2015-03-18 20:49] #3360 closed

[2015-03-23 17:37] kwleland opened #3365 "Thread#pid would be a helpful addition"
This way we can log long running thread pids as they are created and check up on them with the top command (H option).  If you have a thread that is in danger of using a whole core you can find it early as you are scaling.

Jruby has this FWIW, MRI does not but then again MRI threads don't scale that well so the need is less.

[2015-03-24 01:17] jemc commented on #3365
So, the corresponding system call for this is [gettid](http://linux.die.net/man/2/gettid).

For `getpid`, this is an easy FFI call (`Rubinius::FFI::Platform::POSIX.getpid`), but for `gettid` we are not this lucky.  In the above documentation link for gettid, it says:

This means, we need to do the FFI equivalent of the following C pseudosnippet:
[code]
(where `SYS_gettid` is a number defined in th

[2015-03-24 02:14] jemc commented on #3365
Looking at this a bit more, calling `gettid` gives the pid of the calling thread, but what we actually want here is the pid of any *given* and it seems there is no safe, portable way to get the pid of an arbitrary `pthread_t` in POSIX.

The only way we'd be able to implement this is to make Thread store its pid when created for later access. I'm not comfortable making this call to add it though, a

[2015-03-25 21:27] brixen commented on #3359
In the logs, this `utilities::thread: ~Condition: locked by another thread` error occurs at the end of installing the pre-installed gems, so that rbx process is exiting. I'll audit where the Condition instances are getting destructed to see if I can determine the race condition.

[2015-03-25 23:45] jemc commented on #3202
For reference, there is talk of deprecating this behavior:
https://bugs.ruby-lang.org/issues/10499

Thanks, @headius :+1:

[2015-03-27 16:48] kwleland opened #3366 "Crash - all threads stop running - 1 core at 100 percent spinning"
I moved our multi-tenant operator panel application from ruby to rubinius(2.5.2) in production.  Around 150 threads are operating. It runs perfectly for a couple days and then all threads stop running and 1(of 8) core is at 100 percent cpu.  A test thread that does nothing but logs a heartbeat time stamp every 5 seconds is stalled as well.  No errors are logged.  Its as though the GC paused the wo

[2015-03-28 14:53] nidev commented on #3366
I experienced similar thing while I did 'rake build' to build Rubinius from master. I used rbx-2.5.2. (Used rubinius to build other rubinius.)

[code]

Normally, builds were well finished - I mean build process were halted properly depending on successes or failures. Today, I saw the situation. The build process was stuck in following message:

[code]
Rbx took 100% of one of 4 cores. Load average

[2015-03-28 14:55] nidev commented on #3359
@YorickPeterse Building from the master branch was successful. I did a few times but still, not 100% sure.

[2015-03-28 14:56] YorickPeterse commented on #3366
@kwleland @nidev When the process hangs, could you attach GDB to the process and dump the thread backtraces per http://rubini.us/doc/en/how-to/obtaining-gdb-backtraces/? You can attach to a running process using `sudo gdb attach -p PID-HERE`. Doing this can help us pinpoint where exactly it freezes during the build process.

[2015-03-28 15:15] nidev commented on #3366
@YorickPeterse sure. I won't reboot my computer at this time. Rebooting wiped out all the problems and made the place 'nothing happened'.

Gotcha! I attach gist: https://gist.github.com/nidev/d5b3e1945fbd26324a81

If I need to do something more, please teach me. I'll keep gdb attached.

[2015-03-28 15:33] saizai opened #3368 "Uncaught C++ internal exception"
[code]

[2015-03-28 17:50] saizai commented on #3368
And another:

[code]

[2015-03-28 18:17] YorickPeterse commented on #3368
Is there some sort of script we can use to reproduce this problem?

[2015-03-28 18:20] YorickPeterse commented on #3366
Looking at the following snippet it appears Rbx is stuck waiting for a sub process:

[code]

On the other hand, thread 2 is apparently also pausing the entire VM due to a GC run:

[code]

Perhaps these two conflict, @brixen any ideas?

[2015-03-29 04:25] jemc commented on #3359
This is happening very regularly for me now with a particular Myco workload I'm running.

Here's the `thread apply all bt` output in `gdb`, in case it helps:
[code]

[2015-03-29 09:18] saizai commented on #3368
@YorickPeterse I've not been able to reliably isolate/reproduce it; it happens sporadically, and post crash, running the exact same code, on the same data, generally succeeds.

However, the code is @ https://github.com/MakeYourLaws/MakeYourLaws.

[2015-03-29 10:08] saizai commented on #3368
[code]

[2015-03-29 11:00] saizai commented on #3368
[code]

[2015-03-29 15:34] jemc opened #3369 "2.5.2: SIGSEGV in MachineCode::execute_specialized<rubinius::GenericArguments>"
In a particular Myco benchmark, I'm seeing this SIGSEGV sometimes with the rbx-2.5.2 release:

[code]

[code]

[2015-03-29 15:39] jemc commented on #3369
EDIT: Here's another gdb capture, this time with `RBXOPT=-Xint` to rule out JIT issues.

[code]

[2015-03-29 15:48] jc00ke commented on #3368
What code from that project causes the crash? Normal execution? A binstub? Running the tests?

[2015-03-29 15:58] jemc commented on #3369
I don't seem to be seeing this when I use rbx-master.
I'll close for now, but leave it here in case someone else runs into the same thing.

[2015-03-29 15:58] #3369 closed

[2015-03-29 19:02] saizai commented on #3368
@jc00ke Running `Fec::Filing::update_database` from console.

[2015-03-30 00:49] jineshkj commented on #3137
Sorry for the late reply guys. With latest cloned repo, I get the following build output. I will try to analyze this a bit further:
...
RBC /media/2/Tmp/rubinius/bootstrap/gems/rubysl-zlib-2.0.1/lib/zlib.rb
/media/2/Tmp/rubinius/staging/bin/rbx ./extconf.rbc
make && make install
compiling encoding_compat.cpp
compiling grammar.cpp
compiling melbourne.cpp
compiling node_types.cpp
compiling symbols.c

[2015-03-30 00:51] jineshkj commented on #3137
Btw, a second run with rake --trace option gives the following output:

install -c -m 0644 /media/2/Tmp/rubinius/library/ubygems.rb /media/2/Tmp/rubinius/staging/library/ubygems.rb
** Invoke gems:melbourne (first_time)
** Execute gems:melbourne
/media/2/Tmp/rubinius/staging/bin/rbx ./extconf.rbc
make && make install
make: Nothing to be done for 'all'.
** Invoke gems:extensions (first_time)
** Exec

[2015-03-30 01:06] jemc commented on #3137
@jineshkj
Are you running with the JIT disabled? (`RBXOPT=-Xint`)

[2015-03-30 01:44] jineshkj commented on #3137
Thanks @jemc. Interestingly, with -Xint option, rake took me a little further until this happened:

Building /media/2/Tmp/rubinius/bootstrap/gems/rubysl-zlib-2.0.1...
/media/2/Tmp/rubinius/staging/bin/rbx extconf.rb
checking for deflateReset() in -lz... yes
checking for zlib.h... yes
checking for crc32_combine() in zlib.h... yes
checking for adler32_combine() in zlib.h... yes
checking for z_crc_t

[2015-03-30 02:09] jemc commented on #3137
So, the reason I suggested you disable the JIT is because we know the JIT doesn't yet work on ARM.  Without the JIT, Rubinius is pretty slow and not that useful to anyone, so we don't know what kinds of other issues show up (like the one you just found). As @YorickPeterse mentioned above, ARM just isn't a supported platform yet.  However, as soon as we are using the new LLVM JIT that works on ARM,

[2015-03-30 03:18] jineshkj commented on #3137
That's good. Thanks @jemc. I will check back in future when you guys start working on ARM.

[2015-04-03 03:14] jjb commented on #2394
I am experiencing this bug with 2.5.2. With this test script:

[code]
I get this behavior:

[code]

[2015-04-03 09:26] YorickPeterse commented on #2394
@jjb Could you report that as a separate issue? While the error is the same I have my doubts about the actual cause being the same.

[2015-04-03 15:20] jjb opened #3370 "invalid multibyte char (UTF-8) in regular expression"
I am experiencing this bug with 2.5.2. With this test script:

[code]

I get this behavior:

[code]

[2015-04-03 15:21] jjb commented on #2394
@YorickPeterse done! https://github.com/rubinius/rubinius/issues/3370

[2015-04-05 16:31] jzakiya opened #3371 "[ANN] primes-utils rubygem"
I'd previously posted about code I'd written creating faster prime testing and generating code compared to what's in the Ruby standard library.  So now I've finally gemed it up to make it available for any Ruby on any platform/OS.  Here it is.  Run, play, and test it till your heart's content.
---------------------------------------------------------------------------------------------------------

[2015-04-05 17:03] jemc commented on #3371
Sorry, this isn't the place for this.  If you have issues running your library on rubinius, feel free to come back and file a ticket about it.

[2015-04-05 17:03] #3371 closed

[2015-04-05 18:46] YorickPeterse commented on #3371
@jemc This is probably a reference to https://github.com/rubinius/rubinius/issues/2438. I do agree that these kind of announcements are probably better suited for the Gitter channel opposed to an issue on Github.

[2015-04-07 15:40] kwleland commented on #3366
Got a backtrace from my production system.  Same deal =>Thread 92 is in _lll_lock_wait() waiting for a mutex (like thread 4 above) and Thread 48 is in wait_til_alone with a rubinius::SharedState::stop_the_world (like thread 2 above).  Other threads are mostly in pthread_cond_wait with an occaisional read or read_chk.

Backtrace is Gist:  kwleland / kill_the_world_backtrace    -- aka:
https://gist.

[2015-04-09 16:36] e2 opened #3373 "Kernel.method calls `inspect` on obj instead of class"
It's a minor thing, but I thought it's worth reporting.

(I don't know what the spec is for Ruby on this.)

[code]

#### Expected (on MRI):
[code]

#### Actual (on rbx-head and rbx-2.5.2 - probably on all versions)
[code]

[2015-04-09 17:31] pickhardt commented on #3205
@YorickPeterse based on your running of the script with both MRI and Rubinius, do you believe the memory leak is due to the AWS SQS library? If so, did you eventually figure out what to do to fix it? For instance, would upgrading to version 2 of the AWS-SDK gem fix it?

[2015-04-09 17:44] YorickPeterse commented on #3205
@pickhardt I can't say for certain if it's the AWS SDK itself, only that it manifests when using it. I've been unable to try version 2 yet as last time I checked it lacked a more refined SQS interface (that is, one closer to the interface of v1). I've not yet been able to find a fix otherwise.

[2015-04-09 17:50] YorickPeterse commented on #3373
This is because we use `#inspect` in the error output:

[code]

It probably makes more sense for this to produce an error similar to the ones we use for undefined method calls such as `NoMethodError: undefined method `bar' on an instance of Foo.`.

[2015-04-10 17:29] samuraisam commented on #2916
@ErnstA care to share your monkey patch?

[2015-04-12 20:07] nepalez opened #3374 "UncaughtThrowError"
Is it right to [raise] `ArgumentError` by the `#throw` method instead of more specialized `UncaughtThrowError` as MRI 2+ does?

[raise]: https://github.com/rubinius/rubinius/blob/58d397733b6ec1ae003b296ba4ab27a65e8629dc/kernel/common/throw_catch.rb#L37

[2015-04-12 20:21] YorickPeterse commented on #3374
Do you happen to know in what Ruby version `UncaughtThrowError` was added?

[2015-04-12 20:26] nepalez commented on #3374
Nope. I've tested it under MRI 2.0+ only.

When started testing with Rubinius and JRuby found that they complain on unknown constant.

[2015-04-12 20:29] YorickPeterse commented on #3374
Seeing how https://eval.in/312523 throws an error for the constant not being defined my guess is that this was added in 2.0. If so then we'll need to change our `throw` to be compatible with this.

[2015-04-12 20:33] nepalez commented on #3374
Yes, it was 2.0
http://svn.ruby-lang.org/cgi-bin/viewvc.cgi/trunk/ChangeLog?view=markup&pathrev=48468
(see 4-th message from the beginning)

[2015-04-12 20:41] nepalez commented on #3374
Tis is strange, but I found it in the [changelog for 2.2.0] only
(but both under 2.0 and 2.1 my tests passes)

[changelog for 2.2.0]: https://github.com/ruby/ruby/blob/ca6b174078fa15f33655be704d9409fdbc4f9929/doc/ChangeLog-2.2.0#L354

[2015-04-15 15:16] e2 opened #3375 "CodeTools::CompileError on rspec-expectations-3.2.1 (on Travis)"
I thought I'd report this:

[code]

I'm testing rbx-head locally and I don't get this. Feel free to close this if it's known/fixed/etc.

Here's the line in the build log (on Travis): https://travis-ci.org/celluloid/celluloid/jobs/58606387#L579

[2015-04-15 15:29] YorickPeterse commented on #3375
Could you provide a way for us to reproduce this?

[2015-04-15 15:35] e2 commented on #3375
@YorickPeterse - you can try reconstructing the same setup from the Travis log linked above. I think the essential things are:
- the exact matching Rubinius version (whatever Travis uses)
- the same gems (rspec mostly, and probably rspec-expectations-3.2.1)
- the same ENV vars Travis uses (though I believe there aren't related settings for Rubinius, unlike JRuby).

Since I can't upgrade to rbx-hea

[2015-04-15 15:41] YorickPeterse commented on #3375
Reverse engineering how to reproduce this is exactly what I wanted to avoid. Just having a clone command and whatever is needed to run the tests would help tremendously.

[2015-04-15 16:11] jemc commented on #3375
I can't reproduce this locally, but part of the problem with visibility here is that `CompilerError` here is precipitated by another exception, but the 'parent' exception only prints in the Rubinius backtrace printer (preceded by `Caused by:`).

This code load is the result of autoload - probably for `RSpec::Matchers::BuiltIn::Be` - so it is resolved while running specs, causing the error to happe

[2015-04-15 16:29] e2 commented on #3375
I'd be glad to.

Are there any options I can pass/set for Rubinius to help track this down? I don't mind a performance drop at all here - and reproducing the issue may be way too hard or time consuming.

[2015-04-15 16:31] jemc commented on #3375
You could also try setting `$DEBUG = true` at the top of one of your files.  This will be sure we can at least see the precipitating exception when it is raised even if for some reason we still don't get the normal Rubinius exception printer (like, because of `rake`'s custom printer, for example).

[2015-04-15 16:45] e2 commented on #3375
Unfortunately, with `$DEBUG=true` I'm getting:
[code]

I don't know how the bootstrap thing works in RBX (I'm using RVM).

[2015-04-15 16:48] jemc commented on #3375
That's odd... try adding `Thread.abort_on_exception = true` to the toplevel as well.

[2015-04-15 17:04] e2 commented on #3375
@jemc - same thing.

There are multiple things happening in multiple threads. Killing threads is also happening, though... (might be the cause, but all RSpec code is run from the main thread). I'll be working towards removing all calls to Thread#kill, so if that's the cause, this may never occur.

(This may also be the reason for the failure for `$DEBUG`- where the exception becomes nil).

I'll up

[2015-04-15 17:34] YorickPeterse commented on #3375
This particular issue might be related to (or the same as) the one discussed in https://github.com/rubinius/rubinius/issues/2934.

[2015-04-15 17:43] e2 commented on #3375
Thanks @YorickPeterse - I'll keep that in mind. If I somehow get this consistently on a desktop (and not on Travis), I'll take a shot at creating something that reproduces the issue.

Be aware that Travis boxes often have 32 cores ... which may be why this can occur there more often than on "average" desktops.

[2015-04-16 10:49] washu opened #3376 "crash report"
Rails app just idling overnight

[code]

[2015-04-16 11:19] YorickPeterse commented on #3376
Without a repro there's sadly not much we can do here to figure out what's causing it.

[2015-04-17 10:48] weibel commented on #3304
After much trial and error i made rbx compile with
```CXXFLAGS=-Wno-undefined-bool-conversion bash -c 'rvm install rbx'```

[2015-04-20 11:51] digitalextremist commented on #3373
@e2 you beat me to this. Although it seems irregular that `#inspect` would be invoked the way it is, it seems our test causes this issue, so we ought to probably check for `rbx`and bypass this test for now.

@YorickPeterse do you know why this behavior changed, or when it changed?

[2015-04-20 12:47] YorickPeterse commented on #3373
@digitalextremist As far as I can tell (based on `git log -G 'def method\('`) nothing has changed, this has been around for several years already.

[2015-04-20 13:07] e2 commented on #3373
I wanted to create a PR for this, but I probably won't have the time in the nearest future.

[2015-04-20 13:10] e2 commented on #3373
@digitalextremist - relying on undefined behavior is the root problem here.

[2015-04-20 13:13] digitalextremist commented on #3373
@e2 agreed, except seeing whether *unknown* failures happen while a several year-old issue is resolved seems sensible. We patch around `jRuby` versions all the time. Thanks @YorickPeterse

[2015-04-20 13:45] YorickPeterse commented on #3373
@digitalextremist This particular problem only occurs when one overwrites `#inspect` to something that is not compatible with the default implementation. Is this something Celluloid is doing?

[2015-04-20 13:48] digitalextremist commented on #3373
Absolutely, in a test spec. How can we avoid unsettling the `inspect` that `rbx` is expecting? Does *any* overwrite of that method cause this? As @e2 showed, it's this:

[code]

[2015-04-20 14:16] YorickPeterse commented on #3373
@digitalextremist By not overwriting `Object#inspect` in a way that doesn't alter it's behaviour from the outside. That is, as long as it returns some kind of String (and not raise an error or something like that) you should be fine.

[2015-04-20 14:19] digitalextremist commented on #3373
@YorickPeterse, hmm. One thing we need to test is if a failure happens in an overriden `#inspect` -- is there any environment variable we can set, or something like that to bypass the `inspect` call behavior; if not, can that be easily added?

[2015-04-20 14:23] YorickPeterse commented on #3373
@digitalextremist What kind of use case are you trying to test by making `#inspect` raise an error? That is, what lead to the need for that behaviour and it being covered by the tests?

[2015-04-20 14:25] YorickPeterse commented on #3373
To further clarify, this works in MRI because:

1. It doesn't rely on `Object#inspect` when printing errors
2. It often does most of the work in C by using the underlying functions, completely bypassing the ones bound to Ruby

If MRI were to ever use `#inspect` directly these tests would probably fail in a similar manner. The same applies to JRuby by the way.

[2015-04-20 14:27] digitalextremist commented on #3373
Well, one right off the top of my head is that any method invocation on an object which is an actor, and that actor is dead, calling `inspect` on it will crash. We would prefer the behavior of `mri` and `jruby`.

But truly, this is not *that* important, since we are triggering a failure; it just blacks out one test for us under `rbx` ... and we could do more than bypass this, but actually anticipa

[2015-04-20 14:31] YorickPeterse commented on #3373
Again, this _might_ work now but it could break in the future both on MRI and JRuby should they ever choose to use `Object#inspect` in a similar fashion as Rubinius does at the moment. Can you not simply test another, non core method instead of using `#inspect`?

[2015-04-20 15:25] e2 commented on #3373
@YorickPeterse - to explain briefly what's going on (without involving you unnecessarily), Celluloid has `check()` method - to check if an object's method exists and if the arity matches.

This is to prevent method/arity mismatches from resulting in NoMethodError and ArgumentError in the thread with the object. (The idea is to re-raise the exception in the calling thread - "as if" the exception ha

[2015-04-20 15:29] YorickPeterse commented on #3373
It doesn't have to, and it shouldn't either. If a user overwrites `#inspect` or whatever core method in a way that breaks compatibility with its default behaviour then this is a problem of said user. As such I don't see why Celluloid would need to test for calling `#inspect`, instead it could check for any method (e.g. `some_other_method_not_existing_on_the_test_object`).

We've had similar proble

[2015-04-20 16:31] e2 commented on #3373
@YorickPeterse - in short, Celluloid wants to distinguish between "invocation errors" and other exceptions.

So, Celluloid relies on `#method()` failing only with NoMethodError (calling `#inspect` breaks that "guarantee").

But if `#method()` calls `#inspect`, it can potentially fail with any error (including network errors, since these calls are also intented to be distributed - e.g. the `#inspec

[2015-04-20 18:00] YorickPeterse commented on #3373
If any method call `#method` is called on could result in network activity I doubt this would work out very well. For example, our `#method` implementation also depends on `#respond_to_missing?` and possibly others. Because we implement Ruby using (mostly) Ruby there's not much we can do about this other than _not_ using Ruby.

This should be fine as long as their behaviour is compatible with the

[2015-04-20 19:50] e2 commented on #3373
Good point - you made me realize that with Rubinius users can "hook into" a lot more than in MRI or JRuby. E.g. I've had issues stubbing ENV before in JRuby (ENV is not even a object in MRI - it's a "hash-like-thing").

Gosh, I now realized how incomplete coverage is in such use cases. To create a bullet-proof implementation of something using e.g. `#method()`, you pretty much need to run such cod

[2015-04-20 20:25] YorickPeterse commented on #3373
No problem! Since there's not much we change here I'll be closing this issue, feel free to re-open (or pop in Gitter) if needed.

[2015-04-20 20:25] #3373 closed

[2015-04-20 22:54] brixen commented on #3373
It may be worth noting that since JRuby+Truffle is importing pretty much all of Rubinius core libraries, you'd most likely hit the same issue at some point in the future there (unless they stop calling Ruby methods to implement Ruby).

Even though it appears generally understood in this thread, I cannot emphasize it enough that MRI has no concrete specification. They change implementation at any t

[2015-04-21 05:47] e2 commented on #3373
That makes lots of sense, now that you mention it.

Much appreciated, @brixen - it's too easy to "assume" MRI *is* a specification. Many people do that, then assuming that JRuby or Rubinius are "broken".

Sad truth. Not only that, but any isolated testing needs a deeper level of metaprogramming - which means insane work and lots of new issues to deal with - just keeping the tests working.

[2015-04-21 15:03] headius commented on #3373
JRuby+Truffle is no more exempt from compatibility with MRI than JRuby. If this is a problem in the JRuby+Truffle code we would fix it.

[2015-04-21 15:12] headius commented on #3373
Responding to other JRuby mentions:

ENV is special mostly because it is just a hash-like shim over the top of a native construct, the process's environment variable table. Most of the behavior you see is due to Ruby trying to make nice of setenv/getenv behavioral quirks across platforms. JRuby implements ENV using an actual hash with some modifications to behave more like setenv/getenv...but thos

[2015-04-21 17:15] e2 commented on #3373
I didn't know about the quirks being a factor. (In fact, after browsing the JRuby implementation, ENV seemed so "special" and unwieldy for specs, I just encapsulated it in a gem: https://github.com/e2/nenv)

@headius - just curious: do you see calling `#inspect` when `#method()` fails as an inconsistency worth fixing in Rubinius or a justifiable engine-specific "difference"? I'm guessing you'd pre

[2015-04-21 19:04] brixen commented on #3373
Apparently there is some misunderstanding or incorrect assumptions about my comment. For clarification: https://gist.github.com/anonymous/e8c2fba84981662d2779

[2015-04-21 19:16] headius commented on #3373
@e2 Well, since you asked, here's my opinion: Yes, I see calling `#inspect` when `#method` fails as an inconsistency worth fixing, since it prevents the correct operation of `#method` on any class that defines its own incompatible `#inspect`. That seems like a pretty big restriction for a Ruby impl to make.

There are other good reasons for not calling inspect here:

* If `#inspect` has side effec

[2015-04-21 19:46] YorickPeterse commented on #3373
It's worth mentioning that as I said we _can_ remove the dependency on `#inspect` (and I'll do so in a moment to get it over with). It's just that we _can't_ guard against every case where we _might_ depend on another Ruby method that _might_ be overwritten in a way that does not adhere to the original implementation's contract. Examples are somebody monkey-patching `Array#map` to always return `"

[2015-04-22 05:32] headius commented on #3373
The current issue is about someone defining `#inspect` on their own class in their own way, not monkey-patching a core method to do something obviously broken. I understand wanting people to leave core alone, but in this case it seems that you're dictating how people implement their own classes.

Glad to hear you're fixing it, in any case! :-)

I'm done discussing as well...I just came to clarify

[2015-04-24 01:07] ErnstA commented on #2916
@samuraisam here is how I patched it. Basicaly copy paste from gem and then change as necessary:

config/initializers/class_extensions.rb
[code]

app/models/class_extensions.rb
[code]

[2015-04-24 17:51] jemc commented on #2934
@robin850 - can you verify that your repro still fails on rbx-master and open a new issue with a link to your repro so we can track work there?

[2015-04-24 18:14] YorickPeterse commented on #2934
The script @robin850 wrote still reproduces for me using rbx master.

[2015-04-24 18:24] d4rky-pl opened #3377 "error: 'this' pointer cannot be null in well-defined C++ code"
Error during compilation: https://gist.github.com/d4rky-pl/9f197f9dbfa7db5e5845 ,

OS X Yosemite 10.10.3, llvm 3.5.1 from homebrew

[2015-04-24 18:56] YorickPeterse commented on #3377
This has already been fixed in 50aa7356e3c750fadb6665508e66d2f6923c7529.

[2015-04-24 18:56] #3377 closed

[2015-04-24 19:16] headius opened #3378 "Segfaults, missing constants, and unusual errors from autoload grinder"
The following scripts reproduce a number of problems in Rubinius: https://gist.github.com/headius/f22ac44bc23bd221e100

While running this, it takes a variable amount of time to arrive at one of two conclusions (I've seen so far):

1. Missing constant, but with an unusual error (I'd expect it to be #<Module:...>::Foo... just ::Foo is *very* different).

[code]

2. Segfault in GC: https://gist.gith

[2015-04-24 19:48] jemc commented on #3378
@headius - Due to the way you're using the `$namespace` variable here, I also wonder if thread-safety of global variable access is also coming in to play.

[2015-04-24 20:38] YorickPeterse commented on #3269
Just re-tested on commit 29316ad7f29ce189dc693bd81a760ff8c0e79af8 and can't reproduce this anymore, closing this.

[2015-04-24 20:38] #3269 closed

[2015-04-24 20:45] YorickPeterse commented on #3375
@e2 Is it possible for you to try to run the tests using https://github.com/rubinius/rubinius/commit/b57399f8f44c9afbe5b2785abd85943a8f46ddd3?

[2015-04-24 20:46] YorickPeterse commented on #2934
In commit https://github.com/rubinius/rubinius/commit/b57399f8f44c9afbe5b2785abd85943a8f46ddd3 I made some changes to hopefully finally make autoloading fully thread-safe (famous last words). @myronmarston and @robin850: could you try to run your scripts using said commit and see if the issue still persists?

[2015-04-24 20:50] YorickPeterse commented on #2934
Hm, apparently the script discussed in https://github.com/rubinius/rubinius/issues/2934#issuecomment-36667492 still triggers a constant error. It appears this hydra grew a few extra heads.

[2015-04-24 20:51] myronmarston commented on #2934
I would try if I had such a script but I was never able to repro locally.  The errors I saw only happened on travis.

[2015-04-24 21:17] e2 commented on #3375
@YorickPeterse - it's up to Travis to pick up this version (it didn't occur locally). All I can do is remove the workaround is see if appears again.

I'll let you know if I encounter this - so feel free to close this if you consider it fixed.

[2015-04-24 21:33] headius commented on #2934
As far as I can tell, RSpec::Matchers::Builtin contains no autoloads, and that's the constant that's going missing. I can even remove the last element and it still fails on JRuby and Rubinius. I'm not sure the script from https://github.com/rubinius/rubinius/issues/2934#issuecomment-36667492 is actually hitting any autoload-related bugs.

[2015-04-27 09:10] mislav opened #3380 "`rubinius-2.2.10.tar.bz2` changed its checksum"
The resource at official download location for `rubinius-2.2.10.tar.bz2` changed its checksum.

We have this definition for `rbx-2.2.10` in ruby-build:

[code]

When 2.2.10 got released, "2a3e6b71f27073b8d83b9592b05523af70bc147ddcd0673bffae55b4167c9d81" was its SHA2, and based on that and we mirrored it to ruby-build's official CloudFront mirror:

[code]

However, since the official download chang

[2015-04-27 10:52] YorickPeterse commented on #3380
According to S3 headers the last modified date is still `Thu, 03 Jul 2014 16:01:16 GMT`, meaning this change would've been around for a while now. @brixen did we end up re-publishing 2.2.10, or was that another release (I can't remember)?

[2015-04-27 11:01] mislav commented on #3380
Yeah, we didn't catch the change for a long time because ruby-build kept serving the original archive from our own mirror. We added 2.2.10 to ruby-build on Jul 2nd https://github.com/sstephenson/ruby-build/pull/595

Again, not a huge deal, but I just wanted to give a heads-up that Rubinius' release process might need guards against re-publishing already pushed tarballs.

[2015-04-27 14:11] headius commented on #2934
I'm not sure if it explains the original issue, which is in a deeper namespace, but the logic for autoloading RSpec::Matcher is not thread-safe. See https://github.com/rspec/rspec-dev/issues/121. It may not explain the original issue, but it does relieve Rubinius of any culpability in the RSpec::Matchers::BuiltIn error.

[2015-04-27 15:51] YorickPeterse commented on #2934
@headius Hm, interesting. I spent some time looking at Rubinius' `find_const_fast` instruction (used to retrieve the `RSpec` constant in the above script) but couldn't figure out what could be causing this error in said instruction. I hadn't realized RSpec uses a custom `const_get`.

[2015-04-27 16:24] myronmarston commented on #2934
Yeah, it would be nice not to, but we haven't been able to come up with an alternate solution that both allows users to configure RSpec to use an alternates to rspec-expectations/rspec-mocks, while still making it "just work" for users who use the default stack.  See my response on rspec/rspec-dev#121 for more detail.

If you want to test the `RSpec::Matchers::BuiltIn` autoloads like you originall

[2015-04-27 19:20] headius commented on #3378
@jemc That's certainly possible too. I'd welcome a better test case. Ultimately, though, it *does* seem to be picking up the right module (i.e. the global is not returning nil), but the constant is just not there.

[2015-04-27 19:26] headius opened #3381 "Apparent JIT bug related to define_method and/or prepend"
Ran into this while investigating peculiar benchmark results for https://github.com/janlelis/sig (found in https://github.com/janlelis/sig/blob/master/README.md) where rbx performed the same with or without type-checking signatures in play.

It turns out there's some bug in rbx JIT that causes the prepended define_method method to no longer be called. Here's the simple script to reproduce:

[code]

[2015-04-28 01:17] fny opened #3382 "NameError: wrong constant name BIG∞"
`BIG∞ = BigDecimal::INFINITY` is perfectly valid in Ruby 1.9.3+ but doesn't work in Rubinius. :cry:

[2015-04-28 01:34] jemc commented on #3382
It's rather obnoxious that [the Symbol-validation logic for this in Rubinius is written in C++](https://github.com/rubinius/rubinius/blob/6ce75ef91493f4df1a192ea4e5429aadc04fed13/vm/symbol_table.cpp#L19-L27), when as far as I can tell it is not *really* an integral part of the VM.

If you want a quick workaround, you can do something like:
[code]

That will allow any symbol to be used in a `const_

[2015-04-28 01:50] fny commented on #3382
Monkey patching is a no go. It seems like that alphanumeric check just needs to go and the tests needs to be updated accordingly?

[2015-04-28 01:50] jemc commented on #3382
I think I've confirmed that no C++ code is depending on this logic being in C++ space, so it's safe to move to Ruby.

We can eliminate from C++:
`SymbolTable::Kind`
`SymbolTable::kinds`
`SymbolTable::detect_kind()`
`SymbolTable::kind()`
`Rubinius.primitive+ :symbol_is_ivar (Symbol::is_ivar_p())`
`Rubinius.primitive+ :symbol_is_cvar (Symbol::is_cvar_p())`
`Rubinius.primitive+ :symbol_is_constant (S

[2015-04-28 03:05] jemc commented on #3382
In terms of not incurring a performance hit by moving to Ruby - it may tougher than it sounds.

You can base the `is_constan?` and similar methods on a single method that calculates the "kind" of symbol as currently calculated in C++.  In my original implementation, I was using a method called `__kind__`.  However, storing the result of the `__kind__` calculation in an instance variable so that yo

[2015-04-28 03:37] jemc commented on #3381
Some notes from investigating this a bit:

You can eliminate the `define_method` and use a regular `def` to run into the same issue.

[code]

[2015-04-29 05:12] brixen commented on #3380
@mislav we won't be republishing, sorry about the confusion on 2.2.10. Also, it shouldn't be supported. It's almost a year old. I'd much rather people complain they can't install it than being able to install it and using a year-old Rubinius version.

[2015-04-29 05:12] #3380 closed

[2015-04-29 20:25] shanetmoore commented on #2958
Seems to work on 2.5.2.

[code]

[code]

[code]

[2015-04-29 20:28] YorickPeterse commented on #2958
@shanetmoore Thanks for looking into this.

@chaitanyav @undying: could you confirm if this is indeed working for you using 2.5.2/2.5.3?

[2015-04-29 20:59] #3382 closed

[2015-04-29 21:12] YorickPeterse commented on #3376
Looking at the stacktraces this seems to be using 2.5.1, could you try this with 2.5.2 or 2.5.3 instead (one it's released)?

[2015-04-29 21:17] YorickPeterse commented on #3368
@saizai: with 2.5.3 released (which again contains a bunch of threading/crash fixes), could you give that a try to see if the problem still persists?

[2015-04-29 21:17] YorickPeterse commented on #3332
Any update on this, does this problem still persist when using Rubinius 2.5.3?

[2015-04-29 21:23] YorickPeterse commented on #3303
Can't reproduce this anymore as of af157db29474b07ffb131e91220ad16b890ef4c0.

[2015-04-29 21:23] #3303 closed

[2015-04-29 21:25] YorickPeterse commented on #3256
@darix With 2.5.3 out of the door, could you give that a try to see if the build now succeeds?

[2015-04-29 21:25] YorickPeterse commented on #3225
Closing this due to the lack of feedback since January 1st. Feel free to re-open if the error still persists when using Rubinius 2.5.3 or newer.

[2015-04-29 21:25] #3225 closed

[2015-04-29 21:26] YorickPeterse commented on #3230
Since this should be resolved by now and no further comments have been given since my last reply I'll be closing this issue. Feel free to re-open if the issue still persists.

[2015-04-29 21:26] #3230 closed

[2015-04-29 21:26] saizai commented on #3368
Fair enough; will try. May take a while to get to it, but will update this
thread if it recurs. Feel free to close in the meantime.

[2015-04-29 21:27] YorickPeterse commented on #2662
Closing this one due to the lack of feedback. Feel free to re-open if the issue still persists when using Rubinius 2.5.3.

[2015-04-29 21:28] YorickPeterse commented on #3368
@saizai Take your time, I'll keep the issue open until more info arrives, otherwise we'll lose track of it.

[2015-04-29 21:29] YorickPeterse commented on #2674
Closing this one as it's been quite a while since this issue was first reported (with a lot of releases in between). Feel free to re-open this issue if the problem still persists when using Rubinius 2.5.3.

[2015-04-29 21:29] #2674 closed

[2015-04-29 21:31] YorickPeterse commented on #2841
@benweint Have you been experiencing issues like these using more recent releases of Rubinius (e.g. 2.5.2)? With 2.5.3 released, is it possible to give that version a try to see how that works?

[2015-04-29 21:32] YorickPeterse commented on #2939
Still occurs as of af157db29474b07ffb131e91220ad16b890ef4c0.

[2015-04-29 21:43] benweint commented on #2841
Hey @YorickPeterse!  Sorry for the lack of updates here.

We actually stopped running our full test suite (we still run our unit tests there, but not all of our functional tests) on rbx because of this and other similar issues (https://github.com/rubinius/rubinius/issues/3291, https://github.com/rubinius/rubinius/issues/3213), so I can't say for sure whether this has been fixed in recent versions

[2015-04-30 00:57] #2939 closed

[2015-04-30 01:06] jemc commented on #3381
I found the cause:

The issue occurs when a `CallSite` is inlined.  [`Inliner::inline_for_class` relies on `Module::find_method`](https://github.com/rubinius/rubinius/blob/546cef55e6d2b0e7b0900b69109de071c067411b/vm/llvm/inline.cpp#L152), which doesn't take `prepend`ed modules into account (probably because it was written before `prepend` existed).

I'll see what I can do.

[2015-04-30 04:16] chaitanyav commented on #2958
@YorickPeterse

It works

    ~/Downloads/rubinius-2.5.3/rubinius/bin  ᐅ ./gem install nokogiri
    Fetching: mini_portile-0.6.2.gem (100%)
    Successfully installed mini_portile-0.6.2
    Fetching: nokogiri-1.6.6.2.gem (100%)
    Building native extensions.  This could take a while...
    Successfully installed nokogiri-1.6.6.2
    2 gems installed

    ~/Downloads/rubinius-2.5.3/rubinius/bin  ᐅ

[2015-04-30 04:45] #3381 closed

[2015-04-30 04:46] jemc commented on #3381
@headius - Thanks again for reporting - this also lead to some other fixes with respect to `prepend`.

[2015-04-30 06:09] brixen commented on #3359
@nidev could you please try with 2.5.3?

[2015-04-30 08:33] nidev commented on #3359
@brixen I'll try soon. I was very glad to see 2.5.3 but was busy for job interviews.

[2015-04-30 09:07] YorickPeterse commented on #2958
Sweet, thanks. In that case I'll close this issue, feel free to re-open if the issue re-occurs.

[2015-04-30 09:07] #2958 closed

[2015-04-30 12:56] headius commented on #3381
Excellent, glad I could help! I'll have to merge your specs over to ruby/rubyspec and see how JRuby 9k  is looking.

[2015-04-30 21:21] chaitanyav opened #3383 "SSL cetificate error during ./configure"
Fetching gems...
     ERROR: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed
     ERROR: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed
     ERROR: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed
     ERROR: SSL_connect returned=1 errno=0 state=SSLv3 read

[2015-04-30 22:37] YorickPeterse commented on #3383
This is either a problem with the Ruby you're using to configure Rubinius, or your network. The only thing `configure` does relating to SSL is enabling it, we don't set any custom options whatsoever. I'm closing this as there's sadly nothing we can do here as far as I can tell.

[2015-04-30 22:37] #3383 closed

[2015-05-01 00:14] brixen commented on #3383
@chaitanyav you can grab a release tarball which has all the needed gems included:

http://releases.rubini.us/rubinius-2.5.3.tar.bz2

Unpack the tarball, cd to the rubinius-2.5.3 directory and run eg `bundle install --local && ./configure && rake build`. You don't need to install Rubinius to use it, but if you do want to install, pass `--prefix=/path/to/install` to configure.

[2015-05-01 01:55] chaitanyav commented on #3383
@brixen ,Got it

I dont get any errors on configure from the tarball
Verifying gems...

    Setting up gems...
    Unpacked gem: '/Users/nagachaitanyavellanki/Downloads/rubinius-2.5.3/runtime/gems/rubinius-ast-2.3.2'
    Unpacked gem: '/Users/nagachaitanyavellanki/Downloads/rubinius-2.5.3/runtime/gems/rubinius-compiler-2.3.1'
    Unpacked gem: '/Users/nagachaitanyavellanki/Downloads/rubinius-2.5.3

[2015-05-01 02:54] nidev commented on #3366
@kwleland Could you try to reproduce this problem with rubinius 2.5.3? My problem mentioned here seems resolved with new release.

[2015-05-01 03:09] nidev commented on #3359
I couldn't experience same problem again with 2.5.3. I tried to build rubinius 2.5.3 in ubuntu 32bit and gentoo 64bit for 5 times each, and failed to reproduce this issue again. :smile:

The build process was smoothly finished without any failures or hangups. In addition, I think with 2.5.3, issue #3366 should be cleared too.

Thank you all for great job!

@brixen I close this issue.

[2015-05-01 03:09] #3359 closed

[2015-05-01 03:12] jemc commented on #3359
Thanks, @brixen!  That was a nasty one.

[2015-05-01 03:43] brixen commented on #3359
@nidev great to hear, sorry it took a while to get to it.

[2015-05-01 09:32] nidev commented on #3359
@brixen I felt sorry that I couldn't provide any small patch for this time. Again, thank you so much. :smile:

[2015-05-01 11:32] ff2000 opened #3384 "Two errors (and fixes) when compiling v2.5.3"
[code]

[code]
(I hope it's OK to post the patch here. I currently want to get things running and forking/PR takes some time. Nevertheless if you wish so I will create a PR later)

This is compilation with LLVM turned off as I only have 3.6.0 installed and rubinius restricts to <=3.5.0.
Are there plans to support llvm-3.6.0/upcoming 3.7.0? What needs to be done in rubinius?

[2015-05-01 14:41] jemc commented on #3384
Regarding plans for supporting new versions of LLVM - yes, it's very high on our list of priorities, but it's not trivial.  New versions of LLVM have removed the JIT we use, so we must port our existing codebase to the new MCJIT.  There is an ongoing branch with this work: https://github.com/rubinius/rubinius/pull/3367

I'll take a look at your patches, thanks.

[2015-05-01 15:01] #3384 closed

[2015-05-01 15:02] jemc commented on #3384
Thanks for reporting and patching!

[2015-05-01 17:45] YorickPeterse commented on #3384
@ff2000 In case you are on Arch Linux there's an llvm35 package that you can use to install LLVM 3.5, this will replace the existing "llvm" (3.6) package though.

[2015-05-01 21:10] zuk commented on #2303
I ran into this with the Datastax Cassandra client. Stacktrace looked like this:

[code]

Workaround was to add an ugly monkey patch like this:

if RUBY_ENGINE == 'rbx'
  class Resolv
    class DNS
      def use_ipv6?
        return false
      end
    end
  end
end

[2015-05-01 22:01] fmfdias opened #3385 "Rubinius Time issues with timezone changes on Europe/Lisbon and Europe/Istanbul"
Hi everyone,

While playing around with rubinius, I noticed that Time#new, Time#mktime and Time#local failed the 'handles years from 0 as such' test on spec/ruby/core/time/shared/time_params.rb. It was weird because the tests weren't failing on rubinius test system. I asked @ruipserra if these issues were happening to him, and he confirmed it. Soon after we confirmed that this is an issue related

[2015-05-01 23:38] YorickPeterse commented on #3385
Sadly I think the only option is for us to wait for libc authors to fix this :/

[2015-05-02 08:40] ff2000 commented on #3384
Hey, thx for merging!
I am on Gentoo, it would be easy to install llvm-3.5.0, but I need 3.6.0 because of clang for compilation. I will have a look at manually installing llvm-3.5.0 + rubinius in $HOME, so I don't have to mess with system llvm.

[2015-05-02 08:46] ff2000 opened #3387 "rubinius is missing fiddle"
MRI ships fiddle as a replacement for DL. Rubinius does not ship this Module. It is needed by sup (which I want to test with rubinius, because performance with MRI is - suboptimal - sometimes ;))

[code]
There seems to be a seperate module called fiddle [1], which has nothing to do with the stdlib module, but hides that one unfortunately...

***
[1] https://github.com/bsm/fiddle

[2015-05-02 17:18] kwleland commented on #3366
You bet, I was waiting for 2.5.3 myself.  Will put my application into production on Monday night and report back (and close out) 3 or 4 days after that if I don't see a gc hang.

[2015-05-02 19:17] ianks opened #3388 "Struct.new is an order of magnitude slow than JRuby and MRI (simple test case to recreate)"
I did some benchmarks of the performance properties of instantiating different object types in different interpreters for concurrent-ruby and came along some performance issues in Struct.

Here is my methodology: https://gist.github.com/15362d1a28e24d57fe41

[code]

[code]

[code]

You can ignore the `.freeze` and the class inheritance from struct, they do not affect the results. Let me know if yo

[2015-05-02 21:40] tmornini commented on #3388
It would be helpful to switch the benchmark to https://github.com/evanphx/benchmark-ips

It takes into account issues such as startup time and JIT warm up to make sure it's measuring actual run-state performance and not implementation issues.

[2015-05-02 21:58] ianks commented on #3388
The benchmark includes a warm up period, fwiw.

[2015-05-02 22:38] YorickPeterse commented on #3388
@ianks The particular benchmark pattern you're using isn't a very reliable one to warm up any JITs/caches that might be used as you're relying on a fixed amount of iterations.

Ehm, since every iteration would also result in a call to `Object#freeze` I'd argue they _very much_ affect the results. I ported your benchmark to benchmark-ips and added benchmark blocks that don't use `freeze` :

[code]

[2015-05-02 22:55] chrisseaton commented on #3388
If you graph the results for MRI you will see that the margin of error **overlaps** for both `StateClass` and `StateStruct` - there is no statistically significant difference between freezing and not freezing. From your results, it is just as likely that `freeze` is faster! There is a small difference for `StateArray` - but I wouldn't call it 'quite clear'.

![untitled](https://cloud.githubusercon

[2015-05-02 23:22] chrisseaton commented on #3388
I think the problem is some inefficiency in the Ruby implementation of `Struct` in Rubinius - we run the same code in Truffle and get the same slowdown for `Struct` compared to `class`.

[code]

Maybe this is something to do with the problem? Is the code @ianks has written for `StateStruct` an example of what is called the 'craptastic' pattern here? It looks like it takes a slow path.

https://git

[2015-05-02 23:25] jemc commented on #3388
@chrisseaton - I was just looking at that - it looks like the fact that the `_specialize` code is not being used here is a bug.  Looking at it now...

[2015-05-02 23:30] jemc commented on #3388
Yep, when the specialized code is in place, we do much better - I'll push a fix shortly.

[2015-05-02 23:40] jemc commented on #3388
With the specialized code now in place on rbx-master, I get:
[code]

Compared to MRI 2.1.5:
[code]

[2015-05-02 23:40] #3388 closed

[2015-05-02 23:55] ianks commented on #3388
@YorickPeterse My point was that this bug could be recreated without freeze so the maintainers did not have to spend exorbitant time reducing possibilites.

[2015-05-02 23:56] ianks commented on #3388
@jemc Nice work and thanks for working on this!

[2015-05-03 13:11] nidev opened #3389 "Building rubinius fails when locale is set to "C""
With locale "C" (LANG="C" and LC_ALL="C"), building rubinius 2.5.3 and 2.5.2 fail during preinstalling gems for 2.1.0 with message:

[code]

Full build log is here: [gist link](https://gist.github.com/nidev/c1d4cfc60d2c0ced755a)

Actual 'rbx' executable file is built successfully though, It behaves weirdly.

System Information:

[code]

I found similar build log from issue #2691. But this one seem

[2015-05-03 13:17] YorickPeterse commented on #3389
This is a fairly well known issue. Various parts of the pipeline require that LOCALE is set to something UTF-8-ish and will fail miserably if this is set to "C" or something similar. Other issues that experience the same problems are #2732 and #3275.

[2015-05-03 13:22] nidev commented on #3389
@YorickPeterse Can we make rubinius warn if system locale is not UTF-8ish one? I mean, at least during build process.

[2015-05-03 13:29] YorickPeterse commented on #3389
I'm not sure what we'd check against. If I'm not mistaken the locale doesn't _have_ to be UTF-8, but at least something that is more or less compatible. Some locales other than "C" might also trigger the same problem meaning the only accurate solution would be a massive whitelist of locales.

[2015-05-03 13:35] nidev commented on #3389
@YorickPeterse I always appreciate your explanation. :smile:

It seems complicated issue. Then, can I keep this issue open and track updates and changes?

[2015-05-03 13:37] YorickPeterse commented on #3389
Sure, ultimately we'll need to find a way so we can not enforce a specific locale, or at the very least we should document it somewhere.

[2015-05-03 22:50] thedarkone commented on #3388
No, @ianks's code is a "correct" usage of `Struct`: it subclasses an anonymous class returned by `Struct.new` instead of subclassing `Struct` itself.

[2015-05-03 22:54] jemc commented on #3388
@thedarkone  Correct.  It's an example of the intended usage of `Struct` and the lack of a optimized path for it was a bug.

[2015-05-04 10:42] robin850 commented on #2934
With current master (as of fbb3f1e4), the given scripts are still failing unfortunately.

[2015-05-05 11:23] washu commented on #3376
2.5.3 still crashes as er brixen im trying to do a debug build for better stacks

[2015-05-07 02:04] ianks opened #3390 "Using timeout in Thread#join hangs"
Relevant details are here:

https://github.com/ruby-concurrency/concurrent-ruby/pull/289

Essentially if a timeout is used in `Thread#join`, the master thread hangs and does not return properly from the function. I tested to make sure that in that example, the threads always passed the condition variable.

rbx-2.5.3

[2015-05-07 02:41] jemc commented on #3390
@ianks - the diff in the PR you linked to isn't that informative.  Can you paste a minimal reproduction here to save us some time?

[2015-05-07 03:06] ianks commented on #3390
[code]

[2015-05-07 03:11] ianks commented on #3390
It looks like the timeout feature is not implmented yet. The simple thing to do would be to use `pthread_timedjoin_np` if the user specifies a timeout.

[2015-05-07 03:12] ianks commented on #3390
If that sounds like a reasonable solution, I wouldn't mind giving it a shot myself. Let me know.

[2015-05-07 03:28] jemc commented on #3390
@ianks - Thanks.

It looks like this was working in 2.5.2, but regressed in 2.5.3.  I know @brixen was working on some `Thread#join`-related code in between these releases, so it makes sense.

[2015-05-07 03:41] jemc commented on #3390
Here's a gdb session that shows where the threads are held up.

[code]

[2015-05-07 21:13] jemc opened #3391 "Define fast-path Symbol#=="
See https://bugs.ruby-lang.org/issues/11127

[2015-05-08 03:21] brixen commented on #3390
This issue has no explicit description of the observed behavior versus the expect behavior, so I'm left to infer it from the purported reproduction code. Given that, I could be completely wrong about what is being asserted to be a bug.

`Thread#join(timeout)` is definitely implemented, and it's trivial to check that fact.

I do not get any hang running this code.

When I run this code on 2.5.3 and

[2015-05-08 03:37] brixen commented on #3330
@schmurfy is there a way we could run your tests? To rule out mysql2, can you run with sqlite3? Also, the only thing I see in the stack trace that isn't Rubinius appears to be EventMachine. Do you know what version you're using?

[2015-05-08 03:55] brixen commented on #3390
Well, this is why a good explanation helps. While my point about the race stands, I believe the issue you may be asserting is that `Thread#join(timeout)` doesn't return *before* `timeout` if the thread being joined completes.

Re-opening this to address that issue.

[2015-05-08 03:56] ianks commented on #3390
Sorry for being unclear about what I suspected to be a bug. The bug for me is that:

On Arch Linux (kernel 4.0) compiled with the llvm35 package, this code hangs for 5 seconds before reaching the fail statement.

I did not experience this behavior in MRI (for obvious reasons this does not matter), nor JRuby.

Can you clarify what

[2015-05-08 05:13] #3390 closed

[2015-05-08 14:41] YorickPeterse opened #3392 "Support latest ruby/openssl"
The Gem rubysl-openssl has already been updated but requires the following functions and macros to work:

* [x] rb_hash_lookup2 (3871c2b422ff697d8365d79d81b7743993011a22)
* [x] rb_sym2str (b7f4f949fab07125036b8a8ef53ea0d3d091887d)
* [x] RSTRING_GETMEM (28834a4b9b3653d8819a2ba98470eb17176e5dbe)
* [x] rb_vsprintf
* [x] rb_funcallv (8d6cfbe7da25760c0cbdb6e319fd5365ccb0031c)
* [x] RHASH_SET_IFNONE (c0

[2015-05-08 14:45] YorickPeterse commented on #3392
Context: the AWS SDK uses OpenSSL, which seems to have problems when used in multi-threaded environments. Before I start patching rubysl-openssl I want to make sure that the latest version of rubysl/openssl doesn't already solve these problems. For that however we'll need to add the above macros/functions.

[2015-05-09 14:10] saizai opened #3393 "no such file to load -- thread"
[code]

[2015-05-09 15:45] YorickPeterse commented on #3393
Can you try without RVM?

[2015-05-09 15:52] saizai commented on #3393
Would be hard to do so, since there would be path conflicts etc., short of
uninstalling the RVM version.

[2015-05-09 20:46] brixen commented on #3393
@saizai sorry, I know it's annoying when things don't work. However, we cannot debug RVM on your system, and RVM has so frequently been the cause of errors with Rubinius, that we have to assume the problem is RVM.

I suggest 1) installing 2.5.3, and 2) if you still cannot load irb, clone and build Rubinius directly from git. If you can load irb from a source build, then it must be something that i

[2015-05-09 20:46] #3393 closed

[2015-05-09 22:06] saizai commented on #3393
I tried upgrading to ruby-2.5.3; it still errored.

I uninstalled it entirely from rvm and reinstalled 2.5.3. That worked.

No idea what the cause was.

[2015-05-10 12:35] nidev commented on #3393
Incomplete installation will be one of the reasons.

When you have the problem again, please execute 'gem env' and check all gem paths whether one of them contains 'thread' or not. I've never used rvm though, I experienced same problem when i directly executed freshly-built irb in rubinius source folder with failure of preinstalling 2.1.0 gems.

[2015-05-10 13:41] saizai commented on #3393
As it happens, I did do so at the time:

[code]

[2015-05-11 08:52] schmurfy commented on #3330
I tried to reproduce the crash with a minimal application but failed and can't share this one :\
I am using eventmachine-le 1.1.7

I can try gathering more data but I am out of ideas, I tested again a few days ago and the crash still happened with master.

[2015-05-11 09:43] mvz opened #3394 "Crash report (2.5.3)"
Rubinius 2.5.3 regularly crashes during our test runs on Travis CI. The crashes occur intermittently and I have not been able to reproduce them locally. One example is https://travis-ci.org/troessner/reek/jobs/62048909. Below is the Rubinius stacktrace as output by that build:

[code]

[2015-05-11 14:09] kwleland commented on #3366
First, the bad news:  It's still here in 2.5.3
Now the good news:  I can reproduce the same "thread apply all bt" signature in gdb
  with a sub 25 line repro:  https://gist.github.com/kwleland/4e788b9a091423118d21
One thread waiting for a lock, and another hung in the gc ie: wait_till_alone

[2015-05-11 18:02] kwleland commented on #3366
gdb thread bt of above repro at:  https://gist.github.com/kwleland/b28246da9e48aa596293

[2015-05-11 19:52] sandstrom commented on #3254
@brixen just curious if you've found any good targets?

[2015-05-11 22:55] brixen commented on #3366
@kwleland this issue was actually resolved in 1adc0031. (See threads 92 and 48 in your bt here https://gist.github.com/kwleland/cf88874816dffc3237ab.)

Then you discovered a new deadlock fixed by https://github.com/rubinius/rubinius/commit/52c28496e9051d0ae2eda37805c87d534759e669

Please continue finding any issues. :)

[2015-05-11 22:55] #3366 closed

[2015-05-11 23:09] brixen commented on #3387
MRI added Fiddle despite there being a useful and widely used FFI available. You may want to look at converting sup to use FFI instead.

We may eventually add Fiddle, but it's very low priority at this point. If you want to send a PR to RubySL, that would be a great help.

I'll open an issue there to track this.

[2015-05-11 23:09] #3387 closed

[2015-05-12 09:17] testors opened #3395 "rbx consumes 100% of CPU when use FFI"
sleep.c

[code]

sleep.rb

[code]

How to reproduce :

[code]

jruby works well.

[code]

[2015-05-12 16:08] kayakyakr commented on #3002
I believe this is the issue that I am running into as well. Having to run puma outside of clustered mode, which is less than ideal for a larger server.

[2015-05-12 16:49] brixen commented on #3002
@kayakyakr what version of Rubinius, what version of Puma? Gist of a log or terminal output?

[2015-05-12 16:51] kayakyakr commented on #3002
Currently upgrading puma & rbx. Was rbx-2.2.10, puma 2.9. Log won't help much, it's failing silently after calling the "file" command.

[2015-05-12 17:56] kayakyakr commented on #3002
Still occurs on rbx-2.5.2, puma 2.11.

The last line of my log reads:

The only other related log file is with nginx:

Swap workers from 2 to 0, it works, but any sort of clustered mode and it does not.

@davbeck suggested up above to test with the paperclip example app, and that should continue to be true.

[2015-05-12 18:18] kwleland opened #3396 "Threads coming and going still hang the gc (but takes much longer)"
Thread recycling test program => https://gist.github.com/kwleland/4e788b9a091423118d21
hangs with 200 percent CPU utilization ie 2 of 8 cores, after 2 hours on linux.

rbx version => rubinius 2.5.3.c43 (2.1.0 52c28496 2015-05-11 3.4.2 JI) [x86_64-linux-gnu]

The gdb thread bt is => https://gist.github.com/kwleland/f1619d74e1ee769108ab

Thread 50 is doing a finalizer
Thread 1 is doing wait_till_alo

[2015-05-12 18:20] dulyanov opened #3397 "Segmentation fault when connecting over SSL"
Rubinius: rbx-2.5.1 and rbx-2.5.3
OS: Debian GNU/Linux 7.8 (wheezy)
Stacktrace: https://gist.github.com/dulyanov/7a17c455466c3dc2869f
Reproduction:
[code]

[2015-05-12 18:51] YorickPeterse commented on #3002
@kayakyakr If there's an actual system crash you should be able to find crash info in the Rubinius log file, which is by default located in `/tmp` (usually called something like `/tmp/rbx-USERNAME.log`).

[2015-05-12 19:02] kayakyakr commented on #3002
Nothing in rbx log. Doesn't seem to be a system crash.

[2015-05-12 19:23] brixen commented on #3002
@kayakyakr 2.5.3 is the latest, please use that to check.

[2015-05-12 19:25] brixen commented on #3002
@kayakyakr also, the default location for the Rubinius log on Linux is `/tmp/rbx-$USER.log` where `$USER` is the name of the user executing the Rubinius process. Please check that file exists and gist the contents when running your test.

[2015-05-12 19:27] kayakyakr commented on #3002
2.5.3 hasn't hit RVM and I've spent too much time on this already. I'll let rvm catch up and try it again later.

[2015-05-12 19:31] YorickPeterse commented on #3002
@kayakyakr I'm fairly sure you can install new Ruby versions that aren't explicitly defined yet in RVM, though I might be confusing this with ruby-install.

[2015-05-12 19:33] kayakyakr commented on #3002
Again, too much time already spent on this issue. Found a workaround and moved on. Will come back to it eventually. Sorry guys, can't be your guinea pig today.

[2015-05-12 20:00] kwleland commented on #3396
result of gdb:  p *state

$2 = {<rubinius::Lockable> = {mutex_ = {<rubinius::Lock> = {_vptr.Lock = 0x1790ff0, locking_thread_ = 0x0, lock_file_ = 0x13969af "",
        lock_line_ = 0}, <rubinius::utilities::thread::Mutex> = {native_ = {__data = {__lock = 0, __count = 0, __owner = 0, __nusers = 0, __kind = 2, __spins = 0,
            __list = {__prev = 0x0, __next = 0x0}}, __size = '\000' <repeats

[2015-05-12 22:39] chrisseaton opened #3398 "Array or hash operations in graph benchmark slower in Rubinius than MRI etc"
[code]

MRI 2.2.2

[code]

Rbx 52c28496e9051d0ae2eda37805c87d534759e669

[code]

JRuby 04635bfdb6447cd84399b892de6a89dd93e09389

[code]

JRuby+Truffle 04635bfdb6447cd84399b892de6a89dd93e09389

[code]

`-Xjit.show` shows the JIT working but it doesn't look like it's thrashing or anything.

[2015-05-13 00:14] tmornini commented on #3398
Nice report @chrisseaton, thanks!

[2015-05-13 00:21] tmornini commented on #3002
@kayakyakr So you know, @brixen put a ton of work into in 2.5.3 fixing issues in this general neighborhood. Giving this a spin when you have a chance would be very, very useful.

Have a great day.

[2015-05-13 00:22] kayakyakr commented on #3002
Will do. Just didn't have time to do more today. Appreciate that I've got 3 owners/collaborators messaging me about it.

[2015-05-13 00:26] tmornini commented on #3002
We all appreciate what a PITA it is doing a great job like you're doing here.

Thanks again.

[2015-05-13 01:11] brixen commented on #3398
Fixed in https://github.com/rubinius/rubinius/commit/053e1e9151bafbeac00e4a283dc795fd18dcca49. There's a lot more JIT work to do on Array but that's not really addressable in this ticket.

[2015-05-13 01:11] #3398 closed

[2015-05-13 01:59] kayakyakr commented on #3002
Good news guys: early returns say 2.5.3 seems to be behaving as expected. Worked in staging. Going to deploy to production, see if the same can be said.

[2015-05-13 02:05] kayakyakr commented on #3002
And production is working. Thanks for fixing the issue before I even knew I had it!

[2015-05-13 03:15] brixen commented on #3002
@kayakyakr great to hear and your help is much appreciated! I'll take a look at the Paperclip repro as well.

Thanks for your words of encouragement, @tmornini.

[2015-05-13 03:57] brixen commented on #3002
I can repro the issue described with Paperclip, looking into it.

[2015-05-13 04:04] brixen commented on #3397
This appears to be fixed with rubysl-openssl 2.3.0, however, I need to release 2.5.4 to because the updates to rubysl-openssl required additions to the C-API. I'll release 2.5.4 tomorrow, barring any serious problems.

[code]

[2015-05-13 04:04] #3397 closed

[2015-05-13 08:33] YorickPeterse commented on #3392
Remaining functions were taken care of by @brixen, closing this one.

[2015-05-13 08:33] #3392 closed

[2015-05-13 09:28] YorickPeterse opened #3399 "Add rb_struct_s_members"
As per https://twitter.com/benlovell/status/598396609513312256 it seems Oj depends on `rb_struct_s_members()`. This function seems to (as far as I can tell) just return the same as `Struct#members`.

[2015-05-13 10:37] tmornini commented on #3002
@brixen I'm always happy to help

[2015-05-13 15:19] jemc commented on #3399
We have projects that use Oj, so I'll be interested to see this resolved.

[2015-05-13 22:35] YorickPeterse commented on #3399
@jemc @benlovell @ohler55 With 2642a30c57973987d2a7b7e85b3ce1e78100a31b in place it looks like Oj should work now on Rubinius. Running `rake test` yields on failing test but this seems to be a timing issue rather than something related to Rubinius itself:

[code]

I also couldn't run `rake compile` as this resulted in a coercion error. I'm not sure what's causing this but simply running `gem build

[2015-05-13 22:35] #3399 closed

[2015-05-14 07:00] tukanos opened #3400 "compile fails on oniguruma"
I'm trying to compile rubinius 2.5.3 on windows.
I'm building it with:
ruby 2.0.0p645 (2015-04-13) [i386-mingw32]
gcc\g++ - gcc (rubenvb-4.7.2-release) 4.7.2 => 686-w64-mingw32

The compile fails on oniguruma:

the rake install --trace produces:
1: LDSHARED enc/trans/big5.so
enc/trans/artifacts/big5.c.o: In function `Init_big5':
C:\prg_build_env\ruby\rubinius-2.5.3\vendor\oniguruma/enc/trans/big5.

[2015-05-14 11:45] YorickPeterse commented on #3400
Windows isn't supported yet sadly.

[2015-05-14 15:03] fabioperez commented on #3212
Any updates on this?

[2015-05-14 16:08] brixen commented on #3400
@tukanos at one point, I had the full VM compiling with mingw-w64, but I needed to fix symbol export to be able to link C exts. It probably won't be too much work to get it compiling again, but we will only support mingw-w64 or clang/clang++ on Windows because of licensing problems involving mingw (unless that situation has changed significantly in the past couple years).

If you want to get Rubin

[2015-05-14 18:12] brixen commented on #3394
@mvz could you please try with 2.5.4.

[2015-05-15 01:14] nirvdrum opened #3401 "nil should be frozen"
It looks like in MRI 2.2+, `nil` is now frozen.  I looked at making things match, but it creates problems in common/kernel.rb:175.  If `nil` is frozen, that line prevents extending it with a module, but that should be allowed.  I think it can be safely removed, since `object_extend` should catch any issues.  But I'd appreciate feedback from someone more familiar with things before proceeding.

[2015-05-15 06:01] #3212 closed

[2015-05-15 06:03] brixen commented on #3212
Note that the JIT and profiler interactions could result in inaccuracies, possibly due to LLVM optimizations changing how the JIT'd code would report (synthetic) method entry/exit.

We should be replacing the current profiler soon with something more accurate and independent of JIT'd vs non-JIT'd code.

[2015-05-15 07:17] #3365 closed

[2015-05-15 07:22] brixen commented on #3330
@schmurfy would you be able to build with `./configure --debug-build`, run under the debugger, and leave the session running and gist `thread backtrace -c 15 all` when it faults?

[2015-05-15 08:23] tukanos commented on #3400
@YorickPeterse: Yes, I know.  I wanted to make a splash because from what I have read from the pages and code it doesn't look like big issue.  I'm working now for a company that has windows only environment (except maybe some very few servers).  As I'm forced to live in the windows only environment I like to take the stuff from *nix world.

@brixen: I'm not in a hurry.  I thought I could get it ru

[2015-05-15 08:36] YorickPeterse commented on #3400
LLVM >= 3.6 removed the old JIT API that we rely on, replacing it with a new API called MCJIT. We don't support this new API yet, though work is under way (#3367).

This is used for the parser, which we largely port from MRI.

Used for the zlib interface provided by Ruby and possibly other things.

Rubinius' thread system relies on pthread, any POSIX compatible system will probably have this. We c

[2015-05-18 17:40] schmurfy commented on #3330
sure, I will test it this week when I have a moment.

[2015-05-18 18:07] brixen commented on #3330
@schmurfy awesome, thanks.

[2015-05-18 19:21] YorickPeterse commented on #3147
We no longer compile/bundle our own LLVM packages and the build process in various places uses `-std=c++11`. Closing this issue, feel free to re-open if the problem still persists.

[2015-05-18 19:21] #3147 closed

[2015-05-18 19:23] YorickPeterse commented on #3171
rubysl-openssl was recently updated to the latest version of the code used by MRI, we've also had numerous Rubinius releases since 2.2.10. If you're still experiencing this problem feel free to re-open this issue.

[2015-05-18 19:23] #3171 closed

[2015-05-18 19:24] YorickPeterse commented on #3115
Any update on this, does this issue still persist using the latest version of Rubinius?

[2015-05-18 19:25] YorickPeterse commented on #3098
Closing this in favour of pull request https://github.com/rubinius/rubinius/pull/3367.

[2015-05-18 19:25] #3098 closed

[2015-05-18 19:28] YorickPeterse commented on #3080
Using the latest version of Rubinius I can install said Gem without any problems. Feel free to re-open If the error still persists.

[2015-05-18 19:28] #3080 closed

[2015-05-19 17:49] eregon opened #3403 "The future of RubySpec"
rubyspec/rubyspec archive branch has been merged with nurse/rubyspec into https://github.com/ruby/rubyspec.
MRI as well as JRuby now contribute to that repository and run the specs on every commit.
Rubinius has its own copy in `spec/ruby` and they keep improving as well.

In that context, we would like to open a discussion on what to do in the hope of sharing efforts rather than divide them.

Are

[2015-05-19 18:03] jemc commented on #3403
The only possible sticking point I see from my point of view is a facet of the contribution policy that has adopted:

I'm all for having an inclusive contribution policy, but I also think it's important to maintain some kind of standard of quality for the tests, both in code style and in substance.  I know the issue of who was judging this quality and by what standards was a source of part of the

[2015-05-19 18:12] YorickPeterse commented on #3403
While we currently still use the same structure as when RubySpec was around there's no guarantee for this to stick around forever. In fact, both @brixen and I have been discussing potential alternatives to the RubySpec based setup we're using today, although no definitive choices have been made to date.

Due to the above: most likely not. This may come as a surprise to some but we've decided to ha

[2015-05-19 18:13] eregon commented on #3403
@jemc I agree that a certain quality of specifications is required to keep the project maintainable. In my experience, this is an effort of both the requester and the person in charge of merging, since some changes are just simpler to do directly than asking for it and wait another round.
This is currently in discussion for ruby/rubyspec.

[2015-05-19 18:14] YorickPeterse commented on #3403
One thing worth mentioning that is already somewhat incompatible: we're working on removing all `ruby_version` and `ruby_bug` guards as we're using separate branches for Ruby versions that we implement. This alone will already make synchronization more difficult.

[2015-05-19 18:32] eregon commented on #3403
@YorickPeterse Of course, if the spec setup changes we will have to revisit this. But currently we are both using a fairly compatible version of MSpec, so I am confident most existing specs would work on both sides without too much efforts, setup-wise.

Not every other implementation, just the reference implementation.
I do not think this goal of focusing on what you need for Rubinius is incompati

[2015-05-19 18:40] eregon commented on #3403
@YorickPeterse

We are also considering removing `ruby_bug` guards, in favor of tags.
MRI would like to keep specs running on 2.0, since it is still maintained. A branch would be a possibility as there significant differences between 2.0 and 2.1+.
Most recent versions (2.1+) are very similar though in that they have very few version guards.

I did a good part of the merge between rubyspec/rubyspec

[2015-05-19 19:48] YorickPeterse commented on #3403
Based on the troubles we've had in the past I have serious doubts about this. Using something like `git submodule` or `git subtree` wouldn't really work in our case as we often get patches on rubinius/rubinius that we then have to sync back to upstream RubySpec (which neither submodule/subtree really helps with if I'm not mistaken).

It might not exist for now, but looking at the past I find it ha

[2015-05-19 20:32] eregon commented on #3403
@YorickPeterse

Yes, we do have the same case in JRuby, and it worked fine so far. `git subtree` is designed to extract the history of a subdirectory.

We might be talking of different things. I meant MRI will keep running ruby/rubyspec specs, and right now we just regularly sync between the JRuby specs and the main repository. I am not be skeptical about this process.
If you meant something else,

[2015-05-19 20:57] YorickPeterse commented on #3403
Very similar claims have been made in the past, for example around the time of Ruby 1.9. Seeing how things have gone since I have little faith in RubySpec being adopted properly this time. By this I don't just mean running the specs, I mean actively working on it and considering it just as important as MRI's current test suite (or even better: as _the_ test suite).

My point in that sentence is th

[2015-05-19 20:57] #3403 closed

[2015-05-19 21:21] eregon commented on #3403
For the foreseeable future I do think MRI will keep its existing test suite. Both MRI tests and specs are useful on their own and I think even if one is less maintained it does keep an important value such that it is worth testing against it given the large coverage and the different merits.

Thank you for your detailed answers.
With that, it is clear that Rubinius is not interested anymore in con

[2015-05-20 10:29] dmilith opened #3404 "v2.5.5 build problem on FreeBSD 10.1"
Cause: FreeBSD doesn't support SYS_gettid (which is used for obtaining the thread ID)

Effect: http://s.verknowsys.com/06044584eff43dffc30e4dfba58e39940320beff.png
...
rake aborted!
Error compiling

[2015-05-20 11:28] eregon commented on #3403
I would like to hear @brixen on this subject though, as he is the main contributor of RubySpec.

[2015-05-20 14:31] schmurfy commented on #3330
I just did the test with master branch and the segfault appears to be gone, instead I now have a SystemStackError error raised (but with a rather small backtrace which is weird), I am trying to figure out where it comes from and will report here if I gather useful data on whether there is still a rubinius issue or not.

[2015-05-20 14:33] dmilith commented on #3404
I think something like this might be a solution:

[code]

[2015-05-20 19:35] #3404 closed

[2015-05-21 12:34] schmurfy commented on #3330
I did the test with 2.5.5 to see if there was an issue with master but the behavior is the same as previously, the segfault is gone and I still have no clue where the SystemStackError is coming from but at least it is no longer crashing the interpreter xD

I think this issue can be closed since the original issue is no longer true in the latest release, I will open another one if I can gather anyt

[2015-05-21 12:34] #3330 closed

[2015-05-21 15:58] brixen commented on #3330
@schmurfy thanks for the update. If you want to paste the SystemStackError backtrace, we can take a look.

I'm curious what parts of EM you're using in your app. We are looking at making an API-compatible EM replacement that is pure Ruby and I'd like to focus on the parts that people actually use. Any help with your use cases would be great.

[2015-05-21 16:00] brixen commented on #3395
@testors are you using C-ext Readline or rb-readline?

[2015-05-21 16:46] brixen commented on #3395
@testors the behavior you are seeing results from two things, one I can change easily and one that takes a bit more work and thought: 1) we are stopping all threads to check if we should run the GC; and 2) the thread making an FFI call (ie calling into some sort of native code) is still marked as GC-dependent, so when it blocks, the whole process will block as soon as a GC is triggered.

The first

[2015-05-21 16:52] jc00ke commented on #3330
Reminds me of oldmoe's [Reactor](https://github.com/oldmoe/reactor) :wink:

[2015-05-21 16:58] schmurfy commented on #3330
The applications I am testing rubinius with is a the server side of a client-server application, we are using eventmachine to listen on udp and tcp connections and answer requests.

The reason we use eventmachine and not just the existing ruby socket api was initally for performance (we started with ruby 1.8 and having the reactor written in C was an interesting option), the server was also design

[2015-05-21 17:10] brixen commented on #3394
@mvz actually, 2.5.5. :)

[2015-05-21 21:53] brixen commented on #3330
@schmurfy good to know, thanks! Have you experimented with just moving the work items from EM to a queue and thread pool?

[2015-05-22 05:18] #3312 closed

[2015-05-22 05:21] brixen commented on #3312
@tmornini the fixed version of rubysl-digest (2.0.8) will be pre-installed in the next Rubinius release, but if you need it in 2.5.5, you can install it like this:

[code]

[2015-05-22 10:30] mvz commented on #3394
@brixen I've retried some builds with 2.5.5 and I'm not seeing any crashes anymore. I'll keep an eye on it in the coming days and re-open if the crashes occur again. Thanks!

[2015-05-22 10:30] #3394 closed

[2015-05-22 16:08] brixen commented on #3394
@mvz awesome, thanks for the update!

[2015-05-22 22:18] schmurfy commented on #3330
EM is only used as a reactor, we don't really use any of its higher level constructs, basically it handles the sockets read/write and then we dispatch the work on a pool of fibers.

Before we started this app we did some tests first with a purely asynchronous approach which was a major pain, then tried to use threads to keep the context and avoid the callback hell, fibers came last (MRI 1.9 was br

[2015-05-23 16:31] brixen commented on #3254
@sandstrom mostly focused on production apps at this time, but I think Discourse could be a good app, especially to demonstrate concurrency, concurrent garbage collection, and the built-in Metrics with StatsD output.

Any interest in looking into setting up a Discourse test app and environment?

[2015-05-23 17:02] tak1n commented on #2166
Running @ChristianSi script on a 6MB file.

Rubinius 2.5.5:

[code]

Ruby 2.2.2:

[code]
Also tried a script with IO#each_byte:

[code]

Gives me following results:

Rubinius 2.5.5

[code]

Ruby 2.2.2

[code]

And finally ran the benchmark in `rubinius/rubinius-benchmark`
https://github.com/rubinius/rubinius-benchmark/blob/master/core/file/bench_each_byte.rb

Rubinius 2.5.5:

[code]

Ruby 2.2.2:

[2015-05-23 18:41] tak1n commented on #2937
On MRI and RBX -> Missing or uninitialized constant: Pry::InputCompleter (NameError)

Seems like SublimeREPL itself is broken, and can't reproduce this.

I'm not using Sublime anymore (changed to vim), therefore closing this for now

[2015-05-23 18:41] #2937 closed

[2015-05-23 18:54] tak1n commented on #3065
This error doesn't occure anymore.
Tried to run the specified benchmark and it worked.

Reopen if you still have this issue.

[2015-05-23 18:54] #3065 closed

[2015-05-23 19:08] tak1n commented on #3216
Does this still occur on 2.5.5 for you?
I tried your example sinatra app and couldn't reproduce the error on 2.5.5

[2015-05-23 21:30] tak1n commented on #3118
Using this works:

[code]
Just omitted the newrelic_rpm require.
Need to dig deeper into newrelic_rpm gem to know whats causing this.

[2015-05-23 22:30] tak1n commented on #3118
Without `newrelic_rpm` inserting a binding.pry in https://github.com/godfat/rainbows/blob/master/lib/rainbows/http_server.rb#L40 and doing some spiking has following results:

[code]

With `newrelic_rpm` required:

[code]

[2015-05-24 07:50] tak1n commented on #3118
With the patch in #3407 applied I get following result:

[code]

[2015-05-24 08:22] tak1n commented on #3079
Just did `gem install versionist -v '1.3.0'` and everything was installed fine on rbx 2.5.5

@blackxored Could you please try to reproduce your bug on 2.5.5 or post the Gemfile which caused to crash rbx on bundle install.

[2015-05-24 10:13] tak1n commented on #3129
This is working on rbx 2.5.5:

[code]

[2015-05-24 10:13] #3129 closed

[2015-05-24 10:20] tak1n commented on #3113
@bchill can you please retry with rbx 2.5.5?

[2015-05-24 10:48] tak1n commented on #3177
@diegoviola , @YorickPeterse does this still occur on rbx 2.5.5, as the related issue #3230 has been resolved.

`gem install pry --rdoc --ri` works for me on fedora 22 beta

[2015-05-24 16:39] sandstrom commented on #3254
No time, sorry (https://github.com/rubinius/rubinius/issues/3254#issuecomment-68307151)

[2015-05-24 17:14] johnmuhl commented on #3216
Fixed in 2.5.5

[2015-05-24 17:14] #3216 closed

[2015-05-24 17:37] #3118 closed

[2015-05-24 18:03] #2959 closed

[2015-05-24 19:01] samkelly opened #3409 "Compatibility with Rubinius + Ubuntu 14.04"
Is nmatrix compatible with rubinius? Following the installation guide on the nmatrix wiki and using Ubuntu 14.04 and rubinius 2.5.2, the following error is occurring for me. When I use ruby 2.2.0, I am able to install nmatrix just fine.

[code]

[2015-05-24 19:27] tak1n commented on #3319
@johnmuhl does this still occur on 2.5.5?

My results for 2.5.5:

[code]

[2015-05-24 19:31] tak1n commented on #3232
Are you bound to the version 2.4.1?
If not please close this ticket and open a new one when having problems with the latest rbx.

[2015-05-24 19:35] devinus commented on #3403
As an outside observer, this has been fascinating. I was brought here from [this](https://gist.github.com/nateberkopec/11dbcf0ee7f2c08450ea) discussion. It really seems that Rubinius has had a major cultural victory, but @YorickPeterse it doesn't sound like you're using it to your advantage. In fact,

This is the exact attitude MRI Ruby had that both yourself and @brixen railed against. My head is

[2015-05-24 22:02] burningTyger commented on #3232
ok, thanks for noting.

[2015-05-24 22:02] #3232 closed

[2015-05-25 02:50] #2951 closed

[2015-05-25 02:51] YorickPeterse commented on #3403
@devinus We have clearly stated our opinion on this matter. We've spent years on this and we've moved on as it was a huge drain of time. I'm locking this issue to prevent any further bike shedding.

[2015-05-25 08:28] blackxored commented on #3079
I don't have that Gemfile at hand anymore, but this was an albeit old version considering you guys already at 2.5 so you might feel free to close.

[2015-05-25 09:39] tak1n commented on #3079
Closing this for now, feel free to reopen or open a new issue when having further problems with rbx.

[2015-05-25 09:39] #3079 closed

[2015-05-25 10:42] tak1n commented on #3374
I think this is ruby 2.2.0 specific behaviour.
When trying to access the constant `UncaughtThrowError` for ruby versions < 2.2.0 I get an error.

https://gist.github.com/tak1n/c02d5bbd371583e9ea61

[2015-05-25 12:47] johnmuhl commented on #3319
It still happens but can be worked around by setting `ulimit -n` to something very high.

[2015-05-25 12:47] #3319 closed

[2015-05-27 06:59] tak1n commented on #3401
Closing in favor of #3264

Thx for reporting, I'll repost your question in that issue so if I get to it or anyone else we can respond to it.

[2015-05-27 06:59] #3401 closed

[2015-05-27 07:00] tak1n commented on #3264
@nirvdrum mentioned following in #3401 :

"It looks like in MRI 2.2+, nil is now frozen. I looked at making things match, but it creates problems in common/kernel.rb:175. If nil is frozen, that line prevents extending it with a module, but that should be allowed. I think it can be safely removed, since object_extend should catch any issues. But I'd appreciate feedback from someone more familiar wi

[2015-05-27 07:03] tak1n commented on #3374
Thx for reporting this.

Closing in favor of #3264

[2015-05-27 07:03] #3374 closed

[2015-05-27 14:02] samkelly commented on #3409
See https://github.com/SciRuby/nmatrix/issues/363 for a followup from the nmatrix community

[2015-05-27 14:02] #3409 closed

[2015-05-28 09:55] tak1n opened #3415 "Proc/Lambda with optional param failing"
Consider following example:

[code]

This fails on rubinius with following error:

[code]

This affects #3264 `Method#curry`

[2015-05-28 20:06] jeremyevans opened #3416 "Subclass of array that overrides map & sort! can break sort_by"
The following code raises `ArgumentError` on rbx, but works on MRI and JRuby:

[code]

This causes parts of the mail gem to not work on rbx:

https://github.com/mikel/mail/blob/2.6.3/lib/mail/parts_list.rb
https://travis-ci.org/jeremyevans/roda/jobs/64445320

This is apparently a problem in rbx 2.5.5 (according to Travis), but it also occurs with rbx 2.2.9.  I believe the problem is here: https://

[2015-05-28 20:44] jc00ke commented on #3416
Reminiscent of #301 & #2015. I've been meaning to submit a PR to `mail` regarding that... if it would only compose instead of inherit. Hopefully I can manage some time soon for that PR.

[2015-05-28 21:32] brixen commented on #3416
This is a bug in mail. `ri Array#sort!`.

[2015-05-28 21:32] #3416 closed

[2015-05-28 22:56] jemc commented on #3415
@tak1n - I can't reproduce with
[code]

[2015-05-28 23:03] tak1n commented on #3415
You're right, I can't reproduce it anymore too
Maybe I just messed something up locally :laughing:

Revisiting `Method#curry` specs therefore.

[2015-05-28 23:03] #3415 closed

[2015-05-29 00:28] jeremyevans commented on #3416
FWIW, Mail actually switched to using composition instead of inheritance for this back in August of last year, it just hasn't made it into a release yet (https://github.com/mikel/mail/commit/9261582d449c2467820df003cc22201c637a9b71). I figured you may want to make rbx more compatible with ruby, but I guess the situation is rare enough that it isn't worth the effort to support it.

[2015-05-29 03:19] brixen commented on #3416
@jeremyevans the practice of overriding a method in a subclass and breaking the contract is common in Ruby. It's a blatant violation of LSP, which is well-established in industry for many years. It is not that it's not worth the effort to support it. It's _bad_ for Ruby as a programming language.

[2015-05-29 03:31] jeremyevans commented on #3416
@brixen I agree with you that it's a bad idea to violate LSP as mail was doing.  It's not that MRI and JRuby are doing it right and rbx is doing is wrong, it's that MRI and JRuby operate one way (`sort_by` does not call `sort!` internally), and rbx operates a different way.

[2015-05-31 15:23] kayakyakr opened #3418 "Interrupt Codes (ctrl-c, USR2, QUIT) not working on 2.5.3-2.5.5"
Since upgrading to rubinius 2.5.5, my interrupts have not been working. This means that ctrl-c in development and any of the interrupts in production just get swallowed by something that changed.

I finally had some time today to hunt down the culprit, and it's a change between 2.5.2 and 2.5.3.

The key versions are:
rails 4.1
puma 2.11
rbx 2.5.5

Signals in 2.5.2 do still work.

[2015-05-31 17:16] brixen commented on #3418
@kayakyakr could you provide more info, please. See the following gist for booting a Rails 4.2.1 app with puma 2.11.3 and rbx 2.5.5 https://gist.github.com/brixen/4ff7f11663bb3267b748

Perhaps gist your Gemfile.lock and gist of your terminal with what commands your ran and what the output was.

[2015-05-31 17:17] brixen commented on #3418
@kayakyakr also, please explain what you mean by "interrupts in production". What is an "interrupt", what is generating it, etc.

[2015-05-31 17:36] kayakyakr commented on #3418
Ah ha. I found the gem collision that is causing the issues, something with the new forking code. Issue happening with a stripped version of websocket-rails. Going to break that down and see if it's an issue with websocket-rails itself or if it's a problem with one of the required gems.

[2015-05-31 17:37] kayakyakr commented on #3418
Also, by interrupts I mean the USR2 and QUIT codes used in production to stop and restart a server.

[2015-05-31 17:52] kayakyakr commented on #3418
Looks like EventMachine is the problem. I don't know enough about the two pieces of software to find the point of collision.

Here is a demonstration project:
https://github.com/kayakyakr/rbxtest

[2015-05-31 17:59] kayakyakr commented on #3418
There might be a few other gems that are colliding in some way. I'm also having this issue on another project that does not use EventMachine. When I get back, go through the gems in the other project one-by-one.

Ubuntu 14.04, for the record.

[2015-06-01 04:35] kayakyakr commented on #3418
https://gist.github.com/kayakyakr/8bd9acdc683004060261

The gem list with rails 4.2. Unable to ctrl-c exit a server.

[2015-06-02 13:07] tak1n opened #3419 "Proc#arity should not equal to Lambda#arity"
Given following example:

[code]

I'm getting these results:

[code]

[2015-06-02 13:58] YorickPeterse commented on #3419
Is it possible to trace back what version of Ruby introduced this, or has this always been the case?

[2015-06-02 14:09] tak1n commented on #3419
[code]

Not sure if this was a bug in 1.9.3, but it seems like this behaviour came with 2.0.0

[2015-06-02 14:14] tak1n commented on #3419
Also the documentation for 2.0.0 starts to reference the behaviour of lambda#arity vs proc#arity.
http://docs.ruby-lang.org/en/1.9.3/Proc.html#method-i-arity
vs
http://docs.ruby-lang.org/en/2.0.0/Proc.html#method-i-arity

But not sure if it wasn't just missing in the documentation.

[2015-06-03 06:13] tak1n opened #3421 "Proc#curry on lambda with optional param"
Just opening for reference:

[code]

Jruby has the same bug: https://github.com/jruby/jruby/issues/3011

This also affects `Method#curry` with optional params: #3264

[2015-06-03 20:53] brixen commented on #3418
@kayakyakr thanks for the test repo. I reproduce the issue on 14.04 but not OS X. Looking into it.

[2015-06-04 19:17] nirvdrum opened #3422 "$_ should be frame local"
`$_` appears to be a frame-local value in MRI and JRuby.  In Rubinius, it appears to be thread-local.  The difference means a different value can be seen from others based upon call order.  `Regexp#~` currently exploits this, although other code may as well.

Simple example:

[code]

In RBX 2.5.4 I get:

[code]

In MRI 2.2.2:

[code]

In JRuby 1.7.20:

[code]

In JRuby 9.0.0.0-dev:

[code]

[2015-06-04 20:20] jc00ke opened #3423 "Unable to build on Ubuntu 15.04 (melbourne.so not found)"
[code]

It all seems to be there, yet it's not.

Check out the terminal recording: https://asciinema.org/a/21039

[2015-06-08 05:29] brixen commented on #3418
@kayakyakr I have a fix for this but it involves breaking some pretty fundamental assumptions in the VM so may not land for a day or two. The fix does not strictly require reworking signal handling, but this sort of latent, lurking bug will likely repeat, so I'm fixing it now.

[2015-06-08 11:45] saizai commented on #2377
https://github.com/railsbp/rails_best_practices relies on ripper.

[2015-06-08 17:50] brixen commented on #2377
@saizai perhaps send a PR to convert to [parser](https://github.com/whitequark/parser). /c @whitequark

[2015-06-09 10:33] sgerrand commented on #3286
@brixen: I've just encountered the same issue that @lloeki detailed above, with some extra quirks due to Homebrew's packaging.

OS: Mac OS X 10.10.3
Rubinius: 2.5.5
llvm: 3.5.1

As the Homebrew `llvm35` package appends `-3.5` to the LLVM binaries, I had to create a symlink from `llvm-config-3.5` to `llvm-config`. Once that was done, prepending the `ruby-install` invocation with `PATH="$(brew --pre

[2015-06-09 15:48] brixen commented on #3286
@sgerrand there is a Homebrew binary for 2.5.5:

[code]

If you have a `~/.rubies` directory, the Homebrew recipe will copy 2.5.5 there as well so you can use it with chruby.

[2015-06-09 16:02] sgerrand commented on #3286
@brixen: Brilliant, thanks for letting me know!

[2015-06-09 21:56] arthurcolle opened #3429 "Unable to build on Mac OS X 10.10.3"
Build time: 246.472152 seconds
1: LD vm/vm
clang: error: no such file or directory: '/Users/arthur/anaconda/lib/libLLVMInstrumentation.a'
clang: error: no such file or directory: '/Users/arthur/anaconda/lib/libLLVMArchive.a'
clang: error: no such file or directory: '/Users/arthur/anaconda/lib/libLLVMLinker.a'
clang: error: no such file or directory: '/Users/arthur/anaconda/lib/libLLVMIRReader.a'
c

[2015-06-09 22:11] arthurcolle commented on #3429
Additional info:

1) rbx -v
This is a compilation/build issue so I get: `zsh: command not found: rbx`

2) uname -a
Darwin colle-mac 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64

I followed the instructions on rubini.us to build on Yosemite 10.10 and I got this output:
https://gist.github.com/arthurcolle/f4c472de4090cb2de4a9

[2015-06-10 03:08] arthurcolle opened #3430 "Heroku Cedar-14 deployment"
Per https://github.com/rubinius/rubinius/issues/3210, I tried to use this line to push to heroku:
`ruby "2.1.0", engine: 'rbx', engine_version: '2.3.0'`

I got these errors:
Is their copy of these gems corrupted, or does it have something to do with Rubinius? Thanks

https://gist.github.com/arthurcolle/5052201f0234f932c5ff

[2015-06-10 03:13] arthurcolle commented on #3430
@brixen I saw that you maintain Heroku/RBX support from another thread.

I changed the engine_version to 2.4.0 and it also gave me the same errors.

https://gist.github.com/arthurcolle/35a9d9146c1ee1bb8585

[2015-06-10 03:38] YorickPeterse commented on #3430
Can you try using the latest version of Rubinius (2.5.5) instead of 2.3/2.4?

[2015-06-10 04:17] brixen commented on #3430
@arthurcolle current stable is 2.5.5. If you cannot use it, please open an issue for why not.

[2015-06-10 04:17] #3430 closed

[2015-06-10 05:03] arthurcolle commented on #3430
Indeed it worked when I used 2.5.5, I actually used the rbx-2.5.5 binary locally and it was working but based on the previous comments of what people were using I just went with those, Heroku's pages do not document Rubinius support at all.

[2015-06-10 05:12] brixen commented on #3430
@arthurcolle I build the binaries used by Heroku with every release. We try to make sure it Just Works, but there's been some pains getting that process smoothed out. Unfortunately, I can't help with Heroku's documentation.

[2015-06-10 05:44] arthurcolle commented on #3430
No worries, I ♡ Heroku

[2015-06-10 11:29] tamird commented on #3073
Still relevant. `rb_wait_for_single_fd` is still missing as of RBX 2.5.5.

[2015-06-10 11:49] tamird opened #3431 "C API: rb_ary_entry has wrong signature"
http://rxr.whitequark.org/mri/source/include/ruby/intern.h#070:
`VALUE rb_ary_entry(VALUE, long);`

https://github.com/rubinius/rubinius/blob/master/vm/include/capi/ruby/ruby.h#L991:
`VALUE   rb_ary_entry(VALUE self, int index);`

[2015-06-10 18:25] #3431 closed

[2015-06-11 06:57] brixen commented on #3423
Needs more info:

1. What Ruby switcher are you using, if any?
2. Which version of Ruby is the build Ruby?
3. What does your configure.log say?
4. What does your config.rb say?

[2015-06-11 10:01] heftig opened #3436 "[].zip([1].cycle) causes infinite loop"
In Rubinius 2.5.5, `[].zip([1].cycle)` loops forever. MRI and JRuby handle it properly.

[2015-06-11 14:11] #3436 closed

[2015-06-11 15:11] jc00ke commented on #3423
1. chruby 0.3.9, chruby-fish 0.6.0
1. Ruby 2.2.2p95

configure.log
[code]

config.rb

[code]

[2015-06-11 15:28] jc00ke commented on #3423
Though now, and I don't know what changed, I'm able to build. :confused:

[2015-06-11 15:29] #3423 closed

[2015-06-12 06:11] #3418 closed

[2015-06-12 15:25] chrisseaton opened #3438 "LICENSE still refers to 2014"
The Rubinius license file still says `Copyright (c) 2007-2014`, but of course a lot of the code was written in 2015. When Truffle imports Rubinius code we are adding the license file as a header to all source files, but this now looks odd because we're saying 2014 on something that was clearly written in 2015 - but that's the license and we can't modify it.

To make this clear, we're adding a line

[2015-06-12 15:30] #3438 closed

[2015-06-12 15:31] jemc commented on #3438
Thanks!

[2015-06-12 19:09] brixen commented on #3429
You should be using `llvm-config` pointed to the `llvm-config` for your version of LLVM.

If you are using chruby, you can install a binary on OS X easily with Homebrew:

[code]

This will copy the Rubinius 2.5.5 release (or whatever is current at the time) into `~/.rubies` for use with chruby. Otherwise, it's a keg-only Homebrew install that you can choose to link.

[2015-06-12 19:09] #3429 closed

[2015-06-13 22:24] saizai commented on #2377
@brixen They're choosing not to. See e.g. https://github.com/railsbp/rails_best_practices/issues/140 https://github.com/railsbp/rails_best_practices/issues/75

[2015-06-14 03:33] brixen commented on #2377
@saizai looks like Rubocop uses parser https://github.com/bbatsov/rubocop/blob/master/rubocop.gemspec#L42, I guess they can duke it out.

I'm happy to hear arguments for how supporting rails_best_practices adds value to Rubinius and justifies spending effort to support a very poor MRI API (ripper) when a better alternative (parser) already exists and is used by a (partial, at least, and arguable m

[2015-06-14 04:36] saizai commented on #2377
I've got no position re ripper vs parser; don't really know either. From
the sidelines, it seems like this is something about Ruby standards /
introspection that would be well served by y'all collaborating on a
standard that's robustly supported.

Personally, I like rbx and Rails and best practices checks. I'd like to use
them together, however it works out. I also think it would be good for the
R

[2015-06-14 08:27] YorickPeterse commented on #2377
Having spent significant time using Ripper and looking into the details I strongly oppose supporting it. From a user perspective https://github.com/whitequark/parser is superior and more portable (it works across all Rubies). JRuby recently added support for Ripper IIRC but it took them several years to get it done (I remember asking them about it at least 2+ years ago).

The closest thing to a pa

[2015-06-15 01:14] fmfdias opened #3442 "mysql2 gem 0.3.18 fails to compile native extension on Rubinius 2.5.6"
mysql2 gem 0.3.18 fails to compile the native extensions on Rubinius 2.5.6 on both mac (yosemite) and ubuntu 12.04.5 LTS.
It compiles correctly on rbx 2.5.5

Here's the error
[code]

The issue seems to have surfaced now because the rb_hash_dup function was added to this Rubinius version without defining HAVE_RB_HASH_DUP.
Nevertheless, the issue doesn't occur with mysql2 gem master branch since it

[2015-06-15 02:07] #3442 closed

[2015-06-16 22:49] fmfdias commented on #3385
Hi @YorickPeterse, Sorry for the late reply...

The bug report at Apple was opened a few days later, but still no reply. Will keep it posted here. Let's see what they say/do.

Cheers

[2015-06-17 10:16] thbar commented on #3286
@brixen thanks a lot for this! As some feedback, I tried to install rubinius (to verify compatibility of a gem I maintain) but went through multiple hurdles (using rvm, downloading directly etc). I only found your snippet after googling `ABORT: unable to set up LLVM` etc. Maybe adding the homebrew tip somewhere on the download page or in the getting started would be nice? (if it's there I missed i

[2015-06-17 16:02] brixen commented on #3286
@thbar yes, we need to have better instructions on getting binary builds of Rubinius. If you have time to put together a PR, the website is in https://github.com/rubinius/rubinius.github.io.

[2015-06-17 20:15] nirvdrum opened #3444 "Missing '*' argument prefix parse warning"
MRI and JRuby both flag splatting as a warning when parentheses are not used.  Contrived example:

[code]

MRI 2.2.2:

[code]

RBX 2.5.5:

[code]

[2015-06-17 22:18] brixen commented on #3444
We don't implement warning is the parser.

[2015-06-17 22:18] #3444 closed

[2015-06-19 06:50] ryan2johnson9 opened #3445 "rbx-2.5.5 can't read xml text value in psql db column that rbx-2.2.10 could"
I'm using Rails 4.1.6 with rbx 2.5.7 and psql db

I have a text field where xml strings are stored. I do not know why, but looking at these strings in pgadmin3 I see that they start with `---` or `--- |` or `--- |+` then following this is the xml. (these prefixes seem to have been added automatically)

When I use rbx 2.2.10 - I can retrieve all of these fields easily through a rails console.

When

[2015-06-19 07:56] YorickPeterse commented on #3445
Not sure if I'm understanding the ticket correctly, but did you perhaps also update any Gems?

[2015-06-21 17:39] chrisseaton opened #3446 "environ doesn't work on Mac if you ever build Rubinius as a shared library"
If anyone ever has any aspiration to build Rubinius as a shared library or a bundle, perhaps to embed it or something like that, the use of `environ` in `ENV` is incorrect on the Mac when the code is dynamically loaded. You need to use `_NSGetEnviron` from `<crt_externs.h>` instead. It's an annoying bug that we found using the Rubinius `ENV` code for the first time, as most things appear to work b

[2015-06-21 18:51] kayakyakr commented on #3418
Working on 2.5.7. Has an odd thing where, after I've done a few rails commands I get ```^CSegmentation fault (core dumped)```.

Not sure where my system is storing logs, didn't provide any details of the rest.

[2015-06-22 00:09] ryan2johnson9 commented on #3445
Good question, I was wondering that myself.
`rbx-2.2.10@gemset_A`
works
`rbx-2.5.7@gemset_B`
fails.

When I list the gems for the individual gemset, i.e. excluding the global ones inherited ([using this technique](http://stackoverflow.com/questions/12307217/rvm-list-all-gems-in-current-gemset-ignoring-global-default)), I only get one difference.

rubinius-profiler (2.0.1) is in gemset_B and not in

[2015-06-22 01:33] ryan2johnson9 commented on #3445
The prefixed characters,`--- |` etc, that I can see through pgadmin3 may be a red herring.

I tried saving xml strings to that field when using rbx-2.5.7. Sometimes the prefix was `---` and one time it was `--- |` but every one of the fields was readable by rails console using rbx-2.5.7. However, if I switch back to rbx-2.2.10 and save an xml string, then try to read with rbx-2.5.7 in rails consol

[2015-06-22 01:52] brixen commented on #3418
@kayakyakr could you check `/tmp/rbx-<username>.log` and gist the segv info.

[2015-06-22 01:53] brixen commented on #3445
@ryan2johnson9 could you gist your Gemfile and Gemfile.lock?

[2015-06-22 02:27] ryan2johnson9 commented on #3445
@brixen :
[Gemfile] (https://gist.github.com/ryan2johnson9/b2e314de7f9611646c58)
[Gemfile.lock](https://gist.github.com/ryan2johnson9/cc6ea4d2249c840ca1fc)

[2015-06-22 09:02] YorickPeterse commented on #3445
@ryan2johnson9 Are the Gem versions also identical in both gemsets (excluding rubysl/rubinius Gems)?

[2015-06-22 10:13] edmundhighcock commented on #2006
Could we add rb-gsl to the table?

https://rubygems.org/gems/rb-gsl/versions/1.16.0.4

It is very useful for ppl in the scientific community who want to leverage the multi-threadness and other great features of Rubinius. I've posted an issue on their github page as well,

https://github.com/blackwinter/rb-gsl/issues/28

and I don't think it should be a massive amount of work, but it would probably

[2015-06-22 12:57] y8 opened #3447 "Matrix math is 2x slower that MRI"
I'm trying to get more or less stable readings from my cheap ultrasonic range sensor, to measure a level of the water in my well.

Sensor is constantly producing range readings, at rate about 7Hz, and writes readings to the CVS file.

There a lot of noise in the data, so I've decided to use Kalman Filter. Filtering involves a lot of matrix math. You can watch this [video](https://www.udacity.com/c

[2015-06-22 15:34] jc00ke commented on #2006
@edmundhighcock once blackwinter/rb-gsl#29 is merged I can add it to the table.

[2015-06-22 15:50] YorickPeterse commented on #2006
Updated the table so it now lists rbx-1 vs rbx-2 as the `-X` based mode options were removed quite a while ago.

[2015-06-22 15:55] jc00ke commented on #2006
Thx @YorickPeterse

[2015-06-22 16:02] edmundhighcock commented on #2006
Hi all, thanks for getting on to this so quickly... awesome!

[2015-06-22 21:01] ryan2johnson9 commented on #3445
@YorickPeterse yes indeed they are

[2015-06-23 07:47] tak1n commented on #3419
Found this today: https://bugs.ruby-lang.org/issues/11296

I think we should wait until the default impl of ruby knows what behaviour is desired and then change it properly.

[2015-06-25 10:12] YorickPeterse commented on #3391
Closed by #3449

[2015-06-25 10:12] #3391 closed

[2015-06-25 15:00] heftig opened #3450 "Syntax error using def as argument"
`private(def foo; bar.each do; end; end)` works in both MRI 2.2.2 and Rubinius 2.5.7.

`private def foo; bar.each do; end; end` works in MRI but causes a syntax error in Rubinius.

[2015-06-25 15:11] jemc commented on #3450
I filed this in the rubinius-melbourne repo a while ago: https://github.com/rubinius/rubinius-melbourne/issues/21

Still waiting on some feedback from @brixen on how he wants to proceed.

[2015-06-25 16:12] brixen commented on #3450
I was holding off to update for the 2.2 grammar, since it adds eg `"abc#{d}":` for interpolated Symbols. Unless we know of any breaking 2.2 syntax changes, we could update the parser before officially switching to 2.2 compat.

On the other hand, we've got a lot of the 2.2 code changes in the 2.2 branch, so maybe we should just flip the switch.

[2015-06-25 17:01] jemc commented on #3450
I think this syntax was possible in (at least some versions of) 2.1, so it's not necessarily a 2.2 thing.  However, it would be silly to import and adapt to the changes in the MRI grammar twice in such a short period of time, so if we do import it, it does make sense to import that latest grammar.

[2015-06-25 19:31] tak1n opened #3451 "respond_to? returns false for delegated methods"
While getting lotus to run on rbx I found lotus-router has following problem:
RBX

[code]

MRI

[code]

[2015-06-26 05:44] tak1n commented on #3451
Consider following example

[code]

And https://github.com/rubysl/rubysl-delegate/blob/2.0/lib/rubysl/delegate/delegate.rb#L82 edited to look like

[code]

The Result is

[code]

This means the `respond_to_missing?` method on `SimpleDelegator / Delegator` is not called.

[2015-06-26 05:52] tak1n commented on #3451
As workaround we could define `respond_to?` in `Delegator`

[code]
But I would prefer to get the proper behaviour of `respond_to_missing?` in `Delegator`.
Have to dig deeper when and how `respond_to_missing?` should be called when doing sth like `A.new.respond_to?(:foo)`

[2015-06-26 06:08] brixen commented on #3451
@tak1n did you try this on master HEAD? I fixed a `respond_to_missing?`-related issue here https://github.com/rubinius/rubinius/commit/60cfdadf0149ca0efebf2b924a0482e4cfa1b404. There could be others.

[2015-06-26 06:48] tak1n commented on #3451
@brixen yep using a fresh build

[code]
I think exactly these changes are breaking something. Because Travis (https://travis-ci.org/lotus/router/jobs/68374820) uses rbx from 2015-06-17 and everything is working.

Also checked out and built rbx before these changes and getting this:

[code]

Correct me if I got something wrong :)

[2015-06-26 07:34] ryan2johnson9 commented on #3445
I have got around this by using a script which writes the xml string to a file and I run this with  rbx2.2.10, then I change to rbx-2.5.7 and run a nother scrip which reads from this file and updates the attribute in the db. This has solved my personal problem.

[2015-06-29 15:06] RoxasShadow opened #3453 "Coercion error when execute `sh` in Rakefile"
What happens:
[code]

What makes it happen
[code]

How I fixed it
[code]

Ruby version
`rubinius 2.5.7 (2.1.0 d4fdeaad 2015-06-16 3.5.0 JI) [x86_64-darwin14.3.0]`

OS infos
`Darwin lifestream 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64`

With MRI 2.1 and 2.2 that works fine though.

[2015-06-29 17:45] brixen commented on #3453
@RoxasShadow could you gist your Rakefile, please?

I tried to repro this as follows, but I can't

[code]

[2015-06-29 17:46] brixen commented on #3453
@RoxasShadow please also gist running with `--trace`.

[2015-06-29 18:16] brixen commented on #3447
It looks like most of the time is Array, not math _per se_.

[A histogram of the methods where most method calls originate](https://gist.github.com/brixen/f7e32e82667b40ffce06#file-gistfile1-txt).
[A profile](https://gist.github.com/brixen/f7e32e82667b40ffce06#file-gistfile2-txt).

[2015-06-29 18:34] RoxasShadow commented on #3453
Sure @brixen, you can find the broken Rakefile [here](https://github.com/RoxasShadow/zanox-rb/blob/rbx-fail/Rakefile).

This is rbx...
[code]

...and this is mri 2.2-head
[code]

[2015-06-29 23:31] brixen commented on #3453
@RoxasShadow what version of rubygems are you using with MRI 2.2?

[2015-06-29 23:42] brixen commented on #3453
`File.exist?` is getting called on `nil` -> https://github.com/rubygems/rubygems/blob/master/lib/rubygems/package/file_source.rb#L21
because `req.download cache_dir` returns `nil` -> https://github.com/rubygems/rubygems/blob/master/lib/rubygems/request_set.rb#L160
because -> https://github.com/rubygems/rubygems/blob/master/lib/rubygems/source/installed.rb#L32

Following that through rubygems is ex

[2015-06-29 23:48] brixen commented on #3453
Apparently, it works on MRI 2.2 with rubygems 2.4.8.

[2015-06-30 03:29] brixen commented on #3453
@RoxasShadow the `sh 'gem install ...'` vs the backtick invocation is a red herring. At some point, I started getting the error with either version.

This appears to be Bundler-related. A simple `rake` completes as expected.

[2015-06-30 03:34] brixen commented on #3453
@RoxasShadow appears to work with Bundler 1.10.5. To confirm, run the following:

[code]

[2015-06-30 16:50] brauliobo opened #3454 "Question: Is HLVM suitable for Rubinius?"
I recently noticed and read that using LLVM doesn't really help to get performance on dynamic languages like Ruby, as you (e.g. Rubinius) have to do the hard work to optimize the code.

Then I've found http://www.ffconsultancy.com/ocaml/hlvm. Maybe it or something similar may be used for rubinius?

Sorry for the newbie question.

[2015-06-30 16:50] #3454 closed

[2015-06-30 17:02] brixen commented on #3454
@brauliobo LLVM does a lot to help optimize performance, but it's not magic. We still have to translate Ruby code into LLVM IR so that LLVM can emit machine code.

Here's a simple benchmark I was looking at last night with times for MRI 2.2 and Rubinius 2.5.7 on my machine:

[code]
Here are results with MRI 2.2.2
[code]
And results on Rubinius 2.5.7
[code]
As you can see, the JIT helps. We still h

[2015-06-30 17:23] brauliobo commented on #3454
@brixen
Nice! http://jruby.org/bench9000/ benchmarks shows rubinius 11% faster than on MRI 2.2.2.
Still on rails it is not as performant as MRI.

Did you take a look at HLVM? Maybe it could ease the work to translate to LLVM IR.

[2015-07-01 19:18] clonezone opened #3455 "Regression in v2.5.7 vs v2.5.5: catching SIGINT and SIGTERM."
Given the program `catch-signal`:

[code]

running this with v2.5.5:

[code]

with v2.5.7:
[code]

Back to v2.5.5:

[code]

And again with v2.5.7:

[code]

i.e. there's no output at all.

[2015-07-01 19:24] jemc commented on #3455
I believe a decision was made recently by other devs to not support `rescue SignalException` in order to improve other aspects of the threading model.

If you need this behavior, you'll have to make a case as to why you can't use actual signal traps in your application instead and how the benefits of supporting `rescue SignalException` outweigh the benefits of dropping support for it.

[2015-07-01 19:36] clonezone commented on #3455
Define "signal trap".

[2015-07-01 19:41] jemc commented on #3455
@clonezone - see [Signal.trap](http://ruby-doc.org/core-2.2.0/Signal.html#method-c-trap).

[2015-07-01 19:46] brixen commented on #3455
@clonezone please see https://github.com/rubinius/rubinius/commit/2928b6dd49ac4f734d4dd3b11a437322b3909ecb and https://github.com/rubinius/rubinius/commit/e32baa3128ce0e807cb224ca614e2df099ae013f for an explanation of the issues and mechanics of signal handling.

If you want to handle SIGTERM in your application, define a signal handler as follows:

[code]
Running this in the terminal gives:

[cod

[2015-07-01 19:46] #3455 closed

[2015-07-01 19:55] clonezone commented on #3455
I've got something that works now based upon this.

Thanks all.

[2015-07-01 19:56] jemc commented on #3455
Great!

[2015-07-03 04:03] #3451 closed

[2015-07-07 17:49] wkoszek opened #3456 "Rubinius behaves differently than Ruby wrt. use of to_ary/to_s"
I pushed to Git my Ruby exercises I wrote a while back when learning Ruby.

git clone git://github.com/wkoszek/ruby_edu.git

I went and enabled Travis-CI builds for both Ruby 2.1 and Rubinius.

https://travis-ci.org/wkoszek/ruby_edu/jobs/69929229
https://travis-ci.org/wkoszek/ruby_edu/jobs/69929231

Ruby passes, while Rubinius is failing. Looks like to_s function is called where to_ary is expected

[2015-07-09 07:16] wkoszek opened #3457 "Can't use Rubocop with Rubinius"
I'm wiring my Objective-C build to Travis-Ci and my Ruby build is fine, while my Rubinius build is failing:

https://travis-ci.org/wkoszek/macb/jobs/70179506
https://travis-ci.org/wkoszek/macb/jobs/70179507

Repo:
git clone https://github.com/wkoszek/macb.git

[2015-07-09 13:43] brixen commented on #3457
@wkoszek looks like there's a problem with RDoc parsing rubocop files that we'll need to fix. For now, you could disable generating rdoc and ri with gem installs. Unless your project is actually using them during CI, that's a huge waste of resources.

[2015-07-09 13:56] jemc commented on #3457
I'm able to `gem install rubocop` with rbx master.
[code]
[code]

It sounds like we just need to do a release so that Travis can use the latest version (unless something more subtle is going on here).

[2015-07-09 14:12] YorickPeterse commented on #3457
@jemc This might be an OS X (Travis) issue. I vaguely recall we had similar problems with RDoc in the distant past, but I believe that was due to the JIT (which has since been resolved).

[2015-07-09 16:16] brixen commented on #3457
@wkoszek I just realized your build is running `rubinius 2.2.6 (2.1.0 68d916a5 2014-03-10 JI) [x86_64-darwin13.1.0]` That's a version released over a year ago. The most recent release is 2.5.7. I see you've updated your `.travis.yml` to use `rbx-2`, so I'm assuming this is a problem with Travis or RVM.

[2015-07-09 16:21] brixen commented on #3457
@wkoszek sorry, it's finally registered that this is OS X and I need to build a binary for Travis. Once I do that, you can re-run your build and hopefully it will pull the latest version.

[2015-07-09 16:31] wkoszek commented on #3457
@brixen from the repo you'll see I started with rbx-2 since Travis advertises that. I spotted big version difference. I tried rbx-2.5.7, but Travis couldn't find it. So I reverted back to rbx-2. Weird thing is this:

https://travis-ci.org/wkoszek/macb/jobs/70180677

So looks like it succeeds sometimes. After README.md update, it failed once again:

https://travis-ci.org/wkoszek/macb/jobs/70181528

[2015-07-09 16:37] brixen commented on #3457
@wkoszek yeah, it's definitely an issue with 2.2.6. I've just pushed a build of 2.5.7 and I'm testing a fork of your project. I'll ping you once it's building correctly.

Sorry about the confusion, I completely did not grok that you were testing on OS X.

[2015-07-09 16:40] wkoszek commented on #3457
@brixen no worries. I agree it's confusing that Travis starts OSX on "objective-c", not on "osx" setting (which is a part of "multios"). This is my 1st project on Travis using OSX, and it uses Xcode.

Once it works, I'll migrate.

[2015-07-09 16:41] wkoszek commented on #3456
Is this problem also related with Travis using out-of-date Rubinius?

(more details on outdated Travis: https://github.com/rubinius/rubinius/issues/3457)

[2015-07-09 16:44] brixen commented on #3457
@wkoszek ok, this looks a lot better https://travis-ci.org/brixen/macb/jobs/70251810.

You shouldn't need to do anything more than restart your build. Let us know if you have further issues.

[2015-07-09 16:44] #3457 closed

[2015-07-09 16:46] brixen commented on #3456
This build is using 2.5.7 https://travis-ci.org/wkoszek/ruby_edu/jobs/69929231#L104 so it does not look related to the version problem in #3457.

[2015-07-09 16:50] RoxasShadow commented on #3453
Great, your solution worked fine, thanks :+1:

[2015-07-09 16:50] #3453 closed

[2015-07-09 16:58] wkoszek commented on #3457
Other than:

warning: parser/current is loading parser/ruby21, which recognizes
warning: 2.1.6-compliant syntax, but you are running 2.1.0.
warning: please see https://github.com/whitequark/parser#compatibility-with-ruby-mri.
Inspecting 1 file

Looks much better:

https://travis-ci.org/wkoszek/macb/jobs/70181528

[2015-07-12 06:39] heftig opened #3458 "Range#bsearch range is off by one"
`Range#bsearch` ignores the last element:
[code]
[code]

Similarly, for `1...5` the last included element `4` is missed.

Also, once this is fixed, maybe `Array#bsearch` should defer to `Range#bsearch` in order to share code?
[code]

[2015-07-13 21:05] sodabrew commented on #2662
I'm starting to see this pretty often on Travis with rbx-2.5.7: https://gist.github.com/sodabrew/656e0f44d33d6b46dc1b

[2015-07-13 21:27] sodabrew commented on #2662
I guess, basically, "what would cause rb_gc_mark to segfault, and should I be testing against that condition before calling it?"

[2015-07-13 21:41] YorickPeterse commented on #2662
My guess is that either our GC is messed up or somehow `rb_gc_mark` is passing bogus data to the GC. GDB should reveal more information but requires being able to reproduce this outside of Travis. Having seen this pattern before I wouldn't be surprised if somehow a `NULL` is being passed around where it shouldn't.

[2015-07-14 00:58] sodabrew commented on #2662
I started search for bugs with "saw_object" and traced my way to https://github.com/sparklemotion/nokogiri/issues/1047 - since mysql2 is also a C extension, the issues might be related?

[2015-07-14 03:47] brixen commented on #2662
@sodabrew didn't you recently fix another GC-related issue in mysql2? Could this be related? Did you run this under Valgrind? Is this consistently reproducible when running the tests? Have you built Rubinius in debug mode (`./configure --debug-build`) and run this so you can inspect the Ruby Data object from which `rb_gc_mark` is being called?

[2015-07-14 17:50] tamird commented on #2662
I built rbx in debug and [reproduced](https://gist.github.com/tamird/ccb74572aeb2858e25e7)

[2015-07-14 17:52] YorickPeterse commented on #2662
@tamird When this occurs could you please provide GDB backtraces as explained at http://rubini.us/doc/en/how-to/obtaining-gdb-backtraces/? Also if you could print the various variables in the offending call frame (using `p some-variable-name-here`) that would hopefully give more insight in what kind of data is being passed around.

[2015-07-14 18:13] brixen commented on #3396
This is working now on master. Will be releasing 2.5.8 shortly.

[2015-07-14 18:13] #3396 closed

[2015-07-14 19:06] brixen commented on #3378
Unable to repro any issues with this on master. MRI 2.2.2p95 does segfault running it, however. https://gist.github.com/brixen/e74eeff668bbbcf866a7

[2015-07-14 19:06] #3378 closed

[2015-07-14 19:20] brixen commented on #3353
Whether GPGme is thread-safe or not (I'm not deciding either way) isn't dispositive here. You're calling into C-API code concurrently and C-API code is absolutely not thread safe by default. The assertion failure is in GPGme code and is likely caused by passing a bad value in.

Running with `rbx -Xcapi.lock -v test.rb` produces:

[code]

You can use `-Xcapi.lock` to add a global lock around enteri

[2015-07-14 19:20] #3353 closed

[2015-07-15 03:52] sirinath opened #3459 "MS Windows"
Can you provide easy to use MS Windows distribution also?

[2015-07-15 03:54] jc00ke commented on #3459
Sorry, no, not for the foreseeable future. It was something we intended to do as part of Rubinius 2.0 but we never had the time to roll up our sleeves and get it working.

We would welcome help getting Rubinius to run on Windows though, if you or someone you know wants to help with that.

[2015-07-15 03:54] #3459 closed

[2015-07-15 23:39] sodabrew commented on #2662
I haven't seen any failures on Travis today - Is it possible that Rubinius 2.5.8 fixes this?

[2015-07-16 00:04] tamird commented on #2662
https://travis-ci.org/brianmario/mysql2/jobs/71173451

[2015-07-16 00:04] tamird commented on #2662
Interestingly this failed in Rubocop!

[2015-07-16 15:57] YorickPeterse opened #3461 "AWS SDK segmentation fault in Encoding#find_non_ascii_index"
Logs: https://gist.github.com/YorickPeterse/0d5cfef61583eccbaf7b

Code that triggered it:

[code]

Not sure how to actually reproduce this outside of using the above script.

[2015-07-16 23:04] YorickPeterse opened #3462 "Possible segmentation fault in the pg Gem"
Using the script from #3461 I now bumped into a segmentation fault in the pg Gem. GDB logs: https://gist.github.com/YorickPeterse/badd558a8799585a8ff3

Sadly I have no standalone way to reproduce this just yet.

[2015-07-16 23:06] YorickPeterse commented on #3462
Another GDB log which seems to describe a similar crash from the same script: https://gist.github.com/YorickPeterse/38b615002b061f3c09d5

[2015-07-16 23:11] YorickPeterse commented on #3462
And another one: https://gist.github.com/YorickPeterse/37d509f2e7428e4222ca

This fails with the following console output:

[code]

[2015-07-16 23:13] YorickPeterse commented on #3462
And _another_ one: https://gist.github.com/YorickPeterse/b4d59ccafe66b81ee09f

[2015-07-17 06:03] sodabrew commented on #2662
Yep, bummer. Here's a gist of that crash for future reference: https://gist.github.com/sodabrew/e7de223e019a390a3926

[2015-07-17 12:55] YorickPeterse opened #3463 "NilMethod error in Oga where it's impossible to arise"
Running the script mentioned in #3461 can in rare cases lead to the following error:

[code]

The code in question is at https://github.com/YorickPeterse/oga/blob/5d0e8c99af86dab9f4d1840f37625bf6b964c379/lib/oga/xml/lexer.rb#L208. Here `@elements.empty?` is apparently `nil.empty?`. Unless I'm blind this is _impossible_ because `@elements` is ever only assigned an empty Array (https://github.com/Yo

[2015-07-17 13:04] YorickPeterse opened #3464 "JIT crash in the AWS grinder"
Another crash I experienced when running the script from #3461: https://gist.github.com/YorickPeterse/2d485203986dc227ccf2

This appears to be a JIT crash, though I'm not sure if the origin of the crash is in the JIT or if that is simply a byproduct of something else breaking first.

[2015-07-17 13:07] YorickPeterse commented on #3463
Similar problem though with a different stacktrace:

[code]

[2015-07-17 13:12] YorickPeterse opened #3465 "MonoInline crash in the AWS grinder"
_Another_ crash caused by running the script from #3461: https://gist.github.com/YorickPeterse/717ea7072bb21011e217

Not sure yet if this is related to #3464 or if it's an entirely separate issue.

[2015-07-17 13:19] YorickPeterse opened #3466 "Immix crash in the AWS grinder"
This time running the script from #3461 resulted in a crash in Immix: https://gist.github.com/YorickPeterse/959032063fa19c83e230

Note the last bit of the GDB log, it seems the variable Immix is trying to GC is a NULL pointer. While the code below it checks for NULL pointers (https://github.com/rubinius/rubinius/blob/aa7814191b3cff9e20169361f34ee2c34d9d6345/vm/gc/gc.cpp#L367) it appears to crash b

[2015-07-17 14:06] YorickPeterse commented on #3463
This is at least not caused by the JIT. Running my script with `-Xint` will still produce similar errors.

[2015-07-17 14:10] YorickPeterse commented on #3461
Managed to get my hands on a GDB trace for this error: https://gist.github.com/YorickPeterse/df7386bdd4c07d3fb979

[2015-07-17 16:22] godfat opened #3467 "Thread safety for ThreadGroup#add"
Previous discussion: https://github.com/rubinius/rubinius/commit/00c04b92b91f89d99d50a0197bcc9ea39a1b1bf5

Actually this was a long story... I am not sure where to start,
and I also forgot some details. At the time I was using ThreadGroup#add,
I proposed ThreadGroup locals: https://bugs.ruby-lang.org/issues/10658

If we got that, then I probably don't have to use ThreadGroup#add at all.
So it's th

[2015-07-17 17:36] YorickPeterse commented on #3461
Standalone script to reproduce this (and the other crashes I reported earlier today):

[code]

@headius For JRuby 9k you could take a look at this script. I haven't had a chance yet to run it on 9k but it's pretty much a 1:1 port of the original script but using dummy data instead of a production database.

[2015-07-17 17:55] #3467 closed

[2015-07-17 17:57] godfat commented on #3467
Great, thank you!

[2015-07-17 17:59] brixen commented on #3467
@godfat no problem, thanks for letting us know about your issue.

[2015-07-18 00:37] heftig commented on #3458
heftig@4afda40f adds a failing spec for this issue.

[2015-07-18 08:53] godfat opened #3468 "Missing method: TCPServer#local_address (and class Addrinfo?)"
Here's MRI:

[code]

Here's JRuby:

[code]

Discovered by:
https://travis-ci.org/godfat/rest-core/jobs/63995780

Should I add a spec to RubySpec..? Or is it merged into Rubinius now?

[2015-07-18 12:17] YorickPeterse commented on #3468
Since this deals with the Socket library this should be submitted to https://github.com/rubysl/rubysl-socket instead.

[2015-07-18 12:18] YorickPeterse commented on #3468
Ah, and it already exists there: https://github.com/rubysl/rubysl-socket/issues/7 and https://github.com/rubysl/rubysl-socket/pull/9.

[2015-07-18 12:18] #3468 closed

[2015-07-18 12:21] godfat commented on #3468
Excellent. Sorry for the noise.

[2015-07-18 21:23] robin850 opened #3471 "Implicit `super` call fails with double splat"
Hello,

There's a tiny bug when calling `super` without explicitly specifying the argument using the double splat:

[code]

will raise:

[code]

Have a nice day.

[2015-07-18 21:47] YorickPeterse commented on #3471
Probably the same problem as described in #3295.

[2015-07-19 19:19] headius commented on #3461
@YorickPeterse Thanks! I'll run it through its paces and add an issue to JRuby's tracker.

[2015-07-19 19:44] headius commented on #3461
@YorickPeterse Filed: https://github.com/jruby/jruby/issues/3153

[2015-07-22 16:23] kwleland opened #3473 "Scheduling Features for Threads"
It would be helpful to be able to adjust thread scheduling

1.) policy  eg SCHED_FIFO
2.) core affinity
3.) priority

for a running thread.

Of course this would only apply for OS's (such as Linux) that have the needed system call support.

Motivation:  I find that I can't always parallelize all the work and have one(two) thread(s) that provides a service that supports a ton of user threads.  In t

[2015-07-22 18:58] YorickPeterse commented on #3332
Closing this due to lack of feedback since my last comment. Feel free to re-open if the issue still persists when using the latest version of Rubinius.

[2015-07-22 18:58] #3332 closed

[2015-07-24 14:38] YorickPeterse commented on #3458
I added the specs in 9aa7833c1a0a2e3cd2a363441eb18b97489f182d but sadly I can't quite just figure out how to make things work. Looking at the behaviour of `Range#bsearch` and `Array#bsearch` we can't merge them as both work quite differently (the same appears to be the case for the MRI implementation).

[2015-07-24 14:42] YorickPeterse commented on #3422
The compiler spits out the following for `$_`:

[code]

This indeed seems to suggest `$_` is not frame local.

[2015-07-24 15:01] YorickPeterse commented on #3422
As per https://github.com/rubinius/rubinius/blob/9aa7833c1a0a2e3cd2a363441eb18b97489f182d/kernel/delta/kernel.rb#L116-L118 these are indeed thread local globals. We don't really have any facilities (yet) for storing frame-local global variables as far as I can tell.

[2015-07-24 15:44] YorickPeterse commented on #3422
The tricky thing here is that we assign data to `$_` in the IO class. If `$_` were to be frame local we'd need an extra helper to assign a thread-local value to it (instead of it being the default frame-local). So basically an assignment to `$_` would be frame local and for a thread-local equivalent we'd need something like `Rubinius.set_dollar_underscore(...)` (the name is just an example).

This

[2015-07-24 15:45] YorickPeterse commented on #3419
As per https://bugs.ruby-lang.org/issues/11296 it seems this is intentional.

[2015-07-24 15:48] chrisseaton commented on #3422
When you assign `$_`, why can't you just do that directly into the caller frame? Why do the need step 2 and the thread-local aspect at all?

Separate from that - I still think `$_` is not just frame local - it's thread local within a frame. So two environments closing over `$_` will see different values on different threads. I had loads of tests I was exploring with this about a year ago but don't

[2015-07-24 15:49] YorickPeterse commented on #3471
Closing as a duplicate of #3363

[2015-07-24 15:49] #3471 closed

[2015-07-24 15:51] chrisseaton commented on #3422
For example try this:

[code]

You get your string on the main thread, but nil on the other, even though the thread's block should close over that variable like it does with `x`. So it's definitely not just a frame local variable.

[2015-07-24 15:52] YorickPeterse commented on #3422
@chrisseaton As far as I'm aware we currently don't have any facilities to store frame local global variables, as such we can't inject `$_` into whatever calls the various IO methods that in turn set `$_`. If we did have such facilities it probably would make things a tad easier.

[2015-07-29 06:37] Tatzyr opened #3474 "String#split(" ", 0) gives incorrect output"
RBX incorrectly includes empty strings in the resulting array.

MRI and JRuby:

[code]

RBX (`rubinius 2.5.8.c7 (2.1.0 9aa7833c 2015-07-24 3.5.1 JI) [x86_64-darwin14.4.0]`):

[code]

[2015-07-29 14:31] #3474 closed

[2015-07-29 17:00] #3458 closed

[2015-07-30 21:54] YorickPeterse commented on #2241
I can't reproduce this using the following:

[code]

Closing this as there's no other reliable way to reproduce this as far as I can tell. Feel free to re-open if the issue still persists and there's a way for us to reproduce it.

[2015-07-30 21:54] #2241 closed

[2015-07-30 21:55] YorickPeterse commented on #2243
Closing this due to the lack of feedback or a way to reproduce this problem. If this issue still persists on the latest version of Rubinius feel free to re-open.

[2015-07-30 21:55] #2243 closed

[2015-07-30 21:57] YorickPeterse commented on #2765
Closing this due to the lack of further feedback and the repository that supposedly reproduces this problem no longer existing. Feel free to re-open if the issue still persists when using the latest version of Rubinius.

[2015-07-30 21:57] #2765 closed

[2015-07-30 21:59] YorickPeterse commented on #2963
Closing this due to lack of further feedback. Feel free to re-open if the issue still persists using the latest version of Rubinius.

[2015-07-30 21:59] #2963 closed

[2015-07-30 22:00] YorickPeterse commented on #2973
Closing this due to it apparently working again (as per above comment). If the issue still persists feel free to re-open.

[2015-07-30 22:00] #2973 closed

[2015-07-30 22:02] YorickPeterse commented on #3091
Closing this due to lack of further feedback. Feel free to re-open if the issue still persists when using the latest version of Rubinius.

[2015-07-30 22:02] #3091 closed

[2015-07-30 22:03] YorickPeterse commented on #3217
Closing this due to lack of further feedback. Feel free to re-open if the issue still persists when using the latest version of Rubinius.

[2015-07-30 22:03] #3217 closed

[2015-07-30 22:12] YorickPeterse commented on #2026
Closing this one in favour of #2711.

[2015-07-30 22:12] #2026 closed

[2015-07-30 22:14] YorickPeterse commented on #3422
Closing this in favour of #2711 which describes the same problem (only just now found it).

[2015-07-30 22:14] #3422 closed

[2015-08-01 08:19] lloeki opened #3478 "OpenSSL isn't available anymore to build against on OSX 10.11 El Capitan"
Therefore OpenSSL is now a third-party dependency, so this is how I built rbx:

[code]

`ruby-build` will probably [make things easier in the future](https://github.com/sstephenson/ruby-build/issues/797) and ruby-install may be unaffected (IIRC unconditionally uses brew anyway, but not sure), yet those using the source directly may be in for a surprise nonetheless.

[2015-08-01 10:59] YorickPeterse commented on #3478
Other than updating the installation guide (which is in https://github.com/rubinius/rubinius.github.io) I'm not sure what we can do regarding openssl no longer being installed by default.

[2015-08-01 11:10] lloeki commented on #3478
Nothing much, really :-) I'm just reporting this to save people time (it's very non-obvious especially since the libs are still there and the header locations are hard to find).

The only thing besides doc may be adding a `--with-openssl-dir=` to configure, making things slightly easier and incidentally identical to Ruby's one.

[2015-08-01 13:54] YorickPeterse commented on #3478
OK, in that case I'll be closing this issue. If you'd like to you can add a note about this to https://github.com/rubinius/rubinius.github.io/blob/master/doc/en/getting-started/requirements.markdown.

[2015-08-01 13:54] #3478 closed

[2015-08-01 18:08] digitalextremist opened #3480 "Detect earlier versions of LLVM present on the machine."
In the `configure` script, reverting to previous versions if they are present would save a whole lot of headache as people progress upward to newer operating systems.

For example, in `Ubuntu 15.04 x64` it uses `LLVM 3.6` and that prevents install of `Rubinius`, but if we were able to just install `LLVM 3.5` in parallel with the one latest, if this patch were made to detect the prior versions, we

[2015-08-03 03:29] brixen commented on #3478
@lloeki have you considered using our Homebrew binary so you don't have to worry about building?

[code]

If this option doesn't work well for you, I'd love to hear why so hopefully we can fix it. Ideally, people won't need to build from source.

[2015-08-03 13:52] lloeki commented on #3478
@brixen I confirm this works, yet it doesn't integrate well with rbenv. My rubies are in `~/.rbenv/versions`, this way `gem install` doesn't make a mess in `/usr/local/bin` (not the case of those rubinius binaries, but it is for brew's ruby), especially when multiple versions of ruby are side by side and you regularly hop between them.

[2015-08-03 15:53] brixen commented on #3478
@lloeki the Homebrew recipe works with chruby and it could work with rbenv. Would you be interested in doing a PR to have it copy stuff to the rbenv dirs if you have rbenv enabled?

[2015-08-03 15:54] jc00ke commented on #3478
Is it possible to pass options into `brew install`? Looks like we hardcode the path [here](https://github.com/rubinius/homebrew-apps/blob/54ef94bbea3b84f0e7e20a8cb2d9a3292b15cf92/rubinius-2.5.8.rb#L18)

[2015-08-03 16:23] brixen commented on #3478
@jc00ke we just need to handle the chruby and rbenv cases separately, no need to pass anything in. It can copy in for both chruby and rbenv, depending on which (or both) are present.

[2015-08-03 21:38] kwleland opened #3481 "Rubinius Web Site should have a "Companies Using Rubinius" Page"
Getting it up with one or two would encourage more companies to respond with their own case stories.
- just a reminder :)

[2015-08-03 21:40] brixen commented on #3481
@kwleland yes! :) The existing site is something of a mess and I have a very simple replacement using Bootstrap that I should be able to get up this week.

Thanks for the ping.

[2015-08-03 21:41] #3481 closed

[2015-08-05 23:16] makkrnic opened #3482 "Random crash report"
This has just failed and I have no idea why. It succeeded after I run it the next time immediately.
Unfortunately, I cannot reproduce the crash, but will update this issue if it happens again.

Here is my system info:

[code]

[code]

[2015-08-10 15:53] sshao opened #3483 "Wrong result from proxy'd method (using method_missing) after JIT"
Originally caught on rbx-1.8.7 + ActiveRecord, but reproducible on master without ActiveRecord:

[code]

[code]

I'm already working on this one.

[2015-08-14 03:15] digitalextremist commented on #3254
Right now `sidekiq` will `segfault` with `Rubinius` ( https://github.com/mperham/sidekiq/issues/2489 )

But otherwise, I have been doing all my latest `Celluloid` related work using `Rubinus` and would like to continue to. I will be doing deeper comparisons to `jRuby` in different types of operations, system configurations, etc.

[2015-08-14 12:25] crashtech opened #3484 "Compile failure with rvm and clang/clang++"
Log files for more information in [this gist.](https://gist.github.com/crashtech/04f217833346b97192b5).

I've tried to compile RBX using RVM but I always get the "clang: error: unknown argument: '-fstack-protector-strong'" error.

I tried with 2.5.2 and 2.4.1 versions both using llvm 3.4.2 version.

I've been searching on the Internet for a solution, and tried to Update de llvm version, but I can'

[2015-08-14 12:37] YorickPeterse commented on #3484
The latest version of Rubinius (2.5.8) should work fine with any LLVM version <= 3.5. If it's possible to compile without involving RVM that would be great, there have been numerous cases in the past where somehow the combination of RVM and Rubinius would mess things up.

If this CentOS happens to be Amazon Linux (which is based on CentOS) you can also grab binaries from http://rubinius.olery.com/

[2015-08-14 16:17] brixen commented on #3484
@crashtech can you, by chance, recommend a VBox image I can use to try to reproduce your issue?

[2015-08-14 22:47] crashtech commented on #3484
You could use the CentOS 7.0 Base.
Just update the VM, download RVM exactly the way the http://rvm.io/ says, and then try to install rbx-head.

Once you have the minimum VM installed:
[code]

[2015-08-18 16:09] tmornini opened #3485 "2.5.8 crashes running Rubocop"
`rubinius 2.5.8 (2.1.0 bef51ae3 2015-07-14 3.4 JI) [x86_64-linux-gnu]`

Side note: JRuby 1.7.21 and 9.0.0.0 both hang on rubocop 0.33.0 installation.

[code]

[2015-08-18 16:26] tmornini opened #3486 "2.5.8 fails rake's test suite"
[code]

[code]

[2015-08-20 08:13] headius commented on #3485
@tmornini I was unable to reproduce the hang you mentioned on JRuby. If it persists please file an issue and we'll work with you to fix it.

[2015-08-22 04:25] crashtech commented on #3484
For those who are having the same problem, I solved this issue this way:

 - Open the file "/usr/local/rvm/src/rbx-head/rakelib/blueprint.rb" from a different console.
 - Run the installation using the clang "rvm install rbx-head -C --cc=clang,--cxx=clang++"
 - During the configuration step, go aroud the line 230 of that file and add this commands:
[code]

After a lot of reading, I found out that

[2015-08-22 09:06] tmornini commented on #3485
@headius Just tried again, no luck. Very weird. I'll open a ticket on JRuby if I see it again.

[2015-08-22 13:28] ioquatix opened #3487 "Process.fork appears to be broken when used within Fiber."
With the following test case:

[code]

I get the following behaviour:

[code]

In the case of rbx, it appears that somehow the forked process resumes at the end of the fiber. Even after reading through the rubinius code it's not immediately obvious how this happens.

Thanks for all your hard work on Rubinius.

[2015-08-22 13:45] ioquatix commented on #2200
+1

[2015-08-23 05:08] brixen commented on #3487
I think the title of this issue may be misleading. Fork appears to work fine, but I'm guessing you expect `exit(2)` to immediately terminate the child process (which would seem like a reasonable thing to expect).

[2015-08-23 05:19] ioquatix commented on #3487
exit(2) by definition shouldn't exit the child process, it raises SystemExit. It's more concerning that Kernel::exit! doesn't, and also that somehow the process resumes execution out of the `Fiber#resume` call.

[2015-08-23 05:21] ioquatix commented on #3487
This might be considered slightly more shocking behaviour:

[code]

[2015-08-23 05:22] ioquatix commented on #3487
It doesn't make sense to me that the child process could somehow exit the `Fiber#resume` call and end up hitting `if pid == nil`. I simply can't comprehend how this is happening.

[2015-08-23 05:23] ioquatix commented on #3487
By the way dude, thanks for looking into this promptly :) I just wanted to support rbx with my gem `process-group`.

[2015-08-23 06:02] brixen commented on #3487
A couple possibly related commits: 2928b6dd49ac4f734d4dd3b11a437322b3909ecb, 14b60c279a90db2011c498e68a16537265645f16, 5cd5e885cebbb69b1f129413519fc3537f4e431a, e32baa3128ce0e807cb224ca614e2df099ae013f

The exit in the Fiber may not exit the thread the fiber is running on. This is just off the top of my head. I'll need to look into it.

[2015-08-23 10:05] ioquatix commented on #3487
Please feel free to use the specs in `process-group` they will give you a good idea if the issue is fixed or not. Although, I don't recommend you run it all because the child processes go nuts, just run one like the fork_spec.

[2015-08-24 18:10] benlovell commented on #3485
Likewise, seeing this on RBX 2.5.8 here https://travis-ci.org/roidrage/lograge/jobs/77021343

[2015-08-24 18:54] YorickPeterse opened #3488 "Enhance method/constant cache invalidation tracking"
Currently there's the VM option `ic.debug` that can be used to display when method/constant caches are being invalidated. There are a few problems with this option:
1. It controls printing of both method _and_ constant cache (well, global serial increases to be exact) invalidations.
2. Because it's set as a VM option there will be a lot of noise generated by code loaded during boot (e.g. RubyGems)

[2015-08-24 19:01] YorickPeterse commented on #3488
Another interesting feature would be the ability to run the tracer in the background using some sort of firehose like setup. That is, a block is invoked in the background every time a certain cache is busted. This would allow applications to log these events as they occur _without_ slowing down the application itself. Example mockup:

[code]

[2015-08-24 22:03] jemc commented on #3488
Something to keep in mind while designing is that I think we want to eventually break the Ruby-specific behaviors of constant and method caching out of the core VM (generic language platform), making those caching primitives generic enough to be useful to other languages.  These Ruby-specific behaviors (like integration with `method_missing` and `const_missing`) would be lifted to a higher layer,

[2015-08-25 11:54] YorickPeterse commented on #3488
@jemc This is largely already the case. There's `Rubinius.inc_global_serial` which is called in a bunch of places in the kernel code. In theory this tracer could hook into this method, but then it would only be invoked from within Ruby (and not any C++ code that might also increment the serial).

[2015-08-25 16:23] packrat386 commented on #3483
There's a way to reproduce both a good and a bad jit

https://gist.github.com/packrat386/705000a226a28cf2f223

[2015-08-25 21:46] YorickPeterse opened #3490 "VM event loop for dispatching events such as cache resets, object allocations and more"
Currently the VM has a bunch of places where based on a certain condition an extra "event" is triggered. For example, whenever `System::vm_inc_global_serial()` is called it will log whenever `-Xserial.debug` is set. Another example is the object allocation code emitting dtrace/systemtap events. A third example would be signal handlers. In almost all (if not all) cases this logic is hardcoded in th

[2015-08-27 17:40] bf4 opened #3491 "Arity not consistent on rbx vs. CRuby, JRuby"
e.g. https://travis-ci.org/rails-api/active_model_serializers/jobs/77546313 in https://github.com/rails-api/active_model_serializers/pull/1004 where

[code]

has an arity of 1 on CRuby and JRub and rbx

whereas

[code]

has an arity of -1 on CRuby and JRuby, but appears to have an arity of -2 on rbx

(note: details may be inexact as I haven't been able to install rbx on any of my machines for a lo

[2015-08-27 18:48] benlovell commented on #3491
[code]

[2015-08-27 19:03] benlovell commented on #3491
Oh, and JRuby

[code]

[2015-08-27 20:20] CpuID opened #3492 "Build failure on Alpine Linux (in Docker)"
Had to install LLVM/clang 3.5.1 (by building the older .apk packages in their aports repo) due to https://github.com/rubinius/rubinius/pull/3367 not being ready, but running on Alpine 3.2, getting the following:

[code]

Hopefully all of the required debug info is available above (including the clang++ command), let me know if you need anything else.

[2015-08-27 20:24] CpuID commented on #3492
Dockerfile to build rubinius:

[code]

Dockerfile to build llvm 3.5 (after built, mkdir package and start with 'docker run -v "$(pwd)/package:/packages" container_hash'):

[code]

[2015-08-27 21:14] jemc commented on #3492
For me, `LOCK_EX` is defined in `#include <sys/file.h>`, as suggested here: http://www.delorie.com/djgpp/doc/libc/libc_329.html

@CpuID - can you try adding `#include <sys/file.h>` to `vm/logger.cpp` and see if that fixes it?

[2015-08-27 22:09] CpuID commented on #3492
@jemc - sure, testing now.

[2015-08-27 22:22] CpuID commented on #3492
@jemc - thanks, a good start, got past vm/util/logger.cpp fine now. Did you want that #include in the wider distribution (I can PR if you want)? or should I just patch locally for now? or both?

Getting a different error though further down:

[code]

[2015-08-27 22:34] CpuID commented on #3492
@jemc I may have a solution to this one, based on the fact that version of sys/signal.h is distributed with musl on alpine - https://pkgs.alpinelinux.org/package/main/x86_64/musl-dev

[code]

Just testing a build now, will report back.

[2015-08-27 22:35] jemc commented on #3492
Let's patch it on `master` after we get past all the issues.  Thanks for working on this!

[2015-08-27 22:38] CpuID commented on #3492
Re patching on master, no probs. Will make sure any tweaks are noted here so everything can be covered off.

OK the patch above for signal.h get's me past the second issue. Now, the next one:

[code]

[2015-08-27 22:42] CpuID commented on #3492
The latest issue feels partially like this older issue: https://github.com/rubinius/rubinius/issues/318 - still reading further.

[2015-08-27 22:42] jemc commented on #3492
It looks like `mode_t` is supposed to be provided by `sys/stat.h`.

[2015-08-27 22:53] CpuID commented on #3492
Yep, seems like it:

[code]

Are we missing an include listing in rakelib/platform.rake for it somewhere...? Just trying to deduce where from the stack traces.

[2015-08-27 22:55] CpuID commented on #3492
So that latest issue is actually 2 or 3? different issues by the looks of it:

- [ ] Unable to resolve type 'mode_t'
- [ ] Unable to send 'isatty' on 'Rubinius::FFI::Platform::POSIX' (Module)
- [ ] exception detected at toplevel: undefined method `add_reader' on Rubinius (Module) (NoMethodError)
  - is this just related to the isatty issue? or separate?

[2015-08-27 23:02] CpuID commented on #3492
Actually, re mode_t my grep above was incorrect. It should really be in the format of type mode_t(args);

A new grep shows it's not there at all?

[code]

[2015-08-27 23:09] jemc commented on #3492
Why would it be in that format?  It's a type definition, not a function.

[2015-08-27 23:12] CpuID commented on #3492
yea I realised that in my comment above... sorry about that heh.

So, more grepping, compared to my glibc based Ubuntu machine:

[code]

vs Alpine:

[code]

[2015-08-27 23:18] jemc commented on #3492
I think you need to use the `musl-dev` package as a dependency of rubinius on alpine.
https://pkgs.alpinelinux.org/contents?filename=stat.h&path=%25%2Fsys&pkgname=&repo=all&arch=x86_64

[2015-08-27 23:21] jemc commented on #3492
We should probably add `sys/stat.h` as a dependency to our `configure` script here: https://github.com/rubinius/rubinius/blob/master/configure#L1315 so that it's obvious we can't proceed without it.

[2015-08-27 23:22] CpuID commented on #3492
I already had that installed, seems the typedef isn't in it though:

[code]

It's in that other alltypes.h file listed above...

[2015-08-27 23:29] jemc commented on #3492
it looks like `sys/stat.h` has an `#include <bits/alltypes.h>` on alpine, so it gets the `mode_t` from there.

[2015-08-27 23:31] CpuID commented on #3492
Interesting... yea ok.

FYI going to start a PR with all this stuff to make it easier btw... plus Travis tests :)

[2015-08-27 23:39] CpuID commented on #3492
Pretty sure your right, reading through this logic now - https://github.com/rubinius/rubinius/blob/master/library/ffi/generators/structures.rb#L85-L105

[2015-08-27 23:46] CpuID commented on #3492
Testing this now locally:

[code]

[2015-08-27 23:46] jemc commented on #3492
It looks like the scanning of headers for typedefs actually happens here:
https://github.com/rubinius/rubinius/blob/6d598c9970b60f4012307bdfbc3757bcb1cc254d/library/ffi/generators/types.rb#L73

Can you paste the `runtime/platform.conf` from your rubinius build directory, out of curiosity?  This is where the typedefs are supposed to end up.

[2015-08-27 23:47] CpuID commented on #3492
https://gist.github.com/CpuID/f4f56de8e50e20c5f6ed - note this is after adding in the patch from https://github.com/rubinius/rubinius/issues/3492#issuecomment-135585676

[2015-08-27 23:50] jemc commented on #3492
Hm, what happens if you add your `"bits/alltypes.h"` patch to here instead: https://github.com/rubinius/rubinius/blob/6d598c9970b60f4012307bdfbc3757bcb1cc254d/library/ffi/generators/types.rb#L52

[2015-08-27 23:52] CpuID commented on #3492
Testing now in generators/types.rb. Can confirm adding "bits/alltypes.h" to rakelib/platform.rake didn't yield the result I wanted.

[2015-08-27 23:57] CpuID commented on #3492
Tested the below, same failure :(

[code]

[2015-08-28 00:04] CpuID commented on #3492
FYI the commit that fixed https://github.com/rubinius/rubinius/issues/318 earlier is here - https://github.com/rubinius/rubinius/commit/4cbdcc305d38d30cb236876fb50ef740e10091f0

Feedback welcome, I'm a bit stumped right now... :)

[2015-08-28 00:16] CpuID commented on #3492
Just for kicks, in all places in rakelib/platform.rake that contain sys/stat.h, I added the same bits/alltypes.h include directly underneath. Still fails the same way.

[2015-08-31 13:19] dblock opened #3494 "Each iterator behaves differently on MRI 2.x and JRuby vs. rbx-2.5.8 when you modify an array during the iteration"
![each](https://cloud.githubusercontent.com/assets/542335/9579510/40eb61ac-4fc1-11e5-8184-a29e9b0769ea.gif)

[code]

[2015-08-31 13:22] YorickPeterse commented on #3494
Please try the latest version of Rubinius (2.5.8), 2.2.10 is well over a year old.

[2015-08-31 13:33] dblock commented on #3494
Same problem with 2.5.8.

[2015-08-31 13:47] benlovell commented on #3494
For a little context:

http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-core/23633

If you'll put aside the sad reflection that parts of our _official_ language specification are spread disparately across ages old issue tracker posts.

[2015-08-31 13:50] dblock commented on #3494
I do think iterators should reliably continue iterating where they left off without looking ahead, it's like a staircase, if someone adds a step when you're on the last step you can't jump off :) I am actually digging through rubinius code to see if I can fix this. No promises.

[2015-08-31 13:55] YorickPeterse commented on #3494
@dblock I'd start with making sure that the snippet is supposed to work on MRI. That is, if it's expected behaviour or just left up to the implementation. We've (apparently) rejected this in the past due to it being undefined: https://github.com/rubinius/rubinius/issues/547

[2015-08-31 14:23] dblock commented on #3494
Interestingly this behavior has changed on HEAD? This passes right now:

[code]

[2015-08-31 14:25] dblock commented on #3494
It used to work similarly to MRI, specs were removed in https://github.com/rubinius/rubinius/commit/406a6651c3331254302359089eb7df3d834bd4e0

[2015-08-31 16:01] brixen commented on #3494
Mutating collections while iterating them is unsupported.

[2015-08-31 16:01] #3494 closed

[2015-08-31 16:36] chrisseaton opened #3495 "In MRI, WeakRef is a subclass of Delegator, but in Rubinius it isn't"
`WeakRef` being a subclass of `Delegator` is described in the Ruby documentation and is also detectable at runtime with `.subclass` or modifications to `Delegator`.

I guess that this may be because Rubinius implements `WeakRef` in core, where `Delegator` is part of the standard library so not available at that point.

[2015-08-31 16:42] brixen commented on #3495
@chrisseaton is there some code that you've encountered that depends on WeakRef subclassing Delegator?

[2015-08-31 16:46] chrisseaton commented on #3495
No. I was going through the documentation for `WeakRef` thinking about codifying it into more specs and noticed this discrepancy.

[2015-09-01 18:05] kayakyakr opened #3496 "rbx 2.5.8 + celluloid (?) + rspec"
I'm getting a segfault with "invalid handle usage detected" when I'm trying to run tests. Will be chasing down the exact cause today, but I figured I'd open an issue here while I looked at narrowing it down.

The stack dump and the bundle list is here:
https://gist.github.com/kayakyakr/bce313661c3fc4bd6890

Peculiarly, it does not fail with an error if I only run a single file. Only errors on a fu

[2015-09-01 18:28] brixen commented on #3496
@kayakyakr do you know if it happens on 2.5.7, and is it possible for us to run your tests?

[2015-09-01 18:40] kayakyakr commented on #3496
I get a segfault on 2.5.7. Updated the gist to show the segfault.

I don't think you can run the tests. I'm going to narrow down what is causing the failures and see if I can recreate it in a clean project.

[2015-09-01 19:40] kayakyakr commented on #3496
It's definitely something to do with sucker punch/celluloid workers in the testing environment, but it seems to cause general instability instead of outright, repeatable crashes.

[2015-09-01 22:03] stakach commented on #3463
I'm also experiencing something similar - code runs fine on jruby and mri
Seems to occur in `Thread.new` see line: https://github.com/cotag/spider-gazelle/blob/master/spec/http1_spec.rb#L253

[code]

[2015-09-01 22:06] stakach commented on #3463
This error is very reproducible, occurs consistently when running the specs

[2015-09-01 22:10] jemc commented on #3463
@stakach - can you try running with `RBXOPT=-Xint` to see if running without the JIT solves it in your case?  I ask because I have seen similar `nil`s appearing where they don't belong, but only when the JIT kicks in for nearby methods.

[2015-09-01 23:36] YorickPeterse commented on #3463
@jemc @stakach The issue is not JIT related in this case (e.g. I tried using `-Xint` in the past). @brixen and I believe this is due to some allocation problems that @brixen is working on in the `stw` branch.

[2015-09-02 00:00] jemc commented on #3463
@YorickPeterse - maybe in *your* case it isn't JIT-related - but maybe @stakach's case is a distinct issue from yours that is more similar to mine, and is indeed JIT-related.

[2015-09-02 17:21] brixen commented on #3463
@stakach thanks for posting this issue. I've just [sent a PR](https://github.com/cotag/spider-gazelle/pull/23) to set Rubinius to allow_failures while we take a look at the issue. I'm pretty sure it's related to the allocation / GC work I'm doing now, but I'll look into it.

[2015-09-02 17:23] brixen commented on #3496
@kayakyakr can you elaborate on "general instability instead of outright, repeatable crashes"? If it appears to be Celluloid related, we could try making a Celluloid torture test that doesn't involve your app and looking at that.

[2015-09-02 17:30] kayakyakr commented on #3496
I'm actually leaning away from it being celluloid based now. A bunch of our tests (and some of our codebase) were written in terrible looping code and it seems like the instability is based in any of that code that is saving within one of those loops. I'm currently in the process of switching all of that over to batch saves, and the stability of the suite is shooting up rapidly.

Using Mongoid 4 a

[2015-09-02 17:35] brixen commented on #3496
@kayakyakr ah, this is interesting. What's the state of thread-safety in Mongoid these days? It's been a huge issue in the past.

[2015-09-02 17:37] kayakyakr commented on #3496
I'm not sure. None of this should be running in a secondary thread, though, now that we've changed a bunch of tests.

[2015-09-03 14:01] ashmoran opened #3497 "Rubinius won't compile in RVM on Yosemite (error in rake)"
Sorry if this is already documented, I went round in circles a few times until I figured out the LLVM 3.5/3.6 issue, but I can't find this problem anywhere. On OS X 10.10.5, RVM head ("rvm 1.26.11 (master)"), I get this compile failure:

    % rvm install rbx-head -C --llvm-config=/usr/local/opt/llvm35/bin/llvm-config-3.5
    rbx-head - #removing src/rbx-head - please wait
    Checking requirement

[2015-09-03 15:13] YorickPeterse commented on #3497
We can not help you with RVM specific problems. Instead either use something like chruby/ruby-install or compile from source.

[2015-09-03 15:13] #3497 closed

[2015-09-03 16:09] brixen commented on #3497
@ashmoran as was stated by @YorickPeterse, we don't develop RVM and cannot help you with errors. RVM has had so many breaking errors for years that we highly recommend people not use it. In your case above, it appears that `ruby_executable_hooks` is trying to execute a SHELL script as Ruby.

To avoid issues like RVM, we are trying to improve binary building. If you are on OS X, we have a Homebrew

[2015-09-03 17:37] ashmoran commented on #3497
@YorickPeterse – sorry, I didn't release it was an RVM issue. It's something like a year or two since I wrote any real code so I'm not familiar with the current tools and Rubies and I didn't understand the error.

@brixen Thanks! I just did `rvm implode` and now have Rubinius 2.5.8 happily installed :-)

[2015-09-03 17:54] brixen commented on #3497
@ashmoran woot! `rvm implode` is my favorite RVM command! :)

[2015-09-04 06:53] majioa opened #3498 "`rubinius` has fall into cyclic method call loop, when calling `force_encoding`"
Hello.

It seems the `rubinius` has fall into cyclic method call loop, when calling `force_encoding` from within redefined `upcase` method of `String` class, because it calls `upcase` again inside of it, while original `mri` do not. So the part of stacktrace is shewn below:

    SystemStackError (SystemStackError)
         kernel/common/hash.rb:133:in `allocate'
         kernel/common/hash.rb:128:

[2015-09-04 07:24] bf4 opened #3499 "Segfault running rubocop against AMS on Rails 4.0/4.2"
- https://github.com/rails-api/active_model_serializers/pull/1106
  - https://travis-ci.org/rails-api/active_model_serializers/jobs/78695535
  - https://travis-ci.org/rails-api/active_model_serializers/jobs/78695537

[2015-09-04 07:33] YorickPeterse commented on #3498
The sole reason this works in MRI is because it does everything in C, bypassing whatever methods you redefined. We use `upcase` to determine what `Encoding` constant is mapped to a given string value (e.g. `Encoding::UTF_8` being mapped to "UTF-8").

There's currently no way around this, and I don't think we'll provide one any time soon. This particular problem can occur for any method we define i

[2015-09-04 07:33] #3498 closed

[2015-09-04 08:30] benlovell commented on #3499
Possible dupe of #3485

[2015-09-04 10:44] bf4 commented on #3499
@benlovell Thanks for looking up the issues, which I forgot to do :disappointed:

[2015-09-04 11:46] korobkov opened #3500 "rbx-2.5.8 crash with Postgres and SQLite"
I've such a rather strange crash (SIGSEGV) on rbx-2.5.8:

1) For one of my projects (https://travis-ci.org/korobkov/perth)
it fails only with Postgres (via `pg` gem): https://travis-ci.org/korobkov/perth/jobs/78735784
but works well with SQLite (via `sqlite3` gem): https://travis-ci.org/korobkov/perth/jobs/78735787

2) But for another my project (https://travis-ci.org/korobkov/fremantle)
it fails

[2015-09-04 19:58] mangas opened #3501 "ERROR: While executing gem ... (ArgumentError) method 'read_nonblock': given 3, expected 2"
$ which gem && gem install --backtrace bundler
/usr/bin/gem
ERROR:  While executing gem ... (ArgumentError)
    method 'read_nonblock': given 3, expected 2
	/home/user/rubies/rubinius/2.5.8/gems/gems/rubysl-openssl-2.3.0/lib/openssl/buffering.rb:182:in `read_nonblock'
	/home/user/rubies/rubinius/2.5.8/gems/gems/rubysl-net-protocol-2.0.1/lib/rubysl/net/protocol/protocol.rb:153:in `rbuf_fill'
	/home

[2015-09-04 23:29] mangas commented on #3501
This issue might reproducible by adding the following bash environment variables
[code]
and trying to install a gem
[code]

[2015-09-04 23:37] brixen commented on #3501
@mangas thanks for the help repro'ing this. After pulling down a fedora 22 vagrant image and building Rubinius, the issue does not manifest. After setting up the proxy you described, I can repro it:

[code]

I'll investigate.

[2015-09-05 00:13] brixen commented on #3501
When the proxy env vars are set, [this conditional](https://github.com/rubysl/rubysl-openssl/blob/2.0/ext/rubysl/openssl/ossl_ssl.c#L1420) is false and [this method call](https://github.com/rubysl/rubysl-openssl/blob/2.0/ext/rubysl/openssl/ossl_ssl.c#L1456) is made on an instance of `TCPSocket` whose `read_nonblock` method is defined in `IO (kernel/common/io.rb:1873)`

For MRI 2.2, `ri TCPSocket#r

[2015-09-05 00:22] brixen commented on #3501
MRI 2.2.2, at least, raises if you call `IO#read_nonblock` with 3 arguments, so either that code is a bug or in MRI, the call is not on an instance of IO (or TCPSocket). Changing the method call linked above to pass 2 arguments results in the gem installing with the proxy env vars set.

[2015-09-08 02:54] sethk commented on #3500
I'm seeing a very similar crash trace in my Rails app. It seems to be related to define_non_cyclic_method or autosave_association in active record. Trying to narrow it down…

[2015-09-09 20:01] majioa opened #3502 "Nanoseconds as zeroes in file modification time"
It seems that in `rubinius` nanosecond in modification time of a file are absent, I got the following part of log from `travis-ci`:

    000000000-Wed Sep  9 16:55:57 2015
    000000000-Wed Sep  9 16:55:57 2015

Here at the beginning 9 zeroes are nanoseconds of file modifications time. So I can use the time properly ....

[2015-09-09 20:47] jc00ke commented on #3502
[code]

rbx
[code]

mri
[code]

[2015-09-12 12:27] saizai opened #3503 "BigDecimal 1.2.7 fails to install on RBX 2.5.8 due to subst.h"
[code]

[2015-09-12 18:01] YorickPeterse commented on #3503
The bigdecimal Gem itself doesn't work on Rubinius due to it using functions/headers we don't have, see https://github.com/rubinius/rubinius/issues/3089 for more information. I'm closing this issue in favour of #3089.

[2015-09-12 18:01] #3503 closed

[2015-09-14 15:17] chrisseaton opened #3504 "_id2ref should raise RangeError rather than return nil for no object found"
Same issue as in JRuby https://github.com/jruby/jruby/issues/3324

[2015-09-14 18:28] chrisseaton opened #3505 "Rubinius doesn't implement ARGFClass#inplace_mode or #inplace_mode="
http://ruby-doc.org/core-1.9.3/ARGF.html#method-i-inplace_mode

[2015-09-14 21:08] alexdowad opened #3506 "Array#sample sometimes returns duplicate results (when # of sampled items is 1/4 or less of array size)"
From `ri Array.sample`:

[code]

When the number of sampled elements is 1/4 or less of the total array size, `rubinius/kernel/common/array.rb:1378-1390` attempts to use a faster method of selecting the random elements. Unfortunately, this faster code is buggy and can select the same element twice (or even more than twice).

The problem is that when it "spins" (tries selecting a new random element

[2015-09-15 06:03] franklinyu opened #3507 "Rubinious build fail on OS X 10.10.5"
I install with
[code]
and it gives [some error](http://pastebin.com/DFhz8bmZ).

Dump excerpts that I believe are important:
[code]

[2015-09-15 07:30] YorickPeterse commented on #3507
Your build configuration still seems to be using whatever system version of LLVM you have installed (note the error paths poiting to `/usr/local/opt/llvm` instead of `/usr/local/opt/llvm35`. It's likely you're not passing the options to `./configure` correctly. However, we can't help with RVM related problems, so please try compiling from source to see if that works.

[2015-09-16 15:58] #3507 closed

[2015-09-22 12:51] pedrorolo opened #3508 "Rubinius reported it was installed successfully, but RVM could not find proper installation,"
I am getting this with the current rvm version:

$ rvm install rbx
rbx-2.5.2 - #removing src/rbx-2.5.2.......
Searching for binary rubies, this might take some time.
No binary rubies available for: osx/10.10/x86_64/rbx-2.5.2.
Continuing with compilation. Please read 'rvm help mount' to get more information on binary rubies.
Checking requirements for osx.
Updating certificates in '/usr/local/etc/op

[2015-09-22 12:54] YorickPeterse commented on #3508
We can not help you with any RVM (or other version manager) related problems. Please try installing without RVM (e.g. by using Homebrew binaries or by building from source) to see if that works. When doing so make sure you're also using the latest version (2.5.8) instead of 2.5.2.

[2015-09-22 12:54] #3508 closed

[2015-09-23 15:48] YorickPeterse commented on #3490
Something I'd also really like to see is a system to track object allocations (per class) on a per method basis. This would allow one to profile a block of code and see which methods trigger the most object allocations. This information could then in turn be used to see what the impact of this would be on the garbage collector (and any stop-the-world events that might occur).

[2015-09-23 15:52] YorickPeterse commented on #3490
The rationale for the above is a case such as the following: you have code where you know lots of object allocations happen (because you wrote the code), but you want definitive proof it actually has some form of performance impact. Code creating millions of Strings is one thing, but if that results in a slowdown of N (where N is a significant amount) then it suddenly becomes a lot more interestin

[2015-09-23 18:23] YorickPeterse commented on #3055
Closing this since the agent now does track a whole slew of Rbx metrics.

[2015-09-23 18:23] #3055 closed

[2015-09-24 18:23] YorickPeterse opened #3509 "Statically allocating unmodified string literals"
Currently all strings, including literals, are allocated on the fly. For example, this will allocate a string for every iteration:

[code]

A more realistic example is the following:

[code]

Here every iteration would allocate a String for the Hash key, a Hash and whatever comes along with a Hash. In both cases (and many other real world scenarios) these Strings are not modified, or at least very

[2015-09-24 18:26] YorickPeterse commented on #3509
It's worth mentioning that this would _only_ apply to string *literals*. Dynamically created strings (e.g. those using string interpolation) would still be allocated every time.

[2015-09-24 18:28] YorickPeterse commented on #3509
Also, any statically allocated string would have to be marked as frozen. Code that depends on new object IDs for string literals will probably break. Bluntly put: that's not our problem.

[2015-09-24 18:32] YorickPeterse commented on #3509
Some more examples:

[code]

[2015-09-24 18:36] jemc commented on #3509
I don't think we have any mechanisms currently in place capable of the kind of static analysis you're talking about here.  There may be something we can do with the JIT, though - I'm not sure.

I think getting the static analysis would be a quite difficult and expansive project, but if done right would have many other performance optimization implications than just this narrow case.  Deep static a

[2015-09-24 18:45] YorickPeterse commented on #3509
Another thing to consider: dynamic method dispatching using `Object#send`. For example, if the compiler were to handle this the following could lead to nasty issues:

    obj = 'foo'
    obj.send(:downcase!)

As such a runtime check _might_ be easier to implement.

[2015-09-24 18:50] jemc commented on #3509
Right, there's lots of evil (pronounced `eval`) ways to mutate a string in Ruby, or make previously "safe" methods unsafe by redefining them, and accounting for all cases statically pretty much requires total static-analysis knowledge of all code that could be executed in the system, which is pretty impractical/impossible in Ruby.

So even if you have assumed "safe" methods or other "safe" constru

[2015-09-24 18:57] YorickPeterse commented on #3509
@jemc Yeah, `eval` & friends definitely make this hard to do statically. Doing this on runtime would more or less require re-writing of bytecode on the fly. Take for example this code:

[code]

The method `String#upcase!` _can_ check if it's operating on a static string and dup itself if so, but it can't replace the contents of `name` with this new string. Doing this in the JIT means having to com

[2015-09-24 19:09] YorickPeterse commented on #3509
Another option would be for strings to share their underlying byte arrays. Once a string would be modified it would copy the byte array and replace the old one with the copy. This would still require String allocations, but only at a portion of the current memory cost. This would also require a way to map string literals to pre-allocated byte arrays.

In theory this solution could be used to optim

[2015-09-24 19:14] jemc commented on #3509
I think a copy-on-write layer inside the core string implementation is definitely worth pursuing.

[2015-09-26 05:15] kachick commented on #3226
I have just tried this benchmark with 4eec62a07d6b3cbdfee3c4ce0b6e6a18498641a4. `Array#concat` looks faster than `Array#<<`.

[code]

[2015-09-26 05:19] jemc commented on #3226
@kachick - Good call.  There were some optimizations to `#concat` a few months ago, but this ticket wasn't noticed/closed.

[2015-09-26 05:19] #3226 closed

[2015-09-26 05:34] kachick commented on #3226
https://github.com/rubinius/rubinius/commits/4eec62a07d6b3cbdfee3c4ce0b6e6a18498641a4/vm/builtin/array.cpp
@jemc @brixen :clap:

[2015-09-28 14:53] tak1n commented on #3491
Send is defined here: https://github.com/rubinius/rubinius/blob/master/kernel/common/kernel.rb#L771

[code]

Not sure anymore how primitives work exactly and whether we can affect this through the primitive.

[2015-09-28 15:01] jemc commented on #3491
@tak1n Primitives are created through code generation, and you can find them in the C++ area of the source by searching for the corresponding "magic comment" which marks a C++ method declaration in a class header as a primitive for code generation.

For example, here is the "magic comment" for the `object_send` primitive:
https://github.com/rubinius/rubinius/blob/dbd33a6dadd407041fcafa6651986ae025

[2015-09-28 15:08] tak1n commented on #3491
Thx, for this refresher :)

[2015-09-28 18:12] YorickPeterse commented on #3491
Am I correct in understanding that rails-api apparently has some form of dependency on `Object#send` having an arity of -1? Or is this something only used in the test suite? Is there a way we can perhaps remove that dependency?

The reason MRI returns an arity of -1 is because it basically has the signature `send(*args)`, though it's defined in the C code. In Rubinius we instead have the signature

[2015-09-28 22:25] bf4 commented on #3491
@YorickPeterse I guess it's a philosophical question on some level.  If Rbx prefers to define send with a different arity, how do you think I should test that a class has the 'read_attribute_for_serialization' interface, since I'm not interested in behavior.  Is checking the arguments (arity) too strict, you think?  Or check >= 1 instead?

[2015-09-28 22:27] YorickPeterse commented on #3491
@bf4 Why does the test specifically test the arity of `send`? Can you not use a method of which the arity is consistent across implementations (e.g. a method specifically defined for the purpose of the test)?

[2015-09-28 22:30] bf4 commented on #3491
@YorickPeterse because that's how Rails defines it in [ActiveModel::Serialization](https://github.com/rails/rails/blob/4-2-stable/activemodel/lib/active_model/serialization.rb#L125-L141)

[code]

[2015-09-28 22:32] bf4 commented on #3491
BTW, here's the current implementation in [`ActiveModel::Serializer::Lint::Tests`](https://github.com/rails-api/active_model_serializers/blob/1f08865a10bb06648efc170768c8c9937d441f45/lib/active_model/serializer/lint.rb#L30-L48)

[code]

[2015-09-28 22:42] YorickPeterse commented on #3491
Can you not do something like the following?:

[code]

You can then add a similar test for the case where `read_attribute_for_serialization` delegates to something other than `Object#send`. In this particular case the actual arity value is irrelevant, as long as it matches the arity of the original method.

[2015-10-01 17:24] franklinyu commented on #3507
Thank you for your kind help. I have already found the solution to my problem at rvm/rvm#3513. Perhaps buggy RVM is to blame.

[2015-10-02 20:08] CpuID commented on #3492
@jemc would love any additional input you have on this one (things to try, etc) :)

[2015-10-03 16:40] saizai opened #3510 "Undefined method `tcp' on Socket"
https://github.com/net-ssh/net-ssh/blob/master/lib/net/ssh/transport/session.rb#L70 requires Socket.tcp.

This raises an error in rbx-2.5.8:

    kernel/delta/kernel.rb:78:in `tcp (method_missing)'

See https://github.com/net-ssh/net-ssh/issues/276

[2015-10-03 17:58] YorickPeterse commented on #3510
Please report standard library errors at the corresponding rubysl repository. I moved this over to https://github.com/rubysl/rubysl-socket/issues/11.

[2015-10-03 17:58] #3510 closed

[2015-10-03 21:59] scerelli opened #3511 "Trying to install rbx2.5.8 using rvm on el capitan without success"
I'm trying to install `rbx-2.5.8` using rvm on osx `10.11 el capitan` but i'm getting this error:

[code]

[2015-10-03 22:45] YorickPeterse commented on #3511
As the error states this means you're using an incompatible version of LLVM, most likely LLVM 3.6. Rubinius requires LLVM <= 3.5. Other than that we can't help with RVM specific problems.

[2015-10-03 22:45] #3511 closed

[2015-10-03 22:52] scerelli commented on #3511
UPDATE:

`brew install homebrew/versions/llvm35`
`rvm install rbx-2.5.8 --1.9  -- --llvm-config /usr/local/opt/llvm35/bin/llvm-config `

it's the same thing

[2015-10-03 22:56] YorickPeterse commented on #3511
As I already stated we can not help with RVM (or other version manager) related problems. Please try building from source instead. Should that fail please open a separate issue with the information as listed in the contributing guide (https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md#submitting-issues).

[2015-10-03 22:58] scerelli commented on #3511
OK, many thanks

[2015-10-04 03:40] brixen commented on #3511
@scerelli you can install Rubinius directly with Homebrew as follows:

[code]

Alternatively, if I recall correctly, RVM has a command to mount a directory instead of building from source, so you could fetch the Homebrew binary directly or tell RVM to mount the directory that the Homebrew package installs.

[2015-10-06 01:12] mwpastore opened #3513 "autoload chaining broken in 2.5.8 cf. MRI 2.1.7"
Consider a main script `main.rb` that autoloads `:Foo` from `foo_extended.rb`. `foo_extended.rb` in turn autoloads `:Foo` from `foo_base.rb` and subsequently reopens the class `Foo` to extend it. In MRI 2.1.7, `main.rb` can see the composite class `Foo`, but in rbx 2.5.8, `main.rb` can only see the definition of `Foo` from `foo_extended.rb`; the base class is neither loaded nor extended.
- Doing `

[2015-10-06 07:58] YorickPeterse commented on #3513
Can you provide said sample scripts so we can try this out?

[2015-10-06 08:25] mwpastore commented on #3513
Sure thing.

[code]

[code]

[code]

[2015-10-06 08:48] YorickPeterse commented on #3513
Confirmed this fails (as of 4eec62a0) with:

[code]

[2015-10-06 17:12] brixen commented on #3513
Here's the MRI ticket https://bugs.ruby-lang.org/issues/11570

Here's how I see this:

1. the main.rb script begins to run, defining an Autoload for `:Foo`
2. the code `Foo.new.bar` executes, with the first step being, essentially, `const_get :Foo`
3. the Autoload on `:Foo` triggers, which starts loading foo_extended.rb
4. in foo_extended.rb, another Autoload is defined for `:Foo`
5. then `class F

[2015-10-08 11:04] andre-richter commented on #3502
This also affects atime and ctime!
I dug a bit into it, and it is a bit more complex than it seems at first glance.
Currently, rbx does not seem to support nanosecond members of struct stat (which were introduced in linux 2.6).

Here's the MRI patch that introduced them:
https://github.com/ruby/ruby/commit/a070c4fbe3cff184d224d1abb8a3101e3c11fc48

[2015-10-08 13:44] andre-richter commented on #3502
Started implementing a fix:
https://github.com/rubinius/rubinius/compare/2.2...andre-richter:2.2

Works on my machine, but couldn't test for the other Unixes which have different struct stat layouts.
[code]

[code]
Not sure if there is more to do somewhere else. What about https://github.com/rubinius/rubinius/blob/master/rakelib/platform.rake#L135-L164 ?

Do we need the timespec structs providing

[2015-10-08 13:46] YorickPeterse commented on #3502
@andre-richter Yes, if it's possible we should expose these new fields in platform.rake as well.

[2015-10-08 21:40] martinvahi opened #3514 "v_2_5_8 Fails to Build on 64b Debian"
ts2@s8lm1:~/m_local/bin_p/Ruby/kompileerimine$ ls
    rubinius-2.5.8.tar.bz2
    ts2@s8lm1:~/m_local/bin_p/Ruby/kompileerimine$ bunzip2 ./rubinius-2.5.8.tar.bz2
    ts2@s8lm1:~/m_local/bin_p/Ruby/kompileerimine$ tar -xf ./rubinius-2.5.8.tar
    ts2@s8lm1:~/m_local/bin_p/Ruby/kompileerimine$ ls
    rubinius-2.5.8  rubinius-2.5.8.tar
    ts2@s8lm1:~/m_local/bin_p/Ruby/kompileerimine$ cd rubinius-2.5

[2015-10-08 22:27] jemc commented on #3514
It's actually failing to install the gems used to build rubinius - you haven't actually gotten to the rubinius build yet.  The important part here is: `/usr/bin/ld: cannot find -lruby`.

It looks like some part of your environment is broken for using the ruby you are building with (looks like `2.2.3` at `/opt/2dot7TiB_k8vaketas/ts2/mittevarundatav/_home/m_local/bin_p/Ruby/paigaldatult/v_2_2_3`).

[2015-10-09 12:18] martinvahi commented on #3514
Thank You for the anser.

However, I think that it is quite self-evident that people want to use the "standard ruby"([ruby-lang.org](https://www.ruby-lang.org) by compiling one's own version of it, which results a situation, where the various libraries that come with the "standard ruby" reside at some place other than the system global set of libraries. To keep things clean, none of the global set

[2015-10-09 12:29] YorickPeterse commented on #3514
@martinvahi Rubinius doesn't care where your Ruby is located in PATH, as long as the `ruby` executable _is_ in PATH and as long as any shared libraries & headers needed for building C extensions can be found. This is no different from installing anything else that depends on Ruby (e.g. a Gem).

If your Ruby headers and the likes are installed in a location that is not available by default to compi

[2015-10-09 13:16] martinvahi commented on #3514
Sounds good, except that generally when I use

    gem install gemname

then everything works just fine. :-)

[2015-10-09 13:39] jemc commented on #3514
Are you able to `gem install rubinius-melbourne`?

[2015-10-09 14:36] andre-richter commented on #3502
@YorickPeterse For now I surrender with the platform.rake stuff. Couldn't find a quick solution how to nest structs with FFI struct generators.

Will post a pull request for the rest, though. Also fixed File#utime which was related.

[2015-10-09 14:38] andre-richter commented on #3502
Maybe someone wants to check it on OSX beforehand.

[2015-10-09 14:42] YorickPeterse commented on #3502
@andre-richter Travis runs on OS X, so any obvious errors should pop up there.

[2015-10-10 19:36] tak1n opened #3517 "Making Nil, False and True frozen introduces spec failures"
This commit https://github.com/rubinius/rubinius/commit/f56eacf9a5f7587c08226df2816c173e3649c429 is making Nil, False and True to be frozen.

When running the 2.2 ci spec suite locally I get:

[code]

[2015-10-10 19:44] YorickPeterse commented on #3517
Looking at the specs (https://github.com/rubinius/rubinius/blob/c1f479d2b4ed707fbe942c64f1a63693fa338290/spec/ruby/core/kernel/taint_spec.rb#L27-L29) they literally test tainting these values. MRI seems to ignore `taint` when calling it on nil/true/false:

    true.taint # => true
    true.tainted? # => false

We can probably solve this by just adding a simple check, something like:

    if true =

[2015-10-10 21:50] YorickPeterse commented on #3293
When redoing the build system one feature I'd like to see is being able to reconfigure/recompile Rubinius _without_ manually having to call `configure` with all the options again. That is, whenver you run `./configure ....` all the options are saved in a file. Running something like `rake reconfigure` would just re-run the command. This can be useful when you have a lot of options set, e.g.:

   .

[2015-10-12 15:02] martinvahi commented on #3514
Well, thank You for Your answer, but unfortunately I had to switch from my previous Debian installation to "something else", which by chance happens to be [openSUSE](https://www.opensuse.org/) and I'm not able to run the tests to reproduce the symptoms of the flaw. However, I can offer You new symptoms under the same title :-D

    ts2@linux-0fiz:~/m_local/bin_p/Ruby/Rubinius/kompil$ ls -l -a

[2015-10-12 15:29] jemc commented on #3514
Recent versions of LLVM have a different API that we don't support ([yet](https://github.com/rubinius/rubinius/pull/3367)).  We hope to support the new API soon, but we're not there yet.

This is documented at http://rubini.us/doc/en/getting-started/requirements/ where it states that LLVM `<= 3.5` is required.  Please downgrade your LLVM and try again.

[2015-10-12 15:57] martinvahi commented on #3514
Thank You for the answer.

Since I can not run the tests to verify the absence of the symptoms that I reported at the start of this thread and given that the second set of symptoms would induce a feature request that would be too self-evident to be written down to an issue-tracker in the classical context, I say that despite the fact that the issues have NOT been resolved, the openness of the curr

[2015-10-12 15:57] #3514 closed

[2015-10-12 16:08] jemc commented on #3514
Note that we do have a [test suite that is run by Travis](https://travis-ci.org/rubinius/rubinius), so I'm not sure what the last part of your comment is about.

[2015-10-12 16:54] chuckremes commented on #3517
Solved by a2d76f56c3cec.

[2015-10-12 16:54] #3517 closed

[2015-10-14 09:58] andre-richter commented on #3293
Maybe I could help on this one, but I'd need more detailed instructions.
What is the rubinius-instructions gem supposed to do? Does it compute something, or will it be a container for pre-computed results?

[2015-10-14 19:51] chuckremes commented on #3264
The "nil/true/false" objects are frozen spec and implementation are done. There is also a side effect as mentioned by @tak1n above where methods can be added to those three objects *even though* they are frozen. That has also been implemented by  a2d76f so no need to work on those anymore.

[2015-10-14 23:24] maokomioko commented on #2806
Issue still persists with ruby-openssl 2.3.0 and rbx-2.5.8 or head.
Can someone please take a look at it?

[2015-10-15 03:07] jdinkel commented on #3086
I know this is old, but I got this same error and this thread led me to a fix.  On an Ubuntu 14.04 _OpenVZ container_ (so very stripped down), I did:

[code]

I'm not sure if every single line was necessary, but I had the error before and then it installed fine after.

[2015-10-16 10:24] tak1n commented on #3502
OS X specs are failing on travis ci for https://github.com/rubinius/rubinius/pull/3515

https://travis-ci.org/rubinius/rubinius/builds/85695115

[2015-10-16 11:09] andre-richter commented on #3502
Hmm, this will be hard to check for me since I don't have access to OSX atm.

In Travis the timespecs are found:
[code]

Therefore I suppose retrieving the usecs (https://github.com/rubinius/rubinius/commit/97b8fb37797c833ffb3f42fb4e3e71af07448468) should work on OSX.

Maybe there's something not working when setting them (https://github.com/rubinius/rubinius/commit/4de8eb50cf8b3eb7c888087295ed802

[2015-10-17 14:35] tak1n commented on #3208
https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md#version-managers

Also please try a newer rbx version, rbx 2.3.0 is pretty outdated.

[2015-10-17 14:35] #3208 closed

[2015-10-17 14:37] tak1n commented on #3484
Closing because of https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md#version-managers

[2015-10-17 18:48] #3484 closed

[2015-10-17 20:01] andre-richter commented on #3502
http://stackoverflow.com/a/18404059
Seems to be a limitation of HFS+, which has a one second granularity.

Where to go from here? Remove the millisecond checks by reverting the spec?

[2015-10-17 20:07] tak1n commented on #3502
Not sure if we can reliable support os x here.
Maybe don't add the struct members if we are on os x for now?

[2015-10-17 20:26] YorickPeterse commented on #3502
Since pretty much everybody on OS X will be using HFS/HFS+ I suppose the best solution is to not use the new struct members on OS X.

[2015-10-17 20:33] andre-richter commented on #3502
The structs are fine and supported by OSX. OSX just returns 0 for the usec part when calling `stat` since HFS(+) doesn't support it.
In this case, it's the new specs I wrote which don't comply with a OSX/HFS environment.

[2015-10-17 21:39] YorickPeterse commented on #3502
In that case we should be able to add a simple operating system guard like so:

[code]

[2015-10-17 21:57] chavafarfan commented on #3086
I don't know what the phusion/baseimage does but so far I have only been able to build a docker image with Rubinius using that image as a base as published by "catenthusiast <rahul@keeranoor.com>"

[2015-10-18 06:28] tak1n commented on #3502
Also we should look what MRI does in this case, if they return 0 we can just return 0 either and as @YorickPeterse said use a spec guard here.

[2015-10-19 15:33] waghanza opened #3519 "Corrupt package on building on latest debian"
Hi,

I'm trying to build a `rubinuis` binary on a fresh `debian 8` installation (inside a `Docker`).

I'm building from the last `stable` version, `2.5.8` and I have the following message :

[code]

This occurs after **linking shared-object zlib/zlib.so**.

Does anyone has successfully built latest `rubinuis` version ?

Thanks,

[2015-10-19 15:57] RoxasShadow opened #3520 "In rbx-2.5.8 String#freeze doesn't act in the same way of ruby-2.0.0"
[code]

[code]

If I'm not wrong about the behaviour of rubinius (once you create a frozen String, all the next equal ones will be referenced to the frozen one instead to create a new object) I think that this is a pity considering, for example, the effort that Rails' guys are putting in to reduce the number of object created during the lifetime of a rails application.

[2015-10-19 16:07] jemc commented on #3520
The difference here is that this behavior of `freeze` called on String literals is a syntax hack in MRI (and in JRuby, because [originally proposed](https://bugs.ruby-lang.org/issues/8992) by them).  In that link, the proposal was to replace the `"my string"f` syntax with `"my string".freeze`, but it still works like syntax rather than working like any other method call, which is one reason I don'

[2015-10-19 16:18] YorickPeterse commented on #3519
You need to set your locale to something UTF8 compatible, see #3389 and the issues mentioned there.

[2015-10-19 16:18] #3519 closed

[2015-10-19 19:04] RoxasShadow commented on #3520
I see, so it's something trickier than what expected.

I haven't JRuby installed on my machine so I can speak only for MRI: the trick doesn't seem working anymore after `String#freeze` has been overrode ([gist](https://gist.github.com/RoxasShadow/fbc4da5e3809a87497e9)).

[2015-10-19 19:10] jemc commented on #3520
You can even define `freeze` to call `super` here, and it has the same effect, further demonstrating the "magic" involved here:
[code]

[2015-10-19 19:38] headius commented on #3520
The mixin behavior @jemc shows probably qualifies as a bug. I would imagine MRI is only checking if String#freeze has been replaced, rather than checking if "string".freeze would call a different method.

[2015-10-19 19:56] jemc commented on #3520
@headius - well, in this case, it is indeed calling a different method - one that happens to call the original within.  What if I had defined it as:
[code]
Should the of the compiler at the `.freeze` call site have to know the difference between that definition and one that only calls `super`?  It's a slippery slope of static analysis.

I'd argue that this behavior is a reasonable optimization for

[2015-10-19 21:05] headius commented on #3520
"my string"f was also not intended to provide identity; it was always meant to just be a hint to the compiler that this string would be frozen-on-creation. An implementation can implement either "my string"f or "my string".freeze with or without identical objects at each site. MRI and JRuby currently implement it that way, but it's not part of the specification...in fact I mention that it is an op

[2015-10-19 21:46] jemc commented on #3520
Right, and my mixin example shows it routing through a custom overriden method (that happens to call `super`), so by your explanation and my thinking, it makes sense that the optimization would be invalidated as you describe.  So, not a bug, right?

As for the rest of comment, I'm glad we agree that this should be seen as an implementation detail rather than a specified behavior, and hearing that

[2015-10-19 21:51] RoxasShadow commented on #3520
Considering what's been said, I agree, this issue can be closed. Thanks!

[2015-10-19 21:56] #3520 closed

[2015-10-19 22:10] headius commented on #3520
@jemc Sorry, I read your comment wrong; I thought that the mixed-in case was still doing the optimization. Since it does not, I agree there's no bug there. Only the case where "my string".freeze calls the standard, built-in String#freeze should the optimization apply.

[2015-10-19 22:14] jemc commented on #3520
@headius :+1:

[2015-10-21 16:45] jdinkel commented on #3086
@chavafarfan Did you make sure you have rubinius dependencies installed?  You must already have an MRI ruby installed, with bundler gem, and a few extras from apt:

[code]

That will work on Ubuntu (assuming you have rbenv set up, which is pretty easy, or just do `sudo apt-get install ruby`).  Those command must be run on any Ubuntu install, but I needed the additional command from my previous pos

[2015-10-23 22:45] pboling commented on #3485
Seeing a SIGSEGV running Rubocop on 2.5.8.  Same repo working with older 2.2.10 in same travis build:
https://travis-ci.org/intridea/hashie/jobs/87126634

[2015-10-27 07:36] glebm opened #3522 "Bizzare block argument de-structuring issue on 2.5.8"
I am hitting a bizzare de-structuring issue.

When doing a de-structuring like this one:

[code]

`fst` is `{}`, and `snd` is `nil`!

However, when trying to reproduce it with a simple test-case, I couldn't, but it can be reproduced within a complex program. Steps to reproduce:

[code]

* [The line with the de-structuring](https://github.com/glebm/i18n-tasks/blob/f7137be6a8ce47838dd33a101364cdc0f1

[2015-10-27 18:40] dblock commented on #3497
I opened https://github.com/rvm/rvm/issues/3542.

[2015-10-29 13:39] JoseExposito opened #3523 "Run Rails application only with precompiled files"
Hi all,

Following this guide (http://rubini.us/2011/03/17/running-ruby-with-no-ruby/) I managed to execute simple Ruby scripts by running the generated rbc files.

I'd like to do the same with my Rails application to be able to distribute it without distributing the source code. I compiled it with:
[code]

But, after trying a lot of things, I'm not able to run it.

Is it possible to run a Rails a

[2015-10-29 14:33] jc00ke commented on #3523
As of now, no, it's not effectively possible. The "Caveats" section in that post should be heeded with respect to compiled files.

There are plans to introduce the ability to precompile apps to a binary format, but the work has not started quite yet.

[2015-10-29 14:33] #3523 closed

[2015-10-29 14:52] JoseExposito commented on #3523
OK, thank you very much @jc00ke :)

[2015-10-29 16:51] brixen commented on #3523
@JoseExposito the work is actually started on this branch https://github.com/rubinius/rubinius/tree/codedb. Planning to get back to it soon.

[2015-10-30 16:54] jurajpaulo commented on #2867
Any news on the ARM front?

[2015-10-30 17:13] jemc commented on #2867
@jurajpaulo work on MCJIT support is ongoing at https://github.com/rubinius/rubinius/pull/3367

The rest of the ARM work will likely follow after that part is working.

[2015-10-31 16:09] burningTyger commented on #2867
Out of curiosity, would it be reasonably fast compared to JRuby? I'm running an app on a RaspberryPi and MRI is doing ok. JRuby is terribly slow. Can't tell why, probably caused by the JVM? I'm trying to squeeze a liitle more speed out of my box.

[2015-10-31 16:28] YorickPeterse commented on #2867
@burningTyger Without a working implementation of MCJIT that's impossible to tell.

[2015-11-12 18:45] washu commented on #3496
Brixen
Time#plus_without_duration
that old friend again .. could this possibly lead to a jit issue?

[2015-11-12 21:19] YorickPeterse commented on #3496
@washu What specifically are you talking about?

[2015-11-12 21:22] washu commented on #3496
Time#plus_duration ends up getting nil somewhere in the jit in a threaded condition .. all runs back to activesupport timezone code getting jit'd in the case i was examining with brixen.
He has my full dumps of when it happened to me. around feb of this year.

[2015-11-13 00:54] Grace commented on #3501
I had the same problem. @brixen I will try to fix it with your suggestion.

     rbx gem install bundler
     ERROR:  While executing gem ... (ArgumentError)
         method 'read_nonblock': given 3, expected

[2015-11-15 20:22] headius commented on #2867
@burningTyger I have run JRuby on ARM and it was always much faster than MRI. Not sure what runtime you're using, but the perf ratio for me was about the same as on a desktop machine.

Please file a bug. JRuby should definitely not be slower than MRI, even on ARM.

[2015-11-15 20:25] burningTyger commented on #2867
@headius thank you for your answer. I was just test running the different Rubies on my RasPi 2. It is running on all cores but still a bit slow. I will open an issue on JRuby.

[2015-11-23 22:32] dblock commented on #3485
This is still quite annoying. We all know it's not a bug in RuboCop, but now people are saying we should take RuboCop out of the build, or we have to do unnatural things like https://github.com/ruby-grape/grape/pull/1209.

[2015-11-23 22:44] YorickPeterse commented on #3485
@dblock Any patches/information/scripts that easily reproduce the problem/etc are more than welcome, comments such as "+1" or "problem still exists" aren't going to resolve the problem.

[2015-11-23 22:50] dblock commented on #3485
I spent two hours trying to narrow this down at no avail :( It also stops happening if you run rubocop enough times.

[2015-12-01 02:36] philipmw opened #3527 "Marshaling difference between Rubinius and other Rubies"
A marshalled custom object fails to unmarshal on Rubinius 2.5.8, but it works on JRuby and MRI Ruby.

Minimal test case is here: https://github.com/philipmw/rubinius-issue-3527. Please refer to the README in that project.

An excerpt from that README:

 A _Promise_ object wraps an _InnerClass_ object and delegates all unrecognized method calls to it.  _Promise_ inherits from _BasicObject_, so it's