[2015-12-01 16:12] brauliobo opened #3528 "Cannot create method `total` on a Array subclass"
The following code works on MRI and crashes on Rubinius
[code]

The backtrace:
[code]

[2015-12-01 16:21] YorickPeterse commented on #3528
Rubinius uses `@total` as an instance variable itself for storing the size of an Array, you should not overwrite this when sub-classing Array. The only reason this works on MRI is because it stores all internal state outside of Ruby.

[2015-12-01 16:21] #3528 closed

[2015-12-01 16:26] YorickPeterse commented on #3528
As an extra note, when overwriting `initialize` you'll have to make sure to properly call the parent `initialize` method, otherwise the internal state of the Array won't be set up properly.

[2015-12-01 16:31] brauliobo commented on #3528
Ok @YorickPeterse, thanks for this, maybe rubinius should use a prefix like `@_` for its internal variables?

Thanks for remembering me about the `super` call.

[2015-12-01 16:38] jc00ke commented on #3528
Using `@_` style variable names doesn't solve the problem, as you could just as easily overwrite that as well in your inherited class, and we're back to the same thing. In the past we've recommended composing the `Array`, not subclassing from it. Then you'll get your `#total` accessor and not break the underlying code.

[2015-12-01 17:10] brauliobo opened #3529 "OpenStruct do not respond to `[]`"
The following works on MRI and not on Rubinius:
[code]

[2015-12-01 17:59] brixen commented on #3529
Thanks for reporting that, @brauliobo. The code for OpenStruct is in Ruby and is copied from MRI (see https://github.com/rubysl/rubysl-ostruct/blob/2.0/lib/rubysl/ostruct/ostruct.rb).

Would you have time to dig in and look at adding that method? We may need to update the code to a more recent version of MRI.

[2015-12-01 18:11] jc00ke commented on #3529
@brixen `#[]` exists already, [doesn't it](https://github.com/rubysl/rubysl-ostruct/blob/33e8f5db5e680de894ad059a527ede9b335a0453/lib/rubysl/ostruct/ostruct.rb#L195-L197)? Or is it somehow hitting that branch in `#method_missing`?

[2015-12-01 18:16] rideliner commented on #3529
It exists in the repository, but it is not in the gem.

[2015-12-01 18:49] brixen commented on #3529
Just pushed https://github.com/rubysl/rubysl-ostruct/releases/tag/v2.1.0. The example above works.

You can use this with your current Rubinius version but it takes a couple extra steps at the moment:

[code]

[2015-12-01 18:49] brixen commented on #3529
@brauliobo try the steps above and let us know if you have further issues.

[2015-12-01 18:49] #3529 closed

[2015-12-01 23:00] brauliobo commented on #3529
it works @brixen, thanks!

[2015-12-02 06:14] brixen commented on #3529
@brauliobo awesome, thanks again for reporting it.

[2015-12-03 05:54] mwpastore opened #3530 "Process abort under heavy concurrency"
I'm running into the following error dump in RBX 2.5.8 running a simple Sinatra/Sequel application on Puma under high concurrency (eight workers, 32 threads per worker, 256 threads total):

[code]

The last error repeats ad infinitum, presumably because one cluster worker went haywire and requests dispatched to it are not being handled correctly.

Dropping down to seven workers at 32 threads each

[2015-12-03 10:22] YorickPeterse commented on #3530
Is it possible to provide a script or sample application that reproduces this problem? Without one there's sadly not much we can do.

[2015-12-03 19:42] mwpastore commented on #3530
Yes, but it may require some patience.

### Setup

1. Install Vagrant and VirtualBox on your local machine
1. Clone [my fork](https://github.com/mwpastore/FrameworkBenchmarks.git) of FrameworkBenchmarks
1. `cd` into the newly-created directory
1. Run `git checkout sinatra-sequel-rbx` to switch to my WIP branch
1. `cd` into `deployment/vagrant-development`
1. Run `vagrant up` to fire up the Virtual

[2015-12-03 19:54] YorickPeterse commented on #3530
What are the steps needed to run all this without Vagrant/RVM/etc? Can we just clone said fork and run things directly?

[2015-12-03 19:56] mwpastore commented on #3530
We could potentially extract the MySQL tables out of the instance and put together our own setup scripts and load runner that don't depend on the TFB infrastructure. I can work on something but I can't guarantee it will be any easier than the above. -_-

[2015-12-03 21:56] YorickPeterse commented on #3530
Ah, I wasn't aware this also involved a database. Either way, thanks a ton for the instructions so far. I wouldn't be surprised if this is caused by the same problem as described in #3465. @brixen started working on fixing that a while ago but I'm not sure what the current state of affairs is.

[2015-12-04 05:00] brixen commented on #3530
@mwpastore that issue you see is one of the things I'm fixing on the stw branch. I'm pretty close to done but there is some remaining bug that is causing a corrupt object either before or during a GC run that I still need to track down.

BTW, I haven't dug into your setup at all but FWIW, I've seen good results in production using separate Puma instances with threads behind nginx and not using the

[2015-12-04 05:27] mwpastore commented on #3530
That makes complete sense! I'll play around with it. Thank you for all your hard work; looking forward to seeing the fix. I'll close this issue for now.

[2015-12-04 05:47] mwpastore commented on #3530
@brixen Interestingly, running the same benchmark with cluster mode disabled and 256 threads doesn't exhibit the crash detailed in this IR nor the weird data issue I was seeing elsewhere. If you need a guinea pig for the fix you're working on, this might be a good test case!

[2015-12-04 09:21] YorickPeterse commented on #3530
Lets keep this one open until the problem is actually resolved on rbx' side.

[2015-12-04 17:38] brixen commented on #3530
@mwpastore yeah, I'll definitely run your repro when I finish stw. The reason why you sometimes see it and sometimes don't is that the existing bug appears at a very tiny slice of time. Things need to line up just right. In other words, the best ever kind of bugs. :)

[2015-12-04 21:37] eerohele commented on #3197
Can't reproduce with Rubinius 2.5.8 on El Capitan. I'll close this one.

[2015-12-04 21:37] #3197 closed

[2015-12-06 16:28] chrisseaton opened #3531 "Fasta benchmark doesn't seem to make any progress"
This benchmark runs in about a second on other implementations of Ruby, but I can't see any evidence of it making progress at all on Rubinius 2.5.8, even if I let it run for hours. If I reduce the size of the constant (`100_000_000` to `100`) it does, so it may be not broken, it's just tens of thousands of times slower than MRI with this large parameter.

[code]

Ping @nirvdrum who added this benc

[2015-12-06 20:15] rideliner commented on #3531
The bottleneck seems to be at `s[x,60]`.

[2015-12-06 20:25] YorickPeterse commented on #3531
@rideliner What is that suspicion based on?

[2015-12-06 20:29] rideliner commented on #3531
Replacing `0.step(s.length-1,60) {|x| output << s[x,60]; output << "\n"}`
with `0.step(s.length-1,60) {|x| output << (' ' * 60); output << "\n"}`
significantly reduces the time taken.

[2015-12-06 20:36] YorickPeterse commented on #3531
@rideliner aren't the two lines doing vastly different things? Maybe I'm misreading the code (it's a bit confusing), but in one case it's slicing a string while in the other case it's creating a string containing 60 spaces.

[2015-12-06 20:41] rideliner commented on #3531
Yes, they are very different.
The first is repeatedly appending a 60 character slice of `s` to the output string.
The second is repeatedly creating an arbitrary 60 character string and appending it to the output string.

I've been running the first for the last half hour without any change.
The second finished instantly.

[2015-12-09 10:19] ahmadsherif commented on #3531
Encoding `ALU` to ASCII makes it work. By doing a quick profiling, `utf8_find_character_byte_index` in vm/util/utf8.c seems to be the culprit.

[2015-12-10 16:40] kognate opened #3532 "2.2.10 fails to build on MacOS 10.10.5"
When building I get an error about a `this` pointer that cannot be null.

`error: 'this' pointer cannot be null in well-defined C++ code; pointer may be assumed to always convert to true [-Werror,-Wundefined-bool-conversion]`

[code]

Removing the `this` allows the build to complete and tests run.

c++ is

[code]

This error showed up in both `rbenv install` and source install.    I've patched it

[2015-12-10 16:51] jc00ke commented on #3532
Do you get any errors when building from source? That version is super old.

On Thu, Dec 10, 2015, 08:40 Joshua Smith <notifications@github.com> wrote:

[2015-12-10 16:55] YorickPeterse commented on #3532
Please upgrade to the latest version, said problem has been fixed since v2.6 (50aa7356e3c750fadb6665508e66d2f6923c7529).

[2015-12-10 16:55] #3532 closed

[2015-12-11 15:56] lucianolev opened #3533 "Compilation fails in Ubuntu 15.10"
After trying to build Rubinius 2.5.8, compilation fails with the following trace:

[code]

I'm using llvm-3.5 from Ubuntu distribution (also tried 3.4 without success)

[2015-12-11 15:58] YorickPeterse commented on #3533
We can't help with version managers as we have no control over what they might do to the build/compilation process. Please try building from source to see if that works. If LLVM 3.6 also happens to be installed make sure to pass `--llvm-config PATH` to `./configure` with PATH being the path to `llvm-config` for LLVM 3.5.

[2015-12-11 16:07] lucianolev commented on #3533
I'm building from source, not using any version manager. I'm just follwing this instructions:
http://rubini.us/doc/en/getting-started/building/

I've done:
$ ./configure --debug-build --llvm-config=/usr/bin/llvm-config-3.5
$ rake

and it's failing with that trace.

[2015-12-11 16:54] YorickPeterse commented on #3533
Your backtraces seem to indicate you're using rbenv. Please provide the contents of `configure.log` and `config.rb` (as stated in https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md#submitting-issues), this might shed more light on the problem.

[2015-12-11 17:18] lucianolev commented on #3533
Oh, I see now why you conclude that. I was using rbenv but compilation also failed, so I decided to compile by hand. For the rbenv to later find my rubinius installation, I decided to do the procedure inside the "versions" dir of rbenv, that's why that path appears in the trace. But that is a clean copy of rubinius cloned from git.

This is config.rb: https://gist.github.com/lucianolev/f548459c20e

[2015-12-11 20:55] brixen commented on #3533
@lucianolev I haven't been able to repro this using a 15.10 base image with docker and the same version of llvm. Could you try building in a vanilla VM? Also, I should be able to build a binary for you, or you could try running one from this list: http://binaries.rubini.us/index.txt. The 14.04 binary for 2.5.8 should work, I think.

[2015-12-12 20:23] lucianolev commented on #3533
@brixen That's strange. My Ubuntu 15.10 installation is almost vanilla. The 14.04 binary seems to be working, thanks :)
Regarding your question, do you mean trying to install an Ubuntu image in a VM and try again? It's quite a hassle for me (I don't have even a VM-software installed) but I'll try to do it in the following days.
I can give you more information about my system:
- It's x86_64
- I did

[2015-12-13 03:41] #3149 closed

[2015-12-13 17:35] brixen commented on #3533
@lucianolev most likely, installing llvm 3.6 left something on your system, or there is some artifact in the Rubinius source tree that isn't getting rebuilt correctly with the 3.5 headers and libs. The issue you referenced is also related to trying to install with llvm 3.6, as far as I can tell.

As for testing the build in a vanilla env, you could use docker something like this:

[code]

I'm writ

[2015-12-13 17:35] #3533 closed

[2015-12-18 13:42] YorickPeterse opened #3535 "clang 3.7: shifting a negative signed value is undefined"
Triggered by running `rake vm:test` on the current master branch:

[code]

[2015-12-19 16:28] saizai opened #3536 "CVE-2015-7551 / CVE-2009-5147"
Ruby core was just updated (e.g. 2.2.4) to address these CVEs. Do they apply to Rubinius?

[2015-12-19 16:56] YorickPeterse commented on #3536
We don't support Fiddle so that doesn't apply. We do have rubysl-dl, which will have to be updated I suspect.

[2015-12-19 16:58] YorickPeterse commented on #3536
Reading up on the issue it seems to affect the Fiddle/FFI version of DL, while we have a C extension instead (probably from prior to DL switching to Fiddle/FFI). I'm not sure if this extension is also affected.

[2015-12-20 15:59] heftig opened #3537 "2.7 is missing gems"
The following gems were in 2.6 and are missing in 2.7:
[code]
At least `jmespath` is preventing the build.
[code]

[2015-12-20 16:23] brixen commented on #3537
@heftig sorry, it's a bit messy right now as I try getting the deploy automated. I'd suggest not watching the tag, but wait until there's actually a tarball. The tag is a candidate release, but until it is "deployed" (ie there is a tarball available), the process isn't complete.

Since there is an entire process that needs to run and some of it has inherent races (ie we can't schedule when a Travi

[2015-12-20 16:23] #3537 closed

[2015-12-20 16:25] heftig commented on #3537
You mean the list at http://rubinius.com/downloads/ ? Alright.

[2015-12-20 16:32] brixen commented on #3537
@heftig no, the first is right, it should redirect to http://rubinius-releases-rubinius-com.s3-us-west-2.amazonaws.com. Also, you'll want to update to http://releases.rubinius.com.

Unfortunately, as I said above, we need a better signaling mechanism because even building the release tar is subject to the races I mentioned. I think this week it will probably be reliable to check that the tarball i

[2015-12-20 16:34] heftig commented on #3537
I can't tell you what kind of signalling Travis supports, sorry.

[2015-12-20 17:35] brixen commented on #3537
@heftig it's not what kind Travis supports but what we choose. For instance, I can have a webhook that gets a payload when the tag is pushed and polls until all the expected artifacts are available and then updates the website.

But, maybe it's enough to just use the tarball. If the tarball is there, that's sufficient. If there's an issue, we'll just release again, since all it takes is pushing a

[2015-12-20 17:37] heftig commented on #3537
If you don't mind version proliferation, that's fine.

[2015-12-20 17:38] adaedra opened #3538 "`Method#parameters` fail with kwargs"
Hello,

Problem:
`Method#parameters` outputs wrong on a method with defined kwargs.

Code sample:

[code]

Ruby output

[code]

Rubinius output

[code]

Versions:

[code]

[2015-12-20 17:39] brixen commented on #3538
@adaedra are there specs for this behavior?

[2015-12-20 17:48] adaedra commented on #3538
There doesn't seem to be specs relating to kwargs in `Method`.

[2015-12-21 00:49] brixen commented on #3537
@heftig I don't think it will proliferate releases independent of actually pushing out much finer-grained work. For instance, if the just-pushed 2.7 successfully deploys, it will contain the rubygems update to 2.5.1. That's all we need for a release. If there's anything we can do to help improve your automation around building binaries (besides making the dependencies to build *way* simpler), let

[2015-12-22 17:45] headius commented on #3538
I added a few basic specs here: https://github.com/ruby/rubyspec/commit/df59b1f0e5a86f97c95cd5087ec9ac7ec470c233

[2015-12-23 02:43] chanks opened #3539 "instance_eval doesn't work with Method#to_proc."
[code]

On MRI 2.2.3 this prints "#<Object:0x000000024a0a18>". On Rubinius it raises:

[code]

[2015-12-23 17:41] chanks commented on #3539
Forgot to say, this is on rbx 2.5.8.

[2015-12-23 17:49] chanks opened #3540 "Keyword arguments sometimes are ignored, sometimes segfault"
On rbx 2.5.8:

[code]

So the instance variable isn't set every once in a while. If I push the loop even further I get:

[code]

[2015-12-26 18:45] #3539 closed

[2015-12-26 20:28] janko-m opened #3544 "A block destructuring arguments bug"
I've found a weird bug with keyword arguments and parenthesized block parameters when using `each_with_object` or `inject`. The below code will return incorrect block variable values:

[code]

If I change `(key, value)` to be stored as just `element`, the code works. If I change the signature of this method to be an `options` hash, and in the next line use `options[:hash]`, it works. Executing the

[2015-12-26 20:30] janko-m commented on #3544
Since Rubinius 2.9 didn't come to ruby-build I couldn't test with the latest locally, but on Travis I set 2.9 and this bug is still there.

[2015-12-26 20:54] paddor opened #3545 "FFI::Function doesn't work as expected if called from another thread"
Can't spawn a Thread from within an FFI::Function if the FFI::Function is called from another thread.

See [this gist](https://gist.github.com/paddor/53e2820e49df04b3eec0).

[2015-12-26 22:13] mislav commented on #3478
As far as rbenv & ruby-build are concerned, I've just released a new ruby-build version that adds definitions for Rubinius 2.6 through 2.9 and transparently solves the Homebrew openssl linking issue https://github.com/rbenv/ruby-build/pull/857. If Homebrew openssl is not available, the latest version of OpenSSL will automatically be built for Mac. This is the same approach that we take for MRI ins

[2015-12-27 04:16] brixen commented on #3478
Thanks @mislav, that sounds awesome. :heart:

[2015-12-27 09:17] paddor opened #3546 "FFI::Function doesn't return break value"
Consider this C function:

[code]

And this Ruby code, which uses it via FFI:

[code]

All tests pass on Ruby 2.2.4 and JRuby 9.0.0.0. But on Rubinius, the marked test fails.

See [this gist](https://gist.github.com/paddor/31a5d0191b6f2a1db157) for all the files needed to reproduce the effect on Mac OSX, including a Makefile.

[2015-12-27 19:12] brixen commented on #3478
@mislav unsure if you have a policy about what versions you support in rbenv, but one note about this: I'd recommend only supporting the latest Rubinius release and possibly one prior (in case the release is borked). I'm happy to add an auto-PR to rbenv from our deploy process if you wish. Possibly even just adding a "latest" to rbenv that we can modify (similar to how our https://github.com/rubin

[2015-12-28 06:09] brixen commented on #965
@ghazel thanks for filing this issue. Apologies for letting it languish so long. There are multiple issues tied up here. Ultimately, Nokogiri is not suited for use with Rubinius because of severe issues with concurrency and the nature of the MRI C-API. As mentioned above, we advocate using Oga.

Regarding performance generally, in the near future we will introduce a number of new instructions to i

[2015-12-28 06:09] #965 closed

[2015-12-28 06:35] brixen commented on #2604
Closing this because the data being processed really does have multi-byte sequences and the correct encoding setting is UTF-8.

In Rubinius, nearly every IO method is implemented in Ruby and uses the encoding of the String. In MRI, most (or all) of the operations are in C and may be concatenating or splitting bytes without checking the encoding. Ultimately, the fix would likely be *ignoring* the c

[2015-12-28 06:35] #2604 closed

[2015-12-28 06:44] brixen commented on #2438
@jzakiya Thanks for your work on this. Since the primes-utils gem is available, people really wanting to use it have an easy avenue to do so.

If someone wants to open a PR for this so we can discuss specific code impact, feel free to do so.

[2015-12-28 06:44] #2438 closed

[2015-12-28 06:46] brixen commented on #2390
If someone wants to open a PR with a patch to make ObjectSpace faster, please feel free to do so. Otherwise, this issue isn't actionable.

[2015-12-28 06:46] #2390 closed

[2015-12-28 06:49] brixen commented on #2166
There are a number of IO related performance optimizations possible, but they should be approached with specific PRs. There is an ffi-io branch to replace the C++ primitives with FFI-based methods. That would be a good start.

[2015-12-28 06:49] #2166 closed

[2015-12-28 06:51] brixen commented on #2087
Rubinius currently supports Ruby 2.1 so closing this.

[2015-12-28 06:51] #2087 closed

[2015-12-28 06:53] brixen commented on #2078
There are a lot of possible optimizations that would be enabled by finishing the ffi-io branch work. Once that's in, we should revisit this with some very specific use cases.

[2015-12-28 06:53] #2078 closed

[2015-12-28 07:04] brixen commented on #1991
We're going to be removing the primitives, which should eliminate a lot of the `jit_stub_` function calls.

[2015-12-28 07:04] #1991 closed

[2015-12-28 07:06] brixen commented on #2044
EM is a problematic extension due to the MRI C-API and EM's approach to working around MRI's inability to utilize parallelism. If someone wants to send a PR with a fix for this, if it's actually a Rubinius, issue, please feel free to do so.

[2015-12-28 07:06] #2044 closed

[2015-12-28 07:09] brixen commented on #3086
There are a few issues here:

1. Running specs as root will have failures until the specs that shouldn't be run as root are guarded. Feel free to open a PR for that.
2. The correct LANG and LC_ALL need to be used.
3. We're working on removing Ruby as a build dependency.
4. We should be publishing an official Docker base that people can build from.

If anyone wants to work on these specific things,

[2015-12-28 07:09] #3086 closed

[2015-12-28 07:11] brixen commented on #1851
This may be possible in the future, but it's not a priority right now.

[2015-12-28 07:11] #1851 closed

[2015-12-28 07:16] brixen commented on #2866
If someone wants to send a PR to fix this issue, please feel free to do so.

[2015-12-28 07:16] #2866 closed

[2015-12-28 07:19] brixen commented on #2858
There have been a number of significant changes to GC operating parameters and diagnostic facilities added. If this is still an issue, please re-open with diagnostics logs and StatsD output for the process. If you need help getting that set up, please let me know.

[2015-12-28 07:19] #2858 closed

[2015-12-28 07:23] brixen commented on #2732
Setting the correct environment variables is necessary.

[2015-12-28 07:23] #2732 closed

[2015-12-28 07:29] brixen commented on #2872
FakeFS assumes that it can overwrite or manipulate essential Ruby classes and methods. This works on MRI because those are a very thin veneer on top of C functions. That's not the case in Rubinius, where the classes and methods are Ruby classes and methods.

Using MRI is a good option if FakeFS is needed.

[2015-12-28 07:29] #2872 closed

[2015-12-28 07:53] funny-falcon commented on #1851
You just killed the project.

[2015-12-28 08:08] YorickPeterse commented on #1851
@funny-falcon Feel free to reply with constructive comments. Merely stating we "killed" the project by focusing our time elsewhere is not going to help.

[2015-12-28 09:02] mislav commented on #3478
I get what you're coming from, but that goes against our versioning policy in ruby-build. We prefer to add a version using a specific release number (such as 2.9.0) and keep it that way basically forever. This also plays well with rbenv. If "latest" meant different versions at different times, it would be confusing to predict which actual version do you have installed and in use right now.

[2015-12-28 15:57] brixen commented on #1851
@funny-falcon it's not killed, but it's not possible to make progress on this right now. I'm working through two phases: 1. clean up old tickets (many of which are as old as 2011 or 2010 and haven't seen any activity by anyone for years); and 2. adding a set of milestones for things that are compatible for the direction Rubinius is evolving and add PRs to those that can actually be worked on.

It'

[2015-12-28 16:04] brixen commented on #3478
@mislav that's cool, I appreciate you explaining your policy on this.

The four items I listed are still relevant. Since it's your work, if the load is acceptable, it's all good. But the volume of Rubinius releases will be an order of magnitude higher (the version post and release post explain why). As I said, I'm happy to automatically send you a PR from our deploy process if that would help.

Fr

[2015-12-28 18:38] funny-falcon commented on #1851
excuse me for my emotional sentence.
I just feel, that high performance api is one of the most important thing (after fixing String slowness).
It is more important than CRuby API compatibility, imo. (and JRuby did it right way)
But, it just my opinion. Sorry for being noisy.

[2015-12-28 19:09] brixen commented on #1851
@funny-falcon I agree that functionality to support your needs is a high priority and I'm working to structure things so it gets the attention it needs. I also think a lot of your use cases could be better served *without* an external API. And those changes benefit everyone who uses Rubinius. Until you can experiment with those, you won't know whether they provide enough benefit for your case.

To

[2015-12-28 20:00] brixen commented on #1043
See https://github.com/rubinius/rubinius/pull/1099#issuecomment-167493615 and https://github.com/rubinius/rubinius/pull/1099#issuecomment-167628559.

[2015-12-28 20:00] #1043 closed

[2015-12-28 20:04] brixen commented on #3495
@chrisseaton thanks for reporting this. If we get code in the wild that is realistically dependent on WeakRef subclassing Delegator, we'll probably just have to pull Delegator into core. Until then, I'm not inclined to support bad programming practices (eg Delegator should be transparent to clients of WeakRef properly using the WeakRef API).

[2015-12-28 20:04] #3495 closed

[2015-12-28 21:48] #3506 closed

[2015-12-29 03:39] alexdowad commented on #3506
Thanks @brixen!

[2015-12-29 03:56] brixen commented on #3506
@alexdowad no problem! Thanks for catching it. It's hard to test random behavior, although, in this case we could perhaps use a non-random rng fixture object as the second argument.

[2015-12-29 04:00] #3446 closed

[2015-12-29 09:53] brauliobo opened #3547 "Random uncommon crash"
Happens infrequently on the test suite run. Not sure it is was already reported, sorry if it was.
[code]

[2015-12-29 10:19] YorickPeterse commented on #3547
The stacktrace seems to suggest you're using Rubinius 2.5.2, which is from January 2015. Is it possible to try the latest version?

[2015-12-29 13:37] mislav commented on #3478
That would be great. Also, some information which LLVM version is a specific release compatible with would also be great. We're kinda "requiring" LLVM 3.5 for rbx 2.5–2.10, but I'm pretty sure some of those releases would also be compatible with LLVM 3.6—only I'm not sure which ones exactly.

[2015-12-29 14:00] lloeki commented on #3478
To wit: a bad sort on my part led me to think I was installing the latest (2.5.something) rbx, when in fact I was trying and failing to install 2.2.10 or something. Entirely my fault, but I was stumped and even opened an issue upstream, losing everyone's time along with my own.

A simple notice (maybe triggered by some hypothetical "deprecate" function call inside the ruby-build file) when install

[2015-12-29 17:52] brixen commented on #3478
@mislav RE dependencies like LLVM version, I'm looking at building that into our configure / build script, so you could run eg `./build --deps` and it will list all the expected dependencies for that platform. Also, there's a hard break between LLVM 3.5 and 3.6 because in 3.6, they removed the JIT APIs we use. I'm not going to support both APIs so once 3.6+ support is in Rubinius, 3.5 won't be usa

[2015-12-29 19:19] brixen commented on #3547
@brauliobo please try https://github.com/rubinius/rubinius/releases/latest. There are 480 commits an master since 2.5.2 and there should no problem updating for you. There are a bunch of issues that have been fixed around threading.

[2015-12-29 21:29] sshao commented on #3544
I looked a little into this and haven't found a solution yet, but this might be independent of kwargs. I have a kwargs-less repro that I think is victim to the same bug:

[code]

[code]

[2015-12-30 03:40] brixen commented on #3544
This looks like it could be a bug in multi-assignment destructuring. Basically, in block arguments, nested parenthesized arguments are destructured like multiple assignment, eg `a, b = [x, y]; a == x; b == y`.

I don't see where @janko-m's code is actually passing a Hash or keyword arguments, so I think @sshao's alternate (or additional?) repro points at destructuring being the real bug.

Would ha

[2016-01-03 10:39] ioquatix commented on #3487
This appears to still be an issue :)

[2016-01-03 20:19] j-mcnally commented on #3492
I am also running into this problem, was curious if any progress was made on 3.0.

The good news is im only hitting

[code]

[2016-01-03 20:21] YorickPeterse commented on #3492
@j-mcnally I don't think anybody has done any work on Alpine Linux recently, so I doubt 3.0 changes anything.

[2016-01-04 00:12] YorickPeterse opened #3549 "Test issue please ignore"
Testing how many people I can mention in an issue, please ignore.

* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeterse
* [ ] @YorickPeter

[2016-01-04 00:13] YorickPeterse commented on #3549
OK well apparently it seems GitHub only applies a limit to unique usernames. Welp, we'll see how this goes.

[2016-01-04 00:13] #3549 closed

[2016-01-04 00:15] YorickPeterse opened #3550 "Changing license from BSD 3-clause to MPL 2.0"
We (Rubinius) would like to change the license from the [BSD 3-clause license](https://github.com/rubinius/rubinius/blob/6b35d17975333f3059913cc2ec4586df1cd07825/BSD_LICENSE) to the [MPL 2.0](https://github.com/rubinius/rubinius/blob/6b35d17975333f3059913cc2ec4586df1cd07825/LICENSE). Because the BSD license makes no mention of who owns the copyright to changes we're forced to request permission fr

[2016-01-04 00:15] YorickPeterse commented on #3550
First batch:

* [ ] @abyx
* [ ] @adamwiggins
* [ ] @Aesthetikx
* [ ] @aevernon
* [ ] @agardiner
* [ ] @agrimm
* [ ] @ahmadsherif
* [ ] @akshayrawat
* [ ] @alexdowad
* [ ] @alfonsocora
* [ ] @alindeman
* [ ] @alvaropereyra
* [ ] @AndrewVos
* [ ] @antekpiechnik
* [ ] @anthropomorphic
* [ ] @Antti
* [ ] @anupnivargi
* [ ] @aquasync
* [ ] @argent-smith
* [ ] @arthurgeek
* [ ] @arthurschreiber
* [ ] @a

[2016-01-04 00:16] YorickPeterse commented on #3550
Second batch:

* [ ] @carols10cents
* [ ] @carsonmcdonald
* [ ] @celsodantas
* [ ] @cezarsa
* [ ] @chad
* [ ] @charliesome
* [ ] @charlietanksley
* [ ] @chickenkiller
* [ ] @chrisseaton
* [ ] @chuckremes
* [ ] @cldwalker
* [ ] @clee
* [ ] @CodeGnome
* [ ] @ConradIrwin
* [ ] @cpettitt
* [ ] @crafterm
* [ ] @crayz
* [ ] @cremes
* [ ] @ctoneal
* [ ] @cyfdecyf
* [ ] @cyndis
* [ ] @cypher
* [ ] @czarne

[2016-01-04 00:16] YorickPeterse commented on #3550
* [ ] @evanphx
* [ ] @evtuhovich
* [ ] @fcheung
* [ ] @febuiles
* [ ] @flavio
* [ ] @fmfdias
* [ ] @franckverrot
* [ ] @frasca
* [ ] @FunkyFortune
* [ ] @fxn
* [ ] @gcapizzi
* [ ] @gensym
* [ ] @ghazel
* [ ] @Gibheer
* [ ] @gildo
* [ ] @godfat
* [ ] @goncalossilva
* [ ] @Gonzih
* [ ] @goyox86
* [ ] @gramos
* [ ] @grk
* [ ] @Groogy
* [ ] @guilleiguaran
* [ ] @gustavotemple
* [ ] @haines
* [ ] @halo

[2016-01-04 00:16] YorickPeterse commented on #3550
* [ ] @jc00ke
* [ ] @jcoglan
* [ ] @jcsherin
* [ ] @jdsiegel
* [ ] @jeffkreeftmeijer
* [ ] @jemc
* [ ] @jeremydurham
* [ ] @jeremyevans
* [ ] @jeremytregunna
* [ ] @jeremyz
* [ ] @jero5
* [ ] @jfirebaugh
* [ ] @jfredett
* [ ] @jgaskins
* [ ] @jgre
* [ ] @jimmycuadra
* [ ] @jish
* [ ] @jluxenberg
* [ ] @jmstacey
* [ ] @joevandyk
* [ ] @johnmuhl
* [ ] @jonforums
* [ ] @jonsmock
* [ ] @josh
* [ ] @js

[2016-01-04 00:17] YorickPeterse commented on #3550
* [ ] @lstoll
* [ ] @LTe
* [ ] @luislavena
* [ ] @mainej
* [ ] @malu
* [ ] @Mange
* [ ] @manveru
* [ ] @marcandre
* [ ] @marius
* [ ] @marnen
* [ ] @martinstannard
* [ ] @matthewd
* [ ] @mental
* [ ] @mernen
* [ ] @michaelklishin
* [ ] @mitchellh
* [ ] @mjackson
* [ ] @mkhl
* [ ] @mlangenberg
* [ ] @mlen
* [ ] @monkeylibre
* [ ] @mpalmer
* [ ] @mpapis
* [ ] @mthorn
* [ ] @mwunsch
* [ ] @nashby
* [

[2016-01-04 00:17] YorickPeterse commented on #3550
* [ ] @programble
* [ ] @pwnall
* [ ] @qmx
* [ ] @qqshfox
* [ ] @raggi
* [ ] @ragnard
* [ ] @razielgn
* [ ] @retnuh
* [ ] @rf-
* [ ] @rkh
* [ ] @rmg
* [ ] @rnicholson
* [ ] @robin850
* [ ] @roshats
* [ ] @r-stu31
* [ ] @rue
* [ ] @ruipserra
* [ ] @ryantm
* [ ] @ryoqun
* [ ] @santana
* [ ] @sbryant
* [ ] @schleyfox
* [ ] @schmidt
* [ ] @schmurfy
* [ ] @sdaubert
* [ ] @seanchas116
* [ ] @semmons99
*

[2016-01-04 00:17] YorickPeterse commented on #3550
* [ ] @tak1n
* [ ] @tamird
* [ ] @tarcieri
* [ ] @tchandy
* [ ] @technomancy
* [ ] @tenderlove
* [ ] @terceiro
* [ ] @thedarkone
* [ ] @timabdulla
* [ ] @tmm1
* [ ] @tokengeek
* [ ] @tonysidaway
* [ ] @troessner
* [ ] @tsion
* [ ] @txus
* [ ] @unleashed
* [ ] @utgarda
* [ ] @veganstraightedge
* [ ] @vic
* [ ] @vincentlu
* [ ] @vitaliy
* [ ] @vito
* [ ] @vjmp
* [ ] @vmg
* [ ] @voxik
* [ ] @vredniy

[2016-01-04 00:17] heftig commented on #3550
OK

[2016-01-04 00:18] chrisseaton commented on #3550
OK

[2016-01-04 00:18] jasonrclark commented on #3550
OK

[2016-01-04 00:18] henrikhodne commented on #3550
OK

[2016-01-04 00:18] tamird commented on #3550
OK

[2016-01-04 00:18] jeremytregunna commented on #3550
:+1:

[2016-01-04 00:18] musybite commented on #3550
OK

[2016-01-04 00:19] rf- commented on #3550
OK

[2016-01-04 00:19] mitchellh commented on #3550
OK

[2016-01-04 00:19] gcapizzi commented on #3550
Ok

[2016-01-04 00:19] justinweiss commented on #3550
OK

[2016-01-04 00:20] jfirebaugh commented on #3550
OK

[2016-01-04 00:20] joevandyk commented on #3550
Ok

[2016-01-04 00:20] clee commented on #3550
OK

On Sun, Jan 3, 2016 at 5:19 PM Mitchell Hashimoto <notifications@github.com>
wrote:

[2016-01-04 00:20] jaggederest commented on #3550
OK

[2016-01-04 00:21] justinmcp commented on #3550
OK

[2016-01-04 00:22] IPGlider commented on #3550
OK

[2016-01-04 00:23] programble commented on #3550
OK

[2016-01-04 00:23] tsion commented on #3550
OK

[2016-01-04 00:23] lexmag commented on #3550
OK

[2016-01-04 00:23] parndt commented on #3550
OK

[2016-01-04 00:24] luislavena commented on #3550
OK

[2016-01-04 00:24] ghazel commented on #3550
Ok

[2016-01-04 00:24] locks commented on #3550
OK

[2016-01-04 00:25] lgierth commented on #3550
OK

[2016-01-04 00:26] tmm1 commented on #3550
OK

[2016-01-04 00:26] practicingruby commented on #3550
OK

[2016-01-04 00:26] jbarnette commented on #3550
OK

[2016-01-04 00:26] jemc commented on #3550
OK

[2016-01-04 00:28] pager commented on #3550
OK

[2016-01-04 00:28] dissolved commented on #3550
OK

[2016-01-04 00:28] zerowidth commented on #3550
OK

[2016-01-04 00:29] tenderlove commented on #3550
OK
On Mon, Jan 4, 2016 at 9:29 AM Nathan Witmer <notifications@github.com>
wrote:

[2016-01-04 00:31] walski commented on #3550
OK

[2016-01-04 00:33] dwaite commented on #3550
OK

[2016-01-04 00:36] thedarkone commented on #3550
OK

[2016-01-04 00:40] pcapriotti commented on #3550
OK

[2016-01-04 00:41] alindeman commented on #3550
OK

[2016-01-04 00:45] rmg commented on #3550
OK :+1:

[2016-01-04 00:49] semmons99 commented on #3550
OK

[2016-01-04 00:50] yui-knk commented on #3550
OK

[2016-01-04 00:53] jeremydurham commented on #3550
OK

[2016-01-04 00:54] kubo commented on #3550
OK

[2016-01-04 00:54] mpalmer commented on #3550
OK

[2016-01-04 00:55] jc00ke commented on #3550
OK

[2016-01-04 00:55] sferik commented on #3550
OK

[2016-01-04 00:56] shatterednirvana commented on #3550
OK

[2016-01-04 00:57] postmodern commented on #3550
OK

[2016-01-04 00:58] jluxenberg commented on #3550
Ok
On Jan 3, 2016 4:56 PM, "Erik Michaels-Ober" <notifications@github.com>
wrote:

[2016-01-04 00:59] marcandre commented on #3550
OK

[2016-01-04 01:00] nevir commented on #3550
OK

[2016-01-04 01:00] sshao commented on #3550
OK

[2016-01-04 01:00] edsrzf commented on #3550
OK

[2016-01-04 01:02] steveklabnik commented on #3550
I agree with relicensing my contributions.

On Jan 3, 2016, 20:01 -0500, wrote:

[2016-01-04 01:03] kwleland commented on #3550
OK

[2016-01-04 01:04] drewolson commented on #3550
Agreed.

On Sunday, January 3, 2016, kwleland <notifications@github.com> wrote:

[2016-01-04 01:05] nathansobo commented on #3550
:+1:

[2016-01-04 01:06] Antti commented on #3550
OK

[2016-01-04 01:08] technomancy commented on #3550
OK

[2016-01-04 01:10] zaeleus commented on #3550
OK

[2016-01-04 01:11] brainopia commented on #3550
+1

[2016-01-04 01:13] mernen commented on #3550
OK

[2016-01-04 01:15] ConradIrwin commented on #3550
OK

[2016-01-04 01:15] jish commented on #3550
OK

[2016-01-04 01:19] jtdowney commented on #3550
OK

[2016-01-04 01:25] julionc commented on #3550
OK

[2016-01-04 01:27] pedrodelgallego commented on #3550
OK

[2016-01-04 01:29] ebenoist commented on #3550
OK :+1:

[2016-01-04 01:29] mwunsch commented on #3550
OK

[2016-01-04 01:33] fmfdias commented on #3550
OK

[2016-01-04 01:34] timabdulla commented on #3550
ok

[2016-01-04 01:35] seanchas116 commented on #3550
OK

[2016-01-04 01:36] benburkert commented on #3550
OK

[2016-01-04 01:41] jaywhy commented on #3550
OK

On Sunday, January 3, 2016, Yorick Peterse <notifications@github.com> wrote:

--
Jason Yates
jaywhy@gmail.com

[2016-01-04 01:43] vito commented on #3550
OK

[2016-01-04 02:02] carsonmcdonald commented on #3550
OK

[2016-01-04 02:09] godfat commented on #3550
OK

[2016-01-04 02:10] jfredett commented on #3550
OK

[2016-01-04 02:11] aevernon commented on #3550
OK

[2016-01-04 02:14] ndarilek commented on #3550
OK

[2016-01-04 02:30] srawlins commented on #3550
OK

[2016-01-04 02:35] smtlaissezfaire commented on #3550
OK

[2016-01-04 03:02] bjeanes commented on #3550
OK

[2016-01-04 03:10] ctoneal commented on #3550
OK

[2016-01-04 03:12] guilleiguaran commented on #3550
OK

[2016-01-04 03:17] jeremyevans commented on #3550
OK

[2016-01-04 03:20] cldwalker commented on #3550
OK

[2016-01-04 03:24] krekoten commented on #3550
OK

[2016-01-04 03:39] ecoffey commented on #3550
OK

[2016-01-04 03:39] kevinclark commented on #3550
OK 😁👍

--
Sent from my phone

[2016-01-04 03:42] jgaskins commented on #3550
OK

[2016-01-04 03:44] sodabrew commented on #3550
OK

[2016-01-04 03:57] pluskid commented on #3550
OK

[2016-01-04 03:58] alexdowad commented on #3550
OK

[2016-01-04 04:02] ryantm commented on #3550
OK

[2016-01-04 04:05] carols10cents commented on #3550
OK

[2016-01-04 04:10] mthorn commented on #3550
OK

[2016-01-04 04:20] dudleyf commented on #3550
OK

[2016-01-04 04:53] jdsiegel commented on #3550
OK

[2016-01-04 04:54] epall commented on #3550
OK

[2016-01-04 05:01] schmidt commented on #3550
OK

[2016-01-04 05:07] michaelklishin commented on #3550
OK

[2016-01-04 05:08] oggy commented on #3550
OK

[2016-01-04 05:15] Mange commented on #3550
OK

[2016-01-04 05:18] be9 commented on #3550
OK

[2016-01-04 05:22] skliew commented on #3550
OK

[2016-01-04 05:35] larskanis commented on #3550
OK

[2016-01-04 05:35] roshats commented on #3550
OK

[2016-01-04 05:43] abyx commented on #3550
OK

[2016-01-04 05:43] mkhl commented on #3550
OK

[2016-01-04 05:56] i0rek commented on #3550
OK

[2016-01-04 06:28] nibua-r commented on #3550
OK

[2016-01-04 06:40] jbr commented on #3550
OK

[2016-01-04 06:43] jstorimer commented on #3550
OK

[2016-01-04 06:46] chad commented on #3550
OK

[2016-01-04 06:48] akshayrawat commented on #3550
OK

[2016-01-04 06:49] agardiner commented on #3550
OK

[2016-01-04 07:03] stass commented on #3550
OK

[2016-01-04 07:13] dainmiller commented on #3550
OK

[2016-01-04 07:24] brianmario commented on #3550
OK

[2016-01-04 07:25] p8 commented on #3550
OK

[2016-01-04 07:27] splattael commented on #3550
OK

[2016-01-04 07:28] fxn commented on #3550
OK

[2016-01-04 07:31] Gonzih commented on #3550
OK
On Jan 4, 2016 1:16 AM, "Yorick Peterse" <notifications@github.com> wrote:

[2016-01-04 07:37] lest commented on #3550
OK

[2016-01-04 07:39] dubek commented on #3550
OK

[2016-01-04 07:40] voxik commented on #3550
OK

[2016-01-04 07:42] Nemo157 commented on #3550
OK

[2016-01-04 07:43] iainbeeston commented on #3550
OK

[2016-01-04 08:24] gildo commented on #3550
Ok

[2016-01-04 08:24] jimmycuadra commented on #3550
OK

[2016-01-04 08:26] razielgn commented on #3550
OK

[2016-01-04 08:26] leocassarani commented on #3550
OK

[2016-01-04 08:27] ngollan commented on #3550
OK

[2016-01-04 08:34] flavio commented on #3550
OK

[2016-01-04 08:36] cypher commented on #3550
OK

[2016-01-04 08:36] tokengeek commented on #3550
OK

[2016-01-04 08:37] kronos commented on #3550
OK

[2016-01-04 08:39] grk commented on #3550
OK

[2016-01-04 08:55] dbussink commented on #3550
OK

[2016-01-04 08:56] libc commented on #3550
OK

[2016-01-04 08:57] inukshuk commented on #3550
OK

[2016-01-04 08:58] balinterdi commented on #3550
OK

[2016-01-04 09:06] fcheung commented on #3550
OK

[2016-01-04 09:08] ileitch commented on #3550
OK

[2016-01-04 09:10] burningTyger commented on #3550
OK

[2016-01-04 09:11] unleashed commented on #3550
OK

[2016-01-04 09:16] diasjorge commented on #3550
OK

[2016-01-04 09:17] chickenkiller commented on #3550
OK

[2016-01-04 09:20] cyndis commented on #3550
OK

[2016-01-04 09:36] goyox86 commented on #3550
OK

[2016-01-04 09:36] mpapis commented on #3550
OK

[2016-01-04 09:36] ahmadsherif commented on #3550
OK

[2016-01-04 09:39] zimbatm commented on #3550
OK

[2016-01-04 09:46] neelance commented on #3550
OK

[2016-01-04 09:48] wrozka commented on #3550
OK

[2016-01-04 10:01] agrimm opened #3551 "Lacks code of conduct"
Neither the rubinius/rubinius git repository, nor published versions of rubinius.com have a code of conduct. The closest thing is an announcement in [November 2014](http://rubinius.com/2014/11/10/rubinius-3-0-part-1-the-rubinius-team/) that there will be one, plus an unpublished [code of conduct](https://github.com/rubinius/rubinius.github.io/blob/master/_includes/code-of-conduct.html).

[2016-01-04 10:07] aquasync commented on #3550
OK

[2016-01-04 10:15] adamwiggins commented on #3550
OK

[2016-01-04 10:25] janogonzalez commented on #3550
OK

[2016-01-04 10:25] YorickPeterse commented on #3551
@brixen is working on the new website which will contain the CoC. A copy of the current WIP can be found at http://rubinius.com/code-of-conduct/.

[2016-01-04 10:27] ruipserra commented on #3550
OK

[2016-01-04 10:30] benlovell commented on #3550
OK

[2016-01-04 10:43] jeffkreeftmeijer commented on #3550
OK

[2016-01-04 10:45] dtykocki commented on #3550
OK

[2016-01-04 10:49] tchandy commented on #3550
OK

[2016-01-04 10:53] agrimm commented on #3551
Is the code of conduct itself considered finished, or is it still being worked on?

[2016-01-04 10:57] YorickPeterse commented on #3551
@agrimm As far as I'm aware said CoC is considered to be finished, it's merely the layout and such that's being worked on.

[2016-01-04 10:57] retnuh commented on #3550
OK

[2016-01-04 11:04] benlangfeld commented on #3550
OK

[2016-01-04 11:05] LTe commented on #3550
OK

[2016-01-04 11:27] troessner commented on #3550
Ok!

[2016-01-04 11:41] haines commented on #3550
OK

[2016-01-04 12:13] hosiawak commented on #3550
OK

[2016-01-04 12:29] malu commented on #3550
OK

[2016-01-04 12:44] benstiglitz commented on #3550
OK

[2016-01-04 13:02] anupnivargi commented on #3550
OK

[2016-01-04 13:02] robin850 commented on #3550
OK

[2016-01-04 13:03] pd commented on #3550
OK

[2016-01-04 13:07] nirvdrum commented on #3550
OK

[2016-01-04 13:09] alfonsocora commented on #3550
OK

[2016-01-04 13:13] charlietanksley commented on #3550
OK

[2016-01-04 13:16] evtuhovich commented on #3550
OK

[2016-01-04 13:56] terceiro commented on #3550
OK

[2016-01-04 14:02] stuarthalloway commented on #3550
OK

[2016-01-04 14:05] bandresen commented on #3550
OK

[2016-01-04 14:07] alvaropereyra commented on #3550
OK

[2016-01-04 14:08] schmurfy commented on #3550
OK

[2016-01-04 14:15] cpettitt commented on #3550
OK

[2016-01-04 14:16] czarneckid commented on #3550
OK

[2016-01-04 14:25] bjfish commented on #3550
OK

[2016-01-04 14:36] txus commented on #3550
OK

[2016-01-04 15:19] vitaliy commented on #3550
OK

[2016-01-04 15:19] shoe commented on #3550
OK

[2016-01-04 15:25] carlosgaldino commented on #3550
OK

[2016-01-04 15:27] wayneeseguin commented on #3550
好的！

[2016-01-04 15:42] lstoll commented on #3550
OK

[2016-01-04 15:52] obrok commented on #3550
OK

[2016-01-04 16:02] goncalossilva commented on #3550
👍

[2016-01-04 16:36] gustavotemple commented on #3550
OK

[2016-01-04 16:39] bakkdoor commented on #3550
OK

[2016-01-04 17:04] ragnard commented on #3550
OK

[2016-01-04 17:08] evanphx commented on #3550
OK

[2016-01-04 17:08] kachick commented on #3550
OK

[2016-01-04 17:11] szimek commented on #3550
OK

[2016-01-04 17:34] wasnotrice commented on #3550
OK

[2016-01-04 17:38] kamal commented on #3550
OK

[2016-01-04 17:41] vmg commented on #3550
OK

[2016-01-04 17:50] yipdw commented on #3550
OK

[2016-01-04 17:53] danlucraft commented on #3550
OK

[2016-01-04 17:56] sdaubert commented on #3550
OK

[2016-01-04 18:10] jc00ke commented on #3551
rubinius/rubinius.github.io#55

[2016-01-04 18:39] stouset commented on #3550
OK

[2016-01-04 18:40] gensym commented on #3550
OK

[2016-01-04 18:51] jonsmock commented on #3550
OK

[2016-01-04 19:10] themgt commented on #3550
OK

[2016-01-04 19:49] marnen commented on #3550
OK

[2016-01-04 20:06] jeremyz commented on #3550
OK

[2016-01-04 21:14] marius commented on #3550
OK

2016-01-04 1:17 GMT+01:00 Yorick Peterse <notifications@github.com>:

[2016-01-04 21:50] mjackson commented on #3550
OK

[2016-01-04 21:52] spastorino commented on #3550
OK

[2016-01-04 22:20] rnicholson commented on #3550
OK

[2016-01-04 22:23] FunkyFortune commented on #3550
OK

[2016-01-04 22:49] raggi commented on #3550
OK

[2016-01-04 22:53] ashmoran commented on #3550
OK

[2016-01-04 22:54] Spakman commented on #3550
OK

[2016-01-04 22:58] caarlos0 commented on #3550
OK

[2016-01-04 23:13] dmacvicar commented on #3550
OK

[2016-01-04 23:21] badosu commented on #3550
OK

[2016-01-05 00:39] febuiles commented on #3550
OK

[2016-01-05 03:31] crafterm commented on #3550
OK

[2016-01-05 08:17] Haofei commented on #3550
ok

On Sun, Jan 3, 2016 at 8:02 PM, Ryan Mulligan <notifications@github.com>
wrote:

--
名无の小人

[2016-01-05 08:19] nashby commented on #3550
OK

[2016-01-05 08:43] tak1n commented on #3550
ok

[2016-01-05 09:15] jcoglan commented on #3550
OK

[2016-01-05 10:36] eregon commented on #3550
OK

[2016-01-05 11:47] agrimm commented on #3551
If the code of conduct itself is ready, then ship it. Don't delay it until the new website is ready.

[2016-01-05 12:35] vredniy commented on #3550
OK

[2016-01-05 15:57] jc00ke commented on #3551
While there might not be a link from other pages, it's there, shipped: http://rubinius.com/code-of-conduct/

[2016-01-05 15:57] #3551 closed

[2016-01-05 16:09] presidentbeef commented on #3550
OK

[2016-01-05 17:02] schleyfox commented on #3550
OK

[2016-01-05 17:13] antekpiechnik commented on #3550
OK

[2016-01-05 17:14] dgtized commented on #3550
OK

[2016-01-05 17:26] qmx commented on #3550
OK

[2016-01-05 17:51] djwhitt commented on #3550
Ok

[2016-01-05 19:42] pwnall commented on #3550
OK

[2016-01-05 20:15] johnmuhl commented on #3550
ok

[2016-01-05 22:38] caiquanqing commented on #3550
OK
On Jan 4, 2016 7:52 AM, "Paweł Obrok" <notifications@github.com> wrote:

[2016-01-06 01:15] arthurgeek commented on #3550
Ok

[2016-01-06 01:46] xaviershay commented on #3550
ok

[2016-01-06 02:12] jakedouglas commented on #3550
OK

[2016-01-06 09:57] CodeGnome commented on #3550
OK

[2016-01-06 15:03] mlen commented on #3550
OK

[2016-01-06 15:04] BRIMIL01 commented on #3550
OK

[2016-01-06 15:12] qqshfox commented on #3550
OK

[2016-01-06 15:21] zankich commented on #3550
OK

On Wed, Jan 6, 2016, 07:13 Hanfei Shen <notifications@github.com> wrote:

[2016-01-06 17:34] rkh commented on #3550
OK

[2016-01-06 17:45] jcsherin commented on #3550
OK

[2016-01-06 18:18] sbryant commented on #3550
OK

[2016-01-06 19:59] Locke23rus commented on #3550
OK

[2016-01-06 20:23] jzakiya opened #3553 "Builds using LLVM > 3.5"
The latest version I have been able to build, using RVM or by hand with source, has been 2.5.2.d
I am using PCLOS, which uses LLVM 3.7.
I just tried to install RBX-3.2 using RVM, and as expected it didn't compile because it says it needs LLVM 3.0-3.5.  See below.

------------------------------ Deprecation notice ------------------------------
Support for compilers other than clang/clang++ is depr

[2016-01-06 20:26] jc00ke commented on #3553
The changes to the JIT system in 3.6 need to be addressed first, so my guess is it'll be a while. If you can get 3.5 installed and still have issues installing Rubinius, please let us know.

[2016-01-06 20:26] #3553 closed

[2016-01-06 20:51] utgarda commented on #3550
OK

[2016-01-06 21:06] brixen commented on #3553
@jzakiya the work for LLVM 3.6+ support is on the mcjit branch. It should get finished soon. In the meantime, if your platform doesn't have packages for LLVM 3.5 (FYI, you'll need to run `./configure --llvm-config=path/to/your/llvm-config-3.5`), then you could use our Docker image for now: http://rubinius.com/packages#docker.

[2016-01-06 23:46] ashelly commented on #3550
OK

[2016-01-07 11:21] emk commented on #3550
OK

[2016-01-07 15:04] celsodantas commented on #3550
OK

[2016-01-07 15:10] slawosz commented on #3550
OK

[2016-01-08 01:02] ioquatix opened #3554 "Issue with Enumerable"
When using `to_enum`, yield with multiple args is not handled correctly?

[code]

[2016-01-08 02:40] ioquatix commented on #3554
After reviewing this issue I found that the problem is with `Enumerable::next`. It doesn't work correctly for the base case. This monkey patch fixes the issue:

[code]

[2016-01-08 03:05] ioquatix commented on #3554
So, basically the problem is to do with `|*obj|`. I took a look in the code and it might affect other functions too, e.g. `cycle`.

[2016-01-08 03:52] brixen commented on #3554
@ioquatix thanks for reporting this. Do you know if there is a spec that describes this behavior?

[2016-01-08 03:53] ioquatix commented on #3554
I have no idea where to look for an official spec but I assume that the behaviour should match MRI? The above code is a basic outline of what a spec might look like, but as I said there are other methods, e.g. `cycle` that are affected.

[2016-01-08 06:15] jawshooah commented on #3275
Setting `LANG=en_US.UTF-8`, `LANGUAGE=en_US.UTF-8`, and `LC_ALL=en_US.UTF-8` does not appear to be sufficient. [Relevant build failure.](https://travis-ci.org/bbatsov/rubocop/jobs/100991199)

[2016-01-08 06:33] brixen commented on #3275
@jawshooah this is the only one that looks Encoding related https://travis-ci.org/bbatsov/rubocop/jobs/100991199#L241 and doesn't appear related to installing a gem. Would you mind opening a new issue for your case?

[2016-01-08 06:43] jawshooah opened #3555 ""Invalid byte sequence in US-ASCII" when LANG, etc. set to en_US.UTF-8"
RuboCop's `rbx-2` build has been failing for quite some time, and upon trying to patch it up, I discovered what appears to be a bug in Rubinius.

Even with `LANG=en_US.UTF-8`, `LANGUAGE=en_US.UTF-8`, and `LC_ALL=en_US.UTF-8`, I'm seeing an `invalid byte sequence in US-ASCII` error. [Relevant lines from recent build failure](https://travis-ci.org/bbatsov/rubocop/jobs/100991199#L241-L245).

[2016-01-08 06:44] jawshooah commented on #3275
@brixen [Done.](https://github.com/rubinius/rubinius/issues/3555)

[2016-01-08 12:34] agrimm commented on #3550
OK

[2016-01-08 17:34] franckverrot commented on #3550
OK

[2016-01-08 20:59] arthurschreiber commented on #3550
Ok

[2016-01-09 09:08] argent-smith commented on #3550
Ok

[2016-01-09 09:12] ljulliar opened #3557 "Gem error after Rubinius 3.3 install"
After successfully installing rubinius 3.3 through docker on Ubuntu 14.04 64bits I cannot make the gem command work properly. Any clue ?

[code]

[2016-01-09 20:04] andre-richter commented on #3456
Interesting find, thank you!
Has been fixed in https://github.com/rubinius/rubinius/commit/648a80cbd52ca25495680f5eefc469e024b106e1.

[2016-01-09 20:04] #3456 closed

[2016-01-09 22:00] mainej commented on #3550
OK

[2016-01-09 23:14] chuckremes opened #3559 "Need Ruby 2.3 specs"
Pulled from Ruby [News](https://github.com/ruby/ruby/blob/trunk/doc/NEWS-2.3.0)

## Changes since the 2.2.0 release

### Language changes

* frozen-string-literal pragma:

  - [x] ~~new pragma, frozen-string-literal has been experimentally introduced.
    [Feature #8976](https://bugs.ruby-lang.org/issues/8976)~~
  - [x] ~~besides, --enable/--disable=frozen-string-literal options also have
    been

[2016-01-10 04:04] brixen commented on #3559
I edited the contents to use Markdown headings instead of RDoc headings.

A couple notes about this ticket:

1. As soon as the parser changes are in place so we can handle syntax like `&.`, we can update the compatibility version to 2.3.
2. As patches are applied to improve compatibility with 2.3, note the PR number or short commit SHA inline with the list item.
3. Regularly push releases with the

[2016-01-10 14:19] AnwarShah opened #3560 "Exception running specs on rubinius-3.4 on Ubuntu 14.04"
I was installing rubinius 3.4 on Ubuntu 14.04. All things went good, but the tests are failing.

**Edit:** replaced previous inline paste with a link to a gist below.

https://gist.github.com/brixen/5e47c5e23d6e9f323972

[2016-01-10 14:45] YorickPeterse commented on #3560
Please provide the details of `config.rb` and the likes (as stated in the CONTRIBUTING guide at https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md#submitting-issues).

[2016-01-10 18:37] andre-richter opened #3561 "Object#inspect's address should not be Object#object_id"
AFAICS rubinius's #inspect is realized via `self.object_id.to_s(16)` in order to get the object's address.
MRI presents two different addresses.
Is this of any concern?

[code]

[code]

[code]

[2016-01-10 19:04] YorickPeterse commented on #3561
Is there any code that depends on the exact formatting of `#inspect`? Considering it's mostly for debugging purposes and the address itself is rather pointless I'm not sure if this is really worth spending time on.

[2016-01-10 20:18] brixen commented on #3561
@andre-richter in Rubinius, objects can move in memory and there is no valid way to talk about an object's "address".

Rubinius does not guarantee to have the same `#inspect` output as Ruby, nor do we have the same contents of other messages, like those in exceptions. Ruby's text is often less useful than it could be and programs that expect to have exactly Ruby's text are unnecessarily brittle an

[2016-01-10 20:18] #3561 closed

[2016-01-11 04:49] brixen commented on #3559
Just added links to the Ruby Redmine tracker for all the features.

[2016-01-11 13:10] ioquatix commented on #3554
Okay, here is an example of the issue with count:

[code]

[2016-01-11 13:18] ioquatix commented on #3554
Here is an example showing `slice_before` is broken:

[code]

There are potentially more functions, someone which better access and knowledge than me should probably do a complete audit.

[2016-01-11 15:45] AnwarShah commented on #3560
`config.rb` file's content is given in [the gist here](https://gist.github.com/AnwarShah/eafcfdfbaacacddcd7ee)

[2016-01-11 21:30] jamesotron commented on #3550
OK

[2016-01-12 02:41] martinstannard commented on #3550
OK

--
  Martin Stannard
  mstannard@gmail.com

On Tue, 12 Jan 2016, at 08:30 AM, James Harton wrote:

Links:

  1. https://github.com/rubinius/rubinius/issues/3550#issuecomment-170695921

[2016-01-12 16:54] byteg opened #3563 "NameError: Missing or uninitialized constant: OpenSSL::Digest::OPENSSL_VERSION_NUMBER"
Using Rubinius 3.5 via RVM
Rails 4.2.4
Kununtu 15.10

bundle
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/denisk/.rvm/gems/rbx-3.5@global/bin/bundle `

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    NameError: Miss

[2016-01-12 17:16] brixen commented on #3563
@byteg we need some more info:

1. could you please paste the result of running `ruby -v -e 'require "openssl"; p OpenSSL'`.
2. did RVM try to install a binary version of Rubinius? What was the exact command you used to install?
3. could you please paste the result of running `openssl version`.

[2016-01-12 17:21] brixen commented on #3560
@AnwarShah I put your inline paste into a gist so the ticket is easier to read.

Could you please run this and gist the results `bin/mspec ci spec/ruby/optional/capi/bignum`?

[2016-01-12 17:26] byteg commented on #3563
@brixen thanks for reply!
1) $ruby -v -e 'require "openssl"; p OpenSSL'
rubinius 3.5 (2.2.0 97da6c2a 2016-01-10 3.4.2 JI) [x86_64-linux-gnu]
An exception occurred evaluating command line code

Could not open library /home/denisk/.rvm/rubies/rbx-3.5/gems/gems/rubysl-openssl-2.8.0/lib/openssl/openssl.so - /home/denisk/.rvm/rubies/rbx-3.5/gems/gems/rubysl-openssl-2.8.0/lib/openssl/openssl.so: symbol

[2016-01-12 17:36] brixen commented on #3563
@byteg so, this is what I suspected, the version that Rubinius was built with is not the version that is available when trying to load the openssl C-ext.

There are a few things you can try:

1. Build Rubinius from source without using RVM
2. Install Rubinius using [ruby-install](https://github.com/postmodern/ruby-install).
3. Try using our [Docker image](http://rubinius.com/packages/#docker)
4. T

[2016-01-12 17:36] #3563 closed

[2016-01-12 17:41] brixen commented on #3563
@byteg actually, option 4 won't work because of the openssl library that was installed when the binary was built. The best choice right now is to build from source for your platform. Unfortunately, dynamic linking causes terrible problems like this and there's not a simple way to fix them well. For building the Ubuntu 15.10 binaries, I'll have to set something up to use a 15.10 build image, but th

[2016-01-12 17:55] byteg commented on #3563
@brixen sorry for my long inline pasing, i'm not using github everyday :(
Thanks for your answer, i'll try to build it from source. I've always wanted to use Rubinius in production, I hope it will be faster than MRI :)
Thanks for your work!

[2016-01-12 18:00] brixen commented on #3563
@byteg no worries at all, just pointing out using the Gist makes it easier to track the issue.

If you haven't taken a look at Docker, I highly recommend it. It's probably the best thing we have right now to give you a stable experience.

As for testing out Rubinius, let us know how it goes. You may be interested in the blog post I'm working on today about logging, metrics, and analysis.

[2016-01-12 18:05] byteg commented on #3563
@brixen i'll take a look at Docker, unfortunately I haven't used it before, thanks for your pointing.
I'll follow your blog. Now I'm using Newrelic (as many other developers I think) to make metrics in production.

[2016-01-12 21:53] brixen commented on #3563
@byteg yes, many developers use NewRelic. The two biggest drawbacks that I see for NewRelic are that 1. it instruments *your* code in a way that you do not control, and 2. it gives you a generic set of things that are graphed.

In contrast, in Rubinius the runtime itself has the instrumentation, and by default your code is not modified. However, we are also building a specific set of instrumentati

[2016-01-13 11:12] Mazwak commented on #3501
MRI accepts 3 arguments. However, the third one is a named parameter, and is not documented.

From rubinius source, we clearly see that it is not handled :

[2016-01-13 13:57] AnwarShah commented on #3560
@brixen Thanks for the reply and help. I've run the command and the output is [here is this gist](https://gist.github.com/AnwarShah/facf5298dab88edd9c4c)

[2016-01-13 18:32] mvz commented on #3533
I'm experiencing this same problem. It seems it occurs if both `llvm-3.6` and `llvm-3.5` are installed. In such a case, passing the `--llvm-config=llvm-config-3.5` flag is not enough to stop bits of LLVM 3.6 being used in the build. Also, it seems to be using clang 3.6.

[2016-01-13 20:12] #3502 closed

[2016-01-13 23:13] stormbrew commented on #3550
OK

[2016-01-14 03:16] #3546 closed

[2016-01-14 05:46] paddor commented on #3546
@brixen Thank you very much! :-)

[2016-01-14 05:48] brixen commented on #3546
@paddor thanks to @ahmadsherif! :)

[2016-01-14 05:49] paddor commented on #3546
Oops, didn't see that. @ahmadsherif thank you very much! :-)

[2016-01-14 17:40] #3545 closed

[2016-01-14 20:40] paddor commented on #3545
@ahmadsherif Thanks so much! I'll test it with the next Rubinius release.

[2016-01-14 20:42] ahmadsherif commented on #3545
@paddor  You're welcome :).

[2016-01-15 02:30] imton opened #3569 "RubySL::IO (Module) (NoMethodError)"
I have no idea what this means 😢

[code]

[2016-01-15 03:13] chuckremes commented on #3569
Hmmm, try changing line 59 to read "::IO.setup(socket, fd, nil, true)"

I don't know if that will fix it but it may provide more information. I wonder what @YorickPeterse thinks. I bet he has an idea.

[2016-01-15 09:11] YorickPeterse commented on #3569
Argh, it's probably due to it being in the RubySL scope. I'll fix this today and push a release.

[2016-01-15 09:35] imton commented on #3569
Wow. Thanks for the fast response. My first try on rbx and honestly have no idea what this means. Keep me Posted ! Can wait to run my app under rubinius.

[2016-01-15 10:38] YorickPeterse commented on #3569
In rubysl-socket this has been fixed in commit https://github.com/rubysl/rubysl-socket/commit/13890a1693b702a10adc21ebb91af7f6c7594333. This change will be available in Rubinius 3.8 which should be available later this day (it's currently being built).

[2016-01-15 10:38] #3569 closed

[2016-01-15 11:25] YorickPeterse opened #3570 "Booting Rails console fails with "method 'equal?': given 1, expected 2 (ArgumentError)""
When starting the Rails console in GitLab the following error is triggered:

[code]

[2016-01-15 11:35] YorickPeterse commented on #3570
It appears this code is to blame: https://github.com/modeset/teaspoon/blob/cdf46b24676c093f7a2b0ed8e8e473dd89a47564/lib/teaspoon/registry.rb#L29

In other words, developers think they can get away with re-defining `equal?` in an incompatible manner. Fantastic.

[2016-01-15 11:53] #3570 closed

[2016-01-15 12:17] YorickPeterse opened #3571 "Booting GitLab is around 2x slower than MRI"
Booting GitLab on MRI 2.1.7 (the version GitLab currently uses) takes about 11-12 seconds (as measured using `time -f '%E' rails r ''`.

On Rubinius the timings are as following:
- cold bootup (boot without the `~/.rbx` directory existing): ~50 seconds
- regular bootup: ~25 seconds

Profiler output (`rbx -Xprofile -S rails r ''`): https://gist.github.com/YorickPeterse/0715ced873746ea8e2ef

[2016-01-15 14:23] imton commented on #3569
Thanks

[2016-01-15 15:14] YorickPeterse commented on #3571
Having looked into the code of `Array#==` I can't find anything that stands out as being bad on its own, instead it looks more like a collection of things leading to this method performing as it currently does. Some of the things we would have to improve for this method (that I can think of):

* `Rubinius::Tuple` access (better Ruby code, specialized instructions, maybe JIT specific bits)
* Increm

[2016-01-15 15:26] YorickPeterse commented on #3571
As an added note I'm OK with GitLab booting up a little bit slower, but 2x is going to lead to a lot of developers constantly complaining about the bootup being so slow.

[2016-01-15 15:38] YorickPeterse opened #3573 "First GitLab request is extremely slow"
Booting up GitLab CE and using my local database results in the first request taking around 137 seconds. Quickly scanning through the Rails logs seems to indicate a lot of time being spent in rendering views (or running code present in said views). Since GitLab uses HAML I wouldn't be surprised if it's partially to blame.

[2016-01-15 15:39] YorickPeterse commented on #3573
Having said that, subsequent requests load in a much more reasonable time. For example, requesting the index page of gitlab-org/gitlab-ce locally takes around 2.6 seconds. It's possibly the JIT might need some extra crutches to handle GitLab for the first request.

[2016-01-15 15:59] YorickPeterse commented on #3573
Profiler output of the first request to /gitlab-org/gitlab-ce: https://gist.github.com/YorickPeterse/41bb9196012717f1a12d

Output of the second request to the same page: https://gist.github.com/YorickPeterse/bf16fcd5288f79629971

[2016-01-15 16:21] jemc commented on #3571
As I understand it, bootup time for large applications is one of the problems that [the `codedb` branch](https://github.com/rubinius/rubinius/tree/codedb) is intended to solve.

[2016-01-15 16:36] jc00ke commented on #3573
I notice our app takes a long time on first request (even on MRI) and we use ERB. I believe a lot of the slowness comes from SASS. Does GitLab use SASS too?

[2016-01-15 16:39] YorickPeterse commented on #3573
@jc00ke Yes, the stack is the pretty standard SASS + HAML stack.

[2016-01-15 16:52] benlovell commented on #3573
https://github.com/sass/sassc-rails is faster and has (so far) worked out OK for me.

[2016-01-15 18:17] brixen commented on #3573
@YorickPeterse do you know if files could be getting lazily loaded during that first request? Is Autoload (or Rails autoloading hack) in use?

[2016-01-15 18:57] YorickPeterse commented on #3573
@brixen It's quite possible a lot of stuff is being loaded on the first request. GitLab itself doens't use autoloading explicitly, only the class autoloading Rails itself provides.

[2016-01-15 20:04] YorickPeterse commented on #2756
Fixed by the recent release of rubysl-socket, see https://github.com/rubysl/rubysl-socket for more information. These changes are available as of Rubinius 3.3.

[2016-01-15 20:04] #2756 closed

[2016-01-15 20:06] YorickPeterse commented on #2661
Fixed by the recent release of rubysl-socket, see https://github.com/rubysl/rubysl-socket for more information. These changes are available as of Rubinius 3.3.

[2016-01-15 20:06] #2661 closed

[2016-01-15 20:07] YorickPeterse commented on #2758
Fixed by the recent release of rubysl-socket, see https://github.com/rubysl/rubysl-socket for more information. These changes are available as of Rubinius 3.3.

[2016-01-15 20:07] #2758 closed

[2016-01-15 20:07] YorickPeterse commented on #2803
Fixed by the recent release of rubysl-socket, see https://github.com/rubysl/rubysl-socket for more information. These changes are available as of Rubinius 3.3.

[2016-01-15 20:07] #2803 closed

[2016-01-15 20:09] YorickPeterse commented on #2303
Fixed by the recent release of rubysl-socket, see https://github.com/rubysl/rubysl-socket for more information. These changes are available as of Rubinius 3.3.

[2016-01-15 20:09] #2303 closed

[2016-01-15 20:10] YorickPeterse commented on #2869
Fixed by the recent release of rubysl-socket, see https://github.com/rubysl/rubysl-socket for more information. These changes are available as of Rubinius 3.3.

[2016-01-15 20:10] #2869 closed

[2016-01-16 07:06] brixen commented on #3560
@AnwarShah ah ok, thanks, that looks helpful. It seems possible that a C++ exception is being thrown when calling from the C-API code and that will cause an abort when trying to unwind through the C stack.

[2016-01-16 07:10] AnwarShah commented on #3560
@brixen Any recommended solution for this?

[2016-01-16 07:18] brixen commented on #3560
@AnwarShah well, it's puzzling that it's aborting for you but not when the specs run on Travis on 12.04. I'll need to change the way `rb_dbl2big` handles values like Nan and Infinity so that C++ exceptions aren't being raised.

I'll try to get a patch tomorrow for you to test when you have time.

[2016-01-16 07:19] brixen commented on #3560
@AnwarShah if by chance you're interested in looking into this yourself, we need to test for Nan and Infinity in `rb_dbl2big` the same way we test in `Bignum::from_double`, but raise an exception in `rb_dbl2big` with `rb_raise` instead.

[2016-01-16 11:01] YorickPeterse commented on #3560
@andre-richter what's the reason for closing this issue? As far as I can tell no fix is there just yet.

[2016-01-16 11:42] andre-richter commented on #3560
I absolutely can't explain how this happened.
Haven't even been logged in at github today.

Changing my password right now!

[2016-01-16 16:32] brixen commented on #3560
@AnwarShah I added the fix I mention in this commit https://github.com/rubinius/rubinius/commit/e265a22ae15caeabe38eed190b80c607739ca9fa. Could you please build and test master as follows:

[code]

[2016-01-16 21:30] AnwarShah commented on #3560
@brixen I'll update you soon by trying this. Thanks

[2016-01-17 09:30] AnwarShah commented on #3560
@brixen I've manually patched that single file and tried using `./configure` and `rake` command (without cloning master). [This is the output](https://gist.github.com/AnwarShah/4e2fb433aec2683b39fd) given.

[2016-01-17 11:21] AnwarShah commented on #3560
@brixen After failing above attempt, I clone the repository using `--depth 1`. However, It still failing, though with only 2 errors. [Here is the gist](https://gist.github.com/AnwarShah/83f2837b6eb36ba344c9) of the output

[2016-01-17 17:59] brixen commented on #3560
@AnwarShah thanks for checking. The other failures were fixed. So, that's good. The two failures you are seeing are because your platform is 32bit. Both failures result from assumptions in the specs that the platform is 64bit. I'll update those two specs to make them work on 32bit.

I'm curious, do you have a requirement to use 32bit? We will likely be supporting only 64bit in the future, but I st

[2016-01-17 18:06] AnwarShah commented on #3560
@brixen Sounds great! Hope it will be fixed.

I actually switched to 64bit few months ago. But, Now needed to use 32bit again for a modem issue. I have an old modem, which doesn't have 64bit driver for Linux. Even 32bit driver is removed from latest kernel. It's a binary only driver.

I'm thinking of dumping that modem permanently. But, in the meanwhile, I must use 32bit at least for few more days

[2016-01-17 18:33] #3560 closed

[2016-01-17 18:33] brixen commented on #3560
@AnwarShah ah, ok, it's always interesting to hear. We won't be dropping 32bit support in the next few days and I'm still open to supporting it if we can do so without too much work. Some of the stuff I want to do in the object memory would benefit a lot from a 64bit word in the object header, but we can still support it with a more costly overhead on 32bit. Anyway, I think these specs should be f

[2016-01-17 19:26] AnwarShah commented on #3560
@brixen Great! It builds successfully with that fix! Thanks. It outputs --

[code]

[2016-01-17 19:28] brixen commented on #3560
@AnwarShah awesome! Thanks for taking the time to let us know about the issues.

[2016-01-18 17:12] medols commented on #3557
Tried installing libyaml-dev and libssl-dev but I cannot make the gem command work either.

[code]

[2016-01-18 18:39] brixen commented on #3557
@medols it's this nasty bit here:

[code]

The basic problem is that the OpenSSL ABI is very unstable. We won't be able to share binaries and trying to statically link runs into all sorts of other problems.

@ljulliar you'll basically run into the same issue. Installing libyaml works (because the ABI is pretty stable).

We're in the process of setting up separate builds for 12.04, 14.04, and 15.10

[2016-01-18 18:39] #3557 closed

[2016-01-18 19:01] baroquebobcat commented on #3550
OK

[2016-01-18 19:30] medols commented on #3557
Solved with the docker 12.04 image from rubinius/docker, thank you.

[2016-01-18 19:45] brixen commented on #3557
@medols good to hear! Would you use a 15.10 (or 16.04) image if available?

[2016-01-18 19:58] medols commented on #3557
We can work well with 12.04 in the meantime, then push to the latest stable when available,
Thank you.

[2016-01-18 23:29] asppsa commented on #2967
I've done an upgrade and I'm finally segfault free!  I'm now on mysql2 0.4.2, so I'm guessing you were right about this being the source of the problem.  I'll close this issue.

[2016-01-18 23:29] #2967 closed

[2016-01-19 00:36] brixen commented on #2967
@asppsa great to hear! Please keep us updated if you hit more issues.

[2016-01-19 09:04] ikataitsev commented on #3550
OK

[2016-01-19 15:54] medols commented on #3557
@brixen the rubinius/docker has a very small footprint, good work !
[This link](https://hub.docker.com/r/rubinius/rubinius/builds) from [rubinius.com](http://rubinius.com)
returns 404 now.

[2016-01-19 16:32] brixen commented on #3557
@medols thanks for pinging me, I had the changes local and forgot to push them, doh! If you refresh, it should be correct now.

[2016-01-22 10:46] vic commented on #3550
OK

[2016-01-22 10:49] manveru commented on #3550
OK

[2016-01-22 11:06] khamutov commented on #3550
OK

[2016-01-22 11:28] YorickPeterse commented on #3264
I cleaned up https://github.com/rubysl/rubysl-unicode_normalize a bit (license wise and such), pushed it to RubyGems and updated the rubysl Gem to depend on it. In 7489a077960dabf9a5d26cb638a7cc5476ed1828 I made sure we're actually shipping these changes.

@brixen The unicode normalization code is loaded by default on MRI. Do we have a proper way to load a Gem during bootup? I suspect just dumping

[2016-01-22 11:40] YorickPeterse commented on #3264
@tak1n In 008cd1ebc0257c51b0dd0676dc0b955a1aa6ea8c you added specs for redirecting output for `Process.spawn`. These specs currently seem to pass, are they related to the `Process.spawn` changes mentioned in the release notes?

[2016-01-22 11:50] YorickPeterse commented on #3363
This script appears to be working fine:

[code]

As such it seems only our `zsuper` instruction (used for a bare `super`) doesn't support this.

[2016-01-22 11:53] davorb commented on #3550
OK

[2016-01-22 12:14] YorickPeterse commented on #3363
Added some basic specs in 9da9d6ab841c8174b1621133693d68f8b35c89b7

[2016-01-22 12:36] tak1n commented on #3264
@YorickPeterse I don't remember it exactly anymore, I'll take a closer look on it what exactly changed on MRI side and see if our behaviour currently is the same and the spec is ensuring this.

[2016-01-22 12:36] nexcastellan commented on #3550
OK

[2016-01-22 12:56] tak1n commented on #3264
@YorickPeterse The redirection thing in Process#spawn is kinda confusing right now for me, but I used this script for testing:

[code]

Both MRI 2.2.4 and RBX 3.11.c7 are writing "glark" into a file called "test".
So I think this spec was here to ensure this behavior. Oddly enough I can't see anything which changed in the kernel code regarding for it, so it already behaved that way.

[2016-01-22 13:08] YorickPeterse commented on #3264
@tak1n Thanks. In that case I'll just mark it as fixed. If it turns out to be otherwise we can fix it whenever brought up.

[2016-01-22 13:09] tak1n commented on #3264
@YorickPeterse  Oddly enough also MRI 2.1.7 behaves that way.
[code]

[2016-01-22 13:15] YorickPeterse commented on #3264
Checked off vfork usage as well. While interesting this isn't really something exposed to Ruby and I don't think it's really worth our time at this point. Maybe in the future it's interesting but we should open a dedicated issue in that case.

[2016-01-22 13:27] tamird commented on #3550
OK

[2016-01-22 14:14] bradediger commented on #3550
OK

[2016-01-22 14:23] daikini commented on #3550
OK

[2016-01-22 14:28] chuckremes commented on #3550
OK

[2016-01-22 15:08] YorickPeterse opened #3585 "GitLab test suite segfaults Rubinius"
Running the gitlab-ce test suite using `bundle exec rspec -fp spec/models` results in the following segfault (from the logs): https://gist.github.com/YorickPeterse/f066b9427086fd8a1902

GDB output: https://gist.github.com/YorickPeterse/0c3bb0442c4e51acd046

[2016-01-22 15:20] YorickPeterse commented on #3540
This version segfaults almost immediately:

[code]

When it doesn't the output is as following:

[code]

This seems to suggest the instance variable is not always set properly.

[2016-01-22 15:22] YorickPeterse commented on #3540
Disabling the JIT does not appear to have any effect, it still segfaults. With the JIT enabled it sometimes just freezes (without a segfault).

[2016-01-22 15:24] YorickPeterse commented on #3540
Having said that, it seems to segfault less often though that could just be coincidence.

[2016-01-22 15:26] YorickPeterse commented on #3540
Of course with GDB attached it doesn't segfault, though the console output in case of a segfault is as following:

[code]

[2016-01-22 15:52] YorickPeterse commented on #3540
Interesting enough when you give the keyword argument a default value it appears to work fine:

[code]

This spits out:

[code]

[2016-01-22 16:01] YorickPeterse commented on #3540
This also segfaults:

[code]

[2016-01-22 22:25] jarib commented on #3550
OK

[2016-01-23 02:39] zzak commented on #3550
OK

[2016-01-23 04:00] mlarraz opened #3586 "Kernel#rand with an exclusive Range should not call Range#max"
MRI:
[code]

RBX 3.11:
[code]

Note that ```(0...1.0).max``` raises this error in both implementations, so that behavior is correct.

This is not just a theoretical concern. Currently the [rubocop](https://github.com/bbatsov/rubocop) suite fails on Rubinius due exclusively to this issue:
https://travis-ci.org/bbatsov/rubocop/jobs/104055842
https://github.com/bbatsov/rubocop/blob/master/spec/ruboco

[2016-01-23 05:54] jemc commented on #3586
Fixed in fa397f821d96bfe2384ae9c4aa6a53b76c4993d0
Released in [`v3.12`](https://github.com/rubinius/rubinius/releases/tag/v3.12)!

[2016-01-23 05:54] #3586 closed

[2016-01-23 09:30] vvs commented on #3550
@vvs OK

[2016-01-23 09:37] ryoqun commented on #3550
OK

[2016-01-24 07:46] charliesome commented on #3550
OK

[2016-01-24 12:37] larskanis commented on #3533
Install with RVM worked for me on Ubuntu-15.10 that way:
[code]

[2016-01-25 10:40] jkr2255 opened #3587 "Array#product with block modifying self"
# Issue
In MRI (tested on 2.0.0 - 2.3.0), `Array#product` with block doesn't modify `self` and can be used for frozen arrays, but Rubinius modifies original array, and fails to run on frozen arrays due to this behavior.

In [reference manual of MRI (Japanese edition)](http://docs.ruby-lang.org/ja/2.3.0/method/Array/i/product.html), `Array#product` with block does return `self`, but unmodified.

#

[2016-01-25 11:33] YorickPeterse commented on #3587
This seems pretty nasty as non-bang methods typically aren't supposed to modify `self`.

[2016-01-25 11:35] YorickPeterse commented on #3587
Seems this method does more crazy things such as [modifying arguments in-place](https://github.com/rubinius/rubinius/blob/fa397f821d96bfe2384ae9c4aa6a53b76c4993d0/kernel/common/array.rb#L1118).

[2016-01-25 12:14] karloku opened #3588 "BasicObject#instance_exec does not allow return in lambda"
The following code raises LocalJumpError.

[code]

While MRI 2.2.2 can pass

[code]

[2016-01-25 12:39] andre-richter commented on #3587
There's more to fix here. Unfrozen and blocks is bogus, too:

[code]

[code]
Result of the block must not appended to the array, only yield to it and return self.

[From the ruby feature request:](https://bugs.ruby-lang.org/issues/3021)
`I suggest that Array#product(&block) yields to the block and returns self.`

[2016-01-25 23:21] #3587 closed

[2016-01-27 12:31] eregon opened #3590 "Clarify the license for the different source files in the repository"
Currently, the root directory only has information about the BSDL and the MPLv2 license, but says nothing about which files they apply to.

These licenses do not apply to the entire codebase, and a clear statement should be written, like in MRI's [LEGAL](https://github.com/ruby/ruby/blob/trunk/LEGAL) or JRuby's [COPYING](https://github.com/jruby/jruby/blob/master/COPYING).

For instance, here are

[2016-01-27 12:43] eregon commented on #3590
This should also define what is the "Covered Software" in the MPLv2 license.

[2016-01-27 18:33] dkubb commented on #3550
OK

[2016-01-28 08:59] ioquatix commented on #3554
This is awesome you guys fixed these issues really quickly. If someone has time it might be worth figuring out if any other methods have the same issue. I just glanced through the documentation and found these examples.

[2016-01-28 10:42] jsyeo commented on #3554
@ioquatix thanks for reporting them. Yep, you're right. I think there are more `Enumberable` methods that have this problem with enumerables that yields multiple values. I will get back to them this weekend when I have the time.

Since the issues that you have reported are fixed and merged, I will close this issue.

[2016-01-28 10:42] #3554 closed

[2016-01-28 12:22] ioquatix commented on #3554
Thanks so much for your effort.

[2016-01-28 15:00] glebm commented on #3522
Any kind soul wants to look into this?

[2016-01-28 15:09] ahmadsherif commented on #3522
I think this is the same as #3544 (or the other way around, you reported it first). I've proposed a fix for it [here](https://github.com/rubinius/rubinius-ast/pull/6), but since @brixen is in the process of moving the code of that repo (and other ones) to [rubinius-code](https://github.com/rubinius/rubinius-code), it's taking some time to be reviewed.

[2016-01-28 17:46] #3544 closed

[2016-01-28 19:48] ahmadsherif commented on #3522
Fixed in v3.14.

[2016-01-28 19:48] #3522 closed

[2016-01-28 22:47] akhramov commented on #3588
I am not a contributor of Rubinius, just hanging around.

I am wondering if there's a way to reproduce this issue through MSpec. The problem is we cannot achieve LocalJumpError inside a `lambda { ... }.should` piece because it will simply return from upper lambda.

BTW, let me examine my sixth sense regarding a ticket. The problem lies [here](https://github.com/rubinius/rubinius/blob/4eec62a07d6b3

[2016-01-28 22:49] akhramov commented on #3588
I am not a contributor of Rubinius, just hanging around.

I am wondering if there's a way to reproduce this issue through MSpec. The problem is we cannot achieve LocalJumpError inside a `lambda { ... }.should` piece because it will simply return from upper lambda.

BTW, let me examine my sixth sense regarding a ticket. The problem lies [here](https://github.com/rubinius/rubinius/blob/4eec62a07d6b3

[2016-01-29 03:04] asppsa opened #3592 "Possible Enumerable#sort_by bug"
Hello,

I think I may have found an issue with [Enumerable#sort_by][1].  When a block is given, this method calls `#map` to create another enumerable of objects to sort. It then calls `#sort!` on that new enumerable.  The problem is that `#sort!` is only defined on `Array`, so in cases where `#map` does not return an array, we get a `NoMethodError`.  Simple example (in rbx-3.5.0):

[code]

`#sort_

[2016-01-29 09:13] YorickPeterse commented on #3592
Fixed by #3593 correct?

[2016-01-29 10:35] kodnin commented on #3550
OK

[2016-01-29 10:51] #3590 closed

[2016-01-29 11:09] YorickPeterse commented on #2920
Closing this due to the lack of feedback since my last reply and since quite a lot has changed since Rubinius 2.2. Feel free to re-open if the problem persists when using the latest version of Rubinius.

[2016-01-29 11:09] #2920 closed

[2016-01-29 11:33] YorickPeterse commented on #3037
This seems to have been resolved since:

[code]

[2016-01-29 11:33] #3037 closed

[2016-01-29 11:36] YorickPeterse commented on #3063
This appears to have been resolved in the mean time, closing.

[2016-01-29 11:36] #3063 closed

[2016-01-29 11:39] YorickPeterse commented on #3115
Closing this due to the lack of feedback since my last comment. Feel free to re-open if the issue still persists.

[2016-01-29 11:39] #3115 closed

[2016-01-29 13:33] eregon commented on #3590
Thanks!

[2016-01-29 15:20] YorickPeterse opened #3594 "ARGF.read_nonblock is missing"
Ruby 2.3 made some changes to this method (https://github.com/rubinius/rubinius/issues/3559 and https://bugs.ruby-lang.org/issues/11358) but it seems we don't have this implemented in the first place.

[2016-01-29 17:18] doudou commented on #3550
@doudou OK

[2016-01-29 21:11] asppsa commented on #3592
Yep!

[2016-01-29 21:11] #3592 closed

[2016-01-30 08:18] Ivoz opened #3596 "Rubinius' front page is extremely vague about what it actually is"
It is great at describing its goals, its vision, how it can help and enable humanity and communities, even its moral values.

However it is not very good at all at describing what it is exactly, practically, that "rubinius 3.X" the piece of software, does and is. What people do with it. For which practical reasons they tend to install and run it. Someone completely new, interested in Rubinius, com

[2016-01-30 20:31] brixen commented on #3596
@Ivoz thanks for opening this issue. We're in a bit of a transition with the website and documentation.

I've opened https://github.com/rubinius/rubinius.github.io/issues/57 to add a link to the GitHub source on the website.

I've opened https://github.com/rubinius/rubinius-book/issues/1 for the Rubinius book to address your other points. The Rubinius book is where all this content will go and we'

[2016-01-30 20:31] #3596 closed

[2016-01-31 03:18] veganstraightedge commented on #3550
OK

[2016-02-05 10:12] #3594 closed

[2016-02-05 11:38] #2992 closed

[2016-02-05 12:18] YorickPeterse commented on #3559
`File::TMPFILE` relies on `O_TMPFILE` which is only defined (at least on Linux) when `_GNU_SOURCE` is set. I've tried getting this to work in the past but it only ended up breaking things.

[2016-02-05 14:58] YorickPeterse opened #3598 "Changing license from BSD 3-clause to MPL 2.0: Extra Notification"
To reduce the amount of notifications sent out whenever replying to https://github.com/rubinius/rubinius/issues/3550 I'll be using this issue to ping contributors regarding the license change.

To the contributors on the list below, please reply to the above issue _or_ send me an Email (following the instructions in said issue). Thank you.

Script to check who has not yet replied:

[code]

[2016-02-05 14:59] YorickPeterse commented on #3598
* @Aesthetikx
* @AndrewVos
* @anthropomorphic
* @audreyt
* @banister
* @brynary
* @btakita
* @bterkuile
* @carlosbrando
* @cezarsa
* @crayz
* @cyfdecyf
* @DanielVartanov
* @dlt
* @drbrain
* @drnic
* @frasca
* @Gibheer
* @gramos
* @Groogy
* @halorgium
* @headius
* @herminiotorres
* @heronmedeiros
* @hurdlea
* @huy
* @jero5
* @jgre
* @jmstacey
* @jonforums
* @josh
* @krsh
* @kwatch
* @leavengood
* @

[2016-02-05 14:59] YorickPeterse commented on #3598
* @vincentlu
* @vjmp
* @warrenseen
* @wilson
* @wycats
* @xenda
* @zenspider

[2016-02-05 16:23] YorickPeterse opened #3599 "Symbol Garbage Collection"
Extracting this feature from https://github.com/rubinius/rubinius/issues/3264 as it's one that probably needs quite some thought/work/changes. Rails already stated that at some point they'll depend on Symbols being GC'd. MRI does some hack where certain `to_sym` methods return Symbols that can be collected, but I think we can just collect any non literal Symbols and be done with it.

[2016-02-05 16:25] YorickPeterse opened #3600 "Update parser for colon Hash syntax with strings"
The parser should be updated to support syntax such as the following:

    { "abc": 123 }

Extracted from https://github.com/rubinius/rubinius/issues/3264

[2016-02-05 16:26] YorickPeterse commented on #3264
Moved remaining TODOs to separate issues, closing this one.

[2016-02-05 16:26] #3264 closed

[2016-02-05 16:27] YorickPeterse opened #3601 "Update parser for lonely/nil-anti-pattern operator"
The parser should be updated to allow syntax such as:

[code]

Extracted from https://github.com/rubinius/rubinius/issues/3559.

Redmine ticket: https://bugs.ruby-lang.org/issues/11537

[2016-02-05 16:29] YorickPeterse opened #3602 "Update parser for another heredoc literal"
The parser should be updated to allow _another_ heredoc literal: `<<~`.

Extracted from https://github.com/rubinius/rubinius/issues/3559
Redmine ticket: https://bugs.ruby-lang.org/issues/9098

[2016-02-05 16:32] YorickPeterse opened #3603 "Add support for Encoding::IBM037"
The only reference I can find to this encoding in Redmine is this commit: https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/53124. This encoding is aliased as `Encoding::EBCDIC_CP_US`.

Extracted from https://github.com/rubinius/rubinius/issues/3559

[2016-02-05 16:33] YorickPeterse opened #3604 "Add IO flags keyword"
Redmine ticket: https://bugs.ruby-lang.org/issues/11253

[2016-02-05 16:33] YorickPeterse opened #3605 "IO#advise no longer raises Errno::ENOSYS in cases where it was detected at build time but not available at runtime"
Redmine ticket: https://bugs.ruby-lang.org/issues/11806

[2016-02-05 16:34] YorickPeterse opened #3606 "Add support for Module#deprecate_constant"
Redmine ticket: https://bugs.ruby-lang.org/issues/11398

I'm not sure how we'd tag a constant as deprecated in our current system, or how useful it is in the first place.

[2016-02-05 16:35] YorickPeterse opened #3607 "NameError#receiver is added to take the receiver object"
Redmine ticket: https://bugs.ruby-lang.org/issues/10881

[2016-02-05 16:36] YorickPeterse opened #3608 "String#+@ and String#-@ are added to get mutable/frozen strings"
Redmine ticket: https://bugs.ruby-lang.org/issues/11782

[2016-02-05 16:39] YorickPeterse opened #3609 "Thread#name, Thread#name= are added to handle thread names"
Redmine ticket: https://bugs.ruby-lang.org/issues/11251

Notes from what I found:
- `pthread_setname_np` on OSX only allows setting the name of the calling thread from what I could find.
- ASCII incompatible names should raise an ArgumentError
- Names are stored inside a thread as well as being used to set the OS thread name
- If a name is longer than 16 characters (the maximum length for POSIX th

[2016-02-05 16:40] YorickPeterse opened #3610 "Array#inspect doesn't raise error even if its content returns a string which is not compatible with Encoding.default_external as inspected result"
Redmine ticket: https://bugs.ruby-lang.org/issues/11801

[2016-02-05 16:40] YorickPeterse commented on #3610
This can be reproduced using:

[code]

[2016-02-05 16:41] YorickPeterse opened #3611 "Hash#inspect doesn't raise error even if its content returns a string which is not compatible with Encoding.default_external as inspected result"
Redmine ticket: https://bugs.ruby-lang.org/issues/11801

[2016-02-05 16:41] YorickPeterse opened #3612 "Update Array packing/String unpacking for new j/J directives"
Redmine ticket: https://bugs.ruby-lang.org/issues/11215

[2016-02-05 16:42] YorickPeterse opened #3613 "Add rb_define_class_id_under to the C API and update rb_define_class_under to raise a TypeError for a superclass mismatch"
This function is the same as `rb_define_class_under` except the name should be an `ID` instead of a `const char *`.

[2016-02-05 16:43] YorickPeterse commented on #3613
From the 2.3 changelog:

[2016-02-05 16:44] YorickPeterse opened #3614 "Add rb_timespec_now and rb_time_timespec_new to the C API"
Redmine ticket: https://bugs.ruby-lang.org/issues/11558

[2016-02-05 16:45] YorickPeterse opened #3615 "Regexp/String: Updated Unicode version from 7.0.0 to 8.0.0"
Ruby 2.3 applied this, unsure how this affects us. Noting it here so we don't lose track of it.

[2016-02-05 16:45] YorickPeterse commented on #3559
I moved all remaining TODOs to separate issues as that's much easier to keep track of. Closing this one.

[2016-02-05 16:45] #3559 closed

[2016-02-05 20:47] rue commented on #3550
OK

[2016-02-06 05:24] brixen commented on #3559
@YorickPeterse thanks for making all those tickets. It was nice to have this ticket as an overview and an easy reference.

[2016-02-06 19:57] burningTyger commented on #3598
At least one of the people mentioned above is banned from "participation in any forum or space, online or in-person, that is primarily devoted to the Rubinius project". What does that mean for the license change? Also, I actually disagree with banning people.

[2016-02-06 19:58] mitchellh commented on #3550
OK

[2016-02-06 21:15] YorickPeterse commented on #3598
@burningTyger

I have Emailed Charles in the past (I emailed all above users that had an Email on their GitHub profile) but have not yet gotten a reply. If need be I'll find other methods to contact them.

We don't. The reasoning for this can be found in http://rubinius.com/2016/01/15/banning-mr-nutter-for-repeated-harassment.

Having said all that, this issue is not the place to discuss anything

[2016-02-06 21:21] DanielVartanov commented on #3550
OK

[2016-02-07 07:23] brixen commented on #2788
As @dbussink noted, we run finalizers on a separate thread and that thread runs concurrently with no synchronization between it and the threads that are running Ruby code. Defined finalizers run at some nondeterministic point after an object is no longer reachable and before the process ultimately exits.

Closing this as won't fix.

[2016-02-07 07:23] #2788 closed

[2016-02-07 18:22] smarr opened #3618 "Process.clock_gettime and related Process::CLOCK_* not yet implemented"
I was trying to execute code that uses `Process.clock_gettime(Process::CLOCK_MONOTONIC, :nanosecond)` on rbx 3.14, but this does not yet seem to be implement.

My current work around is to use `Time.new`, which is fine for the amount of precision I need. So, not urgent, just wanted to document it.

[2016-02-07 18:34] pbevin commented on #3550
OK

[2016-02-09 17:12] #3613 closed

[2016-02-09 17:18] YorickPeterse commented on #3613
@ahmadsherif Does our `rb_define_class_id_under` / `rb_define_class_under` raise TypeError in the case mentioned above?

[2016-02-09 17:24] ahmadsherif commented on #3613
@YorickPeterse It does through `rubinius::Helpers::open_class` which in turn calls `rubinius::Helpers::check_superclass`.

[2016-02-09 17:30] YorickPeterse commented on #3613
@ahmadsherif Ah OK.

[2016-02-12 10:35] YorickPeterse commented on #3604
Took a stab at this but couldn't quite figure it out, diff I came up with so far for those interested:

[code]

[2016-02-12 11:07] #3607 closed

[2016-02-12 11:29] #3608 closed

[2016-02-12 13:39] YorickPeterse commented on #3614
`rb_time_timespec_new` was added in df6783d594c2419575d0031f086b0affa04ce331.

[2016-02-12 14:55] #3504 closed

[2016-02-12 15:49] YorickPeterse commented on #3598
I'm still awaiting a response from the following contributors:

@Aesthetikx @AndrewVos @anthropomorphic @audreyt @banister @brynary @btakita @bterkuile @carlosbrando @cezarsa @crayz @cyfdecyf @dlt @drbrain @drnic @frasca @Gibheer @gramos @Groogy @halorgium @headius @herminiotorres @heronmedeiros @hurdlea @huy @jero5 @jgre @jmstacey @jonforums @josh @krsh @kwatch @leavengood @matthewd @mlangenberg

[2016-02-12 15:52] YorickPeterse commented on #3547
Closing this due to the lack of feedback since and the Rubinius version in question being quite dated. Feel free to re-open if the problem persists on the latest version of Rubinius.

[2016-02-12 15:52] #3547 closed

[2016-02-13 20:03] lucianolev commented on #3533
I can confirm that uninstalling clang-3.6 and installing clang-3.5 make Rubinius compile successfully :)

[2016-02-15 14:57] krsh commented on #3550
OK

[2016-02-16 15:37] mame opened #3620 "Rubinius is slow to execute a big and trivial case-when statement"
Hello,

MRI adopts "jump table"-like optimization for case-when statement if all clauses have trivial immediate values such as Integer and Symbol.  How about implementing this optimization in Rubinius?

[code]

[code]

[code]

(I'm using rubinius/docker.)

Thank you for your consideration,

[2016-02-16 17:15] jemc commented on #3620
Something to watch out for:

You can't make this kind of optimization with `Fixnum` if the `===` method is overwritten for `Fixnum`, for example.

[2016-02-16 17:18] mame commented on #3620
Sure.  Whenever MRI evaluates such a case statement, it checks if `===` is redefined or not.

[2016-02-17 00:55] brixen commented on #3620
@mame thanks for the suggestion.

This optimization would go in the compiler, not in Rubinius itself, so https://github.com/rubinius/rubinius-code would be a more appropriate place for a PR.

The bigger issue is that there are many possible optimizations and without any information about how common such a case statement is, it's hard to know whether to prioritize it.

Alternatively, if someone wor

[2016-02-17 00:55] #3620 closed

[2016-02-17 03:47] mame commented on #3620
@brixen, I see, thank you for your reply.  I'm sorry I didn't know rubinius repository structure and policy.

This issue is critical in a program that I'm creating now (It is not published yet.  I plan to publish it in a few months).  I found Rubinius (and [JRuby 9k](https://github.com/jruby/jruby/issues/3672)) much slower than MRI, so I just wanted to inform a possible improvement to you.

Thank

[2016-02-17 04:17] brixen commented on #3620
@mame I hope you let us know when you publish your program. The diagnostics and performance tooling we're working on should make it easy to both see and analyze behavior like this, so hopefully someone will use that to make an improvement.

[2016-02-17 09:50] mame commented on #3620
@brixen Sure!

[2016-02-17 11:08] ahmadsherif commented on #3531
It seems that my conclusion wasn't very accurate after all. We just needed to optimize some spots for when a string contains ASCII characters only (and has an ASCII-compatible encoding). Right now RBX performs slightly better than MRI 2.3.0 on my machine for this benchmark, so closing as fixed.

[2016-02-17 11:08] #3531 closed

[2016-02-17 23:52] YorickPeterse commented on #3620
I created an issue in the rubinius-code repository for this so we won't lose track of it: https://github.com/rubinius/rubinius-code/issues/2

[2016-02-19 15:56] YorickPeterse commented on #3598
The following people still have non spec code on HEAD and have yet to reply:

@Aesthetikx @Gibheer @Stormwind @btakita @carlosbrando @halorgium @jero5 @matthewd @pH14 @seydar @southerngs @subwindow @tarcieri @tonysidaway @wilson @wycats @headius

[2016-02-19 16:29] audreyt commented on #3550
OK

[2016-02-19 20:34] #3600 closed

[2016-02-20 10:33] bianjp opened #3622 "Failed to install v3.15 on CentOS 7"
## Problem

I installed v3.14 successfully several days ago, but when I want to upgrade it to v3.15, `rake install` failed with the following errors:

[code]

## How to Reproduce

On CentOS 7.2, execute the following commands:

[code]

## Configuration Details

* Output of `rbx -v`: `rubinius 3.14 (2.2.2 a7ba16db 2016-01-28 3.4.2 JI) [x86_64-linux-gnu]`
* Output of `uname -a`: `Linux walkworld.tv

[2016-02-20 11:15] YorickPeterse commented on #3622
Is it possible to build with LLVM 3.5? Looking at [./configure](https://github.com/rubinius/rubinius/blob/333e3d7aba6bb88d954701e50f6af745b6749030/configure#L670) we enable C++11 mode only when LLVM is >= 3.5.

[2016-02-20 11:24] bianjp commented on #3622
The latest version of LLVM in [EPEL](https://fedoraproject.org/wiki/EPEL) repo is 3.4.2.

If LLVM >= 3.5 is required, then I have to install it manually.

[2016-02-20 15:59] jemc commented on #3622
@YorickPeterse - looking through the commit history, it looks like this was only predicated on LLVM 3.5 because LLVM 3.5 needed it, not because it was harmful for LLVM < 3.5.

It looks like the latest CodeDB changes assume C++11 support is present, so let's just move [that line](https://github.com/rubinius/rubinius/blob/333e3d7aba6bb88d954701e50f6af745b6749030/configure#L670) out of the conditiona

[2016-02-20 16:23] YorickPeterse commented on #3622
@jemc Commit 3bddf4ae mentions something about not applying this to everything (Gems in particular). I'm not sure if always enabling this will break anything. If we can enable it just for the VM code we should be good to go.

[2016-02-20 16:27] jemc commented on #3622
@YorickPeterse - yes, I saw the commit (and ones further back) when looking at the history.  Look at the diff for that commit - it's already inside the conditional there.  And the diff is changing it from adding it to `system_cxxflags` to adding it to `llvm_cxxflags`.  That's what is meant by the comment about applying it only to VM code and not gems.

[2016-02-20 17:05] YorickPeterse commented on #3622
@jemc Ah, in that case we can probably just move it outside of the LLVM version guard.

[2016-02-21 01:05] jemc commented on #3622
@bianjp - Please confirm that the issue is now resolved, and reopen if necessary.

[2016-02-22 02:45] bianjp commented on #3622
Thanks. Installation is now successful, but after installation any ruby command (like `ruby -v`) failed with the following error:

[code]

[2016-02-22 04:31] brixen commented on #3622
@bianjp is there a Docker base layer or Vagrant box you could point me to that I could use to repro your issue?

[2016-02-22 06:35] bianjp commented on #3622
@brixen
Sorry, I am not familiar with Docker or Vagrant. But running the following commands on a fresh CentOS 7 should be enough.

[code]

[2016-02-22 09:35] YorickPeterse commented on #3622
@bianjp Make sure that if `~/.rbx` already exists it's empty. I've seen this error before sometimes and removing any existing bytecode files usually solves it.

[2016-02-22 10:01] bianjp commented on #3622
@YorickPeterse You are right. Delete `~/.rbx` and reinstall solved the problem.
Thanks!

[2016-02-22 10:01] #3622 closed

[2016-02-24 06:54] anthropomorphic commented on #3550
OK

[2016-02-25 13:49] heronmedeiros commented on #3550
OK

[2016-02-25 14:25] brynary commented on #3550
OK

[2016-02-25 14:38] frasca commented on #3550
OK

[2016-02-25 21:54] ahmadsherif commented on #2934
After some digging, it may be not related to `autoload`. In one of the [failing examples](https://github.com/rspec/rspec-core/blob/facc88c0ae94836d5bc65e5a5f0a49d36d2c3de6/spec/rspec/core/drb_options_spec.rb#L9) `File.exist?` is stubbed to return `false`, the parser [uses this method](https://github.com/rubinius/rubinius-code/blob/fdf2230b1458a76305b3d9fb828b80add89de58b/lib/rubinius/code/melbourn

[2016-02-26 15:54] hubrix commented on #3430
-----> Ruby app detected
-----> Compiling Ruby/Rack
 !
 !     An error occurred while installing Ruby ruby-2.1.0-rbx-2.5.8
 !     For supported Ruby versions see https://devcenter.heroku.com/articles/ruby-support#supported-runtimes
 !     Note: Only the most recent version of Ruby 2.1 is supported on Cedar-14
 !     Command: 'set -o pipefail; curl -L --fail --retry 3 --retry-delay 1 --connect-time

[2016-02-26 15:55] hubrix opened #3623 "Rubinius 3.10 and 2.58 builds fail on heroku"
## Problem

-----> Ruby app detected
-----> Compiling Ruby/Rack
 !
 !     An error occurred while installing Ruby ruby-2.1.0-rbx-2.5.8
 !     For supported Ruby versions see https://devcenter.heroku.com/articles/ruby-support#supported-runtimes
 !     Note: Only the most recent version of Ruby 2.1 is supported on Cedar-14
 !     Command: 'set -o pipefail; curl -L --fail --retry 3 --retry-delay 1 --

[2016-02-26 16:03] jc00ke commented on #3623
That's a very old version of Rubinius... can you post the `ruby` line to your `Gemfile`?

[2016-02-26 16:11] chuckremes commented on #3430
@hubrix Install the latest Rubnius release and that warning will disappear.

[2016-02-26 16:22] hubrix commented on #3430
we tried 3.10 and got clang errors on building native extensions
2.5.7 seems to work ok

On Fri, Feb 26, 2016 at 11:11 AM Chuck Remes <notifications@github.com>
wrote:

[2016-02-26 16:27] CyberLeo commented on #3623
Here is the failing ruby line:
`ruby "2.1.0", :engine => "rbx", :engine_version => "2.5.8"`

This works:
`ruby "2.1.0", :engine => "rbx", :engine_version => "2.5.7"`

This fails while building native extensions with 'make: clang: Command not found':
`ruby "2.2.0", :engine => "rbx", :engine_version => "3.10"`

I did not see any other heroku builds available.

[2016-02-26 18:36] brixen commented on #3430
@hubrix it seems your comment that I saw in email isn't showing here. I believe the clang errors are fixed in 3.16 but I have to build a Heroku binary for you to be able to test that. Now that we are using the 14.04 dist on Travis, we should be able to build the Heroku binary on release so we're not lagging on it.

I may be able to get the binary built today, but if not, it will be within a couple

[2016-02-27 07:10] brixen commented on #3430
@hubrix 3.16 should be working on Heroku https://blooming-chamber-2721.herokuapp.com

[2016-02-27 07:10] brixen commented on #3623
@hubrix 3.16 should be working on Heroku https://blooming-chamber-2721.herokuapp.com

[2016-02-27 07:10] #3623 closed

[2016-02-27 11:36] medols opened #3624 "/Users/travis/.rvm/rubies/rbx//library/rbconfig.rb: No such file or directory"
## Problem

rbx-3.16:

Travis fails to import gemset /Users/travis/.rvm/gemsets/global.gems on osx but succeeds on linux.
Due to "/Users/travis/.rvm/rubies/rbx//library/rbconfig.rb: No such file or directory".

## How to Reproduce

[code]

## Configuration Details

Configuration details and stack traces for osx and linux:

https://travis-ci.org/medols/fresh/builds/112220847

[2016-02-27 19:31] medols commented on #3624
Solved with 3.17, thank you.

[2016-02-27 19:31] #3624 closed

[2016-02-27 19:51] brixen commented on #3624
@medols thanks, good to hear.

[2016-02-29 19:46] cezarsa commented on #3550
OK

[2016-02-29 20:13] ahmadsherif commented on #3325
Seems to be the same as #3544. The snippet given doesn't reproduce now anyway, so closing as fixed.

[2016-02-29 20:13] #3325 closed

[2016-03-01 12:21] medols commented on #3624
Tried with 3.19 and stalls:
https://travis-ci.org/medols/fresh/jobs/112836245

[2016-03-02 19:03] medols commented on #3624
@brixen thanks for the suggestion, we tried restarting at different hours with the same result.

The stall can be reproduced outside travis-ci with a regular rvm + osx 10.11.
When the rbx install stalls Ctrl+C breaks the stall and then completes installation as usual.
The result is a regular rbx setup.

We will remove osx and leave linux in travis-ci which is fine for us, then test rvm + osx local

[2016-03-02 21:20] brixen commented on #3624
@medols can you look at `$TMPDIR/rbx-<username>.log` on you local OSX and see what may be in the log when you ^C?

[2016-03-02 22:51] medols commented on #3624
@brixen could it be this piece of the log?
[rvm.txt](https://github.com/rubinius/rubinius/files/155841/rvm.txt)

[2016-03-02 23:53] brixen commented on #3624
@medols oh, interesting, it may be; I see a segv there installing the rvm gem. What is the rvm gem?

[2016-03-04 17:12] medols commented on #3624
@brixen you are right about the rvm gem but it is the first time we see it:
the command line that generated the log was "rvm install rbx-3.19".

Please, note the two SIGSEG at lines 149 and 301 despite travis-ci succeeds with linux:
https://travis-ci.org/medols/fresh/builds/113705040

[2016-03-04 17:43] brixen commented on #3624
@medols ok, I'm really close to merging the stw branch into master that has a bunch of fixes for GC-related stuff. Once I do that, it will be good to see if these issues are resolved.

[2016-03-06 21:26] ahmadsherif commented on #3501
`IO#read_nonblock` now accepts `exception` option, so closing as fixed.

[2016-03-06 21:26] #3501 closed

[2016-03-13 01:54] wahjava opened #3627 "Rubinius build broken with FreeBSD"
## Problem

It fails to compile, and segfaults during build

## How to Reproduce

Build with usual build process on FreeBSD 10.x

## Configuration Details

* Output of `rbx -v`:

Since it fails at compilation, it never gets installed.

* Output of `uname -a`:

FreeBSD hostname 10.1-RELEASE-p9 FreeBSD 10.1-RELEASE-p9 #0: Tue Apr  7 01:09:46 UTC 2015     root@amd64-builder.daemonology.net:/usr/obj/u

[2016-03-13 05:14] brixen commented on #3627
@wahjava thanks for opening an issue. I have a Vagrant 10.2 image that I'm using to debug and I'm working on some issues on the stw branch now that are probably related. Hoping to merge stw soon and then I'll take a look at FreeBSD again.

Regarding LLVM, we have the mcjit branch where we're adding support for 3.6+, but master still requires <= 3.5. However, the gist of your crash doesn't show any

[2016-03-14 12:17] wahjava commented on #3627
Thanks for the follow up. If there is any diff, I can try to help with testing, then please let me know.

[2016-03-14 17:33] brixen commented on #3627
@wahjava you could try building the stw branch, something like this (assuming you already cloned rbx):

[code]

[2016-03-16 02:14] asppsa opened #3628 "Errors using Marshal.load"
## Problem

When using `Marshal.load` to load certain marshalled data structures, I am seeing `ArgumentError` exceptions and occasional segfaults.  I do not have the issue in 3.14; from my tests it seems to have started with 3.15.  I've tested 3.19, but not git master.
## How to Reproduce

The following script usually produces the issue for me.  Sometimes I have to run it more than once.

[code]
#

[2016-03-16 04:34] brixen commented on #3628
@asppsa could you `export RBXOPT=-Xint` and try running your repro?

[2016-03-16 05:40] asppsa commented on #3628
@brixen, I can confirm that using this option makes the problem go away on rbx-3.19

[2016-03-16 05:43] asppsa commented on #3628
If it helps, I'm using LLVM 3.5.2, as distributed by Archlinux

[2016-03-16 16:32] brixen commented on #3628
@asppsa it's not likely the version of LLVM that you're using but more likely an issue with the JIT handling some particular code shape. If you are interested in digging into it a bit, there are some JIT specs under `spec/jit/` that you may be able to use as an example. If you want to work on it, hop in the Gitter channel and chat us up. Otherwise, I'll try making a repro as a JIT spec but I proba

[2016-03-17 08:10] majioa commented on #3553
+1 to address to JIT system in 3.6, please fix it.

[2016-03-18 09:03] majioa opened #3629 "A safe navigation operator"
## Problem

The exception is thrown in the code:

## How to Reproduce

The problem is risen up because of new operator of ruby (mri) 2.3.0 isn't exist in  rubinius:

The problem present in both 2.11 and 3.19 versions.

  [1]: https://www.ruby-lang.org/en/news/2015/12/25/ruby-2-3-0-released/

[2016-03-18 17:08] brixen commented on #3629
@majioa this is an issue for the parser and compiler, and unlikely to need any changes in Rubinius itself. Could you please re-open the issue here https://github.com/rubinius/rubinius-code/issues ?

Note that Rubinius provides a Ruby-compatibility version in the `-v` output. For example:

[code]

 Currently, that is 2.2.2, so this operator won't be supported until that compatibility version is 2.3

[2016-03-18 17:08] #3629 closed

[2016-03-19 11:18] wahjava commented on #3627
@brixen Sorry for the delay in feedback. I have tried building 154bde30cb4b22782f2a858b39c23370eae985a6 (`stw` branch), and it still dumps core with following backtrace:

    (gdb) bt
    #0  arena_chunk_dirty_insert (rbtree=0x80301dc78, node=0x805c00000) at jemalloc_arena.c:205
    #1  0x000000080188a462 in arena_avail_insert (arena=0x80301dc00, chunk=0x805c00000, pageind=15, npages=<optimized ou

[2016-03-20 15:57] mfazekas opened #3630 "support for 2.2 quoted symbol in hash {'abc':5}"
## Problem

rbx 3.1 doesn't support {'abc':5}

this was new feature introduced in 2.2
https://github.com/ruby/ruby/blob/v2_2_0/NEWS#L19-L20

## How to Reproduce

[code]

## Configuration Details

* Output of `rbx -v`: rubinius 3.1 (2.1.0 d8e5c64a 2016-01-04 3.5.1 JI) [x86_64-darwin14.5.0]
* Output of `uname -a`:
* Distribution name (in case of Linux/BSD):
* Contents of `config.rb` (as a Gist link)

[2016-03-20 16:03] mfazekas commented on #3630
i'm a bit confused seems i should be trying 3.3 sorry. https://github.com/rubinius/rubinius/issues/3600

[2016-03-20 16:03] #3630 closed

[2016-03-20 17:50] brixen commented on #3630
@mfazekas we need to find better ways to communicate the latest release but note that can find it here https://github.com/rubinius/rubinius/releases/latest and at the top of http://rubinius.com. The latest release right now is 3.19.

[2016-03-24 23:04] drbrain commented on #3550
Per my email (attached in comments above) you need to ask @engineyard if they are OK with the license change for the commits with my name during my employment there.

If you find code contributed by me that is was not committed during my employment with @engineyard please re-ping me so I can properly confirm/deny (I'm unsure if there is any).

[2016-03-25 10:25] whitequark opened #3631 "Concatenating strings with invalid encoding can result in a string with valid encoding"
## Problem

Concatenating several UTF-8 code unit sequences with UTF-8 encoding that are not valid UTF-8 one by one but are valid UTF-8 together should result in a string whose `.valid_encoding?` returns `true`.

This results in a CI failure in Parser: https://travis-ci.org/whitequark/parser/jobs/118439683

## How to Reproduce

[code]

rbx prints `false`, MRI prints `true`.

## Configuration Detai

[2016-03-25 16:20] chuckremes opened #3632 "Compilation failure on Ubuntu 15.10 64-bit for 3.19"
## Problem
Compilation of 3.19 fails during linking step (LD vm/vm). Complains about an undefined reference to llvm::sys::getDefaultTargetTriple() in vm/llvm/artifacts/disassembler.cpp.o: 'JITDisassembler'.

There were other issues on this topic but the problem appeared to be due to having multiple LLVM versions installed (e.g 3.5 and 3.6). Since this is a fresh install I know that only clang 3.5

[2016-03-25 23:31] #3535 closed

[2016-03-26 21:01] #3631 closed

[2016-03-31 15:14] mame commented on #3620
@brixen FYI: I published [my program and benchmark result](https://github.com/mame/optcarrot).  Enjoy!

[2016-03-31 16:18] brixen commented on #3620
@mame thanks for letting us know!

[2016-04-04 00:30] ioquatix commented on #3373
Part of the issue is that we couldn't call Actor#inspect on dead actors, but this issue was fixed, so now it is fine to call #inspect even on dead actors. I believe that using object.inspect in the exception backtrace is not a bad approach. It should be fine to call inspect but I see there is a lot of contention around this issue.

[2016-04-04 13:13] brauliobo opened #3633 "String#sub not allocating a new string"
Create a spec file with contents:
[code]

Running it will fail with:
[code]

Tested on rbx 2.5.2 and 3.22, works with MRI

[2016-04-04 13:18] brauliobo commented on #3633
the problem is on `sub` as using `gsub` make it pass

[2016-04-04 17:28] #3633 closed

[2016-04-05 11:28] medols opened #3634 "Array#new_range"
## Problem

Array#new_range does not append nil elements.

Thank you.

## How to Reproduce

[code]
[code]

## Configuration Details

[code]
[code]

[2016-04-05 14:47] medols commented on #3624
Thank you @brixen, good job. Now travis works fine with both linux and osx using the latest release.

[2016-04-05 16:02] brixen commented on #3624
@medols great to hear, thanks for letting us know!

[2016-04-05 17:14] #3634 closed

[2016-04-05 17:40] medols commented on #3634
En Brian ja ho ha arreglat:

https://github.com/rubinius/rubinius/issues/3634

[2016-04-05 17:48] brixen commented on #3634
@medols sorry, I messed up the commit closing the issue. :( I'll tag 3.24.

[2016-04-05 18:04] medols commented on #3634
We use a local method with 3.23, 3.24 is fine, thank you @brixen

[2016-04-05 18:18] brixen commented on #3634
@medols no problem, thanks for reporting.

[2016-04-06 17:14] #3363 closed

[2016-04-06 21:07] tak1n commented on #3610
As I'm currently in the process of implementing that the question which raises is what does CRuby use for encoding if the array contains multiple elements of different non compatible encoding.

Trying to extract that out of the c code in the mentioned redmine ticket.

What I could come up for now:

[code]

CRuby:

[code]

Rbx:

[code]

[2016-04-08 03:25] jimmycuadra commented on #3202
I'm gonna close this issue since it sounds like this behavior is going to be removed from MRI, and should not be added to Rubinius. Also, I changed the code I was using that helped me discover this, so I don't need it any more myself.

[2016-04-08 03:25] #3202 closed

[2016-04-08 04:47] brixen commented on #3202
@jimmycuadra thanks for letting us know. FWIW, `Proc.new` is equivalent to `proc` according to `ri proc`, so if you really needed this behavior, it's there. Wouldn't be hard to make `proc` behave the same as `Proc.new`. If you're interested, see `core/kernel.rb` and `core/proc.rb`.

[2016-04-08 05:35] brixen commented on #3202
@jimmycuadra since we already had this behavior and since it's easy to support and supporting it doesn't really affect anything else, I went ahead and fixed it so `proc` is basically `Proc.new`.

[2016-04-14 07:44] tomkadwill commented on #3602
Hi @YorickPeterse, are you happy if I take a look at this? I'm a new contributor, is there any timeline for this feature?

[2016-04-14 09:53] YorickPeterse commented on #3602
@tomkadwill Knock yourself out, there's no deadline whatsoever :)

[2016-04-14 16:29] brixen commented on #3602
@tomkadwill thanks for taking a look at this! Please hop into the Gitter channel if you have any questions.

[2016-04-17 02:52] jkr2255 opened #3636 "Inconsistent class with negative integer constant"
## Problem

`(-0x4000_0000_0000_0000).class` becomes Bignum, which can be stored in Fixnum.

Existing two representations for the same integer value may cause unexpected behaviors.
## How to Reproduce

[code]
## Configuration Details
- Output of `rbx -v`:
  `rubinius 3.27 (2.2.2 628fe1c2 2016-04-15 3.4.2) [x86_64-linux-gnu]` : installed from ruby-build & rbenv
- Output of `uname -a`:
  `Linux loca

[2016-04-18 12:21] jkr2255 opened #3637 "have_func for Ruby C API always returns false"
## Problem

In writing C extension, I wanted to use `rb_big_pack`, which is [Recently added to Rubinius](https://github.com/rubinius/rubinius/issues/3089).

So, write `have_func('rb_big_pack')` in `extconf.rb` and ran, It reported `checking for rb_big_pack ... no`.

Not only this function, other functions such as `rb_p` fail to check existence in mkmf.

### Investigation

In CRuby, C source code g

[2016-04-18 19:21] brixen commented on #3637
@jkr2255 we don't build a library, so there's nothing for mkmf to link against to check for the existence of symbols like that. Since all mkmf does is define a macro like HAVE_ABC, we just do that directly when C-exts need it. If you take a look at `machine/include/capi/ruby/defines.h`, you should be able to add what you need. If you could send a PR, I can merge and tag a release.

[2016-04-21 16:09] pH14 commented on #3550
OK

[2016-04-23 12:40] asppsa commented on #3628
I can no longer reproduce this error on RBX 3.29.  I guess it got fixed!

[2016-04-23 14:26] brixen commented on #3628
@asppsa the JIT is currently disabled by default so I'm going to re-open this and double check when I re-enable the JIT. I'm just finish up the call site inline cache rewrite and will be working on the JIT right now, so I should either be able to repro this or it will be fixed.

[2016-04-23 18:50] #3637 closed

[2016-04-29 19:46] gkellogg opened #3643 "Splat args with **options are not passed to super properly"
## Problem

A method taking `*args` and `**options` invoking `super` with the same signature ends up not splatting the arguments

## How to Reproduce

[code]

## Configuration Details

* Output of `rbx -v`: rubinius 2.71828182.c1 (2.1.0 0f7189c7 2016-01-01 3.5.1 JI) [x86_64-darwin13.4.0]
* Output of `uname -a`: Darwin Greggs-iMac.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2

[2016-04-30 03:52] #3224 closed

[2016-04-30 19:04] #3643 closed

[2016-05-02 13:37] papilip opened #3647 "Rake aborted on FreeBSD 10.3-RELEASE"
## Problem
Unable to compile rubinus, `after mkdir -p runtime/core` rake aborted

## How to Reproduce
In a fresh FReeBSD install
[code]

## Configuration Details
* Output of `rbx -v`: never installed
* Output of `uname -a`: FreeBSD myserver 10.3-RELEASE FreeBSD 10.3-RELEASE #0 r297264: Fri Mar 25 02:10:02 UTC 2016     root@releng1.nyi.freebsd.org:/usr/obj/usr/src/sys/GENERIC  amd64
* Distribution

[2016-05-02 17:45] brixen commented on #3647
This should be fixed by 4b2a14b3.

[2016-05-02 17:45] #3647 closed

[2016-05-03 09:04] GoldenKeyRiver opened #3648 "Can't use Gtk3 gem"
## Problem

Gtk3 gem isn't working.

## How to Reproduce

Install gtk3 and run any simple program.

## Configuration Details

* Output of `rbx -v`: rubinius 3.27 (2.2.2 628fe1c2 2016-04-15 3.5.2) [x86_64-linux-gnu]
* Output of `uname -a`: Linux PalladiumRiverPC 4.5.2-1-MANJARO #1 SMP PREEMPT Thu Apr 21 01:07:48 UTC 2016 x86_64 GNU/Linux
* Distribution name (in case of Linux/BSD): Manjaro Linux Gno

[2016-05-03 09:08] papilip commented on #3647
@brixen Can you send me the command for compile rbx ? I can’t compile in my freebsd server or the vagrant file

[2016-05-03 13:32] YorickPeterse commented on #3648
This is a known issue. The gtk Gem (and various related Gems) use various MRI specific APIs we can't support in Rubinius. See the following issues for more information:

* https://github.com/rubinius/rubinius/issues/3257#issuecomment-68284381
* https://github.com/rubinius/rubinius/issues/1988
* https://github.com/ruby-gnome2/ruby-gnome2/issues/117

[2016-05-03 13:32] #3648 closed

[2016-05-04 03:44] brixen commented on #3647
@papilip

[code]

When `rake build` completes, `bin/rbx` will be the executable. You can add `/path_to_clone/bin/rbx` and `/path_to_clone/gems/bin` to PATH to run directly, or see the `--prefix` option for configure to set an install location. Use `rake install` instead of `rake build` if your configure with a prefix.

[2016-05-04 04:45] #3419 closed

[2016-05-06 22:30] brixen commented on #3632
Rubinius master HEAD should build with LLVM 3.6+. Please open a new issue if you hit a problem building with 3.6+.

[2016-05-06 22:30] #3632 closed

[2016-05-07 00:01] jc00ke opened #3652 "Unable to build HEAD on Ubuntu 16.04 with LLVM 3.6"
## Problem

Saw #3632 and thought I'd try building on my laptop

## How to Reproduce

[code]

## Configuration Details

* Output of `rbx -v`: `N/A`
* Output of `uname -a`: `Linux kendrick 4.4.0-21-generic #37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
* Distribution name: Ubuntu 16.04
* Contents of `config.rb`: [gist](https://gist.github.com/jc00ke/53fb94fc481778449c2d

[2016-05-07 03:58] #3652 closed

[2016-05-07 16:23] jc00ke commented on #3652
![bitmoji](https://render.bitstrips.com/v2/cpanel/9975410-118866928_5-s1-v1.png?palette=1&width=246)

[2016-05-07 17:54] brixen commented on #3652
@jc00ke lol ❤️

[2016-05-08 03:03] brixen commented on #3627
@wahjava I've successfully built Rubinius master recently on 10.3. Would you mind checking if it builds for you?

[code]

[2016-05-09 13:37] digitalextremist opened #3653 "Aborting with SIGSEGV; the sequel, twice-over."
Similar to #3322 except:
- Already using `resolv-replace`
- Already using `mysql2`

Identical to #2908 except:
- Not using `nokogiri`

Not sure how to reproduce or even interpret the backtrace.

[code]

Stacktrace & GDB output:
* https://gist.github.com/digitalextremist/64eff339a60a9119285b689f74f0caf0
* stacktrace.txt: https://gist.github.com/digitalextremist/64eff339a60a9119285b689f74f0caf0#file

[2016-05-09 18:40] brixen commented on #3653
@digitalextremist unfortunately, we are not working any longer on any Rubinius 2.x and there are a bunch of concurrency, GC, JIT issues that I've been tackling on the 3.x line. Currently, the JIT is disabled on the most recent 3.x release (3.30 as of right now), but it will be re-enabled very soon. If the JIT is critical to your application, I suggest trying 3.19, but note that you may experience

[2016-05-09 18:40] #3653 closed

[2016-05-11 08:39] digitalextremist commented on #3653
Thanks @brixen. I've temporarily solved this by running one of two `Ruby` server processes with `jRuby` and one with `Rubinius`; I will definitely try `3.x` for that.

[2016-05-11 17:26] brixen commented on #3653
@digitalextremist ok, keep me in the loop. Landed some profiler stuff yesterday and working on the JIT today, so hopefully we'll be cooking with gas soon. :)

[2016-05-18 04:23] kallisti5 opened #3654 "Build fails on Ubuntu 16.04"
[code]

[2016-05-18 10:39] tmornini opened #3655 "Brew LLVM catch 22?"
## Problem

As of release 3.30, I can no longer install as I have been able to up to release 3.29.

ruby-build says I need LLVM 3.5 if I have anything other than 3.5 installed with Brew.

If I install LLVM 3.5 with brew, then ruby-build reports that LLVM 3.6+ is required.

## How to Reproduce

[code]

## Configuration Details

* Output of `rbx -v`: n/a
* Output of `uname -a`: Darwin Toms-MacBook-A

[2016-05-18 16:41] brixen commented on #3654
@kallisti5 could you try building with clang? Since you're on 16.04, the default clang and llvm packages should be sufficient.

[2016-05-18 16:43] brixen commented on #3654
@kallisti5 if `./configure` doesn't detect `clang` and `clang++` automatically, you can pass `--cc=<whatever> --cxx=<whatever++>` to configure.

[2016-05-18 16:51] brixen commented on #3655
@tmornini unfortunately, this is an issue with ruby-build. It looks like it's trying to be helpful, but it's doing that in such a way that you are helpless. Instead of advising, it's dictating what you can do, even when you have better information, unless there is a way to tell it to ignore that, but I cannot help you with rbenv/ruby-build.

I suggest using ruby-install, which can install for rben

[2016-05-18 16:51] #3655 closed

[2016-05-26 10:05] ippeiukai opened #3657 "Redefining plus operator of Fixnum crashes the process"
## Problem

Following gist ran fine with Rubinius two years ago, but not with the latest.
https://gist.github.com/ippeiukai/6f8ac64f6e3fba43002e

Running `echo 'puts 2+2' | ruby -r /tmp/two_plus_two_is_five.rb` with Rubinius 3.33, the process silently exits with status 255.
[code]
While with other Ruby implementations it outputs `5`.
[code]

## How to Reproduce

[code]

Alternatively, executing fo

[2016-05-26 14:02] jc00ke commented on #3657
IIRC Rubinius does not allow you to override certain math methods. Rubinius is mainly written in Ruby, so redefining these methods could break all sorts of things with unintended consequences. It's one of the few places where Rubinius diverges on purpose.

If I'm wrong someone will reopen.

[2016-05-26 14:02] #3657 closed

[2016-05-26 17:44] brixen commented on #3657
@jc00ke thanks for giving feedback. This is a confusing area that I haven't documented yet in the Rubinius book. I'll clarify here and add some notes in the book.

@ippeiukai Rubinius doesn't prevent you from overriding Ruby methods, even when doing so would make no sense (ie 2 + 2 == 5) or utterly break Rubinius and make it impossible for it to do anything useful (eg overriding Fixnum#+).

In Rub

[2016-05-27 04:28] ippeiukai commented on #3657
@brixen I guess it is rather unusual for implementations of standard libraries not to break down completely with fundamental change to nature of integral values. Indeed this seems to be a manifestation of how little other Ruby implementations rely on `Fixnum` for integer. Said that, the chance of encountering `2+2` is much smaller than `i+1` operation. Maybe everything is up to chance anyways.

Bt

[2016-05-27 04:43] brixen commented on #3657
@ippeiukai that's a really good question about why it's trying to dispatch to `Kernel#+` but I don't know offhand, I'd have to debug it further. Do you have time to look into it? Possibly a bug in the inline caching?

[2016-05-27 04:58] brixen commented on #3657
@ippeiukai ahh, I think I understand why. Look at the bottom of the stack trace. You'll see that when line 8 of your script runs (ie `public :+`), it dispatches to `Kernel#+`. That's because the code in `public` needs to call `Fixnum#+`, but you made `plus_with_two_plus_two_is_five` private! So when the code for `public` runs, it can't use `Fixnum#+` to do its work. Nasty!!! :)

[2016-05-28 22:00] digitalextremist opened #3658 "Memory corruption causing sudden death of processes."
Seems to be similar error output to: #2674

---

At seemingly random points, one of the following errors will output to the _calling terminal_ ( not `STDOUT` or `STDERR` ) ... and there could be more:

[code]
#### No discernable way to reproduce.
## Configuration Details
- `rubinius 3.33 (2.2.2 db6f477e 2016-05-23 3.6.0) [x86_64-linux-gnu]`
- `Linux #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_

[2016-05-29 04:53] digitalextremist commented on #3658
@chuckremes is there any chance this could be influenced by `ffi-rzmq`, or are you pretty confident it's `Rubinius` itself? I ask because it seems like these are pointer-related, and I recall seeing a lot of memory pointers being defined to properly integrate with `libzmq3` underneath.

The above errors happen on any one of `7` different processes built with `Celluloid`; each communicates by `0MQ`

[2016-05-29 21:32] wahjava commented on #3627
@brixen Sorry for the delay in follow up. I can confirm that I'm able to build the `HEAD`, as well as the latest released version `3.33` on `10.3-RELEASE (amd64)`.

This issue can be closed.

Thanks!

[2016-05-30 04:03] brixen commented on #3627
@wahjava great! Thanks for letting us know.

[2016-05-30 04:03] #3627 closed

[2016-05-30 12:08] digitalextremist commented on #3658
More examples:

[code]

[2016-05-30 12:32] digitalextremist commented on #3658
Also noticing these in `kern.log` but unsure if they are directly related:

[code]

[2016-05-31 17:12] brixen commented on #3658
@digitalextremist any change you may be able to run one of these processes under a debugger? There are a number of places that `free()` could be called, so finding out where this is being called would help tremendously.

A few places that `free()` may be called include: 1. C-API via a C-ext, 2. FFI disposing of memory, 3. in the large object region during sweep, 4. at various places in Rubinius wh

[2016-06-05 12:24] thedrow opened #3661 "Data::finalize: object has invalid handle! during bundle install"
## Problem

Got an error message during a bundle install regarding an invalid handle while finalizing an object.
## How to Reproduce

I cloned the [grape](https://github.com/ruby-grape/grape) framework's repository and typed bundle install.
## Configuration Details
- Output of `rbx -v`: rubinius 3.36 (2.2.2 f23df637 2016-06-05 3.6.2) [x86_64-darwin13.4.0]
- Output of `uname -a`: Darwin OmerK.local

[2016-06-05 14:14] thedrow opened #3662 "Segfault while running the tests for the mysql2 gem"
## Problem

I run the test suite for mysql2 and got a segfault.
## How to Reproduce

Please keep this as simple as possible and provide either a set of steps or a
script/application to reproduce this problem (and remove this sentence).
## Configuration Details
- Output of `rbx -v`: rubinius 3.36 (2.2.2 f23df637 2016-06-05 3.6.2) [x86_64-darwin13.4.0]
- Output of `uname -a`: Darwin OmerK.local 15.5

[2016-06-05 14:25] brixen opened #3663 "Issue installing guard and running specs"
Tracking this issue here https://github.com/guard/listen/issues/400

[2016-06-05 17:38] thedrow commented on #3663
Why is the exception message for frozen hashes different?
In RBX it's "can't modify frozen instance of Hash" and in MRI Ruby it's "can't modify frozen Hash".
I agree the former is clearer but we should compatible with MRI Ruby IMO.

[2016-06-05 19:11] brixen commented on #3663
@thedrow we do not generally match MRI's verbiage for many reasons, but mostly because they are "non-executable" content and code should not be matching on arbitrary Strings when there are proper instances of classes (eg an RuntimeError, ArgumentError, etc). Something that exacerbates the problem you're seeing is MRI's very poor use of attributes on Exception classes to provide actual information

[2016-06-06 04:43] digitalextremist commented on #3480
Out-dated.

[2016-06-06 04:43] #3480 closed

[2016-06-06 04:44] digitalextremist commented on #3146
Out-dated.

[2016-06-06 04:44] #3146 closed

[2016-06-06 04:50] digitalextremist opened #3664 "The sudden-death round-up."
This is a catch-all ticket to include #3658, but more specifically enumerate root causes of that ticket and other associated issues, per @brixen's research, after `3.36`... tracing through `2.5gb+` core-dump's, etc.

Copied summaries from gitter:
- [ ] Managed finalizer on halt aborting in the global method cache.
- [ ] Fiber messing up switching stacks.
- [ ] A corrupt CallSite/InlineCache.

Some

[2016-06-06 05:04] digitalextremist commented on #3664
@brixen verified the `machine.fiber.stack_size` is being set properly, and got another stack trace directly from the log this time:

* https://gist.github.com/digitalextremist/a2bbeeab4beab118ed57c369d7754672

As well as `dumps/core.Y`

[2016-06-07 17:35] digitalextremist commented on #3664
Radical amounts of progress on this but off `GitHub` for all those waiting with anticipation ( :laughing: )

[2016-06-07 17:37] digitalextremist opened #3665 "Timeout: One thread per Timeout instance; consolidate."
Per recent discovery/realization while debugging: `Timeout` is taking up one thread per instance.
- [ ] Refactor to share one thread across all timeouts.
- [ ] With monotonic counters.

[2016-06-07 19:24] digitalextremist opened #3666 "Logger does not get new fd appropriately. Log files to not compress."
This is a reminder ticket for something @brixen observed in a debugging situation, and which even I don't fully know the details of but promised to ticket. Feel free to change body of ticket as needed:

- [x] Logger does not get new fd appropriately. (fixed in https://github.com/rubinius/rubinius/commit/2932ba11bc83eabc09acc43ae3f79e6cae85dc86)
- [x] Log files to not compress. (fixed in https://gi

[2016-06-08 16:56] chuckremes opened #3667 "Performance - #sprintf causes internal mutex/lock contention on Date#to_s calls"
## Problem

When calling `to_s` on a Date object we end up calling this code:

[code]

In a multi-threaded program that is calling this method a lot, the threads all end up contending for the lock on the cache entry for that format string.

See backtrace below.
## How to Reproduce

[code]
## Configuration Details
- Output of `rbx -v`:
  `rubinius 3.37.c3 (2.2.2 d49a89ad 2016-06-07 3.8.0) [x86_64-d

[2016-06-09 04:08] tak1n opened #3668 "Segfault in one of our closed source gems"
## Problem

When running the specs of one of our gems a segfault occurs.
## How to Reproduce

I will try to dig deeper and create a reproduction script.
## Configuration Details
- Output of `rbx -v`: `rubinius 3.29.c113 (2.2.2 d49a89ad 2016-06-07 3.8.0) [x86_64-linux-gnu]`
- Output of `uname -a`: `Linux benny-Lenovo-Y50-70 4.4.0-22-generic #40-Ubuntu SMP Thu May 12 22:03:46 UTC 2016 x86_64 x86_64

[2016-06-09 04:11] tak1n commented on #3668
And another one: https://gist.github.com/tak1n/bbddf1bd5bc5e2850157656c43d14f36

[2016-06-09 08:00] digitalextremist commented on #3668
Is this still happening once you upgrade to `3.38`?

[2016-06-09 09:34] tak1n commented on #3668
Yep getting another segfault on `3.38`.

Segfault output: https://gist.github.com/tak1n/98c805f8e9735f7739ed35550cf784b5
LLDB debugging: https://gist.github.com/tak1n/7dae2023b78dcf2fb735afb796ac002d

[2016-06-09 10:38] tak1n commented on #3668
Not sure if this helps somehow: https://gist.github.com/tak1n/75a5d8e2468f196a2b17793e11325256

[2016-06-09 11:04] digitalextremist opened #3669 "Logger debugging enhancement."
As of `3.37` we've had `Fiber` activity in the log, which for `Celluloid` opens an entirely new world of possibilities for debugging. With one thing preventing that ( which was already discussed, on Gitter ):
- [x] The ignored paths in the call site for `Fiber` activity needs to be configurable, because `Celluloid` conceals the true call site, like so...

[code]

The ultimate caller needs to be di

[2016-06-09 12:57] chuckremes commented on #3669
@digitalextremist I think the second item is well within your capability. Time for your first (?) patch to rubinius!

I'd recommend adding a `-X` command line switch to turn that behavior on and default to the current behavior.

[2016-06-09 13:10] digitalextremist commented on #3669
Hadn't thought of that @chuckremes, I think you're right. I will claim the second piece and use that as an entry-point to code contributions.

[2016-06-09 14:46] brixen commented on #3669
@digitalextremist I'm not following the second piece. Here's some quick info about how configuration variables work: there is a hierarchy that includes: 1. a distinguished file in the user's HOME dir, 2. a distinguished file in the cwd of the process, 3. RBXOPT env var, 4. command line options, and 5. the default values. See https://github.com/rubinius/rubinius/blob/master/machine/environment.cpp#

[2016-06-09 15:04] digitalextremist commented on #3669
@brixen excellent -- I appreciate the help getting up to speed with development, and appreciate the immediate `411` on what I need to know. Very curious and looking forward to this.

[2016-06-10 18:21] chuckremes opened #3670 "Date.parse performance is very slow"
## Problem

Date.parse is extremely slow.
## How to Reproduce

[code]

Results for rbx 3.39 vs mri 2.3.0 vs jruby 9.1.2.0

[code]
## Configuration Details
- Output of `rbx -v`: 3.39
- Output of `uname -a`: darwin
- Distribution name (in case of Linux/BSD): OSX

[2016-06-11 09:47] digitalextremist commented on #3658
Ticket update... as of `3.38` I believe, the specific symptoms of this issue abated; but the underlying issue feels like it's there -- manifesting differently. See #3664 for continuation from here on; leaving open though, until #3664 is resolved.

[2016-06-11 12:44] digitalextremist commented on #3669
@brixen I'm not seeing log filters affect the log output. Am I missing a step? I've set `RBXOPT` properly, then run processes: no filtration. When no value is specified, I see `core/*` references also, as if the default itself is not being honored. The only thing I was able to see take effect was passing in an invalid regular expression, which crashes the process at start-time. Am I missing someth

[2016-06-11 12:51] digitalextremist commented on #3669
Strings I tried:

- `'^.*/celluloid.*$|^core/.*$'`
- `('^.*/celluloid.*$)|(^core/.*$)'`
- `'^core/.*$'`

None has effect. This is what crashed:

- `'^.*\/celluloid.*$|^core\/.*$'`

[2016-06-11 19:39] saizai opened #3671 "Can't build EM 1.2.0.1 on OSX w/ macports openssl 1.0.2h on RBX 2.5.8 or 3.39; can on ruby 2.3.1"
See: https://github.com/eventmachine/eventmachine/issues/722

[2016-06-12 16:21] brixen commented on #3669
@digitalextremist already mentioned in Gitter, but to close the loop here: a build from source on the box (so not using RVM) shows the filters working. Next step is to try to figure out why they are not working when installed/running under RVM.

[2016-06-12 16:23] brixen commented on #3666
@digitalextremist should be good. Please re-open if I've overlooked something.

[2016-06-12 16:23] #3666 closed

[2016-06-12 21:52] chuckremes commented on #3667
Here's a better script.

[code]

[2016-06-12 21:55] chuckremes opened #3672 "Emitted profiler output isn't thread-safe"
## Problem

While working on some repro code for a lock contention issue, I noticed that the streamed profiler output was wrong.

## How to Reproduce

Execute this script:
[code]
Should execute like:
[code]

## Configuration Details

* Output of `rbx -v`: 3.40
* Output of `uname -a`: darwin
* Distribution name (in case of Linux/BSD): OSX

## Stack Trace

Profiler/diagnostic output:
https://gist.gi

[2016-06-13 11:27] chuckremes commented on #3672
Can't reproduce anymore. As @brixen suggested on gitter, I must have had a second process running that was writing to the same file. Don't know how since I was running everything from the same terminal window but it's the only explanation that makes sense.

Closing until I can reliably reproduce this.

[2016-06-13 11:27] #3672 closed

[2016-06-13 14:38] brixen commented on #3672
@chuckremes I'll still take a look. There is a config option `-Xsystem.profiler.subprocess=yes/no` that sets whether to run the profiler in a subprocess. The default is no. I'll add one for the diagnostics as well.

[2016-06-14 23:48] digitalextremist commented on #3669
Updating this with verified results @brixen:

- With the `Ubuntu 14.04` machine we were testing on, using `chruby` and a `3.40` binary in `/opt/rubies/` or `~/.rubies/` alike, the log filtration test case does not filter out `core/filter.rb`

- Same with a fresh install of `Ubuntu 16.04` ... will only show `core/filter.rb` regardless of `RBXOPT` settings, command line arguments, etc.

- *Works whe

[2016-06-17 04:05] bill-auger commented on #3533
ty @larskanis - this worked for me on debian 9

on debian 9 ```rvm install rbx-head``` builds OOTB but i needed an older version and larskanis procedure was the only way i could get an older version to compile

[2016-06-18 15:11] abnud1 opened #3673 "segfault when calling tail recursive function with two paramaters or more"
[code]

change 2463 to anything bigger and it will segfault on line `puts dummy(n)`, change 2510 to anything bigger and if it printed dummy(n) then it will segfault on the call to fib.

if you call `dummyacc` directly then 2464 will be allowed but not bigger !!!

this doesn't happen with one-paramater function

I didn't test more than 3 paramaters but I think `2463` will decrease more and more.
##

[2016-06-21 02:27] digitalextremist commented on #3669
Verified this is still true under `3.41` binaries as far as I can tell. Will look further into this when possible.

[2016-06-28 15:29] tamird opened #3675 "rubinius-3.42: error: 'this' pointer cannot be null in well-defined C++ code"
## Problem

`ruby-install rbx` fails on OS X 10.11.5 with `rubinius-3.42/machine/oop.hpp:447:16: error: 'this' pointer cannot be null in well-defined C++ code; pointer may be assumed to always convert to true [-Werror,-Wundefined-bool-conversion]`

## How to Reproduce

On OS X 10.11.5: `ruby-install rbx`

## Configuration Details

* Output of `rbx -v`: N/A.
* Output of `uname -a`: `Darwin Tamirs-M

[2016-06-28 17:25] tamird commented on #3675
This also reproduces with `ruby-install rbx-2` on my system. I was able to work around both issues with `CPPFLAGS=-Wno-error ruby-install rbx{,-2}`.

[2016-06-28 18:18] brixen commented on #3675
@tamird what version of clang are you using? Is it the default Xcode or installed with Homebrew or ...?

[2016-06-28 18:19] tamird commented on #3675
It's the default provided by `xcode`.

[code]

[2016-06-28 18:23] brixen commented on #3675
@tamird really odd, I have exactly the same and do not get that error.

Could you clone Rubinius and change machine/oop.hpp:447 to `return __REFERENCE_P__(reinterpret_cast<intptr_t>(this));` and see if that builds?

In other words:

[code]

[2016-06-28 18:59] brixen commented on #3675
@tamird I'm almost certain this is caused by your LLVM 3.9.0svn version. Could you paste me the output of this `/path/to/llvm-config-3.9 --cflags --cxxflags`?

[2016-06-28 19:08] tamird commented on #3675
This same thing reproduced with LLVM 3.6.

[code]

[2016-06-28 19:18] brixen commented on #3675
@tamird Did you try compiling with the patch above?

[2016-06-28 21:59] tamird commented on #3675
Indeed, that patch fixes those errors, but then I hit these guys:
[code]

[2016-06-28 22:30] brixen commented on #3675
@tamird could you gist output of your `env` command please? Those other warnings are from code we are not going to modify. I see the same warnings under clang++-3.8 but they do not cause errors.

Since you are on OSX, you can either download the Rubinius binary for OSX directly (see [here](https://github.com/rubinius/homebrew-apps/blob/master/rubinius.rb#L5)) or use Homebrew rbx (`brew update && b

[2016-06-28 22:59] #3675 closed

[2016-06-29 02:01] tamird commented on #3675
[code]

Like I said, I've worked around this by setting CPPFLAGS=-Wno-error, but I'm definitely seeing these warnings (which are upgraded to errors) under the system clang (not 3.8).

[2016-06-29 02:57] brixen commented on #3675
@tamird I see that you have ccache in your path. You may consider removing that.

Unfortunately, I cannot repro it and I have the same OS version, same default Xcode, and I've additionally tried with llvm 3.6 and 3.8. I realize it can be frustrating when something like this doesn't work, but unless I can troubleshoot the issue, I cannot fix it.

Since we build OSX binaries every release that work

[2016-07-03 17:46] jc00ke commented on #3654
I can confirm that the build succeeds on `16.04` when `clang` and `clang++` are specified.

[code]

[2016-07-03 17:46] #3654 closed

[2016-07-04 04:47] wahjava opened #3677 "sem_open on FreeBSD behaves differently"
## Problem

rbx exits with SIGABRT during build, while trying to open file for logging, courtesy: 2932ba11bc83eabc09acc43ae3f79e6cae85dc86. It gets `EINVAL` during [sem_open](/rubinius/rubinius/blob/master/machine/logger.cpp#L429) and aborts.

## How to Reproduce

Run rbx

## Configuration Details

* Output of `rbx -v`:

rubinius 3.43 (2.2.2 5c6a613e 2016-07-01 3.6.2) [x86_64-freebsd10.3]

* Outpu

[2016-07-04 05:20] wahjava commented on #3677
Please ignore the previously posted diff, and use this one instead:

[code]

Thanks!

[2016-07-04 16:03] #3677 closed

[2016-07-04 17:46] saizai opened #3678 "malloc error running bundle install"
https://gist.github.com/brixen/ce06fcd1bae99179f1ceff4654b4c784

[2016-07-04 19:05] saizai commented on #3678
See also https://github.com/bundler/bundler/issues/4750

[2016-07-05 10:26] saizai commented on #3678
Per @indirect at https://github.com/bundler/bundler/issues/4750#issuecomment-230363100, that issue is probably also Rubinius' fault. I'm assuming it's related to this one because they presented in roughly the same time & circumstances (though this one happened after I had run `rvm upgrade rbx-3.41 rbx-3.43`, after the previous one, together with the accompanying `gem pristine`).

[2016-07-08 21:37] rankin commented on #3678
I'm having the exact same issue

`Fetching gem metadata from https://rubygems.org/
Fetching version metadata from https://rubygems.org/The Rubinius process is aborting with signal: SIGSEGV
--- begin system info ---
node info: Christophers-Mac-mini.local Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64
--- end system info ---
--- begin rubinius info -

[2016-07-08 21:40] rankin commented on #3678
Having the exact same issue

`Fetching gem metadata from https://rubygems.org/
Fetching version metadata from https://rubygems.org/The Rubinius process is aborting with signal: SIGSEGV
--- begin system info ---
node info: Christophers-Mac-mini.local Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64
--- end system info ---
--- begin rubinius info ---
p

[2016-07-13 23:23] sempervictus commented on #3678
Saw another version of this today, resolved via bundler 1.13.0.rc.1,

[2016-07-16 12:17] saizai commented on #3678
@sempervictus Not for me, in rbx-3.43:

[code]

[2016-07-16 13:13] saizai commented on #3678
Ran `rvm gem upgrade rbx-3.43 rbx-3.47`. Result:

[code]

[2016-07-16 17:26] andrewcsmith opened #3679 "Uncaught C++ exception on Rails 5.0"
I'm getting this exception at seemingly odd intervals while testing my site (development mode) after an update to Rails 5. The site is very simple, and it sometimes happens when I visit a page I've already visited (just as much as visiting a new page). If a fix doesn't spring to mind immediately by the backtrace I'll go back and try to narrow things down.

Edit: Rubinius 3.47, from Homebrew, OSX 1

[2016-07-16 18:20] andrewcsmith opened #3680 "Exception does not respond to #cause"
[Rails 5 uses `Exception#cause`](https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/middleware/exception_wrapper.rb#L108), introduced in 2.2.0. This is running on v3.47 from Homebrew.

[code]

[2016-07-16 20:49] brixen commented on #3679
@andrewcsmith nothing comes to immediately to mind, but I'm going to improve the handling of uncaught C++ exceptions so we can actually see a bit more info. Aborting the process is pretty brutal.

If you feel adventurous, you could build from source with `./configure --debug-build` and in the terminal where you invoke Puma, `export RBX_PAUSE_ON_CRASH=60`. When Rubinius aborts, it will show you the

[2016-07-16 20:53] brixen commented on #3678
@saizai could you share your Gemfile, and which version of Bundler and RubyGems is installed. I would expect the default except you are using RVM which messes with everything.

I'm not seeing anything like this so I need something to repro.

[2016-07-17 16:27] #3680 closed

[2016-07-18 14:24] andrewcsmith commented on #3679
Not sure if this is actually the same crash, but it's definitely _a_ crash. This one reliably happens whenever I kill the server. Compiled with `--debug-build` and backtraced with lldb.

https://gist.github.com/andrewcsmith/513fa9ef04b1037bbbc9d62610fea5fc

[2016-07-18 16:56] brixen commented on #3679
@andrewcsmith couple things:

1. I don't see the `abandon_ship` handler in any of those stacks, so what was the crash?
2. What is this? https://gist.github.com/andrewcsmith/513fa9ef04b1037bbbc9d62610fea5fc#file-backtrace-L111
3. How are you killing the server? Does that apply to your original post? In your original post, you say visiting a page? How is that related?

[2016-07-19 10:25] medols commented on #3634
@brixen see if sinatra tests with rbx-3.47 are useful for core/io.rb

[2016-07-19 16:49] brixen commented on #3634
@medols ok, will do. Thanks.

[2016-07-19 19:46] chuckremes commented on #3634
@medols Can you elaborate on using sinatra tests for testing core/io.rb? Does it hit things that aren't currently or properly tested by the specs?

[2016-07-19 21:00] brixen commented on #3634
Here is the Travis run https://travis-ci.org/rubinius/sinatra/jobs/145880272. Looks like most of the errors are `NameError: Missing or uninitialized constant: Tilt::ErubisTemplate`

[2016-07-20 05:30] sempervictus commented on #3678
This seems related to bundler somehow, as upgrading to the current pre
release works.
I am WAY behind on rbx, and wont be able to put in the required review time
till August at earliest to get a handle on what's changed. Feel free to
close this one boss, its likely pebcak.
On Jul 16, 2016 5:18 AM, "Sai" <notifications@github.com> wrote:

[2016-07-20 08:01] medols commented on #3634
@brixen, @chuckremes, thank you for looking.

The mac output points towards `ERROR NoMethodError: undefined method '+' on nil:NilClass.` even for the minimal test:

[code]

More details:

[code]

[2016-07-20 08:07] medols commented on #3634
Tried to build a sinatra independent spec without much success.

[2016-07-20 12:44] chuckremes commented on #3634
@medols I will look at that today. This is failing because `@lineno` is apparently `nil` for this IO instance. I don't see how that could happen since all initializers set it to 0, so I'm sure it's something tricky.

BTW, I confirmed this error on my local system. Fix coming today.

[2016-07-20 14:27] chuckremes commented on #3634
@medols Release 3.48 fixes your issue. Thanks for the report.

[2016-07-20 16:08] medols commented on #3634
@chuckremes Thank you for the fix.

[2016-07-22 19:11] kachick opened #3682 "`Array.new` with huge value makes SIGSEGV"
## Problem

`Array.new` with huge value makes SIGSEGV

## How to Reproduce

[code]

## Configuration Details

* Output of `rbx -v`: rubinius 3.3.c713 (2.3.1 f0373ac0 2016-07-21 3.6.2) [x86_64-darwin15.5.0]
* Output of `uname -a`: `Darwin MacBook-Pro-2.local 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64`

## Stack Trace

https://gist.

[2016-07-22 22:02] #3682 closed

[2016-07-22 22:03] brixen commented on #3682
@kachick thanks for reporting, that was a nasty one. 😢 See the commit message for details.

[2016-07-23 01:17] kachick commented on #3682
Thanks for your investigation and fixed it! 😮  📝

[2016-07-25 22:32] benzrf opened #3685 "AccessVariable has no scope method, which breaks define_method, and specifically certain RSpec features"
## Problem

There is no `AccessVariable#scope` method. Consequently, the `define_method` method does not work if passed a method whose `@executable` is a `AccessVariable`, because it calls `for_define_method`, which tries to do `@executable.scope`. This is specifically an issue for me because RSpec uses `define_method` to restore the original version of a stubbed method after a test (if the origin

[2016-07-26 00:15] #3685 closed

[2016-07-26 18:44] brixen commented on #3678
@saizai @rankin @sempervictus please see https://github.com/bundler/bundler/issues/4750#issuecomment-235365340

Also, please use gist for long backtraces. Pasting them inline makes it extremely difficult to read and understand the issue thread.

[2016-07-27 22:24] jm3 opened #3687 "PR for updated rvm install instructions for OSX?"
the README and the rvm defaults don't work on current OS X 10.11.6. just something like:

[code]

seems to do it. would you be open to me submitting a PR for that?

[2016-07-27 22:42] chuckremes commented on #3687
Rubinius needs LLVM 3.6, 3.7, or 3.8. It doesn’t compile with 3.5 anymore.

[2016-07-27 23:10] brixen commented on #3687
@jm3 this page in the Rubinius book has instructions for installing on various platforms: http://book.rubinius.com/part_i/getting_rubinius.html If you want to improve the, please send a PR there.

Note that we have no control over RVM and RVM has a very long history of breaking its support for installing Rubinius, so we do not recommend using RVM. The best alternatives right now are chruby and rub

[2016-07-27 23:10] #3687 closed

[2016-07-29 06:43] allenzhao opened #3688 "HOME environment variable (or HOMEDRIVE and HOMEPATH) must be set and point to a directory (RuntimeError)"
## Problem

I'm running bundler's rspec (script in https://github.com/bundler/bundler/blob/master/bin/rspec) and encountered this HOME variable RuntimeError. But when I run `ENV["HOME"]` in `irb` it gave me the perfect answer, which is `=> "/home/vagrant"`
## How to Reproduce

Installing rbx on trusty64 vagrant box using the script similar with provided [here](https://github.com/rubinius/docker).

[2016-07-29 09:29] thedrow opened #3689 "RSpec segfaults on it's own specs"
## Problem

I tried to run the rspec-core test suite and I got a segfault.
## How to Reproduce

Clone rspec-core from master and run `rake specs`.
## Configuration Details
- Output of `rbx -v`: rubinius 3.51 (2.3.1 b3a77ad4 2016-07-27 3.8.1) [x86_64-darwin15.6.0]
- Output of `uname -a`: Darwin OmerK.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELE

[2016-07-29 16:42] brixen commented on #3688
@allenzhao whether $HOME is defined in IRB really doesn't tell us anything about whether it's defined when that script runs.

You could start [at this point in the code](https://gist.github.com/allenzhao/f8f872f07f02eb21cebb50214d00df32#file-gistfile1-txt-L59) and check that $HOME is defined as you go up the stacktrace.

[2016-08-03 19:23] GoldenKeyRiver opened #3690 "Rubinius is working in Windows 10 Bash"
Rubinius 3.48 is working in Windows 10 Bash.
Some extensions when I try to update by gem command show "Cannot allocate memory - error forking - fork(2)". They are json and psych.
gem-rehash have the same error.

Simple methods are working.

[2016-08-03 20:00] GoldenKeyRiver commented on #3690
clang 3.8, llvm 3.8
Symlinks are needed to clang, clang++ and llvm-config to compilation. I'm using rbenv and mustn't install bundler before "rbenv install rbx-3.48" this is bugged.
Don't work: gem update --system

Rails can by installed.

[Logs.zip](https://github.com/rubinius/rubinius/files/400253/Logs.zip)

[2016-08-03 20:32] GoldenKeyRiver commented on #3690
(Errno::EBADF) Bad file descriptor - fcntl(2) failed
Sometimes are that errors.

"rails new" is working.
"bundle install" have problems.

[2016-08-03 20:42] brixen commented on #3690
@GoldenKeyRiver this is awesome! Can you post a how-to in a gist and link here for getting set up to run on Windows bash.

[2016-08-03 21:36] chuckremes commented on #3690
Wow, great work! Are you going to push changes in a PR so other Windows folks (like me) can check it out?

[2016-08-04 06:32] GoldenKeyRiver commented on #3690
https://gorails.com/setup/windows/10
Tutorial for installation Rails on Windows.

sudo apt-get install git-core curl zlib1g-dev build-essential libssl-dev libreadline-dev libyaml-dev libsqlite3-dev sqlite3 libxml2-dev libxslt1-dev libcurl4-openssl-dev python-software-properties libffi-dev bison libncurses5-dev
All needed packages without llvm and clang.

https://github.com/bundler/bundler/issues/4

[2016-08-04 08:09] GoldenKeyRiver commented on #3690
Sometimes is needed to restart Windows 10 Bash when was errors.

bundle install --local
It's only option to install gems for Rails, and gems like: sqlite, puma (3.5.0), sass-rails, uglifier, coffee-rails, jquery-rails, turbolinks, jbuilder must be installed manually.

sudo apt-get install libpq-dev
gem install pg
rails new [project] -d postgresql

gem install rake -v "11.2.2"
bundle install --loca

[2016-08-04 16:04] brixen commented on #3690
@GoldenKeyRiver very cool, thank you!

[2016-08-20 00:00] colstrom opened #3692 "Subset of tests known to fail when run with root privileges"
## Problem

Some of the tests fail when building Rubinius with root privileges.
## How to Reproduce

Follow the setup instructions, as a superuser. After running `rake`, observe the test failures.
## The following tests pass as a non-privileged user, and fail as root:

[code]

Per discussion on Gitter, this is a known issue, and the test suite is not expected to pass as a superuser.

Documenting t

[2016-08-28 18:32] mvz opened #3693 "Needs -latomic to compile on Debian unstable"
## Problem

Linking `machine/test/runner.cpp` fails with `undefined reference to `__atomic_is_lock_free'` unless `-latomic` is set as an additional linker flag.`

## How to Reproduce

On Debian unstable:
* Run `./configure`
* Run `bundle exec rake`
* The build fails with the above error.
* Run `LDFLAGS=-latomic ./configure`
* Run `bundle exec rake`
* The build succeeds.

## Configuration Details

[2016-08-30 05:22] brixen commented on #3693
@mvz could you please check master HEAD?

[2016-08-30 06:32] mvz commented on #3693
@brixen it doesn't add `-latomic` to `config.rb`, and the `configure.log` contains:

[code]

It looks like a space is missing.

After adding an extra space before `-latomic` in [this line](https://github.com/rubinius/rubinius/commit/0aa75c27418614b38a60084b774164e60b938350#diff-e2d5a00791bce9a01f99bc6fd613a39dR1381), `-latomic` appears in `config.rb` and the build succeeds.

[2016-08-30 17:37] brixen commented on #3693
@mvz ah, indeed, thanks for checking! I'll update.

[2016-08-30 17:51] #3693 closed

[2016-08-31 13:34] mvz commented on #3693
Thanks, @brixen!

[2016-08-31 17:34] brixen commented on #3693
@mvz no problem! Thanks for reporting.

[2016-09-09 23:00] lucianolev opened #3694 "NoMethodError when using unparser lib"
## Problem

When loading the unparser library (using require) the script raises an error.
The lib: https://github.com/mbj/unparser

## How to Reproduce
Just exec a script with the line  `require 'unparser'`

Can reproduce on rbx 3.58. 3.14 works as expected.

## Stack Trace

https://gist.github.com/lucianolev/0619401e32b4e19f6ada2d0dc2b04348

[2016-09-10 11:50] nielsonrolim commented on #3511
It worked for me:

`brew update
brew install homebrew/versions/llvm35
rvm install rbx -- --llvm-config /usr/local/opt/llvm35/bin/llvm-config-3.5`

[2016-09-12 22:30] brixen commented on #3694
@lucianolev this is what I've found:

When unparser is loading, it uses IceNine to "deep freeze" a Hash object. IceNine, in turn, recursively traverses an object (ie Hash) via its instance variables, freezing each object as it goes.

By itself, this process is fairly innocuous, aside from the fact that there is no accepted semantic in Ruby that generically says you can arbitrarily freeze an object

[2016-09-12 22:30] #3694 closed

[2016-09-13 18:55] tmornini commented on #3694
@brixen Reading through this, I'm unclear why this works on Ruby, but not on Rubinius. :-)

[2016-09-13 21:33] lucianolev commented on #3694
@brixen Can you provide more detail on why calling `#default_proc` is wrong? Why is that message implemented in MRI? I would like to understand so I can try a workaround or report the issue to IceNine with a better understanding.
I understand that IceNine design is flawed as you said and that "freeze/deep freeze" may be bad idea, but I need to use unparser lib as there is not equivalent lib.

Than

[2016-09-13 21:43] brixen commented on #3694
@tmornini Hash in Ruby is written in C. It has no "Ruby" state that is visible via instance variables. Hash::Trie in Rubinius is a Ruby object that is used to implement the Hash structure. It is visible via instance variables on the Hash object. IceNine treats an instance of Hash::Trie as a Hash via it's "freezer" API, calling a Hash method on it. That doesn't work, anymore than calling a Hash met

[2016-09-13 21:58] lucianolev commented on #3694
@brixen Thanks, it's now more clear to me :)
Only one doubt left: What do you mean by "Hash::Trie object is visible via instance variables on the Hash object"? If I send `instance_variables` message to a Hash instance I see no instance variables (btw, an expected behavior, as you told me before).

[2016-09-13 22:01] brixen commented on #3694
@lucianolev please see below:

[code]

[2016-09-13 22:09] lucianolev commented on #3694
@brixen Oh, I was trying with an empty hash (no instance variable is reported in that case).
(Btw, I though you were only going to expose instance variables access for core structures through the Mirror API.)

[2016-09-13 22:45] brixen commented on #3694
@lucianolev empty Hash has no state, so there are no instance variables. These are purely Ruby objects with Ruby instance variables. Things like Array have C++ fields (at least right now). For the core Ruby classes, *no* state is going to be visible for exactly the reason you see here.

[2016-09-14 01:03] lucianolev commented on #3694
@brixen I understand. I though Hash was also using C++ fields like Array.

[2016-09-19 22:37] flash-gordon opened #3697 "Private constants cannot be reopened"
## Problem

Hey, I discovered a behavior inconsistent with mri/jruby regarding reopening a class/module referenced by a private constant.

## How to Reproduce

This is an easy part:
[code]

## Configuration Details

[code]

The bug was found in https://github.com/dry-rb/dry-types/pull/147

[2016-09-21 22:03] #3697 closed

[2016-09-21 22:09] flash-gordon commented on #3697
❤️

[2016-09-21 22:14] brixen commented on #3697
@flash-gordon thanks again for reporting the issue. If you look at my commit message, you'll see my explanation for removing support for private constants. This fixes your immediate issue. If you have additional comments or feedback regarding support for private constants, please let us know.

[2016-09-21 22:19] flash-gordon commented on #3697
NP, yeah, I read that, it works for me as long as it doesn't raise an error, thank you :)

[2016-09-21 22:20] brixen commented on #3697
@flash-gordon cool. :)

[2016-09-22 02:58] grandafrato opened #3698 "RPI suppport"
Please add raspberry pi (which is a computer) support by letting it be compiled using gcc instead of clang because raspbian (the OS) dosen't support llvm or clang.

[2016-09-22 05:04] brixen commented on #3698
@LTheGreats hi! I'd love to support Raspberry Pi. Could you point me to where raspbian docs why it doesn't support llvm or clang? A bunch of years ago I compiled clang + Rubinius on a Beagle Bone, so I'm pretty sure it's not a hardware thing. At the least, I'd be happy to figure out how we can provide a binary for Raspberry Pi 3 (which is 64-bit).

[2016-09-23 00:05] LTheGreats commented on #3698
I'm sorry forgot that I could get the source code compile it. But I think it would be a good idea to make binary so that people could get it using apt-get.

[2016-09-23 00:41] brixen commented on #3698
@LTheGreats do you know offhand if vanilla debian packages work with raspbian? We have basic debian packaging in the Rubinius source, but I haven't updated it in quite a while.

[2016-09-23 00:45] LTheGreats commented on #3698
I think so.

[2016-09-23 02:09] LTheGreats commented on #3698
@brixen  I  learned that cdbs libncursesw5-dev, libreadline6-dev, libssl-dev, quilt, bison and libyaml-dev binarys do not exist for the raspberry pi.

[2016-09-23 15:17] LTheGreats opened #3699 "will not run rails executable"
When I installed rails on Ubuntu 15.10 I got:

rbenv: rails: command not found

The `rails' command exists in these Ruby versions:
  2.3.0
  2.3.1

[2016-09-23 16:32] jc00ke commented on #3699
We [don't support](https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md#version-managers) debugging Ruby version managers. I'm going to close this for now, but please re-open if you cannot  run `rails` with just `Rubinius`, not using `rbenv`.

[2016-09-23 16:32] #3699 closed

[2016-09-23 16:44] brixen commented on #3699
@LTheGreats to elaborate just a bit more, there are three primary "ruby switchers" in use: RVM, rbenv, chruby. We've seen tons of issues related to ruby switchers in the past, and since we don't write them, we cannot easily fix them. Of the three, chruby has been the easiest and most likely to work.

We know that picking a ruby switcher is something important for people because each one seems to h

[2016-09-23 16:49] brixen commented on #3698
@LTheGreats ah, ok. So this may take a little work to get going. Have you looked into cross-compiling a binary for raspian? That way, we can build it on a regular computer and building all those libraries will go much faster.

If you've already looked into it, but need help getting started, let me know. If you haven't experimented with cross-compiling yet, it can be pretty tricky sometimes. I'm ha

[2016-09-23 21:11] LTheGreats commented on #3698
I don't have a cumputer that has a arm processor except the raspberry pi.

[2016-09-23 22:10] brixen commented on #3698
@LTheGreats the cool thing about cross-compiling is that it's often possible to do so on a different architecture. That way, you can bootstrap hardware where your application isn't running yet, for example.

I'll see what I can find out about doing this for the Raspberry Pi. Which version do you have?

[2016-09-24 08:16] burningTyger commented on #3698
Arch for Arm supports clang if that matters. But speed and memory was an obstacle in running rubinius last time I tried.

[2016-09-25 04:21] LTheGreats commented on #3698
@brixen sorry for replying late. I have a raspberry pi 3 B.

[2016-10-03 01:43] Jon-Schneider opened #3700 "Rails Start Fails with "Kernel(Thread)#start (method_missing)" using Rubinius Docker Image"
I hope this is just a configuration issue on my part and not anything serious..
## Problem

When starting the Rails server using Rubinius I'm getting a NoMethodError **undefined method 'start' on intense of Thread**.

(Full stack trace at bottom)

[code]
## How to Reproduce

I'm running macOS Sierra and using Docker for Mac, with an image based on the Rubinius Docker image. The TestApp created by

[2016-10-03 02:37] brixen commented on #3700
@Jon-Schneider thanks for the report. There is no `Thread#start` that I'm aware of (ie the `#start` method on an *instance* of Thread versus `.start` method on the class `Thread`).

[code]

So, it would appear that whatever the object is right here:

[code]

it should be the class Thread and not an instance of Thread.

That's what I can tell from the report. Do you have a simple repro of this in a

[2016-10-03 02:40] brixen commented on #3700
@Jon-Schneider to elaborate, I appreciate the effort you put into Docker repro steps, but every additional bit of ceremony costs me valuable time. If you could, putting the app in a GitHub repo so all I need to do is `clone && bundle && run (script or command)` saves me a lot of time.

[2016-10-03 02:46] Jon-Schneider commented on #3700
@brixen The project is just the project created by 'rails new [projname]' with Rails 5.0.0.1 on Rubinius 3.6.

[2016-10-03 02:48] brixen commented on #3700
@Jon-Schneider ok, I'll take a look.

[2016-10-03 06:14] ghost opened #3701 "Add regex style PEG flags to rubinius."
Add regex style PEG flags to rubinius so we can do PEG parsing in the style of regex.

[2016-10-03 23:08] brixen commented on #3701
@zacts thanks for putting this on the list.

There are two ways I imagine this could work: 1. customize the Regexp literal parsing so that `/some pattern/p` would interpret the literal source as a PEG instead of a Regexp; and 2. allow a configuration item to interpret all Regexp literals as PEGs instead of Regexps.

Rubinius has a configuration mechanism that can be set at the user level, invocati

[2016-10-14 08:25] RoxasShadow opened #3703 "Can't install/upgrade through RVM"
## Problem

I'm trying to upgrade rbx-3.30 to rbx-3.60 through the latest RVM (both stable and head) on a Debian machine.

I had three errors related to missing gems (iirc they were redcard, rubinius/code/trigger and melbourne) that I solved by installing them in ruby-2.3.1.

But still, after these errors went away, the installation didn't proceed because of an error by melbourne.
## How to Reprod

[2016-10-14 16:24] brixen commented on #3703
@RoxasShadow thanks for reporting this issue. Unfortunately, we cannot help you debug RVM, but we can try to figure out if the issue is in Rubinius. Please see the directions under ["Building from Source Code"](https://book.rubinius.com/manuscript/getting_rubinius.html).

If you're able to build Rubinius from source, you can file an issue with RVM for the problem. If you cannot build Rubinius from

[2016-10-14 17:19] RoxasShadow commented on #3703
Thanks for the suggestion @brixen. Asking RVM to install Rubinius from the tarball, I managed to make it work.

[2016-10-14 17:35] RoxasShadow commented on #3703
Actually that's not true, at the very end the compilation of Rubinius by tarball failed!

[Stacktrace](https://gist.github.com/RoxasShadow/1ac63b9523e06536f240da83411e0aa1)

[2016-10-14 18:24] brixen commented on #3703
@RoxasShadow the version of the Rubinius compiler needed to build 3.61 is not compatible with 3.30. Try using MRI 2.3 as your build Ruby.

[2016-10-14 20:18] RoxasShadow commented on #3703
Switched to MRI 2.3.1 and run `bundle install`, `bundle exec rake clean`  and `bundle exec rake build`. [Output](https://gist.github.com/RoxasShadow/db0be1fc2c0d7e4f7166a64a2713af33)

[2016-10-14 22:48] brixen commented on #3703
@RoxasShadow thanks for running through those manual steps. Could you rebuild using `./configure --debug-build` and use `bundle exec rake build --trace` and when it fails, try running this (you may need to install lldb package first) `lldb -f /home/deployer/rbx/rubinius-3.61/bin/rbx -- -v`.

[2016-10-15 00:13] RoxasShadow commented on #3703
@brixen [here's](https://gist.github.com/RoxasShadow/decd8a9d9fb0ea6ee8582bf782ea6a98) the output. Thanks.

[2016-10-15 04:14] brixen commented on #3703
@RoxasShadow oops! I forgot to say, type `r` Enter in lldb. :(

[2016-10-15 09:51] RoxasShadow commented on #3703
Oh, that's why!

[code]

[2016-10-15 16:51] brixen commented on #3703
@RoxasShadow awesome, this is super helpful. Could you run one more command after `r` stops: `thread backtrace all` and gist that?

[2016-10-16 02:49] brixen commented on #3700
@Jon-Schneider two things: 1. could you please try with 3.62; and 2. I think there's a bug in guard/listen fallback.

I'm seeing Rails successfully boot with 3.6{1,2} and I don't get the Listen warning about polling for changes like with 3.60. I believe it was the bug in rubysl-socket fixed by @chuckremes that was causing the fallback to polling because after I installed the fixed rubysl-socket on

[2016-10-16 09:23] RoxasShadow commented on #3703
@brixen sure, [this is](https://gist.github.com/RoxasShadow/786856ca5c796baca72d8d9d236ac6f6) the gist. Thanks!

[2016-10-16 16:27] brixen commented on #3703
@RoxasShadow thanks for running that. Unfortunately, it doesn't tell me anything more than the C++ regex implementation is segfaulting on one of the default Rubinius configuration values. This appears to be an issue with your platform. Could you give me all the details so I can try to get a similar vagrant box and repro it locally?

[2016-10-16 17:28] RoxasShadow commented on #3703
@brixen which kind of details do you need?

It's a Kimsufi/OVH server machine running Debian 8.6 with gcc 4.9.2 and LLVM 3.7.1. In the original post you can check the `uname` too.

[2016-10-16 19:48] medols commented on #3698
@LTheGreats, @brixen, @burningTyger,  follows some rubinius build info on Raspberry Pi 3.

Install Rasbian using NOOB LITE:

https://www.raspberrypi.org/downloads/noobs/

Upgrade the installed debian jessie (stable) to debian stretch (testing):

https://www.debian.org/releases/stretch/i386/release-notes/ch-upgrading.en.html

Using this repository:

echo "deb http://mirrors.mit.edu/raspbian/raspbia

[2016-10-16 21:27] brixen commented on #3703
@RoxasShadow ok, cool. Thanks. Let me try to get a machine set up so I can test this.

[2016-10-16 21:30] brixen commented on #3698
@medols wow, awesome work, thank you! I'm going to order an RPi3 so I can help out with this but I won't be back in the U.S. until late November, so it'll have to wait till then. In the meantime, I'm happy to take PRs to address some of the code issues with proper `#ifdef`s or whatever you think is needed. Feel free to open a WIP pull request. ❤️ 👍

[2016-10-17 03:29] brixen commented on #3698
@medols if you have time, could you run under lldb like this:

[code]

Then keep hitting `n` at the lldb prompt until you get a segfault. If you want to dig deeper, try using `s` (step into) at the point where you got the segfault (you'll have to start the run over and use `n` to get back to just before that point).

Alternatively, you can step into (with `s`) as you go the first time, and if you

[2016-10-17 06:14] medols commented on #3698
@brixen the output is almost the same

$ lldb -f /home/pi/rubinius/rubinius-3.46/staging/bin/rbx -- -v
(lldb) target create "/home/pi/rubinius/rubinius-3.46/staging/bin/rbx"
Current executable set to '/home/pi/rubinius/rubinius-3.46/staging/bin/rbx' (arm).
(lldb) settings set -- target.run-args  "-v"
(lldb) br set -n main
Breakpoint 1: where = rbx`main + 40 at cli.cpp:35, address = 0x0033563c
(lld

[2016-10-17 10:30] medols commented on #3698
@brixen thank you for your feedback :-)

shall I PRs to 3.46? RPi3 flags are set to boot as 32bit arm7

got additionl info with gdb

https://gist.github.com/medols/59c55da71cc460125ad3548c86347073

[2016-10-17 20:35] brixen commented on #3698
@medols ah, this line from your lldb session looks very curious,

[code]

It looks like there's a problem with the executable, which could be caused by LLVM or the OS or ... something.

Your question about 32bit is very important. I want to do two things: 1. inventory the areas in Rubinius where I think 64bit support is critical; and 2. look into making a 64bit OS image for RPi3. This will take me

[2016-10-19 08:46] medols commented on #3698
@brixen lldb-3.6 seems broken in rpi:

pi@raspberrypi:~/rubinius/tmp $ cat t.c
int main (int argc, char *argv[]){ return 0; }
pi@raspberrypi:~/rubinius/tmp $ clang-3.6 -g t.c -o t
pi@raspberrypi:~/rubinius/tmp $ lldb-3.6 t
(lldb) target create "t"
Current executable set to 't' (arm).
(lldb) br set -n main
Breakpoint 1: where = t`main + 20 at t.c:3, address = 0x00010420
(lldb) r
Process 18095 launc

[2016-10-19 19:39] brixen commented on #3698
@medols from what I understand, there is not a 64bit image available, so we'd need to create one.

[2016-10-21 05:33] zacts commented on #3701
I just wanted to link this PDF for others who might read this who also might not be familiar with PEG parsing: <http://bford.info/pub/lang/peg.pdf>.

[2016-10-21 13:57] medols commented on #3698
@brixen installing ubuntu 16.04 for RPi3

https://wiki.ubuntu.com/ARM/RaspberryPi#Download

then adding

https://wiki.ubuntu.com/ARM/RaspberryPi/RaspberryPi3#A64-bit_kernel.2Fuserland

gets an aarch64 linux kernel up and running:

ubuntu@ubuntu:~$ cat /proc/version
Linux version 4.5.0+ (nao@ubuntu) (gcc version 4.8.2 20140110 (prerelease) [ibm/gcc-4_8-branch merged from gcc-4_8-branch, revision 20

[2016-10-21 16:08] medols commented on #3698
To get arm64 packages working:

[sudo] dpkg --add-architecture arm64
[sudo] apt-get install clang-3.6:arm64

[2016-10-22 05:05] brixen commented on #3698
@medols this is so cool! I'm really sorry I cannot help right now but I'm so stoked that you're making progress on this. Hope you can keep working on it. ❤️ 👍

[2016-10-22 18:02] LTheGreats commented on #3698
I reimaged my raspberry pi whith ubuntu which has the clang librarys installed on it!`

[2016-10-22 19:32] LTheGreats commented on #3698
When I started configuring rubinius on the raspberry pi 3 (which is 64bit) I got this error message:

Support for non-64bit platforms was deprecated 1 Jun 2016 and has now been removed. If non-64bit support is a critical feature for your application, please email contact@rubinius.com

Running 'configure' failed. Please check configure.log for more details.

[2016-10-23 23:01] LTheGreats opened #3704 "Use newer version of rake"

[2016-10-24 01:06] LTheGreats commented on #3700
I get this issue and I don't even have the docker image and I have 3.62 and I got the exact same error

[2016-10-24 02:11] brixen commented on #3704
@LTheGreats would you want to give a pull-request (PR) for this one a try?

You'd need to look in [Gemfile](https://github.com/rubinius/rubinius/blob/master/Gemfile) for this line `gem "rake", "~> 10.0"` and figure out what `~>` means and how to change `10.0` to get the result you want. Then run `bundle update` and commit the changes to both Gemfile and Gemfile.lock.

[2016-10-24 02:18] brixen commented on #3700
@LTheGreats could you please 1. add a link to a gist of the backtrace you get; 2. let us know what your OS is; 3. tell us if this is a plain, new Rails 5 app; 4. add `export LISTEN_GEM_DEBUGGING=2` to your environment and link a gist of the full terminal output running `rails s` afterwards?

[2016-10-24 18:20] medols commented on #3698
@LTheGreats, @brixen the complete dependency list for U

buntu with an aarch64 kernel is:

[sudo] dpkg --add-architecture arm64
[sudo] apt-get install clang-3.6:arm64
[sudo] apt-get install g++:arm64
[sudo] apt-get install ruby2.3-dev:arm64
[sudo] ln -s /usr/bin/ruby2.3 /usr/bin/ruby
[sudo] ln -s /usr/bin/gem2.3 /usr/bin/gem
[sudo] apt-get install zlib1g-dev:arm64
[sudo] apt-get install libssl-dev

[2016-10-24 18:36] medols commented on #3698
Find the binaries here:

[rbx-3.62_part1.zip](https://github.com/rubinius/rubinius/files/548665/rbx-3.62_part1.zip)
[rbx-3.62_part2.zip](https://github.com/rubinius/rubinius/files/548667/rbx-3.62_part2.zip)

ubuntu@ubuntu:~$ ruby -v
rubinius 3.62 (2.3.1 65e96fba 2016-10-14 3.6.2) [aarch64-linux-gnu]

[2016-10-25 10:38] stakach opened #3706 "Error is being re-raised after being handled, sort of"
## Problem

Fiber.yield -> error raised -> catch error -> \
Fiber.resume -> re-raise error -> handle error -> Fiber ends
Fiber that yielded has the error raised on it

Something like that anyway. I have it captured in a test case.
## How to Reproduce

Probably easiest to do on ubuntu linux
1. Clone: https://github.com/cotag/libcouchbase/ ([commit](https://github.com/cotag/libcouchbase/tree/28993c3

[2016-10-25 23:31] stakach commented on #3706
A bit more information:
Putting print statements in the connection class confirms that the get succeeds - so an error shouldn't be re-raised where it is and the backtrace confirms that it occurred in set.

[code]

The same error is re-raised a third time on a totally different fiber when it resumes as these fibers complete

[2016-10-25 23:49] brixen commented on #3706
@stakach thanks for reporting this and all the work on the repro. There is state that tracks when an exception is raised on a Thread, and that needs to be managed on the main Thread that the Fibers are associated with. That state probably isn't getting reset when the Fiber completes.

[2016-10-26 01:48] stakach commented on #3706
That makes sense. I wrapped [this line](https://github.com/cotag/libuv/blob/f4d5d2467452f3c9d157a5d25ab3214e26a15d86/lib/libuv/coroutines.rb#L53) in a begin / rescue block to confirm that the error is re-raised here.

![image](https://cloud.githubusercontent.com/assets/368013/19710353/7a451e2a-9b79-11e6-8887-8c187921f028.png)

That's the `error in Fiber resume` ouput in that screenshot.
I think it

[2016-10-26 04:22] harukizaemon opened #3707 "Error loading glib2 gem - works under MRI"
## Problem

[code]
## How to Reproduce

[code]
## Configuration Details
- Installed using ruby-install
- Output of `rbx -v`: rubinius 3.62 (2.3.1 65e96fba 2016-10-14 3.9.0) [x86_64-darwin16.0.0]
- Output of `uname -a`: Darwin AikiBook 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
## Stack Trace

https://gist.github.com/harukizaemon/51

[2016-10-26 04:25] harukizaemon opened #3708 "Error loading pg gem (0.19.0) - works under MRI"
## Problem

[code]

Note: Previous gem version (0.18.0) works just fine

## How to Reproduce

[code]

## Configuration Details

* Installed using ruby-install
* Output of `rbx -v`: rubinius 3.62 (2.3.1 65e96fba 2016-10-14 3.9.0) [x86_64-darwin16.0.0]
* Output of `uname -a`: Darwin AikiBook 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64

[2016-10-26 05:33] stakach commented on #3706
Once this is resolved it should also fix #2966 too. I have the code passing all tests on MRI and jRuby now.
https://travis-ci.org/cotag/libcouchbase

[2016-10-28 12:13] #3708 closed

[2016-10-28 12:20] brixen commented on #3707
@harukizaemon it's unlikely that Rubinius will ever support any of the gtkX or glib/gnome gems due to code that pokes around inside MRI-specific data structures. You can find various previous issues related to this by searching the Rubinius issue.

Since glib is usually a dependency of another gem, I'm curious which gem you were trying to install that pulls in glib.

[2016-10-31 06:38] brixen commented on #3673
@abnud1 thanks for reporting this issue. There are two important parts: 1. Rubinius does not have automatic tailcall recursion elimination; and 2. because of 1, Rubinius can exhaust the stack.

The issue that occurs with 2 is that there is no standard way to handle exhausting the stack. The method Rubinius uses is to calculate a redzone and check that when a method is invoked, the invocation frame

[2016-10-31 06:38] #3673 closed

[2016-10-31 06:47] brixen commented on #3669
@digitalextremist the first enhancement here was implemented and fixed once the C++ regex was properly quoted. Closing the loop on that one.

After giving the 2nd more thought, I'm going to pass on it. I'll explain why: in Rubinius, by the time user code is running, an enormous amount of work has already been performed to set up the process and all the services and components needed to run user co

[2016-10-31 06:47] #3669 closed

[2016-10-31 07:11] brixen commented on #3688
@allenzhao I realized when reviewing this issue that [in your gist](https://gist.github.com/allenzhao/f8f872f07f02eb21cebb50214d00df32#file-stack_trace_windows-L2) you show MRI on Windows exhibiting the same exception being raised at the same place in rbreadline. Given that, this doesn't appear to be a Rubinius issue.

[2016-10-31 07:11] #3688 closed

[2016-10-31 07:15] brixen commented on #3668
@tak1n unfortunately, without the source code, or access to a running instance, it's nearly impossible to help you debug this, and that means we can't do anything to close this issue.

What I suggest doing is building Rubinius from source using the `--debug-build` option for configure. Use chruby to set up the built version or use `--prefix` option for configure to install Rubinius where your prog

[2016-10-31 07:15] #3668 closed

[2016-11-01 06:42] brixen commented on #3661
This completes for me on Rubinius 3.64 with Bundler 1.11.2: https://gist.github.com/brixen/b3838c5c2616d07921585dc80f95776d

There are a number of concurrency issues with Bundler post 1.11.x, so please only use the Bundler version that is included with Rubinius. (See eg https://github.com/bundler/bundler/issues/5142).

Please re-open is you experience the issue on Rubinius 3.64 using the included

[2016-11-01 06:42] #3661 closed

[2016-11-02 01:05] swrobel commented on #3629
This appears to have been implemented at some point. Working for me on `rubinius 3.65 (2.3.1 eb399e63 2016-11-01 3.8.1) [x86_64-darwin15.6.0]`

[2016-11-02 01:25] brixen commented on #3629
@swrobel yes, it's implemented. It came with the parser + compiler updates for Ruby 2.3 compatibility around July (see Melbourne version 3.7, AST version 3.7).

[2016-11-03 00:04] LTheGreats commented on #3698
Thanks!

[2016-11-04 13:25] albabar commented on #3700
Getting exact same error with 3.65 and brand new Rail 5 app. Some debug info:

[code]
Please let me know if you need ant more info.

[2016-11-05 01:36] brixen commented on #3700
@albabar please see the requested info [in this comment](https://github.com/rubinius/rubinius/issues/3700#issuecomment-255633949) (minus the OS info that you already provided).

[2016-11-05 01:48] brixen commented on #3703
@RoxasShadow I'm having trouble getting a Debian 8 box set up. Will continue to work on it.

[2016-11-05 01:50] brixen commented on #3700
@albabar for reference, this is [what I see](https://gist.github.com/brixen/4d47deb7254e0244604043e184b11138) when running with `export LISTEN_GEM_DEBUGGING=2`. Maybe this can  help you debug a bit.

[2016-11-05 02:19] brixen commented on #3679
@andrewcsmith still not sure about this, but [here's some more information](http://en.cppreference.com/w/cpp/error/terminate). Could you give me more info about your app, perhaps post the Gemfile? Something bad seems to be happening when sleeping a Thread but I don't know what that could be.

[2016-11-05 03:21] albabar commented on #3700
Hi @brixen, Thanks for response.
Here is the backtrace before and after: https://gist.github.com/albabar/e3dffe004ad4c61b06345cbc0043cd30
It's a brand new rails app.

Please let me know if you need any further info.

[2016-11-05 04:15] brixen commented on #3678
There are multiple concurrency-related bugs in Bundler after 1.11.2, which is the version still included with the most recent Rubinius release. Please do not use a more recent version of Bundler.

If any of the issues here occur with Bundler 1.11.2, please open a new issue that includes your Gemfile and Gemfile.lock.

[2016-11-05 04:15] #3678 closed

[2016-11-05 04:33] brixen commented on #3700
@albabar thanks for trying that. Something isn't quite working correctly with the logging. Even before listen starts, you should see some log output. I don't see anything in your gist.

Could you try running listen directly? See [this gist](https://gist.github.com/brixen/7274cd8f71f2517f4a0b39636dfdecb9) for the command I ran in my Rails 5.0 app and the terminal output.

Until you can get logging

[2016-11-05 04:47] brixen commented on #3700
@albabar I don't have any idea if this is actually related, but what is your external encoding (ie what encoding is set in your operating system)?

[2016-11-05 04:57] brixen commented on #3700
@albabar could you also gist the terminal output from running `gem list rubysl-socket`.

[2016-11-05 05:16] albabar commented on #3700
For some strange reason `listen` was not installed!! I installed `listen` manually with `gem install`, and voila. Rails is running now!
Thanks @brixen for the help.

[2016-11-05 05:39] brixen commented on #3700
@albabar ok, I'm glad to hear it's working but I'm still wondering if you may have old gems installed since it looks like you are using rbenv and I don't know how it manages gems across Rubinius versions.

@LTheGreats please take a look at the comments and see if you can debug your setup. You may want to completely remove any prior version of Rubinius and any gems (probably in your `~/.gem/rbx/` d

[2016-11-05 05:39] #3700 closed

[2016-11-05 05:41] albabar commented on #3700
Yesterday I first installed `Rubinius` on this machine, and first thing was to try running Rails.

[2016-11-05 06:41] brixen commented on #3700
@albabar ok, super puzzling. I'm happy to hear it's working for you now.

[2016-11-08 02:37] brixen commented on #3679
@andrewcsmith I've added this https://github.com/rubinius/rubinius/commit/35b6938f882cb3a1732d1311fb9659d2a674b068. Could you please try with 3.67 when it is released?

[2016-11-08 02:44] andrewcsmith commented on #3679
Sure thing. Sorry, I switched back to MRI, but I'll be free to give this a shot in a week or so. (About to do some updates anyway.)

[2016-11-08 02:46] brixen commented on #3679
@andrewcsmith no problem at all, I appreciate you taking the time if you have it.

[2016-11-08 04:01] LTheGreats commented on #3698
The binary didn't work because of some executable error.

[2016-11-08 04:25] brixen commented on #3698
@LTheGreats could you gist the error?

[2016-11-10 00:38] LTheGreats commented on #3698
Here is the gist for the error:
{% gist 0f3ac0dea019fbc5dc283a82743c5c52 %}

[2016-11-10 06:52] medols commented on #3698
@LTheGreats can you check this?

ubuntu@ubuntu:~/rbx-3.62$ file ./bin/rbx
./bin/rbx: ELF 64-bit LSB executable, ARM aarch64, version 1 (SYSV), dynamically linked, interpreter /lib/ld-linux-aarch64.so.1, for GNU/Linux 3.7.0, not stripped
ubuntu@ubuntu:~/rbx-3.62$ md5sum ./bin/rbx
589a7af86c5e5c1d0786111b046f5e43  ./bin/rbx
ubuntu@ubuntu:~/rbx-3.62$ ldd ./bin/rbx
	not a dynamic executable
ubuntu@ubu

[2016-11-10 15:32] LTheGreats commented on #3698
I checked and I found out why I got the error and it was because that it is compiled for aarch64 but when I ran uname -a it returned:
 Linux razpi 4.4.21-v7+ #911 SMP Thu Sep 15 14:22:38 BST 2016 armv7l GNU/Linux

[2016-11-10 15:47] medols commented on #3698
@LTheGreats , just change to aarch64:

ubuntu@ubuntu:~$ wget http://www.finnie.org/software/raspberrypi/ubuntu-rpi3/20160517-raspi3-arm64-firmware-kernel.tar.xz
--2016-11-10 15:43:11--  http://www.finnie.org/software/raspberrypi/ubuntu-rpi3/20160517-raspi3-arm64-firmware-kernel.tar.xz
Resolving www.finnie.org (www.finnie.org)... 209.177.154.210, 2001:470:67:107::2
Connecting to www.finnie.org (www

[2016-11-11 01:43] LTheGreats commented on #3698
I ran what you said above and it didn't work. I think it might be because Raspbian  does not support AArch64.

[2016-11-11 07:42] medols commented on #3698
@LTheGreats the change to aarch64 works with this ubuntu 16.04 image for RPi3:

https://wiki.ubuntu.com/ARM/RaspberryPi#Download

It should work with the image you installed adding dependencies listed above:

https://github.com/rubinius/rubinius/issues/3698#issuecomment-255543927

[2016-11-11 14:13] LTheGreats commented on #3698
Okay I will try to use that ubuntu image,

[2016-11-11 14:18] LTheGreats commented on #3698
I also found out why the chang to AArch64 didn't work and that was because the Raspbian image is made to wark with the older 32bit RPIs

[2016-11-19 18:53] abnud1 opened #3709 "provide docs for Rubinius-specific things about the ruby implementation"
Now I know that Rubinius is a language platform and it's not specific to ruby so it's reasonable for rubinius book to be language-agnostic .

But I see Rubinius as actually two things : language platform and a ruby implementation using that platform.

In my opinion the "Ruby implementation" does deserve some docs.

Now Ruby itself has docs and so is the standard library but there are some facts th

[2016-11-20 10:57] brixen commented on #3709
@abnud1 thanks for bringing up this issue. We do need to document all parts of Rubinius, both Ruby and non-Ruby.

Could you please open [an issue for the Rubinius](https://github.com/rubinius/rubinius-book/issues) with just a simple list of things you need, ideally in order of importance? Feel free to reference this issue for the rationale but you don't need to repeat it there.

I'm going to close

[2016-11-20 10:57] #3709 closed

[2016-11-22 04:13] stakach commented on #3706
Found another location where this issue rears it's head, occurs in a less obscure way - might make it easier to build some example code that tests the issues.

https://github.com/cotag/libcouchbase/blob/6e4381dcbc2513bbd6d81678d173409042b124e3/lib/libcouchbase/bucket.rb#L791

Basically the sleep function there starts a timer and yields the fiber - however when the fiber resumes the error is re-rai

[2016-11-22 16:46] nateberkopec opened #3710 "Segfault w/bundler"
https://travis-ci.org/puma/puma/jobs/177996892

1. What command did you run?

  I ran `bundle install --jobs=3 --retry=3 --path=${BUNDLE_PATH:-vendor/bundle}`

3. What behavior did you get instead?

[code]

4. What version of Rubinius?

  Output of `rbx -v`: rubinius 3.69 (2.3.1 a57071c6 2016-11-17 3.8.0) [x86_64-linux-gnu]

5. What version of operating system?

  Ubuntu 14.04.5 LTS

7. How did yo

[2016-11-22 17:17] brixen commented on #3706
@stakach thank you! I'll take a look today.

[2016-11-22 21:36] stakach commented on #3706
Minimal code to reproduce the error

[code]

[2016-11-22 22:52] brixen commented on #3710
@nateberkopec thanks for reporting this issue. What version of Bundler are you running?

[2016-11-23 00:17] nateberkopec commented on #3710
Looks like it's 1.11.2

[2016-11-23 01:09] brixen commented on #3710
@nateberkopec ok, just to be super sure, you're using the Bundler that is pre-packaged with Rubinius and not installing a newer version, right?

[2016-11-23 01:10] brixen commented on #3710
@nateberkopec ahh, this looks suspect https://travis-ci.org/puma/puma/jobs/177996892#L152

[2016-11-23 01:11] brixen commented on #3710
@nateberkopec do you see this only on Travis or have you seen it locally where you can ensure that Bundler is not being upgraded?

[2016-11-23 01:15] nateberkopec commented on #3710
Oops, yeah. I was wondering why it was something that was only happening to us.

So just to be clear - I must use the pre-packaged bundler version?

If that's all that needs to be done here and Bundler 1.13.6 not working is a "known issue", you can close.

[2016-11-23 03:40] brixen commented on #3710
@nateberkopec Bundler post 1.11.2 (ie post the version packaged with Rubinius) has a number of concurrency-related bugs. I'll definitely take a look at this, but I wanted to check that you were in fact using a newer version of Rubinius.

If I can determine that this is also a concurrency issue, I'll open [an issue like this one](https://github.com/bundler/bundler/issues/5142) for Bundler and close

[2016-11-23 04:03] mwpastore commented on #3710
There's nothing like googling a bug and seeing it was solved/addressed 20 minutes ago! This issue report was quite timely. Thank you both.

[2016-11-24 23:33] brixen commented on #3706
Here's a repro:

[code]

When `Fiber.yield` executes, switching the current Fiber on the Thread, the exception is raised in the Thread.

I cannot conceive of any way that `Fiber.yield` could execute with an unhandled exception, so propagating the exception seems to be the problem.

Exceptions raised and unhandled on a Fiber should be propagated:

[code]

[2016-11-28 18:22] segiddins commented on #3710
`ArgumentError: TypedData object has already been freed` seems to be coming from OpenSSL

[code]

[2016-11-28 18:44] brixen commented on #3710
@segiddins the OpenSSL code is a C-ext extracted from MRI. It is very hard to know whether any of the OpenSSL code is intended to be thread-safe. There are some aspects of it that look like there was some attempt to make it thread-safe.

You'll note in the backtrace you listed that `bundler/lib/bundler/fetcher/compact_index.rb` is right there, just as in this issue https://github.com/bundler/bundl

[2016-11-28 19:47] segiddins opened #3711 "ruby -S gem fails"
*Edit: fixed Markdown formatting of list. -- @brixen*

Thank you for taking the time to let us know that you're having an issue with Rubinius. We apologize for the inconvenience.

Please respond to the following questions to help us fix the issue. Please leave the form contents in place. If a question isn't relevant, please respond with N/A.

Please include a link to a gist (https://gist.github.co

[2016-11-28 22:12] brixen commented on #3711
@segiddins thanks for the report.

1. What version of ruby-build?
2. Are you also using rbenv, and if so, what version?
3. What is the output of `which gem`?

[2016-11-28 22:14] segiddins commented on #3711
1) ruby-build 20160913, but I manually created a definition for 3.69 by copying the latest one in the repo
2) n/a
3) `/Users/segiddins/.rubies/rbx-3.69/gems/bin/gem`, which is a binary instead of a ruby source file

[2016-11-28 22:18] brixen commented on #3711
@sandstrom could you paste the output of this command:

[code]

There is something more wrong with this than just the fact that file is an executable, so trying to narrow that down. See eg:

[code]

[2016-11-28 22:48] segiddins commented on #3711
[code]

Also a Mach-O for me

[2016-11-28 23:13] brixen commented on #3711
@segiddins could you gist the output of `set` for your shell (assuming you're using bash or an act-alike; if other shell, I'm not sure the command)?

[2016-11-28 23:48] segiddins commented on #3711
https://gist.github.com/segiddins/3c67c36a740ce1c50340cf2e5db58816

[2016-11-29 23:07] AlexWayfer opened #3713 "`gem` command fails"
1. What command did you run?

  I ran `gem -v`

2. What behavior did you expect?

  I expected output of `gem` version

3. What behavior did you get instead?

  I observed [exception](https://gist.github.com/AlexWayfer/1fd216427cf124873e8636f1a1190558)

4. What version of Rubinius?

  Output of `rbx -v`: rubinius 3.69 (2.3.1 a57071c6 2016-11-17 3.9.0) [x86_64-linux-gnu]

5. What version of operati