[2014-05-09 17:10] #2990 closed, assigned to nobody

[2014-05-10 20:53] #3024 closed, assigned to nobody

[2014-05-12 23:07] ghazel opened #3025 ""buffer overflow detected" in "SSL_connect""
https://gist.github.com/ghazel/6e3fdd91afab3fc1689d

relevant bit;

[code]

[2014-05-12 23:31] ghazel opened #3026 "Program received signal SIGPIPE, Broken pipe."
[code]

GDB output:

https://gist.github.com/ghazel/0defa8384d6c6eaa47bc

Ruby ignores SIGPIPE. I thought Rubinius would too? #49 says so.

[2014-05-12 23:33] #3026 closed, assigned to nobody

[2014-05-13 07:23] ghost opened #3027 "`configure` uses nonexistent command from vendored LLVM."
On FreeBSD 10.0-RELEASE-p2 amd64 with 35ae80, I am getting the following when attempting to build:

[code]

[2014-05-13 17:09] #3027 closed, assigned to nobody

[2014-05-13 20:23] tak1n opened #3028 "minitest/pride output broken"
In https://github.com/seattlerb/minitest/issues/428 the issue was already described.
In my opinion it's a bug from rubinius because other implementations are working properly.

Here the 2 gists which are showing the error.

With error: https://gist.github.com/Benny1992/b9c5a34d467e742f517a
Without error: https://gist.github.com/Benny1992/5ba3e2bca2ce2c9cc840

The specific code part is in [minitest

[2014-05-14 11:12] colincurrie opened #3029 "strftime('%L') doesn't pad milliseconds correctly"
comparing rbx 2.2.6 to ruby 2.1.2 on OSX, it get the following results when using Time#strftime:

[code]

[code]

I can achieve what I need by using '%N' (fractions of a second). Perhaps the definition of '%L' can be interpreted as the number of milliseconds rather than a fraction of a second, therefore having no need for zero padding on the left, but the results are  still wrong. Time.at(0.001) d

[2014-05-14 22:54] thomasbrus opened #3030 "Destructuring array with splat operator assigns vars in wrong order"
Running the following on rubinius 2.2.6 (2.1.0 68d916a5 2014-03-10 JI) [x86_64-darwin13.1.0] yields an unexpected result:

[code]

Basically `second_last` and `last` are swapped which is obviously not supposed to happen:)

[2014-05-16 14:38] #3030 closed, assigned to nobody

[2014-05-16 15:24] #3001 closed, assigned to nobody

[2014-05-17 19:34] #3028 closed, assigned to nobody

[2014-05-18 22:40] #2182 closed, assigned to nobody

[2014-05-18 22:47] #2219 closed, assigned to nobody

[2014-05-19 00:33] #3029 closed, assigned to nobody

[2014-05-19 04:21] #2290 closed, assigned to nobody

[2014-05-19 20:09] ErnstA opened #3035 "Xagent.start Bound to port, but port seems not open"
rbx -Xagent.start -Xagent.verbose /home/ernst/.rvm/gems/rbx-2.2.6/bin/rails s

[code]

in other terminal:
 rbx console

[code]

sudo netstat -plane | grep 53311
does not find anything!

CONFIG:

rubinius 2.2.6 (2.1.0 68d916a5 2014-03-10 JI) [i686-linux-gnu]

Linux frac 3.13.0-24-generic #47-Ubuntu SMP Fri May 2 23:31:42 UTC 2014 i686 i686 i686 GNU/Linux

rvm 1.25.25
=\* rbx-2.2.6 [ i686 ]

sudo ip

[2014-05-20 00:44] #3035 closed, assigned to nobody

[2014-05-21 00:07] thomasbrus opened #3037 "Incorrect return value for splat assignment with many post-splat variables"
Came across another issue, related to #3030:

On MRI

[code]

On Rubinius 2.2.7 (also on 2.2.6)

[code]

The reason for this seems to be that `Array#pop` is called for each of the post-splat variables (b, c, d). Thus the resulting value of `arr` is [1, 2].

By the way, if I were to make any chances to rubinius-ast, how could I test those locally? Do I have to recompile/rebuild rubinius each time t

[2014-05-21 19:03] jasonrclark opened #3038 "Hang on GC.stat after daemonizing"
A problem was reported with newrelic_rpm where the background thread hung when running on Rubinius with a daemonized process (Puma was the server, but that didn't turn out to be pertinent). Tracked it down to a problem with `GC.stat` hanging when called from a forked/daemonized process after the parent has called `GC.stat`.

The following code duplicates the problem:

[code]

Running on Rubinius 2

[2014-05-21 23:47] tmornini opened #3040 "2.2.7 prompts on gem install bundler"
Before 2.2.7 I used to need to:

[code]

As of 2.2.7, this presents as:

[code]

Automated deployments will likely hang waiting for input due to this change.

[2014-05-21 23:54] tmornini opened #3041 "bundler clean --force wipes out Rubinius"
I'm not sure this if this is rbenv only, or even rbenv related

Running

[code]

completely wipes out Rubinius on rbenv.

Afterward, _nothing_ will work. ruby -v, irb, gem install, etc.

Seems to work fine on MRI and JRuby.

[2014-05-22 03:01] ghazel opened #3042 "Timeout.timeout(…) fails to interrupt OpenSSL"
Rubinius seems to fail to interrupt OpenSSL sockets. Regular sockets work fine, and this works fine on MRI.

[code]

[2014-05-22 13:54] #3041 closed, assigned to nobody

[2014-05-22 13:56] #3040 closed, assigned to nobody

[2014-05-22 15:09] #2627 closed, assigned to nobody

[2014-05-22 18:53] #2874 closed, assigned to nobody

[2014-05-22 19:20] #2944 closed, assigned to nobody

[2014-05-22 19:22] #2917 closed, assigned to nobody

[2014-05-22 19:34] #2771 closed, assigned to nobody

[2014-05-22 19:37] #2380 closed, assigned to nobody

[2014-05-22 19:44] #2673 closed, assigned to nobody

[2014-05-22 23:27] ghazel opened #3043 "[BUG: Unable to lock object]"
Trying to reproduce #3025 I found another bug:

[code]

My lame repro script (the idea is that Thread.raise is involved in the original bug because Net::HTTP uses Timeout.timeout)
[code]

[2014-05-22 23:48] ghazel opened #3044 "ERROR IN TIMEOUT THREAD private method `raise' called on nil:NilClass. (NoMethodError)"
Trying to reproduce #3025 I found this:

[code]

My lame repro script (the idea is that Thread.timeout is involved in the original bug because Net::HTTP uses Timeout.timeout)

[code]

[2014-05-23 02:22] #3038 closed, assigned to nobody

[2014-05-23 03:16] ghazel opened #3045 ""buffer overflow detected" in "rubinius::IO::read_if_available""
Likely the same bug as #3025 but no OpenSSL involved

[code]

[2014-05-23 04:55] #2362 closed, assigned to nobody

[2014-05-23 06:00] #2442 closed, assigned to nobody

[2014-05-23 14:36] yorickpeterse opened #3047 "Crash when running on Jenkins"
When running one of our application's test suite on Rbx I experienced the following crash:

[code]

This is using Rbx 2.2.6 on `Amazon Linux AMI release 2014.03`. I'll do some further digging to see if I can somehow reproduce this on 2.2.7 (and in general).

[2014-05-23 15:39] #2379 closed, assigned to nobody

[2014-05-26 16:23] cdcme opened #3048 "Crash installing 2.2.6 via rbenv"
https://gist.github.com/12425eaed7ea2b1995a9

[2014-05-27 03:05] bf4 opened #3050 "Possible bug in behavior of sort!"
While testing the mail gem, all travis builds fail against rbx-2, and previous to that rbx-18mode and rbx-19mode.

https://travis-ci.org/mikel/mail/jobs/26092400

example

[code]

[code]

Since Jan 2013 it appears https://github.com/mikel/mail/commit/cae68382ce67f5506889f4abadccdcb366e0ff25#diff-354f30a63fb0907d4ad57269548329e3

[2014-05-27 16:19] ghost opened #3051 "Error with 'rails new' on Rubinius."
Originally [posted in the Rails repo](https://github.com/rails/rails/issues/15367).

Doing `rails new todo --database=postgresql` results in an application being generated at `new/` instead of at `todo/` and does not set up any of the normal postgresql stuff. Oddly, if I do `rails new todo --database=postgresql --database=postgresql`, it _does_ set up the postgresql stuff as usual but still genera

[2014-05-27 16:39] ghost opened #3052 "Rubinius installation fails"
https://gist.github.com/10d34026928ecfc5368e

[2014-05-29 11:28] #3052 closed, assigned to nobody

[2014-05-29 12:02] #3051 closed, assigned to nobody

[2014-05-30 15:35] #3042 closed, assigned to nobody

[2014-05-31 09:44] amcvega opened #3053 "rand doesn't seem to provide random number for a large enough limit"
Here a simple test case:

[code]

When running this I get the following result:

[code]

I expected to at least get at least a few positive numbers approximately half the time but every time I run the script, it just gives me negative numbers. When I run the script with a limit of 1_000_000_000 or less, it seems to behave as expected.

Here's the same test under MRI 2.1.1

[code]

[2014-06-02 05:58] graaff opened #3054 "Rubinius 2.2.7 does not provide NULLCMD in RbConfig"
Results of running ruby -v -e 'puts RbConfig::CONFIG["NULLCMD"].inspect'

[code]

[code]

This will lead to problems with Makefile generated by mkmf.rb when used with V=1 (to see compile output rather than hiding it behind "compiling ..." messages). E.g. output from racc's build process:

[code]

[2014-06-02 22:52] jasonrclark opened #3055 "Advice on gathering VM stats for Rubinius"
The last couple versions of New Relic's Ruby agent (http://github.com/newrelic/rpm) have included a new feature to track VM stats. I'd love to hear from the Rubinius team about how we can improve coverage on those metrics.

At this point RPM's UI responds to a certain set of metrics, so the simplest bet for improving things is to fill in the gaps of what's gathered between MRI and Rubinius.

On th

[2014-06-03 06:14] mhenrixon opened #3056 "Can't install 2.2.7"
I'm trying to install 2.2.7 on Mac OS X 10.9 but failing with every way I try. Right now I am trying the `rake install` with the following result: https://gist.github.com/mhenrixon/c11315a3fafea197fb57

There is nothing I can find in the docs that help explain this behaviour.

[2014-06-03 18:33] #3054 closed, assigned to nobody

[2014-06-04 05:55] sodabrew opened #3057 "Rubinius does not provide rb_io_taint_check API"
I'm not sure what it does, but it's part of Ruby's `io.h` and is used by the bzip2 gem. I'm trying to whip the gem into shape and found this build failure:
https://travis-ci.org/brianmario/bzip2-ruby/jobs/26731495

[code]

The implementation looks pretty straightforward. I can submit a PR if it looks like something worth supporting:
http://rxr.whitequark.org/mri/source/io.c?v=2.1.0-p0#599

[2014-06-05 20:47] slaught opened #3058 "Rbx 2.2.7 sigsegv on "load 'file'"
https://gist.github.com/slaught/ef91508e2a4124962719

Crash while doing

rbx/irb
load 'out3'

out3 is 97mb and is the assignment of an array to a variable. The array has a series of complex hashes.

[2014-06-05 21:41] slaught opened #3059 "RegexpError: invalid multibyte escape"
# invalid multibyte escape:  (RegexpError)
### Fails on  2.2.7 & 2.2.6

% rbx -v
rubinius 2.2.6 (2.1.0 68d916a5 2014-03-10 JI) [x86_64-darwin13.1.0]
 % rbx -v
rubinius 2.2.7 (2.1.0 build 2014-05-20 JI) [x86_64-darwin13.1.0]
### works on MRI:

%  /usr/bin/ruby -v
ruby 2.0.0p247 (2013-06-27 revision 41674) [universal.x86_64-darwin13]
# Example

% cat ex.rb
  class One
    a = '(?:[\x8E\xA1-\xFE])'

[2014-06-06 14:46] #3048 closed, assigned to nobody

[2014-06-07 05:08] fwoeck opened #3060 "Process.spawn incomplete? (error in exec.js)"
With the current exec.js I see this error. @josh mentioned, that it might be due to an incomplete implementation of Process.spawn https://github.com/sstephenson/execjs/issues/148

The "{err: [:child, :out]}" in lib/execjs/external_runtime.rb#125

[code]

causes a

[code]

when run with rubinius 2.2.7. This doesn't happen when I simply remove the hash:

[code]

[2014-06-08 20:12] graaff opened #3061 "Running the rake 10.3.2 test suite on rubinius 2.2.7 errors out: undefined method `tuple' on an instance of Rubinius::Mirror::Object"
When I'm trying to run the rake 10.3.2 test suite (as included in the gem) I'm getting 30+ similar errors. I've included two of them below.

rubinius 2.2.7 (2.1.0 build 2014-05-20 JI) [x86_64-linux-gnu]

[code]

[2014-06-08 20:28] graaff opened #3062 "Minitest 4.7.5 test suite fails one test with rubinius 2.2.7"
Trying to run the minitest 4.7.5 test suite with rubinius 2.2.7 (2.1.0 build 2014-05-20 JI) [x86_64-linux-gnu] gives me this error:

[code]

Tests were run with "rbx -Ilib:bin:test:. -S testrb test"

[2014-06-09 08:45] keroami opened #3063 "$stdout.reopen and Open3.popen3 incompatible with MRI"
The code below has a different result on MRI (1.8 up to and including 2.1) compared to Rubinius (git master 2f4ebeb2c, somewhat beyond 2.2.7). In the former, the contents of the file "stdout" are:
[code]
For rubinius the contents are:
[code]

[code]

[2014-06-11 02:49] andyzei opened #3064 "gem / bundle bins not marked executable in default 2.2.7 install on OSX 10.9.3"
I installed to a --prefix -- noticed that the files in <prefix>/gems/bin were not marked executable after installation, which made "bundle install" not work so well. chmod +x fixed the issue. All of the directories in question were already chowned to a single user. Might be an installer issue.

Thanks,

Andy

[2014-06-12 03:20] jolisper opened #3065 "Crash when working with fibers"
https://gist.github.com/anonymous/8aa4fadf93566f6b3bf8

rbx -v: rubinius 2.2.6 (2.1.0 68d916a5 2014-03-10 JI) [x86_64-linux-gnu]
rvm -v: rvm 1.25.26 (stable)

Create several fibers and put it in an array, iterate the array and resume one fiber per iteration.

[2014-06-18 18:44] Gibheer opened #3067 "compilation not possible on freebsd 10"
Hi,

I just wanted to compile rbx 2.2.9 and got the following error

[code]

clang is of version 3.4, system llvm too. The system is running freebsd 10

[code]

Installation is started through ruby-install

[code]

[2014-06-18 20:00] #3057 closed, assigned to nobody

[2014-06-21 14:18] #3064 closed, assigned to nobody

[2014-06-21 14:21] #3056 closed, assigned to nobody

[2014-06-24 11:53] #2827 closed, assigned to nobody

[2014-06-24 22:37] #2974 closed, assigned to nobody

[2014-06-24 22:41] #3059 closed, assigned to nobody

[2014-06-26 21:45] #2641 closed, assigned to nobody

[2014-06-26 22:19] #2595 closed, assigned to nobody

[2014-06-27 04:01] alexdowad opened #3068 "Difference from MRI behavior when doing splat assignment with a single lvalue"
Reference: https://github.com/rubyspec/rubyspec/pull/278

In MRI irb:

[code]

In rbx:

[code]

In short, when doing a splat assignment to a single lvalue, Rubinius just assigns a reference to the splatted array. MRI _always_ creates a new Array.

(I am working on a gem where this minor difference causes the tests to fail on rbx.)

[2014-06-27 09:16] #2669 closed, assigned to nobody

[2014-06-27 11:25] washu opened #3069 "crash report"
Rubinius Crash Report #rbxcrashreport

Error: signal

GIST: https://gist.github.com/d266af4becfd761bbe01

To Replicate:
start irb,

[code]

[2014-06-27 12:58] washu opened #3072 "INT2NUM implmenetation under rbx"
under MRI this macro assume a int, under rbx it assume a long. this may create havok for a c_extension assing 4 byte value range. It cause an interesting bug in bson gem for native convertion of a uint32_t from 0xFFFFFFFF
under mri this decodes as -1, under rbx it decodes as 4294967295
ive sent a PR to bson_ruby gem to use int32_t instead of uint32.
Yorick asked me to create this ticket as a futur

[2014-06-27 15:11] goyox86 opened #3073 "Missing CAPI functions"
I'm trying to apply latest MRI changes to the readline library to rubysl-readline.

I've forked rubysl-readline and put the latest changes in MRI trunk. I end up with something

I end up with something like this for extconf.rb https://gist.github.com/goyox86/9929c70990fbd1b64b6d
And readline.c looks like this https://gist.github.com/goyox86/f1884438168dc67e759d

Then I'm trying to install the gem

[2014-06-27 18:45] #3069 closed, assigned to nobody

[2014-06-27 18:55] #3072 closed, assigned to nobody

[2014-06-28 00:53] jemc opened #3074 "Add support for :blocking=>true with Rubinius::FFI::Library#attach_function"
I'm trying to use Rubinius::FFI where currently ::FFI is being used, and came across the following compatibility issue:

[code]

Rubinius::FFI#attach_function says:

(From https://github.com/rubinius/rubinius/blob/master/kernel/platform/library.rb#L86-L130)

It appears Rubinius doesn't have a method signature to support the use of keyword arguments / option hashes like `:blocking => true`.

Does R

[2014-06-28 14:45] tak1n opened #3075 "Kernel.TYPE methods with BasicObject.new as param"
Like in https://github.com/rubinius/rubinius/pull/3070 for Kernel.Float a "BasicObject guard" should be implemented. Currently the most Kernel.TYPE methods given with BasicObject.new as param raise a NoMethodError instead a TypeError.

Rubinius behavior:

[code]

MRI behavior:

[code]

[2014-06-29 06:28] JoshCheek opened #3076 "Syntax checking (ruby -c) seems broken"
In MRI:

[code]

In Rbx

[code]

Version: "rubinius 2.2.10 (2.1.0 bf61ae2e 2014-06-27 JI) [x86_64-darwin13.2.0]"

[2014-06-30 07:24] #3076 closed, assigned to nobody

[2014-06-30 10:36] #3075 closed, assigned to yorickpeterse

[2014-06-30 12:52] clemensg opened #3078 "Rubinius 2.2.10 build fails"
Hi, when I try to build rbx-2.2.10 on ArchLinux it fails with the following message:

[code]

Here is the rake.log: https://gist.github.com/clemensg/862ba7a59c3cb2a21170

There seems to be a problem with llvm-build. Any ideas what is happening there?

Info about my setup:

[code]

Best regards,
Clemens

[2014-06-30 17:15] blackxored opened #3079 "Crash on running bundle"
Hangs at installing versionist = 1.3.0
https://gist.github.com/anonymous/44c6af8d1523fffafdbb

[2014-06-30 17:35] blackxored opened #3080 "Some C extension problem"
[code]

[2014-07-03 10:52] glebm opened #3081 "defined? and autoload"
A user report [an issue](https://github.com/glebm/rails_email_preview/issues/42) with one of my gems on rbx-2.2.7. Turns out, rbx returns `nil` on `defined?(::AutoloadableConstant)`, instead of triggering autoload and returning `"constant"` like MRI and jruby do.

[2014-07-04 12:15] #3078 closed, assigned to nobody

[2014-07-07 12:50] elia opened #3082 "undefined method `syntax_errors' on nil:NilClass"
related: #3076

[code]

[edit_document.js.rb](https://gist.github.com/elia/ed69a38ee8d233f29c82)

[2014-07-07 14:27] #3082 closed, assigned to nobody

[2014-07-10 12:58] #2877 closed, assigned to nobody

[2014-07-11 03:46] jemc opened #3084 "Raise RuntimeError on ObjectSpace.define_finalizer(:symbol)"
MRI:

[code]

rbx:

[code]

Personally, I think ArgumentError makes more sense, and making it a RuntimeError feels like a step in the wrong direction but if compatibility is the name of the game... _grimace_ I guess it needs to match MRI.

Either way, my code has to know what exception type to rescue without knowing which platform it's on.

I'll submit a PR soon.

[2014-07-11 09:40] #3084 closed, assigned to nobody

[2014-07-12 00:04] #3068 closed, assigned to nobody

[2014-07-12 17:37] reiz opened #3086 "Installation fails at preinstall_gems.rb"
I'm building rubinius from the master branch on docker. The installation fails with this error message:

[code]

My Dockerfile looks like this:

[code]

Any ideas what's going wrong?

[2014-07-13 14:16] #3067 closed, assigned to nobody

[2014-07-14 23:11] keltia opened #3087 "Crash during fetching the gem metada on 2.2.10/OSX 10.9.3."
Hello, I was running "bundle" in several directories after installing 2.2.10 and it crashed during the fetch of metadata:

[code]

    
    Backtrace:
    0   ruby                                0x000000010b898fc8 _ZN8rubiniusL12segv_handlerEi + 440
    1   libsystem_platform.dylib            0x00007fff8b68f5aa _sigtramp + 26
    2   ???                                 0x00007f8a29403b80 0x0 + 140

[2014-07-15 05:15] sempervictus opened #3088 "Ferret fails to build C extension"
gem install ferret on HEAD (rubinius 2.2.10.n195 (2.1.0 11af1de8 2014-07-14 JI) [x86_64-linux-gnu]) results in http://pastebin.com/bCUkUzeu
Seems the C extension fails on frb_rb_hash_size. IIRC there are issues with the way some gems implement RHASH and other C runtime based accessors to what in our runtime are pure Ruby structures.

This was discovered while attempting to build Treat for RBX agai

[2014-07-15 20:53] YorickPeterse opened #3089 "CAPI updates for BigDecimal"
In order to update https://github.com/rubysl/rubysl-bigdecimal to the latest MRI version there are a bunch of things that need to be done CAPI wise. This list is as following:
- [ ] `st.h` is now available always in MRI by the looks of it, removing the need for explicit `#include` calls. We'll also need to make this header available. See https://github.com/ruby/ruby/commit/536a3274#diff-77d09ab910

[2014-07-18 17:06] neoecos opened #3091 "Rubinius crash"
Hi, using rbx 2.2.10 with rails 3.2.19 with config.threadsafe! this started to happend

https://gist.github.com/fd92b9fd20315e5111fd

[2014-07-21 11:38] tak1n opened #3093 "Inconsistent behaviour between Kernel.Float and to_f"
Given following example:

rbx_:

[code]

mri:

[code]

Should we try to make these two methods consistent in behaviour, so raising a `TypeError` in both cases, or adapt it to MRI's implementation?

[2014-07-23 00:49] jc00ke opened #3094 "Unable to build from master/RBX_PREFIX_PATH not working"
I re-cloned the repo locally and when I try to build I'm getting a segfault. See [the log](https://gist.github.com/jc00ke/a2cbe2ed4b81735e81da#file-gistfile1-txt)

Notice [this `LoadError`](https://gist.github.com/jc00ke/a2cbe2ed4b81735e81da#file-gistfile1-txt-L26)

[2014-07-23 22:02] emptyflask opened #3095 "Rubinius::ObjectBoundsExceededError in products # landing_page"
I've been getting this occasionally right after deployments to a multithreaded puma environment. Since I can't duplicate it reliably, I assume it's related to threads, but I really have no idea what's going on.

[code]

The rest of it from Honeybadger:

[code]

[2014-07-28 11:10] sonots opened #3097 "Parent process can not get Signal.trap during Process.waitpid"
I created a small piece of codes to reproduce this issue as belows:

[code]

With this code, sending INT signal to the supervisor process does not trap the INT signal.

[code]

Uncommenting the `puts` loop in the supervisor process not to go into `Process.waitpid`, the supervisor process could successfully receive the INT signal.

[code]

It seems the parent process can not get `Signal.trap` durin

[2014-07-28 16:54] southerngs opened #3098 "Add support for MCJIT"
I read on the [LLVM mailing list](http://article.gmane.org/gmane.comp.compilers.llvm.devel/75175) that support for the old JIT interface is being removed from mainline LLVM code.

I know that #2867 mentions adding support for MCJIT within the context of supporting ARM.  However, I thought it might make sense to have an issue for tracking conversion to MCJIT for existing architectures.

[2014-07-28 17:07] #3094 closed, assigned to nobody

[2014-07-30 10:04] robin850 opened #3101 "Wrong behavior of #method_missing with vcall"
Hello,

Rubinius throws a `NoMethodError` instead of a `NameError` when we are calling a missing variable or method. The problem is that [here](http://git.io/6tkQeg), the missing method reason is set to `eNormal` anyway but we need to disambiguate any vcall from a normal call:

[code]

For the record, this makes [this test](https://github.com/rails/rails/blob/d035124a20e2964074441fb1d4f7b4865eccc1

[2014-07-30 15:16] darix opened #3103 "Handle different library names for linking llvm shared between autotools build and cmake build"
a3d10bf7 introduced

[code]

for linking the shared library version of llvm. This seems only to be the valid library name with the autotools based build of llvm. When using the cmake based build you get the same filenames as with the static build just with .so instead of .a.

currently I use the following patch:

[code]

In the discussion we came to the conclusions:
1. open bug against llvm-config

[2014-08-05 07:59] ErnstA opened #3106 "RabbitMQ, gem 'bunny', subscribe does not work on rubinius"
in queue.subscribe
@channel.work_pool.join
blocks until a message becomes available.

However under rbx-2.2.6 and rbx-2.2.10 it does not block.

I did raise the issue with:
https://github.com/ruby-amqp/bunny/issues/231

They suggest that Rubinius should fix Thread#join

There is a code example to reproduce this at the end of:
https://github.com/rubinius/rubinius/issues/2327

[2014-08-06 14:32] shakaran opened #3107 "Missing JIT in LLVM for Ubuntu 14.10"
I am trying rubinius in Ubuntu 14.10 and I can build but it builds without JIT compiler. I get this warning:

[code]

I write in IRC and they recommend open a issue here. So, just reporting since the prebuilts need to be created for each different OS.

[code]

[2014-08-06 14:42] #3107 closed, assigned to nobody

[2014-08-08 19:31] sempervictus opened #3108 "Treat Fails to Build Packaged Nokogiri Gem"
Attempting to complete the Treat gem installation via 'Treat::Core::Installer.install' in IRB ater installing the gem raises a number of errors.
This issue addresses the build errors encountered by libxslt for nokogiri on RBX 1.9.3 6d611c7a 2014-08-08 JI. The extconf logs show a somewhat unusual message about an invalid mode coming from io.rb in kernel/common.
Details at http://pastebin.com/XTJuXx

[2014-08-10 05:38] #3108 closed, assigned to nobody

[2014-08-13 22:40] slaught opened #3110 "Missing gems in 2.2.10 vendor/cache"
In the current 2.2.10 tarball: MD5(rubinius-2.2.10.tar.bz2) = 8680da7eb921e6f595a1d716915ca7e0
The following three gems are missing from the vendor/cache directory.
redcard-1.1.0.gem
daedalus-core-0.0.3.gem
rubinius-bridge-1.0.8.gem

This cause a failure when starting a build with:
% bundle install --path=vendor/bundle --local

[2014-08-15 13:44] #3081 closed, assigned to nobody

[2014-08-21 00:06] bchill opened #3113 "compile problem with 2.2.10 and -fno-rtti"
OS: CentOS 5.10
Ruby: 2.1.2
Rubinus: 2.2.10

Since rubinus is no longer supposed to require RTTI, I don't understand this error. Is this related to the older gcc/g++ on CentOS 5?

Brian

---

$ rake
.
.
.
Running 193 tasks using 4 parallel threads
1: CXX vm/arguments.cpp
2: CXX vm/agent_components.cpp
3: CXX vm/agent.cpp
4: CXX vm/accessor_primitives.cpp
/usr/lib/gcc/x86_64-redhat-linux/4.1.2/../.

[2014-08-21 00:28] ryoqun opened #3114 "Rubinius doesn't correctly assign block args with JIT"
This currently happens on master.

It seems that Rubinius wrongly compiles blocks regarding its arguments. It doesn't destruct and assign to the second local variable and later.

Result:

[code]

Test code:

[code]

[2014-08-24 21:07] jackdesert opened #3115 "Could not open library sqlite3_native.so (sequel gem)"
I am porting my application from MRI to Rubinius. My application is called "daily_lager", and here are the steps to pull down the source and attempt to run it under rubinius. Unfortunately, it seems to be breaking on something to do with sqlite3_native.so.

    $ git clone git@github.com:jackdesert/daily_lager
    $ cd daily_lager
    $ git checkout rubinius
    $ rbenv local rbx-2.2.7
    $ bundl

[2014-08-29 18:01] postmodern opened #3117 "rbx 2.2.10 and LLVM 3.4 attempts to link against static LLVM libraries"
When attempting to compile rbx 2.2.10 against LLVM 3.4 (via ruby-install 0.4.3) on Fedora 20, it attempts to link against the static LLVM libraries, even though `/usr/lib64/llvm/libLLVM-3.4.so` is present.
### Steps to Reproduce

[code]
### Expected Output

[code]
### Actual Output

<pre>
1: LD vm/vm
g++: error: /usr/lib64/llvm/libLLVMInstrumentation.a: No such file or directory
g++: error: /usr/l

[2014-08-30 21:30] ghazel opened #3118 "undefined method `block_env' on an instance of Rubinius::CompiledCode"
[code]

[2014-08-31 01:38] ghazel opened #3119 "SIGSEGV in rubinius::capi::capi_get_string"
Using 2.2.10

[code]

Here's a simpl(ish) repro: (I wrote decode_www_form_component, which you can gem install, but it doesn't ever crash with ruby-1.9.3-p286)

[code]

[2014-08-31 20:46] tak1n opened #3120 "Rubinius HEAD - 3 failing tests"
[code]

All 3 failures are caused by spec/ruby/shared/process/exec.rb:65

[code]

Env:

[code]

[2014-09-02 19:47] #3120 closed, assigned to nobody

[2014-09-02 20:07] jc00ke opened #3121 "0bbc4ed broke install of ffi2-generators gem"
[code]

And it does. I believe this change is why the [Travis build](https://travis-ci.org/rubinius/rubinius/jobs/34149656) errored out for Linux/gcc, but regardless, I can't even get rbx to build on 656d690 :frowning:

[2014-09-02 21:42] #3117 closed, assigned to nobody

[2014-09-04 08:58] ryoqun opened #3122 "Rubinius fails executation suddenly after some iteration of loop"
As the titles says, Rubinius throws following error:

[code]

when `:bb` is `"bb"` (string), this doesn't happen.

how to reproduce:
1. `gem install rails`
2. `rails new hello`
3. `cd hello`
4. `rails runner 'class A < ActiveRecord::Base;end; loop { A.where(:aa => :bb) }'`

heppens on 2.2.9 and HEAD

[2014-09-04 17:40] #3093 closed, assigned to nobody

[2014-09-05 21:39] #3050 closed, assigned to nobody

[2014-09-05 21:42] Zapotek opened #3124 "Crash when using FFI and unjoined threads"
Hey guys,

Report: https://gist.github.com/anonymous/f039941ff2dcb3e5a8fe
Reproduce with:

[code]

If you uncomment the last line the crash is avoided.

Cheers

[2014-09-06 10:14] tak1n opened #3126 "Not able to build rubinius 2.2.10"
Trying to install rubinius 2.2.10 release, because git HEAD is broken (#3121)
Downloaded the source code .tar.gz for 2.2.10, therefore it's not a git repo

[code]

In https://github.com/rubinius/rubinius/blob/master/configure#L2028-L2032 is checked if it's a release build or a "normal" build depending if it's a git repo or not.
My downloaded rubinius-2.2.10 is a normal dir (no .git folder) therefo

[2014-09-08 20:27] #2980 closed, assigned to nobody

[2014-09-08 21:00] #2691 closed, assigned to nobody

[2014-09-08 22:16] #3126 closed, assigned to nobody

[2014-09-09 19:26] jc00ke opened #3129 "ARGF.gets spec hangs"
[code]

[configure.log and config.rb](https://gist.github.com/jc00ke/5a365c37bfac05f32b25)

[code]

I have to `kill -9` it :frowning:

[2014-09-11 18:53] dblock opened #3130 "Different behavior in parameter resolution from MRI/JRuby"
The example demonstrates the problem well, but I am probably completely misunderstanding what's going on, apologies :)

MRI:

[code]

RBX:

[code]

[2014-09-12 17:02] #3130 closed, assigned to nobody

[2014-09-14 12:02] Kilobyte22 opened #3132 "Crash Report with Unicorn"
report with `rbx report`:
https://gist.github.com/anonymous/5ba7b75325559e202c6d
I know its a gem, but from what i see it only happens with rbx

[2014-09-21 03:49] jineshkj opened #3134 "undefined reference to `rubinius::jit::RubiniusJITMemoryManager::DefaultCodeSlabSize'"
Latest Rubinius from repository failed to build with LLVM 3.5:

$ CXXFLAGS="-std=c++11" ./configure --prefix=$HOME/rbx-test --cc clang --cxx clang++ --llvm-shared
...

$ rake
...
2: CXX vm/vm.cpp
5: CXX vm/vm_thread_state.cpp
Build time: 77.724523845 seconds
1: LD vm/vm
vm/llvm/artifacts/jit_context.cpp.o: In function `unsigned long const& std::max<unsigned long>(unsigned long const&, unsigned lon

[2014-09-21 10:47] #3134 closed, assigned to nobody

[2014-09-21 14:57] jineshkj opened #3137 "libffi build error : invalid instruction 'stmeqia'"
I am trying to build latest Rubinius from repository on my ArchLinuxARM box with default LLVM (3.5). Got the following build error:

mv -f $depbase.Tpo $depbase.Plo
libtool: compile:  clang -DHAVE_CONFIG_H -I. -I. -I./include -Iinclude -I./src -I. -I./include -Iinclude -I./src -MT src/arm/sysv.lo -MD -MP -MF src/arm/.deps/sysv.Tpo -c src/arm/sysv.S  -fPIC -DPIC -o src/arm/.libs/sysv.o
src/arm/sysv

[2014-09-22 09:43] mpapis opened #3138 "Gem.path + Gem.refresh not working in Gemfile"
[code]

steps to reproduce:

[code]

here is `--trace` output: https://gist.github.com/mpapis/5d67bb86c8434633433a
here is travis build showing other rubies make it work https://travis-ci.org/rvm/pluginator/builds/35917726

[2014-09-23 15:57] darix opened #3139 "Dont make Errno::EPERM a hardfail in the Process.setrlimit test"
This can happen when you build as non root.

[2014-09-24 17:17] ghazel opened #3140 "rubinius process hung"
Sinatra server stopped accepting connections. Rubinius agent could not attach either.

[code]

[2014-09-27 18:01] tak1n opened #3142 "Coercing Complex to Float (different behaviour than mri)"
Consider following example:

[code]

In mri:

[code]

In rbx:

[code]

[2014-09-28 16:53] #3142 closed, assigned to nobody

[2014-09-28 20:45] ghazel opened #3145 "method went missing"
When trying rubinius, my app ran fine for awhile, but then broke when an otherwise defined method went missing:

[code]

[2014-09-29 12:11] digitalextremist opened #3146 "CompileError when starting SpreeCommerce+Rails+Unicorn ( at Rack::Builder )"
I thought I'd be particularly lazy, so I deployed a one-click-install of Rails on DigitalOcean, changed the ruby to rbx, updated the gems ( + `bundle install` ) and got Spree situated.

When tried to start the server, it repeatedly dies, with this exception in the log:

* https://gist.github.com/digitalextremist/8a9bccf552a7ca0b570b

[code]

This is a clean install of all gems and rubies involved,

[2014-09-29 18:35] caio-s-o opened #3147 "Configure script can't find LLVM 3.5 shared libs"
When running configure, I've observed that the script can't find LLVM shared libraries (3.5.0). By checking the script code, it can be seen that it is missing a <b>-std=c++11</b> flag in line 913.

[2014-09-30 07:04] tamird opened #3148 "Array#pack disagrees with MRI"
MRI:

[code]

RBX:

[code]

[2014-10-01 19:22] johnmuhl opened #3149 "Dir.glob over-matching"
[code]

MRI and JRuby return 1 but Rubinius returns 2.

[2014-10-02 18:39] #3138 closed, assigned to nobody

[2014-10-02 22:56] jemc opened #3151 "SEGV when calling BlockEnvironment under nil VariableScope"
Ran into a SEGV when calling a `BlockEnvironment` `under_context` of a `nil` `VariableScope`
(Running on `master`)

Here is a minimal reproduction and the SEGV output:

[code]

[code]

[2014-10-03 09:32] elia opened #3152 "Missing or uninitialized constant: OpenSSL::Digest::OPENSSL_VERSION_NUMBER (NameError)"
The following is on a rails-4.2.0.beta2 app, can post the Gemfile if useful

[code]

[2014-10-03 19:43] #3145 closed, assigned to nobody

[2014-10-03 23:58] tamird opened #3153 "`Date` marshalling is incompatible with MRI"
In MRI:

[code]

In RBX:

[code]

Now in reverse!

In RBX:

[code]

In MRI:

[code]

So RBX does not correctly interpret MRI's `Marshal` encoding, but MRI does correctly interpret RBX's `Marshal` encoding. Neat!

EDIT: Also MRI's encoding is way more compact. Is there a reason for this?

[2014-10-04 23:38] yxhuvud opened #3155 "Test suite sometimes stop progressing or produce stacktraces."
Sometimes running the test suite hangs, and sometimes it produces this:

Note strange paths in the stacktrace.

bin/mspec ci :ci_files  -t bin/rbx -d --agent --background
rubinius 2.2.10.n278 (2.1.0 1cbe0c5c 2014-10-05 3.2svn JI) [x86_64-linux-gnu]
.......................................................................................................................................................

[2014-10-05 08:42] ryoqun opened #3156 "Some string methods don't support multibyte-character"
The following methods are implemented in C++ without being aware of multi-byte characters.
- String#count
- String#delete!
- String#dump
- String#tr
- Regexp#escape

I'd rather like to hear opinion: should we extend the existing C++ implementation to support multibyte char or switch to a shiny new Ruby implementation, which will be written by me?

[2014-10-06 21:01] #3047 closed, assigned to nobody

[2014-10-07 12:53] maasha opened #3159 "Update docs: Contributing page"
http://rubini.us/doc/en/contributing/

This page could use an example on how to contribute to the documentation.

Perhaps link this great rails cast episode: http://railscasts.com/episodes/300-contributing-to-open-source

[2014-10-07 12:55] maasha opened #3160 "Update docs: Profiler page"
http://rubini.us/doc/en/tools/profiler/

Add to this page that the profiler can be run from the command line:

`rbx -Xprofile -Xprofiler.graph <command>`

[2014-10-08 07:57] #3160 closed, assigned to nobody

[2014-10-08 09:51] jimsynz opened #3162 "Cannot build with source LLVM on master."
Since a724e8cb74f95c783100f477eb32593380f73473 I have been unable to build rbx on either OS X or Linux.  It happens because the `llvm-config` command doesn't exist yet (it hasn't been built) and `configure` relies on it in `check_llvm_flags` at [line 948](https://github.com/rubinius/rubinius/blob/master/configure#L948):

[code]

If I comment this line out then my build succeeds (using the default

[2014-10-10 04:17] #3153 closed, assigned to nobody

[2014-10-11 16:05] #3152 closed, assigned to nobody

[2014-10-17 17:06] djkotowski opened #3163 "require_relative does not work in IRB"
Using MRI, running `irb -I` will use the path specified (or current directory if no path specified) as the base path for require_relative.  Using Rubinius, even when the `-I` flag is included, an error is raised: `LoadError: cannot infer basepath from (irb)`

[2014-10-17 20:53] #3114 closed, assigned to nobody

[2014-10-17 23:28] jasonrclark opened #3164 "require picking up gems outside of bundle"
Ran into an issue in our CI environment where Rubinius was loading gems that weren't in our `Gemfile`. Here's the simplest duplication I've been able to get to:

1) Uninstall all versions of `activesupport`, `activemodel` and `activerecord`
2) `gem install activerecord`
3) With an empty `Gemfile`:

[code]

4) Run this script:

[code]

With this setup, you see the version printed, despite the fact

[2014-10-18 20:28] brauliobo opened #3165 "Why ruby with rubinius isn't as nearly fast as C?"
(First of all, I know this is a completely ignorant question.)

I see many LLVM compiled languages, like Rust, which runs almost as fast as C (http://benchmarksgame.alioth.debian.org/u32/rust.php)

But still, the latest rbx is not as fast as ruby 2.1 in many cases.

Why doesn't it run ruby much faster?

[2014-10-18 22:22] #3165 closed, assigned to nobody

[2014-10-21 04:33] samuelreh opened #3166 "Mac OS 10.10 build error"
Not sure if this is a bug or just a configuration problem.

Trying to install on Mac OS 10.10 by running:
`ruby-install rbx -- --llvm-config=/usr/local/Cellar/llvm34/3.4.2/bin/llvm-config-3.4`

Ran into this error:

[code]

[2014-10-21 17:49] #3166 closed, assigned to nobody

[2014-10-21 22:57] #3061 closed, assigned to nobody

[2014-10-21 23:03] #3159 closed, assigned to nobody

[2014-10-21 23:04] #3155 closed, assigned to nobody

[2014-10-21 23:08] #3121 closed, assigned to nobody

[2014-10-22 20:31] qen opened #3168 "ld: -rpath can only be used when targeting Mac OS X 10.5 or later"
when installing rbx in yosimete

for ld to work properly with -rpath flag, i did this

[code]

[2014-10-24 02:45] #3151 closed, assigned to nobody

[2014-10-25 00:20] towynlin opened #3169 "2.2.10 Build Error, LazyValueInfo.cpp missing insert"
[code]

Build log: https://gist.github.com/towynlin/7b241b3fe81bcdd36388

Cleanly just installed rbenv and ruby-build for the first time on a new laptop where I've lately been doing dev in other languages, but not ruby.

[2014-10-27 15:17] #3148 closed, assigned to nobody

[2014-10-28 19:23] #3169 closed, assigned to nobody

[2014-10-30 14:07] ysolis opened #3170 "llvm-config in Ubuntu/Debian using llvm repos"
I use llvm apt repos for Ubuntu Trusty in two machines, i install 3.4 llvm from this repo, and works well, "apt-get install llvm llvm-dev" in Ubuntu install by default llvm-3.4 and llvm-3.4-dev from llvm repo (dependency)

Debian is working to have a similar system to gcc now in few time, and Ubuntu will do by norm (debian dependency)

I Build Rubinius in my machines with rbenv and works well, ver

[2014-10-31 00:15] #3170 closed, assigned to nobody

[2014-10-31 18:44] weirdpercent opened #3171 "Error while updating rubysl-openssl"
gem_make.out: https://gist.github.com/weirdpercent/566d99252d055be1c266
rbx-2.2.10
Linux vmint 3.13.0-24-generic #47-Ubuntu SMP Fri May 2 23:31:42 UTC 2014 i686 i686 i686 GNU/Linux

[2014-11-01 01:41] jeremyevans opened #3172 "2.3.0 build broken when using --disable-llvm"
Here's the start of the configure output, showing LLVM disabled:

[code]

Here's a the end of the build log:

[code]

[2014-11-01 04:20] #3172 closed, assigned to nobody

[2014-11-01 06:10] #3110 closed, assigned to nobody

[2014-11-01 06:51] slaught opened #3173 "NoMethodError: undefined method `arity=' on an instance of Rubinius::CompiledCode."
While attempting to build rbx-2.3.0 on OSX 10.9 with rbx-2.2.10, llvm-3.4 or llvm-3.5 installed via brew.

Everything seems to work with mri 2.0.

[code]

Below is configure.log
-----------------------------

[code]

[2014-11-01 15:07] #3162 closed, assigned to nobody

[2014-11-03 19:36] washu opened #3174 "error during compiling centos 6.5 llvm 3.4 and rbv 2.3.0"
https://gist.github.com/washu/f8e0278f77230c7ef447

[2014-11-03 19:53] #3174 closed, assigned to nobody

[2014-11-04 00:25] mpapis opened #3176 "compilation issue on OpenSUSE"
followed instructions from README:
- using `rbx-2.3.0.tar.bz2` https://gist.github.com/mpapis/085a0f7fd10d0c07a563
- \+ `clang` https://gist.github.com/mpapis/e6f79c7ef85fe7d08410
- using `master` https://gist.github.com/mpapis/7be0204a6d28ca827d5a

[2014-11-04 03:52] diegoviola opened #3177 "rbx 2.3 segfaults when installing pry"
System:

Arch Linux x86_64
LLVM 3.5.0
Rubinius 2.3.0 (installed with ruby-install 0.5.0)

Problem:

rbx segfaults when installing pry: https://gist.github.com/d0b072685dc90ab1d8ab

[2014-11-04 11:25] washu opened #3179 "rbx 2.3 segfault"
https://gist.github.com/washu/26d67f93ebff319ddb70

[2014-11-05 05:31] fengb opened #3180 "rand bugs with ranges"
On MRI 2.1.4:

[code]

On Rubinius 2.3.0:

[code]

[2014-11-05 06:54] fengb opened #3181 "Rational * BigDecimal coerces into Float"
MRI:

[code]

RBX 2.3.0:

[code]

[2014-11-05 23:23] YorickPeterse opened #3184 "dtrace probe method__entry receives incorrect arguments in Systemtap"
Consider the following Systemtap script:

[code]

If we use this to trace the following script:

[code]

using this command:

[code]

Then the output is as following:

[code]

Here it looks like that the method name is instead set to the file name. However, when we trace native method entries (and remove the conditional for `test.rb` above) the output is as following:

[code]

Here the method _is_

[2014-11-07 01:07] jc00ke opened #3189 "SEGV when running specs after building with clang 3.4 on Linux"
https://gist.github.com/jc00ke/e14a865a6934ba7d220c

5299123 on 64bit Xubuntu segvs every time I run the specs.

[2014-11-11 11:24] eerohele opened #3197 "Using cloudapp gem crashes Rubinius 2.2.10"
**[Crash report](https://gist.github.com/b4cbaf377897cc64441d)**.

Rubinius installed with [ruby-install](https://github.com/postmodern/ruby-install) by doing:

[code]
Version info:

[code]

Steps to reproduce:

[code]

FWIW, the `cloudapp` gem works fine for me with MRI.

[2014-11-12 03:23] jc00ke opened #3201 "JIT aborts in Calagator specs"
See https://gist.github.com/jc00ke/3654aee61260d05c42c5

[code]

[2014-11-12 05:33] jimmycuadra opened #3202 "Kernel#proc does not support implicit blocks"
In MRI, if you call `Kernel#proc` without a block, but a block was passed to the enclosing method, it will use that block. For example:

[code]

Under Rubinius 2.3.0, the above code results in the following exception:

[code]

[2014-11-12 16:36] wahjava opened #3204 "rbx 2.3.0 waits for few seconds before exiting on FreeBSD"
rbx is compiled with following `configure` arguments:

[code]

Following is the an excerpt from the output of `echo |truss rbx` while it's waiting:

[code]

This never happened with `2.2.10`. I'm able to reproduce this on a `10.1-RC4` and `9.3-RELEASE` hosts on `amd64` architecture.

Let me know if there is anything you like me to try, or need more information.

HTH

[2014-11-12 19:36] YorickPeterse opened #3205 "Polling Amazon SQS results in large quantities of memory being leaked"
While running an application that uses SQS (Amazon's queueing service) I noticed quite the memory increase over time:

![shepherd_rss_time](https://cloud.githubusercontent.com/assets/86065/5016808/958cd284-6aa9-11e4-872d-16bd3246ebdd.png)

This graph shows the application's total memory usage over time. Just before 2014-11-11 we deployed Rubinius 2.3 (the area with the 3 vertical bars). Directly a

[2014-11-12 21:52] andyone opened #3206 "Failed build with gcc 4.4.7"
In commit 6e03f3e4a98c1d37b3d3d03f1147be3e7a6c699a was added options not supported by gcc 4.4.7 (latest available version on CentOS 6.5):

[code]

With gcc you should instead use the option `-Wno-unused-value`.

[2014-11-13 04:36] schneems opened #3207 "Rubinius 2.2.6 build failure with ruby-install"
Cannot get RBX 2.2.6 to build using `ruby-install`

Here is the full output: https://gist.github.com/schneems/a2d366e5747dc936d6fe

I'm on a mac:

![](https://www.dropbox.com/s/m1ognzhyv0e5ubs/Screenshot%202014-11-12%2020.54.58.png?dl=1)

Any thoughts?

[2014-11-13 11:22] bb-generation opened #3208 "Rubinius 2.3.0 build failed with no such file to load -- rubygems/defaults/operating_system"
I tried to install rubinius 2.3.0 by using rvm: ```rvm install rbx-2.3.0``` on a Debian wheezy machine.

[code]

[2014-11-14 08:20] lukasnagl opened #3210 "Heroku Cedar-14 Rubinius Deployment Error"
When trying to deploy to Heroku’s Cedar-14 stack using Rubinius `ruby-2.1.0-rbx-2.2.10`, it hits an `Missing or uninitialized constant: OpenSSL::Digest::OPENSSL_VERSION_NUMBER (NameError)` error. This seems to be related to issue #3152.

The same app starts on my local system just fine.

Heroku’s support sent me here stating that they don’t officially support Rubinius, but it might help to post th

[2014-11-14 11:55] Jesterovskiy opened #3211 "install rbx 2.2.10 on OS X Yosemite 10.10"
https://github.com/wayneeseguin/rvm/issues/3128#issuecomment-63049092

[2014-11-14 11:59] #3211 closed, assigned to nobody

[2014-11-14 12:14] #3210 closed, assigned to nobody

[2014-11-14 12:58] gustavotemple opened #3212 "LLVM ERROR: profiling_flag"
When I try to use the parameter ```-Xjit.profile```, it is returned:
```LLVM ERROR: Could not resolve external global address: profiling_flag```

[2014-11-14 18:05] benweint opened #3213 "Rubinius sometimes hangs in SEGV handler under dlopen"
We run our automated test suites against Rubinius (2.2.10 currently, planning to upgrade to 2.3.0 soon), and occasionally we see issues where Rubinius processes will get stuck and hang our tests indefinitely.

Digging into one of those issues today with GDB, I found the offending Rubinius process stuck under the backtraces seen in [this gist](https://gist.github.com/benweint/f8bedea59b1ab8216357).

[2014-11-15 12:52] #2574 closed, assigned to nobody

[2014-11-16 17:43] johnmuhl opened #3216 "Hang in Sidekiq worker when using `` or system()"
[Example Sinatra application](/johnmuhl/rubinius-sidekiq)
[Samples of the stalled processes](https://gist.github.com/johnmuhl/b0ff55efa6eb50ff6be8)

After a few requests jobs stop being processed by Sidekiq and further jobs never start.

[2014-11-17 16:25] ahwatts opened #3217 "NoMethodError: undefined method `to_str' on false:FalseClass in mysql2 gem"
The other day, this app (https://github.com/ahwatts/mogilefs_s3_device), which is essentially a half-implemented WebDAV server that acts as an interface to S3 for our internal file-storage system, got in to a weird state and started throwing a lot of errors with this stack trace: https://gist.github.com/ahwatts/0b6c004d2c1943d4bccb . I suspect one or more of the database connections in our connect

[2014-11-17 17:30] jamonholmgren opened #3218 "undefined method `caller_locations' on an instance of AbstractController::Helpers::MissingHelperError"
I'm attempting to move a Rails app over to Rubinius 2.2.10. It is currently on CRuby 2.1.5.

When trying to migrate the database, I'm getting this error:

[code]

Is Better Errors not compatible with RBX for some reason? What could be causing this?

[2014-11-17 21:33] #3218 closed, assigned to yorickpeterse

[2014-11-18 13:02] mpapis opened #3219 "configuring master fails with missing gems"
here is the log https://gist.github.com/mpapis/7be0204a6d28ca827d5a - extracted from #3176

[2014-11-18 13:26] #3219 closed, assigned to nobody

[2014-11-18 19:37] amedeiros opened #3220 "no such file to load -- objspace (LoadError)"
I get the following error from 2.2.10 install with RVM when I try and do anything this just happens to be from trying to start a rails console.

[code]

[2014-11-18 19:44] #3220 closed, assigned to nobody

[2014-11-20 18:49] jc00ke opened #3221 "Ensure the tests for these projects run on Travis"
Let's list them out here and then work on a dashboard. We should incorporate #2006 and #2121 in the dashboard.
- [ ] sidekiq
- [ ] celluloid
- [ ] suckerpunch
- [ ] Rails
  - [ ] ActiveSupport
  - [ ] ActionMailer
  - [ ] ActionPack
  - [ ] ActionView
  - [ ] ActiveJob
  - [ ] ActiveModel
  - [ ] ActiveRecord
- [ ] [New Relic RPM](https://github.com/newrelic/rpm) (blocked by https://github.com/new

[2014-11-23 04:03] slaught opened #3222 "const_get in rbx 2.3.0 slower than 2.2.10"
I found a slow down between 2.2.10 and 2.3.0 where 2.3.0 is about twice as slow. It is not a JIT issue as with -Xint the slow down is still present. The data below demonstrates the basic slow down using time. There is a clean run then with -Xint and a final run with the Jit and -Xprofile.

The small test case: https://gist.github.com/slaught/3f2d3b507c65af2ab016

[code]

[2014-11-26 00:33] #2977 closed, assigned to nobody

[2014-11-26 10:54] pointlessone opened #3223 "caller_locations is incompatible with MRI (and it breaks Rails)"
MRI's `Thread::Backtrace::Location#path` returns absolute paths while rbx's implementation returns only basenames.

Rails tries to extract a path for an engine out of this ins paths and for all engines it ends up being '.' (i.e. application path) and not a real path of engine (which might be a directory in a gem or in `lib` or elsewhere).

PS: Yes, I've seen the comment about MRI documentation.

[2014-11-26 23:56] obfusk opened #3224 "scope of &block parameter incompatible w/ MRI"
Hi,

I found a strange bug in my code when using rubinius. I've tracked it down to a &block scope issue:

[code]

&rarr; [spec](https://github.com/obfusk/rubies-bugs/blob/master/spec/block_var_bug__spec.rb)
&rarr; [output for different rubies](https://travis-ci.org/obfusk/rubies-bugs/builds/42254409)

I don't use rubinius much and have no experience with its internals, but am happy to (try to) hel

[2014-11-27 00:14] #2982 closed, assigned to nobody

[2014-11-27 00:16] #2961 closed, assigned to nobody

[2014-11-30 15:01] undr opened #3225 "Can't install rbx neither via rvm nor from sources"
Can't install rbx neither via rvm nor from sources. I tried to install such rbx versions as 2.2.7, 2.2.9 and 2.2.10 and every time got the same error:

[code]

Rubinius Crash Report: https://gist.github.com/undr/f47cce8d95b5901eb5d8

[code]

[2014-12-01 12:44] mpapis opened #3226 "slow Array#concat"
using this test:
[code]
I get similar results on MRI in JRuby (see: https://github.com/jruby/jruby/issues/2256), but in Rubinius I get:
[code]
the `concat` for `Array` is slower then expected

... as a side note how about using `concat`(+`join`) to optimize `+=`?

[2014-12-03 02:51] #2976 closed, assigned to nobody

[2014-12-03 02:51] #3163 closed, assigned to nobody

[2014-12-03 17:23] hassan opened #3227 "TCPSocket is missing local_address method"
[code]

In MRI, local_address is implemented in BasicSocket, and returns an Addrinfo object.

Discovered trying to run the 'bunny' (RabbitMQ client) specs but all you need to reproduce is the one-liner above (specifying a port with something listening on it, of course).

[2014-12-03 17:39] #3227 closed, assigned to nobody

[2014-12-04 03:26] mscharley opened #3228 "Regression in File::fnmatch between Rubinius 2.3 and 2.4"
Hi guys,

I'm getting a regression Travis for my project where rbx-2.3 works fine and rbx-2.4 fails, see https://travis-ci.org/usmu/usmu/jobs/42941345

Basically, it seems like File::fnmatch may not be working as expected and/or the way it used to.

[2014-12-04 18:01] #3228 closed, assigned to nobody

[2014-12-04 20:56] #3223 closed, assigned to nobody

[2014-12-05 12:09] ryoqun opened #3230 "Some format pattern of String#% causes SEGV when to jit"
Maybe sprinter generates illegal bytecode sequence.

I got busy recently. No further digging... I'd like to fix this if time allows me... ;)

This is the one-liner

[code]

[code]

[2014-12-06 00:12] chrisseaton opened #3231 "Regexp#source behaviour has changed in MRI 2"
It looks like the Regexp#source behaviour changed has in MRI. JRuby has the same issue https://github.com/jruby/jruby/issues/2283.

[code]

[2014-12-06 12:12] burningTyger opened #3232 "Install 2.4.1 on Ubuntu fails with gcc"
As issued at rvm (https://github.com/wayneeseguin/rvm/pull/3182) I get a compile error which can be resolved by compiling rbx with clang-3.4.

Since this is vanilla rbx I'll post the `rake` output only:

[code]

For more details check rvm issue.

[2014-12-08 01:06] jc00ke opened #3233 "SIGABRT in feature spec using poltergeist"
See [this Calagator](https://travis-ci.org/calagator/calagator/jobs/43298912#L417) run

Will try to narrow down the spec later.

[2014-12-08 16:21] johnmuhl opened #3234 ""invalid byte sequence in UTF-8" when uploading files"
When uploading files with Unicorn, Rainbows or Passenger Rubinius errors with `invalid byte sequence in UTF-8`; Puma and Webrick work as expected. All servers work as expected with MRI.

[Sinatra application](https://gist.github.com/johnmuhl/57477aa7ebb51d6dcb15)

[code]

[2014-12-08 20:30] aaronjwhiteside opened #3235 "2.4.1 Fails to build on CentOS 6.4"
4: CXX vm/ontology.cpp
5: CXX vm/oop.cpp
5: CXX vm/park.cpp
5: CXX vm/shared_state.cpp
4: CXX vm/signal.cpp
4: CXX vm/stack_variables.cpp
5: CXX vm/state.cpp
5: CXX vm/symbol_table.cpp
4: CXX vm/type_info.cpp
5: CXX vm/unwind_info.cpp
5: CXX vm/util/file.cpp
5: CXX vm/util/logger.cpp
cc1plus: warnings being treated as errors
vm/util/logger.cpp: In member function ‘void rubinius::utilities::logger:

[2014-12-11 13:28] FooBarWidget opened #3236 "I/O calls do not invalidate `String#ascii_only?` cache"
`String#ascii_only?` has a cache, but I/O calls that modify the string do not invalidate this cache. Here is the simplest test case:

[code]

Rubinius 2.2.10 returns true, true. MRI returns true, false.

Unfortunately I have not been able to get Rubinius 2.4.1 working, so I couldn't test on that version.

This seemingly simple bug can cause all sorts of encoding problems, for example https://githu

[2014-12-11 21:21] #3207 closed, assigned to nobody

[2014-12-12 14:29] rkh opened #3237 "keyword arguments and optional arguments do not play nicely"
On MRI and JRuby, given a method that accepts an optional argument and a catch all keyword argument, only hash values with symbol keys should be captured as keyword argument:

[code]

However, Rubinius (tried 2.4.1) captures both of them as keyword argument:

[code]

[2014-12-13 15:16] yorickpeterse opened #3238 "rb_ary_new_from_args() missing"
The MRI CAPI defines `rb_ary_new_from_args` as following:

[code]

[2014-12-13 15:20] yorickpeterse opened #3239 "rb_ary_plus() missing"
This function is simply `Array#+` for the CAPI: http://rxr.whitequark.org/mri/source/array.c#3367

[2014-12-14 15:11] pH14 opened #3240 "rails app works on 2.3.0, fails on 2.4.0"
I've been trying to run a rails app, and I've found that rbx <= 2.3.0 will work, but 2.4.0 crashes. I haven't yet dug into the backtrace, but I'm hoping the symptoms might be obvious to someone who was working on 2.4.0

[Running with 2.3.0](https://gist.github.com/f40b34de13fe1b25e96a)

[Running with 2.4.0](https://gist.github.com/33fdec67e7268de4cae2)

I've also been able to confirm the same beha

[2014-12-14 17:38] #3235 closed, assigned to nobody

[2014-12-14 20:22] #3240 closed, assigned to nobody

[2014-12-15 02:17] #2970 closed, assigned to nobody

[2014-12-15 13:39] rkh opened #3241 "Does not implement ObjectSpace::WeakMap"
Both MRI and JRuby implement `ObjectSpace::WeakMap`. Should Rubinius also implement it?

[2014-12-15 19:09] #3206 closed, assigned to nobody

[2014-12-15 19:25] YorickPeterse opened #3242 "Implements guards against unwanted input in kernel Ruby code."
Certain parts of Ruby have dedicated errors for unexpected input (https://github.com/rubinius/rubinius/pull/3077 for example). While we can't add guards for _unexpected_ input we can add guards (in some shape or form) that state what a method _can_ deal with.

We'll need to come up with a system where we don't have to add special tags all over the place while still retaining some form of type/beha

[2014-12-16 18:44] jyurek opened #3243 "Errno::ENOENT has an incorrect message."
Reporting against Rubinius v2.4.1, on OSX 10.10.1

As seen here: https://travis-ci.org/thoughtbot/cocaine/jobs/44228247, using rbx-2.4.1

The important part is that the test is supposed to show that raising an `Errno::ENOENT` should raise a wrapped exception with the right message. An `Errno::ENOENT` in 2.2.10 has the correct `message` of "No such file or directory". An `Errno::ENOENT` in 2.4.1 ha

[2014-12-17 02:10] #3243 closed, assigned to jemc

[2014-12-17 17:07] #3106 closed, assigned to nobody

[2014-12-17 23:31] #3238 closed, assigned to nobody

[2014-12-17 23:42] #3239 closed, assigned to nobody

[2014-12-18 16:25] #2889 closed, assigned to nobody

[2014-12-19 11:24] 11Kilobytes opened #3244 "Can't install rbx on Mac OSX 10.10"
Here's what get's printed out when I run `rvm install rbi`

[code]

[2014-12-19 16:01] Mazwak opened #3245 "Segmentation fault while creating gem documentation"
Hi

I'm experiencing a crash when installing or updating gems on 2.4.0 and 2.4.1.

Environment :
Linux Mint 17.1 64 bits
LLVM 3.4

Tried :
rbenv/ruby-build 2.4.0
rbenv/ruby-build 2.4.1
git clone latest (commit 4f38c3364f36c5ca059c2ef9443d92a997d6734c)

Here is a sample output :
~ % gem install sinatra sequel sqlite3 prawn rails
Successfully installed sinatra-1.4.5
Parsing documentation for sinatra

[2014-12-19 16:29] #2936 closed, assigned to nobody

[2014-12-19 20:29] ghost opened #3246 "Build fails on current ruby-install rbx, with current OSX, due to LLVM issue"
Trying to build Rubinius by using `ruby-install rbx` on current Mac OSX. The build fails due to LLVM issue. The expected behavior is `ruby-install rbx` installs as is.

Ideally the process could use the system LLVM if possible. If not possible, ideally the process could try using the LLVM that is installed via `brew install llvm`. I have both, and the process finds neither.

[code]

[2014-12-19 21:16] #3246 closed, assigned to nobody

[2014-12-20 14:51] #3244 closed, assigned to nobody

[2014-12-21 04:07] victornava opened #3248 "Missing 'should' on array/transpose spec"
Isn't there a missing 'should' on line (L31) of the array/transpose_spec.rb:

[code]

https://github.com/rubinius/rubinius/blob/master/spec/ruby/core/array/transpose_spec.rb#L31

[2014-12-21 22:59] #3248 closed, assigned to nobody

[2014-12-22 09:43] ghazel opened #3249 "Assertion failure in JITVisit"
rubinius 2.4.1

[code]

[2014-12-23 01:41] altkatz opened #3251 ""Invalid handle usage detected!" and core dumped on Linux, but not on Mac OS X."
For more details, please see the failed jobs of this [build](https://travis-ci.org/altkatz/jieba_rb/builds/44839361), It's an extension for a C++ library, works well on MRI (both on Linux and Mac OS X(10.10.1)) , and also works on Rubinius (tested 2.2.10-2.4.0 on my Mac OS X), but got the above coredump on Linux.

[2014-12-24 04:48] #3237 closed, assigned to nobody

[2014-12-24 15:26] yorickpeterse opened #3252 "String#scrub fails to scrub ASCII-8BIT input"
For whatever reason one of my applications basically ended up doing the following:

[code]

This works fine in MRI but on Rubinius this raises the following error:

[code]

Why exactly the input is ASCII in my case I'm not sure of. The particular application uses `String#scrub` to normalize an input string (getting rid of a bunch of crap in the process), I suspect that in some cases (as this doesn

[2014-12-24 17:15] #3252 closed, assigned to nobody

[2014-12-24 21:49] iainbeeston opened #3253 "Segfault while installing 2.4.1"
I've been trying to install 2.4.1 via ruby-install and getting segfaults. 2.4.0 installs fine with the same settings. I've had a quick look but I'm at a loss for what's going wrong.

I'm running Mac OS 10.10.1, and using zsh 5.0.7. What I'm running is `ruby-install rbx 2.4.1 -- --llvm-config=/usr/local/Cellar/llvm/3.5.0/bin/llvm-config`

Here's the install log: https://gist.github.com/iainbeeston/

[2014-12-25 12:57] sandstrom opened #3254 "Drive adoption via specific projects"
I think the idea behind Rubinius (implementing most of Ruby in Ruby itself) is great, so I want to see this project succeed.

One thing that may be helpful is to single out particular software projects and make them run really well on Rubinius. This will mostly entail work in the project itself, not in Rubinius. But by making Rubinius the primary runtime for the project, it'll increase participati

[2014-12-25 18:42] jzakiya opened #3255 "rbx 2.4.1 upgrade errors"
/home/jzakiya/.rvm/log/1419522856_rbx-2.4.1/rake.log
https://gist.github.com/jzakiya/bca4c6fd7e79992d7032

[2014-12-25 19:39] #3253 closed, assigned to nobody

[2014-12-25 21:23] darix opened #3256 "Console segfault when building 2.4.1 on OpenSUSE"
[full build log](https://gist.github.com/darix/0b1875ec3cf9b44278a5)

[2014-12-29 17:19] aanno opened #3257 "C Extension Compatibility"
Well,

I wonder if C extension compatibility will qualify as bug. But as I was not able to find a rubinius mailing list / forum...

Using rubinius 2.4.1 on a 64-bit ubuntu 14.10/utopic, I encounter the following when trying to run a sample of the from the gtk3 sources:

<pre>
ruby-gnome2/gtk3-no-gi/sample$ ruby gtk-demo/main.rb
An exception occurred running gtk-demo/main.rb:

Could not open librar

[2014-12-29 18:57] slaught opened #3258 "invalid strptime format - `%d %b %Y %T %Z' (ArgumentError) in 2.4.1"
I am getting an exception in 2.4.1 "invalid strptime format - `%d %b %Y %T %Z' (ArgumentError) "

This code is used in the http-cookie gem which is used by mechanize.

This works in version 2.2.10. It does not work in version 2.3.0 or higher. 2.2.10 and higher all use the gem rubysl-time-2.0.3. The files are exactly the same. is this expected behavior?

The following code will reproduce it.

[code

[2014-12-29 19:30] jemc opened #3259 "Return from inside an iter inside a lambda inside a method differs from MRI."
In  ruby `lambda` (and `->()`) works differently from iters when it comes to `return` as control flow.  Rubinius follows MRI on this, but has unexpected behavior when the return is inside an iter inside a lambda inside a method.  The expected behavior is that the return will skip the iter and end the lambda, but not the method, because a return inside an iter skips the iter, and a return inside a

[2014-12-29 23:35] #3258 closed, assigned to nobody

[2014-12-30 08:07] jemc opened #3260 "Rubinius::FFI::MemoryPointer always autoreleases."
In `MemoryPointer.new`, `obj.autorelease=` is set to `true`.
https://github.com/rubinius/rubinius/blob/58d397733b6ec1ae003b296ba4ab27a65e8629dc/kernel/platform/pointer.rb#L313

This wouldn't be that disastrous, except for the fact that the C++ implementation of the `Pointer::set_autorelease` is a noop if passed a `false` value, meaning the finalizer stays in place.
https://github.com/rubinius/rubi

[2014-12-30 08:24] jemc opened #3261 "kernel/platform/pointer_accessors.rb says it is generated, but isn't, but probably should be"
According to the comment at the header of `kernel/platform/pointer_accessors.rb`, the file is generated code.
https://github.com/rubinius/rubinius/blob/58d397733b6ec1ae003b296ba4ab27a65e8629dc/kernel/platform/pointer_accessors.rb#L1-L3

However, I can find no trace of the code the generates this file.

Moreover, I'm concerned that this file is not arch-aware.  It makes assumptions like `int16 == s

[2014-12-30 09:36] #3260 closed, assigned to jemc

[2014-12-30 20:11] zzak opened #3262 "NameError vs NoMethodError"
Take the following code:

[code]

This will pass on MRI and JRuby, but not rbx-2: https://travis-ci.org/sharedapp/sharedapp/jobs/45482886

[2014-12-30 20:19] #3262 closed, assigned to nobody

[2014-12-31 02:58] #3101 closed, assigned to jemc

[2014-12-31 22:10] donpdonp opened #3263 "Web page: /dowloads missing release dates"
Documentation nitpick: on http://rubini.us/downloads/ it has a great list of historical releases, but without dates I cant tell if the latest release is 6 months ago (indicating an active project) or if I'm looking at a historical list of releases from 5 years ago. Please add a release date next to the version number.

[2015-01-01 00:25] jc00ke commented on #3263
Moving to rubinius/rubinius.github.io#43

[2015-01-01 00:25] #3263 closed

[2015-01-01 13:42] YorickPeterse opened #3264 "Need Ruby 2.2 specs"
Pulled from the [NEWS](https://github.com/ruby/ruby/blob/v2_2_0_preview1/NEWS) file

* nil/true/false
  - [x] nil/true/false objects are frozen - spec: 0d0d809c292b7e1a2ed66479f0b227a5fce17f9e & implementation: 6580956db009c0e376ead78067639d40d56adaf7

* Binding
  * New methods:
    - [x] Binding#local_variables - spec: 81b9f5d6bbfa6b8df8ab722098981f2856b07a7d & implementation: 32f555ef9a198e5a519

[2015-01-01 13:45] YorickPeterse commented on #2802
Closing this as `rbx-2` now works on Travis. Feel free to re-open if needed.

[2015-01-01 13:45] #2802 closed

[2015-01-01 13:48] YorickPeterse commented on #3255
@jzakiya As mentioned by @jc00ke we'll need more info such as:

* What tool are you using for installing Rbx (RVM, manual, etc)
* The _full_ build output and contents of any generated log files
* The contents of `config.rb` if it exists
* Output of `llvm-config --version`

[2015-01-01 13:52] YorickPeterse commented on #3251
Is there a standalone way that this can be reproduced?

[2015-01-01 13:55] YorickPeterse commented on #3236
Tagging this as "performance" as any change we make to invalidating the cache should take performance into account. That is, invalidating the cache should _only_ happen when needed in order to ensure no decrease in performance.

[2015-01-01 13:58] YorickPeterse commented on #3225
@undr Any update on this?

[2015-01-01 14:02] YorickPeterse commented on #3221
Added Rails & friends to the list.

[2015-01-01 14:06] YorickPeterse commented on #3217
@ahwatts Could you retry this with Rbx 2.4.1 to see if the issue still persists there?

[2015-01-01 15:09] YorickPeterse commented on #3230
@ryoqun I can't seem to reproduce this on Linux, can you provide the _full_ GDB stacktrace (`thread apply all bt` in GDB) so I can have a look where it fails?

[2015-01-01 15:20] jemc commented on #3230
I can't reproduce either on Linux.  Might also be interesting to run with `-Xjit.show` and see what is getting compiled just before the segfault.

[2015-01-01 17:00] #3234 closed

[2015-01-01 17:00] #3236 closed

[2015-01-01 18:03] jc00ke opened #3265 "Kernel.chomp specs"
Porting from rubyspec/rubyspec#23

http://gist.github.com/437039
- [ ] Pull out shared specs
- [ ] Review specs

[2015-01-01 18:07] jc00ke opened #3266 "Method call specs for a = b = f 1"
Porting from rubyspec/rubyspec#90

Write a spec for

[code]

[2015-01-01 18:15] jc00ke opened #3267 "Dir.glob specs for special characters in path and pattern"
Porting from rubyspec/rubyspec#303

[code]

[2015-01-01 18:23] YorickPeterse commented on #2865
Can't reproduce this using the following snippet:

[code]

Closing it as a result, feel free to re-open if the issue still persists. If doing so, please provide more information such as the full GDB backtrace (`gdb --args rbx ruby_file.rb` followed by `thread apply all bt` in the console), LLVM version, etc.

[2015-01-01 18:23] #2865 closed

[2015-01-01 18:28] YorickPeterse commented on #2837
Closing this one. I've since never seen this issue arise again so perhaps something related to it has been fixed in the mean time. I'll re-open this issue if it manifests again.

[2015-01-01 18:28] #2837 closed

[2015-01-01 18:29] YorickPeterse commented on #2844
I'm closing this one in favour of the Nokogiri found at https://github.com/sparklemotion/nokogiri/issues/1047. It's unclear if we can do anything about this at this time. I'll re-open this issue if needed.

[2015-01-01 18:29] #2844 closed

[2015-01-01 18:30] YorickPeterse commented on #2904
@lumrandir Any news on this, did you manage to find a way to reproduce the problem with the current Rbx release?

[2015-01-01 18:32] YorickPeterse commented on #2957
Closing this in favour of https://github.com/rubinius/rubinius/issues/2957.

[2015-01-01 18:32] #2957 closed

[2015-01-01 18:33] YorickPeterse commented on #2967
@asppsa Any update on this, are you still experiencing this particular problem?

[2015-01-01 18:36] YorickPeterse commented on #3043
Closing this, I can't reproduce this on the current master branch using the above script. Feel free to re-open if the issue still persits or re-manifests.

[2015-01-01 18:36] #3043 closed

[2015-01-01 18:37] YorickPeterse commented on #3058
@slaught Are you still having this problem without using `-Xhash.hamt`?

[2015-01-01 18:38] YorickPeterse commented on #3091
@neoecos Any news, can you provide a way to reproduce this?

[2015-01-01 18:42] YorickPeterse commented on #3119
This still occurs on the current master branch, full GDB output here: https://gist.github.com/YorickPeterse/1ac96ec977085eca2c15

[2015-01-01 18:45] YorickPeterse commented on #3119
From the Gem source code, this snippet seems to be the culprit:

[code]

[2015-01-01 18:49] YorickPeterse commented on #3119
MRI seems to allow passing in of `NULL` pointers in this function. It eventually ends up at the following: http://rxr.whitequark.org/mri/source/string.c#424

[2015-01-01 20:36] darix commented on #3256
if you cant reproduce it locally:

1. get "osc" and "build" for your distro from http://download.opensuse.org/repositories/openSUSE:/Tools/.
2. https://bit.ly/opensuse_create_account
3. osc co home:darix:ruby/rubinius2.4
4. cd home:darix:ruby/rubinius2.4
5. osc build -x vim -x gdb openSUSE_13.2 x86_64
6. osc chroot openSUSE_13.2 x86_64

[2015-01-01 21:55] jzakiya commented on #3255
OK, have time now to refocus on this.

System:
Lenovo laptop: I5 cpu, 6 GB
PCLinuxOS 32-bit KDE distro, GCC 4.7.2
rvm installer.

I was upgrading rbx-2.2.10 to 2.4.1 with:
rvm uprade  rbx-2.2.10  rbx-2.4.1
and got the errors shown in the gist.

After 2.2.10, I have never been able to upgrade or install any newer rbx version with rvm.
FYI, I had no problem upgrading to ruby-2.2.0 and jruby-1.7.18 w

[2015-01-01 22:25] YorickPeterse commented on #3255
@jzakiya Are you able to build Rubinius from source? You can do so as following:

[code]

[2015-01-02 02:49] jzakiya commented on #3255
I get this error:
--------------------------------------------------------------------
jzakiya@localhost ~ $ git clone git@github.com:rubinius/rubinius.git
Cloning into 'rubinius'...
Warning: Permanently added 'github.com,192.30.252.131' (RSA) to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access right

[2015-01-02 07:37] lumrandir commented on #2904
@YorickPeterse  well, we've set aside the idea to use rubinius in production for a while, so no news on this. I think this issue should be closed for now.

[2015-01-02 09:46] YorickPeterse commented on #2904
@lumrandir Is there anything you can share on the reasoning for not using Rubinius in production? If so, feel free to pop in IRC or discuss it here. I'll close this issue for the time being then, feel free to re-open if needed.

[2015-01-02 09:46] #2904 closed

[2015-01-02 09:47] YorickPeterse commented on #3255
Ah, I figured you would be authenticated with Github (via your public key). You can use the following URL for the clone instead:

    https://github.com/rubinius/rubinius.git

[2015-01-02 14:57] altkatz commented on #3251
@YorickPeterse on a Linux platform like Travis(Ubuntu x64), and
 ``` rvm use rbx-2.4.1 ```
 ``` git clone --branch=master https://github.com/altkatz/jieba_rb.git ```
 ``` cd jieba_rb && git submodule init ```
 ``` git submodule update ```
 ``` rake compile ```
 ``` rake ```

[2015-01-02 15:03] altkatz commented on #3251
@YorickPeterse I do have a core dump file, but can not get useful info
 from it with gdb, is it because rubinius's debug symbols are not properly configured?

[code]

last lines were
[code]

[2015-01-02 15:44] YorickPeterse commented on #3251
@altkatz Do you get more output when you run `thread apply all bt` in gdb (instead of just `bt`)? If for some reason no debugging symbols are available at all you can build Rbx using `./configure --debug-build` (you'll need to build from source though).

[2015-01-02 16:27] jzakiya commented on #3255
OK, I was able to clone and start the install process, but rake aborted leaving me this output:

rake aborted!
Error compiling
/home/jzakiya/.rvm/gems/ruby-2.2.0/gems/daedalus-core-0.2.0/lib/daedalus.rb:68:in `command'
/home/jzakiya/.rvm/gems/ruby-2.2.0/gems/daedalus-core-0.2.0/lib/daedalus.rb:254:in `link'
/home/jzakiya/.rvm/gems/ruby-2.2.0/gems/daedalus-core-0.2.0/lib/daedalus.rb:774:in `build'

[2015-01-02 16:45] jemc commented on #3255
That's not the entire traceback, but looking at your `rake.log` gist in the OP, it looks like you're hitting the same error.  As @YorickPeterse mentioned, can you tell us the output of `llvm-config --version`?  It looks like your LLVM installation is missing some feature that rubinius is using.

[2015-01-02 18:03] jzakiya commented on #3255
jzakiya@localhost ~ $ llvm-config --version
3.4.2

[2015-01-02 20:10] YorickPeterse commented on #3255
This might be a reason for this problem happening: http://stackoverflow.com/questions/21477407/llvm-3-5-fails-to-link

@jzakiya can you paste the output of `llvm-config --ldflags --cflags --libnames`?

[2015-01-02 20:47] jzakiya commented on #3255
jzakiya@localhost ~ $ llvm-config --ldflags --cflags --libnames
-L/usr/lib/llvm  -lz -lpthread -lffi -lcurses -lrt -ldl -lm
-I/usr/include  -DNDEBUG -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -O3 -fomit-frame-pointer -fPIC
libLLVMLTO.a libLLVMLinker.a libLLVMipo.a libLLVMVectorize.a libLLVMBitWriter.a libLLVMR600CodeGen.a libLLVMR600Desc.a libLLVMR600Info.a

[2015-01-03 01:06] YorickPeterse commented on #3255
Argh, I forgot to also include the `--libs` option, could you paste the output of the following?: `llvm-config --libs`. On my system I get the following:

[code]

I suspect LLVM is adding a certain library to the output of `--libs` but _not_ to the output of `--ldflags` meaning it would fail to link as appears to be the case in this situation.

[2015-01-03 03:43] jzakiya commented on #3255
jzakiya@localhost ~ $ llvm-config --libs
-lLLVMLTO -lLLVMLinker -lLLVMipo -lLLVMVectorize -lLLVMBitWriter -lLLVMR600CodeGen -lLLVMR600Desc -lLLVMR600Info -lLLVMR600AsmPrinter -lLLVMTableGen -lLLVMDebugInfo -lLLVMOption -lLLVMX86Disassembler -lLLVMX86AsmParser -lLLVMX86CodeGen -lLLVMSelectionDAG -lLLVMAsmPrinter -lLLVMX86Desc -lLLVMX86Info -lLLVMX86AsmPrinter -lLLVMX86Utils -lLLVMIRReader -lLLVMBit

[2015-01-03 09:39] asppsa commented on #2967
Hi there, Happy new year.

My webapp does still segfault occasionally.  I haven't as yet tried running it in GDB though.  I do have a way of predictably crashing the server now by overwhelming it with requests (not sure if this is the only reason for segfaults, but it's one), so I should be able to produce an example app and GDB log file.  I'll attempt to get that done next week.

[2015-01-03 12:33] YorickPeterse commented on #3255
Hmpf, it seems neither of us have the option in there (as mentioned in the StackOverflow thread) while I can compile just fine. Is it possible for you to try and compile Rubinius with LLVM 3.5.0? That's the version I'm using, perhaps there's something going on with LLVM 3.4.x.

[2015-01-03 15:56] jzakiya commented on #3255
I put in a request yesterday for the PCLOS developers to upgrade to version 3.5.
It is was in the process of being upgraded, and had to be sent to testing.
If everything works out it may be released as an upgrade within the next few days,
When it is, I'll try again and see what happens.

You might want to discuss this problem with the rvm people to let them know of this
error profile.

[2015-01-04 11:01] sodabrew opened #3268 "Incompatible implementation of Process::Status"
This is a spin-off from eventmachine/eventmachine#551 wherein I am trying to get unit tests running clean for all Rubies that Eventmachine supports, including Rubinius.

Ruby MRI has a C implementation of Process::Status and jams instance values into the class.
http://rxr.whitequark.org/mri/ident?i=rb_last_status_set

[code]

Eventmachine uses similar code to construct the Process::Status result f

[2015-01-04 13:19] YorickPeterse commented on #3268
My opinion would be "Yes, we need to change our stuff". We can make the arguments optional, which should keep compatibility with existing code. @brixen any further thoughts on this?

[2015-01-04 14:44] brixen commented on #3268
Where are the specs that cover this behavior?

[2015-01-04 14:49] YorickPeterse commented on #3268
@brixen Searching in our specs I can't seem to find anything that tests `Process::Status` itself (that is, initializing it and such), only a bunch of specs that test some of its methods.

My question in this would be: what would we test? In MRI this class doesn't have an `#initialize` method so besides just creating an instance there's no much to test. I suppose at minimum we could have something

[2015-01-04 15:27] brixen commented on #3268
I'd suggest something more like this:

[code]

Which looks tautological but if this shows the difference in behavior from MRI, it should be sufficient.

[2015-01-04 16:41] YorickPeterse commented on #3268
Ah, I wasn't aware we had that matcher. I'll see what I can do.

[2015-01-04 17:01] YorickPeterse opened #3269 "Process.spawn specs raise Errno::EBADF instead of Errno::EACCESS"
On Arch Linux the `Process.spawn` specs fail due to raising `EBADF` instead of `EACCESS`. This is using LLVM 3.5 although I'd be surprised if LLVM versions are even related to this problem.

Test output:

[code]

I've seen these errors pop up before but I'm not sure yet what's going on.

[2015-01-05 08:13] ashanbrown opened #3272 "incorrect behavior with inline rescue and compound assignment operator on rbx 2.3.x and 2.4.x"
The code below fails on rbx 2.4.1.  I believe it passes on rbx 2.2.10.  I found this because it is causing failures in the inherited_resources gem specs (and presumably in the behavior of the gem as well).

[code]

The key item here appears to be the combination of the compound assignment operator and the inline rescue.  The following will pass.

[code]

I've confirmed that this fails on rbx 2.3.0

[2015-01-05 10:05] YorickPeterse commented on #3272
In what way does the first example fail? Is `val` set to `nil` in this case?

[2015-01-05 11:42] aanno commented on #3257
I forked the gnome2 stuff and opened a branch 'rbx' at https://github.com/aanno/ruby-gnome2/tree/rbx to see what is problematic in there (i.e. this is pure hacking for the moment and is not considered as an attempt to get a rubinus port of it).

It was startling easy to get same of the gtk3 sample code showing something on rubinius (yes, you did an excellent job with rbx, even for C extensions!).

[2015-01-05 13:43] jemc commented on #3272
Also, in the first example where does the `"hello"` come from?  Did the example get mangled when you were reformatting it to share?

[2015-01-05 13:59] altkatz commented on #3251
@YorickPeterse I tried `rvm reinstall rbx-2.4.1 -C --debug-build`, but the `t a a bt` of the core are still (??), (the c++ extension is compiled with flag"-g"), what am I missing

[code]

[2015-01-05 14:03] altkatz commented on #3251
Maybe these info before crash would be more helpful??

[code]

[2015-01-05 14:59] YorickPeterse commented on #3251
@altkatz Can you compile from source directly instead of using RVM? That way we can rule out if it's perhaps messing with the build process.

[2015-01-05 16:03] aanno commented on #3257
As suggested, I had a try with gir_ffi-gtk as well. Interestingly, the test cases doesn't pass completely:
<code><pre>
gir_ffi-gtk$ rake --trace test | tee test.log
** Invoke test (first_time)
** Invoke test:gtk3 (first_time)
** Execute test:gtk3
Run options: --seed 9297
Running tests:
E...........E..E
Finished tests in 0.795839s, 20.1046 tests/s, 27.6438 assertions/s.
  1) Error:
Gtk::::init#test

[2015-01-05 16:40] dontfidget commented on #3272
Sorry, I rewrote the examples in rspec and screwed them up.  I've fixed them now.  I'm running a git bisect and will hopefully be able to tell you the first failing commit soon.

[2015-01-05 17:05] dontfidget commented on #3272
I'm having some trouble with git bisect because of compile problems.  I can tell you that it passes through a9e2cf388eb643536b9e56495cfae85339847b95 and fails at v2.3.0.

[2015-01-05 18:39] YorickPeterse commented on #3272
Minial repro (extracted from the spec example, minus the spec stuff):

[code]

This produces "original" on MRI and "new" on Rbx.

[2015-01-05 19:02] YorickPeterse commented on #3272
Bytecode differences, using an inline rescue:

[code]

Using the form `val ||= begin "new" rescue nil`:

[code]

[2015-01-05 19:47] YorickPeterse commented on #3272
Specs for this were added in f384d1c4430df7ace0ba56cef6a3b606d41e9780. The following does seem to work:

[code]

[2015-01-06 02:18] altkatz commented on #3251
@YorickPeterse  I did exactly the same, clone rubinius and build, still got (??) in stack trace:

[code]

[2015-01-06 11:11] YorickPeterse commented on #3251
Hm, that's really odd. In that case I'm not really sure how else to get debugging symbols in place :/

[2015-01-06 13:13] keltia commented on #3230
I get the same on OS X 10.10, using 2.4.1 compiled with Clang 3.5:
Full stacktrace here: http://pastebin.com/0XyaZgtf

[2015-01-06 17:39] frzng opened #3275 "Problem with gems with non-ASCII characters in gemspec"
With Rubinius 2.4.1, when I try to install latest stable Cucumber:

[code]

I get the following:

[code]

As you may know, author of Cucumber is Aslak Helles**ø**y and the `ø` character isn’t part basic ASCII. When I check out Cucumber 1.3.18, change Aslak’s surname to Helles**oe**y and build the gem manually it works.

We use Cucumber 1.3.17 now which we installed with Rubinius 2.2.10. The [gemsp

[2015-01-06 17:56] hassan commented on #3275
FWIW, I don't see this problem installing that Cucumber version on a Mac (10.9.5) with rbx-2.4.1 built with llvm 3.5.0.

What platform are you on and how did you build rbx?

[2015-01-06 18:05] jc00ke commented on #3275
I also was able to install cucumber on Xubuntu 14.10 using LLVM 3.4.2

[code]

By chance, what does `echo $LANG` return?

[2015-01-06 19:40] frzng commented on #3275
[code]

[2015-01-07 11:11] ngollan opened #3276 "Using Kernel#load with wrapping breaks "top-level methods""
[code]

[code]

Running `test.rb` in rbx (tried `rubinius 2.4.1.n7 (2.1.0 0a3aebab 2015-01-07 3.5.0 JI) [x86_64-linux-gnu]`) results in:

[code]

In MRI it works as expected. Running without the wrapping also works in rbx.

[2015-01-07 14:44] jemc commented on #3276
So, looking at this, the difference here is that MRI will create a different `main` object to use when you specify `wrap=true`, while Rubinius is always using the same (constant `MAIN`).

You can see this by modifying your example as shown:
[code]
[code]
[code]
[code]

The Rubinius code that is responsible for this behavior is `CompiledCode#create_script` defined in `kernel/common/compiled_code.rb

[2015-01-07 19:38] brixen commented on #3276
There's an aspect of this that has nothing to do with #load. Running just `anon_thing.rb` directly exhibits different behavior, as I mentioned in IRC. The send for `helper_method` does not allow private methods, as can be seen with `rbx compile -B anon_thing.rb`.

Creating a different `main` when `wrap == true` is not a big deal.

[2015-01-07 19:39] brixen commented on #3276
Obviously, we need specs for both facets of this.

[2015-01-07 22:08] brixen commented on #3268
Can we confirm that this is fixed on master?

[2015-01-08 01:45] sodabrew commented on #3268
Will compile and test this evening / tomorrow.

[2015-01-08 05:14] ryan2johnson9 commented on #2916
Any luck on this one? I am having the problem with rbx 2.2.10

[2015-01-08 06:45] jc00ke commented on #2916
I don't recall if it's been fixed, but can you try on 2.4.1?

[2015-01-08 07:33] bennyklotz commented on #2916
@ryan2johnson9, @jc00ke yep still present on 2.4.1:

Testscript: https://gist.github.com/bennyklotz/8865959

Ruby 2.2.0

[code]

Rubinius 2.4.1

[code]

[2015-01-08 17:18] Mazwak commented on #3245
I installed a bunch of gems on Archlinux/rbenv rbx-2.4.1/LLVM 3.5.0, and I only managed to reproduce the bug with 'sequel'.

The output is identical :
Parsing documentation for sequel-4.18.0
rbx: /usr/include/llvm/Support/Casting.h:95: static bool llvm::isa_impl_cl<To, const From*>::doit(const From*) [with To = llvm::Constant; From = llvm::Value]: Assertion `Val && "isa<> used on a null pointer"'

[2015-01-08 18:58] YorickPeterse commented on #3245
@Mazwak Could you please provide the _full_ output from GDB? You can get this as following:

[code]

This pops open a GDB prompt, type the following:

[code]

Then once the program crashed, run the following:

    thread apply all bt

Keep pressing enter until the pager runs out as otherwise the data isn't written to the log file. Once done, hit `q` and copy the contents of `/tmp/rbx3245.log` into

[2015-01-08 22:33] jemc commented on #3245
@YorickPeterse
Given how many times I've seen you explain that, maybe it's time to build the `thread apply all bt` into the `SIGABORT` handler for rubinius?

[2015-01-08 22:36] YorickPeterse commented on #3245
@jemc I'm not sure if that's possible without gdb, if it would that would be tremendously helpful.

[2015-01-09 02:06] jemc commented on #3245
It seems plausible as long as you know you're starting each thread with that guard in mind.  But I haven't actually looked into it so I'll keep my mouth shut for now until I do.

[2015-01-09 04:12] jemc commented on #3245
It's possible in general.  When I have some time to spend I'll look at applying it to rubinius on a branch.

[2015-01-09 12:11] Mazwak commented on #3245
It was not obvious how to run gdb against rbenv gem. For the record, I created a gem_gdb shims where I replaced the last line :
- exec "/home/maz/.rbenv/libexec/rbenv" exec "$program" "$@"
+ gdb --args `rbenv which ruby` `rbenv which gem` "$@"

And here is the gist :
https://gist.github.com/Mazwak/9175fd67717f5526744d

[2015-01-09 12:19] tmornini opened #3278 "rubocop fails with Coercion error"
Hey guys, thought you'd want to see this. Current versions of everything.

[code]

[2015-01-09 12:24] YorickPeterse commented on #3278
Looking at the stack trace this is a problem with the parser Gem, not the Rubinius parser itself. Is there a way to reproduce this?

[2015-01-09 12:30] YorickPeterse commented on #3245
@Mazwak Thanks for the stack trace! The relevant bits are the following:

[code]

[2015-01-09 12:31] YorickPeterse commented on #3245
Looking the code in question (`jit_visit.hpp:314`) it looks like b6016f4417de42367a47d9eced4a81613edee331 might've fixed this issue.

[2015-01-09 15:28] Mazwak commented on #3245
Just compiled rubinius 2.4.1.n9 (2.1.0 9a43d22b 2015-01-09 3.5.0 JI) [x86_64-linux-gnu], and it works.

\o/

[2015-01-09 15:32] jemc commented on #3245
Glad to hear it.  Happy Rubying!

[2015-01-09 15:32] #3245 closed

[2015-01-09 21:25] YorickPeterse commented on #3249
@ghazel Can you try your app using Rbx compiled from Git? #3245 has supposedly been fixed, which looks like either a similar or the same issue.

[2015-01-09 21:25] YorickPeterse commented on #3230
@ryoqun @keltia Can you try this using Rubinius compiled from Git? With #3245 being fixed by the looks of it that might mean this particular issue has also been resolved.

[2015-01-10 02:32] tmornini commented on #3278
It reproduces regularly for me. I can give you repo access.

[2015-01-10 03:52] sodabrew commented on #3268
We're partway there. I still needed to make this change to eventmachine:

Does this suggest that you need `pid=` and `status=` methods, or is it something deeper?

[code]

[2015-01-10 03:59] brixen commented on #3268
@sodabrew that diff suggests that our `rb_iv_set` is not correct (eg it's not accepting the ivar name without the `@`).

[2015-01-10 04:01] brixen commented on #3268
@sodabrew sorry, to answer your actual question, I see no reason to assume that change implies that there exist setter methods. But that should be verified with MRI (eg with `Process::Status#respond_to?` or `Process::Status.instance_method_defined?`)

[2015-01-10 04:17] sodabrew commented on #3268
I don't even get this. It's a Class object, and MRI explicitly _removes_ the new method!?
[code]
http://rxr.whitequark.org/mri/source/process.c#6687
[code]

[2015-01-10 04:24] brixen commented on #3268
@sodabrew hold tight, let me write some C-API specs for this. Your diff above shouldn't be needed.

Are there other issues besides your diff?

[2015-01-10 04:30] sodabrew commented on #3268
Am testing this diff now:
[code]

[2015-01-10 04:46] sodabrew commented on #3268
No other issues with Process::Status.

[2015-01-10 04:49] brixen commented on #3268
@sodabrew `rb_iv_set` doesn't go through any kernel code, so that diff isn't relevant.

I have a C-API spec that shows Rubinius having the same behavior as MRI code like `rb_iv_set(proc_status, "pid", INT2FIX(pid));`. Will link you when I push it.

What does the failure / error look like that you're trying to fix?

[2015-01-10 04:50] sodabrew commented on #3268
Yep, I figured out that `rb_iv_set` lives in `vm/capi/object.cpp` :)

[2015-01-10 04:51] brixen commented on #3268
https://github.com/rubinius/rubinius/commit/ffd327fb5fedc4c911f11b21425b764b254ee34c

[2015-01-10 05:01] sodabrew commented on #3268
Oh! Ok, so then the problem is that _from Ruby_ you cannot `instance_variable_get('foo')` because it will complain. I tried this on process.rb:
[code]
but that fails becase:
[code]

[2015-01-10 05:12] brixen commented on #3268
Correct, you can't get an instance variable from Ruby without the `@` on the name. MRI uses that from C to make hidden instance variables. I don't understand why MRI hates Ruby so much. :(

[2015-01-10 08:00] sodabrew commented on #3268
Going back to eventmachine changes for a moment, even if I made this change:
[code]
I would have the problem I brought up in #3271, which is the `status` value above has the exitstatus, term signal, and exit signal values together, but the Rubinius Process::Status expects them to be separated out. I could adjust eventmachine like this, but it would imply a Process::Status API going forward:
[code]

[2015-01-10 08:19] sodabrew commented on #3268
What if the W* family of macros were defined as Rubinius.primitive? Then we could do the bit twiddling of #3271 when the values are read, but retain the portability of using the system-provided C macros. In eventmachine, I would do the smaller diff above, setting both `pid` and `@pid`, `status` and `@status` regardless of Ruby engine.

[2015-01-10 12:31] YorickPeterse commented on #3268
@brixen Can we not modify `rb_iv_set` so that when it sets an instance variable without a `@` it secretly adds it anyway? So basically `rb_iv_set(foo, "bar", ...)` would be the same as `rb_ivar_set(foo, "@bar", ...)`?

[2015-01-10 12:38] YorickPeterse commented on #3278
Seeing how this appears to be a parsing issue we'd only need a snippet of the source file triggering the problem. I'm personally a bit reluctant peeking into people's private repositories.

[2015-01-10 15:08] brixen commented on #3268
@YorickPeterse no, we can't change `rb_iv_set` that way.

@sodabrew your suggestion to conform the use of proper instance variables in Rubinius to the MRI use of hidden instance variables seems the most reasonable, I think. You could do this in your diff:

[code]

I don't like this sort of conditional in code, but it's the most clear in this case. Of course, you're going to need to account for thi

[2015-01-11 03:44] jc00ke opened #3279 "Psych/papertrail (reify) causing: Tuple cannot be created via allocate()"
I'm testing this on ffd327fb5fedc4c911f11b21425b764b254ee34c

* clone calagator/calagator@479c68a7fe54ee4b968ada098997731722dc7677
* `bundle`
* `bundle exec rspec spec/models/venue_spec.rb:327`

failure output: https://gist.github.com/jc00ke/7cb0b1e0c40646717f1a

[2015-01-11 03:46] jc00ke commented on #3249
Also seeing this (or something like it) on the Calagator specs on Travis: https://travis-ci.org/calagator/calagator/jobs/46600954

However, I'm not seeing those failures locally on ffd327fb5fedc4c911f11b21425b764b254ee34c

[2015-01-11 22:40] jzakiya commented on #3255
OK.  My distro upgraded llvm to from 3.4.2 to 3.5.0 and it seemed to do the trick.

I was able to upgrade from 2.2.10 to 2.4.1, though there were some errors cited in the output.

Here is the gist of the output screen dump of the upgrade.

https://gist.github.com/anonymous/7fcfc590656b876c872e

In spite of the listed errors, the upgrade finished, rbx-2.4.1 was listed under: rvm list
and I am able

[2015-01-11 22:56] YorickPeterse commented on #3255
@jzakiya The error looks vaguely familiar to the output I've seen when RVM tries to update the bundled RubyGems and fails miserably at it for reasons unknown. You can bypass this by using `rvm install xxx --rubygems ignore`. The error itself shouldn't interfere with Rubinius in any way, so you should be good to go. Feel free to close this issue once you're all set :)

[2015-01-12 10:38] jodosha opened #3280 "Symbol GC"
Hello, do you have plans to support the new introduced feature in MRI regarding collectable symbols?

In order to protect applications from DoS attacks, we are forced to whitelist inputs, convert their keys to strings and to provide facilities we use tricks like _"indifferent access"_. This adds both development and runtime overhead.

I'm asking this specifically for Lotus. Supporting multiple Rub

[2015-01-12 11:23] YorickPeterse commented on #3280
Yes, symbols will be garbage collected in the near future, although there's no ETA for this change just yet.

[2015-01-12 17:53] washu opened #3281 "jit crash"
puma 2.9.2 (unix:///usr/local/aztec-ui-staging/tmp/puma/puma.sock): /usr/include/llvm/Support/Casting.h:97: static bool llvm::isa_impl_cl<llvm::Constant, const llvm::Value *>::doit(const From *) [To = llvm::Constant, From = const llvm::Value *]: Assertion `Val && "isa<> used on a null pointer"' failed.
The Rubinius process is aborting with signal: SIGABRT

[2015-01-12 17:58] jc00ke commented on #3281
Looks like a duplicate of #3249.

@washu next time, please provide more info: [CONTRIBUTING](https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING#L7-L25) so we can help debug and fix the issue.

[2015-01-12 17:58] #3281 closed

[2015-01-13 22:29] #3255 closed

[2015-01-14 01:14] tmornini commented on #3278
Happy to provide the snippet if you can tell me how to locate it. :-)

[2015-01-14 11:24] YorickPeterse commented on #3278
@tmornini If you run rubocop using `-f simple` it should print out the filename before analysing it, this should make it possible to see what file is triggering the problem.

[2015-01-14 12:16] lumrandir opened #3283 "config/routes.rb seems to be executed twice"
Hello.

I'm using rbx-2.4.1, rails-4.1.8 and devise 3.4.1. When I'm trying to start my app, it crashes with the ArgumentError: Invalid route name, already in use: 'new_user_session'.

This issue seems to be unrelated to devise, because when I remove devise_for from config/routes.rb it starts complaining about my custom routes. I tried to wrap the routes block in begin...rescue block and it was rea

[2015-01-14 12:50] YorickPeterse commented on #3283
This problem should be fixed by using Rails 4.2 or newer, so please update to that version. See https://github.com/rails/rails/pull/17782 and https://github.com/rubinius/rubinius/issues/3223 for more information.

[2015-01-14 12:50] #3283 closed

[2015-01-14 19:01] YorickPeterse opened #3284 "Bundler fails to detect Gems installed using --deployment flag"
When installing Gems from a Gemfile using `bundle install --deployment` followed command executions using `bundle exec` result in Bundler complaining that it can't find the installed Gems.

Repro: https://gist.github.com/YorickPeterse/8d088fbf89834057ac91

Download the files in some directory and run the following commands:

    gem uninstall oga # if you have Oga installed globally
    bundle ins

[2015-01-14 19:03] YorickPeterse commented on #3284
It appears to be a YAML/Psych problem. If I modify `.bundle/config` to look like the following everything magically works:

[code]

[2015-01-14 23:57] YorickPeterse commented on #3221
Added psych to the list.

[2015-01-15 00:03] YorickPeterse commented on #3197
@eerohele I can install the cloudapp Gem fine on Rbx master, can you retry with 2.4.1/master to see if the issue still occurs for you?

[2015-01-15 03:43] jzakiya opened #3285 "gem update json errors with rbx-2.4.1"
Update the json gem on 2.4.1 produced the following errors.

https://gist.github.com/jzakiya/18158cf2a67256dc5f7a

[2015-01-15 07:57] eerohele commented on #3197
@YorickPeterse: Yeah, installing works fine (I introduced some confusion about that above — sorry about that). It's using the gem that causes the crash.

Here's a [Gist with the stack trace on RBX 2.4.1](https://gist.github.com/eerohele/75ecf188767cc425828c), installed with `ruby-install rbx 2.4.1 -i ~/.rubies/rbx-2.4.1 -- --llvm-config /usr/local/Cellar/llvm/3.5.0_2/bin/llvm-config`.

This seems

[2015-01-15 09:23] YorickPeterse commented on #3285
This is the same problem as described in #3230, which is supposed to be fixed in the master branch (https://github.com/rubinius/rubinius/issues/3230#issuecomment-69401478). Closing this one in favour of the former issue.

[2015-01-15 09:23] #3285 closed

[2015-01-15 09:27] YorickPeterse commented on #3197
@eerohele Can you run the Gem using `gdb rbx --args `which cloudapp` path/to/some/image`, then get a full backtrace as described in https://github.com/rubinius/rubinius/issues/3245#issuecomment-69229450 ? That would help us pinpoint where exactly it crashes.

[2015-01-15 12:07] eerohele commented on #3197
@YorickPeterse: I'm quite a bit out of my area of expertise here so I hope I got this even remotely right...

Looks like [gdb has been replaced with lldb](http://stackoverflow.com/a/19554500/825783) since OS X Mavericks. I tried installing gdb by doing `brew install homebrew/dupes/gdb`, but it's apparently [not capable of debugging universal binaries](http://stackoverflow.com/a/20975057/825783). S

[2015-01-15 12:31] YorickPeterse commented on #3197
@eerohele That looks like the correct output, thanks!

[2015-01-15 12:34] YorickPeterse commented on #3197
Relevant bits:

[code]

This looks like a problem with rubysl-openssl of sorts, in particular the following function: https://github.com/rubysl/rubysl-openssl/blob/a376d63e66d4fe89e5a84497d94c8447249b0e21/ext/rubysl/openssl/ossl_ssl.c#L325

[2015-01-15 17:06] YorickPeterse commented on #3284
Closing in favour of the Psych issue for this: https://github.com/tenderlove/psych/issues/216

[2015-01-15 17:26] jemc commented on #3284
This should be okay when psych fixes https://github.com/tenderlove/psych/issues/216

[2015-01-15 20:28] sodabrew commented on #3268
Just a heads up, I'm busy at work this week but I will revisit this in a new PR ASAP.

[2015-01-15 20:32] sodabrew commented on #3268
Thinking back to https://github.com/rubinius/rubinius/issues/3268#issuecomment-69442167 and looking at tenderlove/psych#216, perhaps Rubinius _does_ need a way to set non-`@`-prefixed ivars from the Ruby side in order to implement hidden ivars...

[2015-01-15 21:03] mjc commented on #2813
Hi, I cannot reproduce this anymore but I've upgraded too many things to be sure that it's gone. :(

[2015-01-15 21:04] #2925 closed

[2015-01-15 21:08] mjc commented on #2925
I can't reproduce it anymore either.

[2015-01-15 21:28] YorickPeterse commented on #2813
In that case I'll close this issue for the time being, feel free to re-open if needed.

[2015-01-15 21:28] #2813 closed

[2015-01-15 22:51] YorickPeterse commented on #3284
Closing this in favour of this Bundler issue: https://github.com/bundler/bundler/issues/3348

[2015-01-15 22:51] #3284 closed

[2015-01-17 03:09] codeforkjeff commented on #985
I'm seeing csv in MRI as 6x's faster than Rubinius.

This is my test script:
[code]
Here's the output:
[code]

Here's the profiler output: https://gist.github.com/codeforkjeff/c9fef79b5b091a911018

String#count is taking 36% of the total time, which seems high?

[2015-01-17 03:20] chuckremes commented on #985
Might be an easy opportunity for some performance tuning. Want to try?

[2015-01-17 20:02] lloeki opened #3286 "Rubinius and Yosemite: obsolete FAQ (and possibly unfriendly build system)"
One must now install llvm 3.4 `brew install homebrew/versions/llvm34` and build with `ruby-install rbx -- --llvm-path="/usr/local/Cellar/llvm34/3.4.2"`, but the homebrew tap makes llvm-config & al. suffixed, and thus available as `llvm-config-3.4`. The configure step thus fails because the build system is unable to pick it up.

[2015-01-19 08:52] dmilith opened #3288 "Problem launching IRB under Rubinius 2.5.0 on FreeBSD 10.1"
[code]

[2015-01-19 08:58] dmilith commented on #3288
Also happens with regular ruby:

[code]

[2015-01-19 08:58] dmilith commented on #3288
NOTE: didn't happen under Rubinius 2.4.1

[2015-01-19 14:34] frzng commented on #3275
Another strange thing happened which maybe make this issue irrelevant. We run into some issues today and I destroyed my Vagrant box to be sure that all developers on our project have the same state and that it works. After provisioning the fresh Vagrant box everything works just fine. The LLVM, OS version and other settings are exactly the same.

I don’t remember it precisely, but I think the Vagr

[2015-01-19 15:34] jemc commented on #3288
Is it the same version of the rb-deadline gem?  It seems like maybe this issue should be filed there?

[2015-01-19 16:39] dmilith commented on #3288
It happens only with console.
[code]

 works,

[code]

works

[2015-01-19 22:51] jasonrclark commented on #3201
I might be seeing a similar problem when running newrelic_rpm's tests against rbx 2.5.0

[code]

The failure is sporadic, but one of the tests is https://github.com/newrelic/rpm/blob/master/test/new_relic/metric_spec_test.rb#L83-L97

Is there a way to disable the JIT apart from passing -X flags (i.e. ENV value or something)? Since this is happening in our test runner, it's not directly invoking rb

[2015-01-19 22:53] YorickPeterse commented on #3201
@jasonrclark You can set the -X options in `RBXOPT`, e.g. `RBXOPT=-Xint`.

[2015-01-19 23:00] jasonrclark commented on #3201
Perfect, thanks @YorickPeterse!

Is there somewhere in the docs that I should have found it? I did search but failed to find reference to `RBXOPT`.

[2015-01-19 23:03] YorickPeterse commented on #3201
@jasonrclark Not as far as I know, it's currently cleverly hidden somewhere in the VM.

[2015-01-19 23:32] jc00ke commented on #3201
It's there when you run `-Xhelp`

[code]

It's a bit confusing though, IMO.

[2015-01-20 00:16] jasonrclark commented on #3201
FWIW, disabling the JIT did resolve those test failures for us, so we're good for the moment.

[2015-01-20 12:48] os97673 opened #3290 "Rubinius debugging support for RubyMine"
there is a request for RubyMine to support debugging with Rubinius (https://youtrack.jetbrains.com/issue/RUBY-14118)
I've evaluated what we have now (as far as I understand rubinius-debuggers code) and decided to document my finding here to have it for reference (especially taking into account that the Debuggin API is supposed to be reworked soon).

Setting/removing breakpoint: we have almost ever

[2015-01-20 12:49] os97673 commented on #3290
Also if/when the API will be reworked it would be nice to have some place where we could check its usage (or public documentation)

[2015-01-20 16:00] brixen commented on #3290
@os97673 thanks for opening this!

Could you please elaborate here, I'm not sure I understand what you need. Are you asking for a capabilities predicate or a version number or something like that?

[2015-01-20 18:46] tmornini commented on #3278
We're green on rbx-2.5.0!

[2015-01-20 18:51] jc00ke commented on #3278
:fireworks: :fireworks: :fireworks:

[2015-01-20 19:52] benweint opened #3291 "Segmentation fault in openssl.bundle (ossl_raise)"
We've recently started running our tests against rbx-2.5.0 (previously we were running against 2.2.10), and we seem to be hitting a repeatable segmentation fault in the openssl C-extension.

The full crash dump (and some system info) is in [this gist](https://gist.github.com/benweint/44b15ff689fd694b83a8).

The interesting (to me) bit of the C stack is:

[code]

rbx-2.5.0 was installed via `ruby-b

[2015-01-20 20:00] benweint commented on #3291
Gah, sorry, those repro steps aren't quite right. That version of the code is still using `rubysl-openssl` 2.2.0. I'll update after lunch.

[2015-01-20 20:51] tmornini commented on #3278
Weird, spoke too soon. Green on my laptop, still failing on Travis.

Looked things over carefully, entirely unclear what the differences would be other than OS X Yosemite -vs- Ubuntu 12.04 LTS

https://gist.github.com/tmornini/a0df2bf494ab14cee990

[2015-01-20 21:20] brixen commented on #3278
@tmornini This is a JIT bug, that's why you're seeing different behavior.

[2015-01-20 21:49] Pugio opened #3292 "IRB Resizing Crashes with execvp(2) failed"
HEAD Rubinius, OS X 10.9.4
When I rapidly resize my terminal window IRB crashes:

[code]

I think I've identified the problem.
In vm/builtin/system.cpp#System::vm_backtick:615 , the parent tries to read from the error pipe (```errors[0]```) to see if the child sent an error code. The problem is that rb-readline uses a signal handler (which uses ``` `stty size` ``` to get the terminal size) to hand

[2015-01-20 23:38] brixen commented on #3286
@lloeki which version of OS X are you using? Currently, `brew install llvm` should install 3.5 and although it is keg-only, Rubinius configure will find `llvm-config` via `brew list llvm`.

[2015-01-21 00:01] brixen commented on #3280
@jodosha do you have a benchmark for the optimizations provided by Symbols?

Since the payload comes in as bytes, which are quite readily converted to String, not as Symbols, which do not exist external to a Ruby process, I'm curious about the overhead of converting to Symbols.

In particular, something must hand a bunch of bytes to some "function" which maps those bytes to an id (the Symbol value

[2015-01-21 00:05] brixen commented on #3280
@jodosha BTW, a great way to avoid all this "indifferent Hash" nonsense is to let `String#==(Symbol)` and `Symbol#==(String)` be defined sensibly. Strings and Symbols are substitutable for each other in eg `#send` and all the introspection methods like `#instance_method(name)`. This sort of special cased behavior is silly in Ruby.

[2015-01-21 00:06] brixen commented on #3292
This looks like the same issue as #3288.

[2015-01-21 04:07] os97673 commented on #3290
I meant that currently we can use rubinius-debugger as a reference to check usage of Debugging API,  and it looks like this is the only place to check the API, thus it would be nice to either have the gem rewritten to use a new version of API or have another place to use as a reference.  I.e. we need either debugger reference implementation or documentation for the API.
Have I been able to clarify

[2015-01-21 04:15] brixen commented on #3290
@os97673 sure, that makes sense. The Rubinius::Console will be the reference and we'll have much better documentation.

[2015-01-21 04:23] os97673 commented on #3290
Great, looking forward for the new API

[2015-01-21 15:48] brixen commented on #3288
@dmilith do you have `infocmp` on your system? I don't have it on FreeBSD 10 patch 7.

[2015-01-21 15:48] brixen commented on #3292
Actually, this does not look related to #3288 after all. That issue appears to be that `infocmp` is not available and rb-readline uses it.

[2015-01-21 15:50] dmilith commented on #3288
@brixen Nope

[2015-01-21 17:34] lloeki commented on #3286
Yosemite (see issue title). `brew install llvm` does install 3.5, but it turns out I was hellbent into installing 2.2.10 (being the last version reported by `ruby-install`), which required llvm 3.4, and I was landing on the FAQ page.

The "possibly unfriendly build system" was referring to precisely this case, as I suppose it should be able to pick keg-only versions from homebrew-versions tap too

[2015-01-21 17:34] #3286 closed

[2015-01-21 17:34] Pugio commented on #3292
Ahh good. It wasn't immediately obvious to me why #3288 would have been the same.
Suggestions for getting this merged in?

[2015-01-21 19:09] lloeki commented on #3286
Both of the following worked:

    PATH="$(brew --prefix llvm)/bin:$PATH" ruby-install rbx 2.4.1
    PATH="$(brew --prefix llvm)/bin:$PATH" ruby-install rbx 2.5.0

Stumbled on [ruby-install#184](https://github.com/postmodern/ruby-install/issues/184) and #3247.

Also, seems like `export RUBYGEMS_GEMDEPS='-'` was wrecking some havoc, at least with 2.4.1. Well, whatever, I've got it installed in my p

[2015-01-21 20:35] brixen commented on #3292
I'll push a patch today. I was investigating it on FreeBSD because I thought it was the same issue. Then I was investigating a way to avoid using the error pipe, but I think I'll keep that mechanism.

[2015-01-21 21:10] jemc commented on #3286
@lloeki
If you look at the last traceback you showed, you'll see it includes the fragment:
`Could not find rake-10.4.2 in any of the sources (Bundler::GemNotFound)`.

You probably got this error by not running `bundle install` with the "build ruby" to be sure you had the gems needed to build.  The hope is that soon we'll be building without Ruby as a dependency, and much of what makes the building

[2015-01-21 21:19] andrewhavens commented on #3279
I am running into this same issue, but I'm not using papertrail. Just Rails 4.2.0 and Guard. Here are my steps to reproduce:

[code]

Backtrace: https://gist.github.com/andrewhavens/b93b58378c33f392242f

[2015-01-21 21:29] jemc commented on #3279
@andrewhavens @jc00ke
This is a known issue with psych `2.0.9` for all serialization/deserialization of all Hashes.  I recently pushed a fix to psych (https://github.com/tenderlove/psych/pull/218) that should have solved this problem for *most* cases - please update your psych version to at least `2.0.10`.

The only case that this remains unfixed for is if someone is using a *subclass* of Hash tha

[2015-01-21 21:29] #3279 closed

[2015-01-21 21:35] andrewhavens commented on #3279
@jemc Thanks! Ran `bundle update psych` (which installed 2.0.11) and the error went away.

[2015-01-21 22:45] #3292 closed

[2015-01-21 22:53] brixen commented on #3058
@slaught any chance you could anonymize the data so we can test both the performance issue and the possible segv using non HAMT Hash?

[2015-01-21 23:19] brixen opened #3293 "Split Ruby build dependencies into distinct steps"
The current build system relies on Ruby. This dependency significantly limits our ability to make the build process simpler in general and friendly for packaging systems.

There are several places where Ruby is a critical dependency, but all can be removed from the build by relying on artifacts instead of processing them every time a build is run:
1. Parsing instruction definitions and generating

[2015-01-21 23:21] brixen commented on #3173
This is a issue of compatibility between the VM and the compiler. There is nothing to fix related to previous releases but the whole process does need to be fixed.

I created #3293 to track the migration to a new build system.

[2015-01-21 23:21] #3173 closed

[2015-01-22 09:41] lloeki commented on #3286
@jemc The trace is me using `ruby-install` (after unsetting `RUBYGEMS_GEMDEPS`, which makes bundler totally trip up). Neither `ruby-install rbx 2.4.1` nor `ruby-install rbx 2.5.0`  can find `llvm-config`, even though it is listed in `brew list llvm`, and forcing `PATH` makes it work. The `Could not find rake-10.4.2` is totally weird (esp.  since `Using rake 10.4.2` appears in the `bundle` phase) b

[2015-01-22 15:53] brixen commented on #3286
@lloeki I really don't think you're system is failing to find LLVM. This is what I see in you output:

[code]

It's purely coincidental that configure is checking for LLVM at that point. If it were doing something else, that other thing would fail, but the real failure is this issue with the Rake version.

What Ruby switcher are you using?

[2015-01-22 16:56] lloeki commented on #3286
chruby (together with ruby-install), although the behaviour is the same without chruby.

This failure reproducibly does not happen when `llvm-config` is found. In fact I just reran it, and this time it complained about the `daedalus-core-0.2.0` gem instead of rake.

Here is the output of a failing 2.5.0 `configure.log`:

[code]

This is the same output as for rbx 2.4.1, except rbx 2.4.1 doesn't ra

[2015-01-22 18:43] slaught commented on #3058
Still segv's in 2.5.0 and it takes 22m to get there on my crappy laptop. I took at a pass at anonimizing the data. I need to check with the data owner first if they are ok with what I did.

[2015-01-23 01:36] slaught commented on #3058
@brixen

here is a first attempt at the file: https://github.com/slaught/rbx-issues-3058
I just did a simple substitution. The keys and values are not as unique as the original data set. I am working on a file with unique strings and random values.

[2015-01-23 22:43] brixen commented on #3288
This should be fixed by 596937f2354f58497541935ee6a5ab941ec16927.

In the future, if rb-readline is fixed for FreeBSD, we can remove this.

[2015-01-23 22:43] #3288 closed

[2015-01-23 22:49] brixen commented on #3291
@benweint what are your Linux build boxes (eg arch, distro, etc)?

I do not recommend using OpenSSL on OS X. I've seen random segv's using it that I haven't been able to debug. I've never seen a single segv locally using Apple's libssl, libcrypto.

[2015-01-23 23:02] benweint commented on #3291
@brixen we are using Apple's libssl and libcrypto - that's just how `OPENSSL_VERSION` gets set in that scenario:

[code]

As for the Linux build / test boxes, they're on CentOS 6.3 / x86_64:

[code]

[2015-01-23 23:14] slaught commented on #3222
@brixen The -Xprofile output is at the gist: https://gist.github.com/slaught/3f2d3b507c65af2ab016

I added a file "slowbug-2.5.txt" to the gist with outputs from 2.2.10, 2.3.0, 2.4.1 & 2.5.0 with cmd line options of none, -Xint, -Xprofile, -Xint -Xprofile.

const_get is still slower in 2.5 than 2.2.10. In 2.3 it was a 20% of the performance of 2.2.10. In 2.5 the performance is 80% of the performan

[2015-01-23 23:27] aidansteele commented on #3149
I think I might have an idea about the cause. I get `1` with a case-insensitive HFS+ partition (the default), but `2` with a case-sensitive HFS+ partition.

Interestingly, globbing on the command line in bash returns both either way (in the case of `$ ls a*`).

[2015-01-23 23:31] aidansteele commented on #3149
Some more background information:

rbx-2.4.1:
* `ruby -e 'p Dir.glob("A*").size'

[2015-01-23 23:34] aidansteele commented on #3149
Some more background information:

rbx-2.4.1:
* `ruby -e 'p Dir.glob("A*").size'` => `0` (case-sensitive partition)
* `ruby -e 'p Dir.glob("A*").size'` => `0` (default)

mri-2.2.0:
* `ruby -e 'p Dir.glob("A*").size'` => `0` (case-sensitive partition)
* `ruby -e 'p Dir.glob("A*").size'` => `1` (default)

It appears that MRI is sensitive to case (but not diacritics) on sensitive HFS+.

[2015-01-24 02:59] brixen commented on #3058
With the following patch so the code runs, I get the same time (~11m) both with and without HAMT (and no segv, obviously).

Since I plan to remove the chained-bucket implementation as soon as I address a couple issues with HAMT Hash, I don't think there's much value trying to debug this. However, if I can get a case that repros the segv, I'd like to look at it.

[code]

[2015-01-24 03:16] brixen commented on #3222
It looks like the code in [2.2.10 implementation](https://github.com/rubinius/rubinius/blob/bf61ae2ee38b67f0820541a9493cf32ff9882bfe/kernel/common/type.rb#L146-L186) is exactly the same as in the [2.5.0 implementation](https://github.com/rubinius/rubinius/blob/596937f2354f58497541935ee6a5ab941ec16927/kernel/common/type.rb#L202-L242), but the difference in profiles is significant. The difference in

[2015-01-24 03:38] brixen commented on #3222
The difference is a result of fixing multiple assignment. We used to implement a very efficient swap for code like `a, b = c, d` which [is used here](https://github.com/rubinius/rubinius/blob/bf61ae2ee38b67f0820541a9493cf32ff9882bfe/kernel/common/type.rb#L155), but we "fixed" this because people kept assuming that such expressions would return the Array.

The reason 2.5.0 is so much better than 2.

[2015-01-24 03:55] brixen commented on #3222
After removing use of multiple assignment:

Benchmark results for 2.5.0

[code]

Benchmark results for master:

[code]

[2015-01-24 04:12] #3222 closed

[2015-01-24 04:16] brixen commented on #3249
@ghazel this should be fixed. Please re-open if you continue to see it on 2.5.0+.

[2015-01-24 04:16] #3249 closed

[2015-01-24 04:55] #3266 closed

[2015-01-24 05:13] brixen commented on #3261
@jemc I honestly can't remember if this file was generated. It was added in this commit 6a7ce6812e5a3afcca9f4f71f18d329ae538aafa so if it was generated, maybe @mitchellh had a script to do that.

As for the sizes of types, we have all that here https://github.com/rubinius/rubinius/blob/705a3d5181a7a4d8ba4bffd777401cc44a73afac/kernel/platform/ffi.rb so you should be able to define the methods you w

[2015-01-24 07:36] mitchellh commented on #3261
I did generate most of that commit but I haven't had that script in a long time. Sorry for not bringing it in then :(

[2015-01-24 15:38] brixen commented on #3261
@mitchellh no worries, thanks for clarifying.

@jemc you could edit out the comment and we'll maintain it by hand. Alternatively, you can write a script to generate it and check that in. Feel free to write the methods you need.

[2015-01-24 15:38] #3261 closed

[2015-01-24 16:42] jirutka opened #3295 "Keyword arguments are not passed to parent class when calling super without arguments"
#### Example

[code]
#### Expected output:

[code]

Tested on MRI 2.1.2, MRI 2.2.0, JRuby 9.0.0.0.pre1.
#### Actual output:

[code]

Tested on rubinius 2.5.0 (2.1.0 50777f41 2015-01-17 3.5.1 JI) [x86_64-darwin13.4.0].

[2015-01-25 02:41] brixen commented on #3291
@benweint I can't seem to run your repro: https://gist.github.com/brixen/e451819388c13b2f60c1

[2015-01-25 04:57] benweint commented on #3291
Gah, sorry about that @brixen - try running without the `nocache` flag, like this:

[code]

[2015-01-25 21:41] brixen commented on #3295
@jirutka thanks for reporting this. It should be a ridiculous amount of fun figuring out all the edge-cases here, like how a keyword object is split into separate Hashes based on the types of keys. Any chance you'd be able to add some specs for this behavior? See eg https://github.com/rubinius/rubinius/blob/master/spec/ruby/language/method_spec.rb and https://github.com/rubinius/rubinius/blob/mast

[2015-01-25 21:47] brixen commented on #3291
@benweint ok, that worked, thanks! But it didn't cause any fault on OS X (10.10). I'm curious about [this line in the output](https://gist.github.com/brixen/7bc655f59f0098a13026#file-gistfile1-txt-L3).

Is it possible that the code involved in the fault is running concurrently? If so, there could be a threading bug that isn't necessarily visible on MRI.

Would it be possible to extract the code in

[2015-01-25 21:52] brixen commented on #3256
@darix there's not much to go on in that system backtrace, unfortunately.

Does this happen on 2.5.0?

[2015-01-25 21:55] brixen commented on #1738
@lomereiter a bunch of this has been added, but without knowing what code was failing for you, it's impossible to know if we've fixed your issue. Please check if 2.5.0 works or, alternatively, provide the code that is failing.

[2015-01-25 21:55] #1738 closed

[2015-01-25 21:59] brixen commented on #2740
@thehappycoder I fixed an issue where File#reopen was not closing the original descriptor. Please test on 2.5.0 and re-open if you still have this issue.

[2015-01-25 21:59] #2740 closed

[2015-01-25 22:06] brixen commented on #2734
See https://github.com/rubysl/rubysl-openssl/issues/12

[2015-01-25 22:06] #2734 closed

[2015-01-25 22:09] brixen commented on #2682
The [ox Travis build](https://travis-ci.org/ohler55/ox) looks good on 2.5.0 at least. Thanks @ohler55 for making it work and please let us know if something breaks.

[2015-01-25 22:09] #2682 closed

[2015-01-25 22:12] brixen commented on #2678
This looks good to me under 2.5.0:

[code]

[2015-01-25 22:12] #2678 closed

[2015-01-25 22:13] brixen commented on #3291
@benweint was just reviewing older issues and came across this one https://github.com/rubinius/rubinius/issues/2674

[2015-01-25 22:31] brixen commented on #2471
@hosiawak I haven't been able to reproduce this on 2.5.0 running many times. If you are able to reproduce it, could you run with `-Xjit.debug -Xjit.inline.debug -Xjit.show -Xjit.sync` and include a gist of the output?

Closing this due to the age of the ticket because a lot of JIT and VM work has been done in the interim. Please re-open if you can provide the info above.

[2015-01-25 22:31] #2471 closed

[2015-01-25 23:09] brixen commented on #2507
@cpuguy83 to be able to debug something like this we either need to be able to run the code or we need your help to eg include some instrumentation for the code that is ultimately calling getaddrinfo.

I realize debugging these things can be frustrating. If you think of some tooling we could add to Rubinius to assist, please let us know.

[2015-01-25 23:09] #2507 closed

[2015-01-25 23:16] brixen commented on #2327
Current [Travis run](https://travis-ci.org/ruby-amqp/bunny/builds/48148052) seems to only be failing due to this https://github.com/rubysl/rubysl-socket/issues/7

[2015-01-25 23:16] #2327 closed

[2015-01-26 04:30] ohler55 commented on #2682
Sorry, thats not the final solution. I need to get it working as expected for all modes. That is just an experiment. I'll get it finished up this week though.

[2015-01-26 13:39] darix commented on #3256
Just grabbing a git snapshot I guess? What other details are you missing? we can try to get more details if needed. just ping me on irc.

[2015-01-26 18:35] ErnstA commented on #2916
Problem still occurs

rvm
rbx-head [ i686 ]
ruby -v
rubinius 2.5.0.n25 (2.1.0 af7eb1b4 2015-01-25 3.4 JI) [i686-linux-gnu]

[2015-01-26 22:34] slaught commented on #3222
The -Xint results for this bug in 2.5.1 are back in line with 2.2.10.

The JIT is even fast in 2.5.1.

@brixen thanks for fixing this!

rubinius 2.2.10 (2.1.0 bf61ae2e 2014-06-27 JI) [x86_64-darwin13.3.0]
[code]
rubinius 2.4.1 (2.1.0 b332f133 2014-12-04 3.5.0 JI) [x86_64-darwin13.4.0]
[code]
rubinius 2.5.1 (2.1.0 8fd046f3 2015-01-26 3.5.0 JI) [x86_64-darwin13.4.0]
[code]

[2015-01-27 01:51] cmc476 commented on #2303
bump...only thing keeping me from using rbx right now for a production app.

[2015-01-27 03:17] brixen commented on #3256
@darix both 2.5.0 and 2.5.1 are tagged. You can get tarballs [at the usual location](http://releases.rubini.us/index.txt).

[2015-01-27 13:46] darix commented on #3256
[2.5.1](https://build.opensuse.org/package/show/home:darix:ruby/rubinius2.5) crashes basically in the same place.

[2015-01-27 17:06] brixen commented on #3256
This appears to be related to this use-after-free https://gist.github.com/jemc/a2fdace1135310e3760b that @jemc found running Valgrind. Should have a fix shortly.

[2015-01-27 17:18] enovajuan commented on #3290
(old) API debug post, pretty interesting stuff: http://mon-ouie.github.io/posts/debugger.html - an item or two have changed from the time this was written, but its minor

[2015-01-27 17:55] jemc commented on #3256
Ah, so my valgrind poking was well-timed I see.

[2015-01-27 20:00] godfat opened #3296 "Random::DEFAULT is missing"
MRI/JRuby has this, and unfortunately, it does not seem to make much sense to have this in Rubinius given how Rubinius implements random. At first I just want to assign it with `Thread.current.randomizer` or `Thread.main.randomizer`, but a `Rubinius::Randomizer` is not a `Random`.

Any idea how we could add this, or just don't define it? I could probably just use `Random.seed` in my code, but MRI

[2015-01-27 20:10] godfat commented on #3296
Oops, I misread the code. There's no `Random.seed` defined in Rubinius.

[2015-01-28 00:52] mislav commented on #3275
When LANG contains `UTF-8`, that's a locale directive that Ruby respects by setting `Encoding.default_external` to UTF-8, i.e. reading in external input and files as Unicode. This is essential when gemspecs contain non-ASCII characters. In this case, installing gems works for me.

However when `LANG=C`, Ruby will load in external input as ASCII and choke on any non-ASCII characters. I can reproduc

[2015-01-28 20:37] brixen commented on #3296
@godfat I don't see a problem adding this constant. AFAIK, it's just an instance of Random. Is there some reason you see adding it would be a problem?

[2015-01-29 03:00] qen opened #3299 "active record has and belongs to many .includes"
my Project Model

[code]

when i run
[code]

i get this error
[code]

what's weird is that this does not happen on my dev machine...

rbx version on my dev machine
[code]
rbx version on production
[code]

[2015-01-29 04:02] jc00ke commented on #3299
Can you try with the latest version, 2.5.1?

Also, if it's still busted, can you extract a reproduction? Thanks!

[2015-01-29 05:09] godfat commented on #3296
@brixen Since `Rubinius::Randomizer` is stored inside a thread local, I would guess it's not thread safe. Setting `Random::DEFAULT` would mean it's shared amongst all the threads. Also, what `Rubinius::Randomizer` should the `Random` instance refer to? The one from main thread, or a whole new one? This might also take some memory which most people might never use.

[2015-01-29 06:44] qen commented on #3299
just tested in 2.5.1 ... works as expected :+1:

[2015-01-29 06:50] #3299 closed

[2015-01-29 15:46] ErnstA opened #3300 "Regular Expression does not match all Extended ASCII Characters"
On MRI the test examples below pass but on Rubinius one fails (as indicated below).
With the range up to \xfd it still works but for \xfe and \xff it fails!

[code]

One Ruby standard library fails because of this. See #2916

[2015-01-29 16:41] jasonrclark commented on #2678
Agreed, this is working on 2.5. Thanks @brixen!

[2015-01-30 04:19] ohler55 commented on #2682
I just merged a branch that I believe fixes the problem in the correct way. Let me know what you think.

[2015-01-31 09:52] heftig opened #3301 "Syntax error using keyword arguments"
`eval "def a b:; c []; end"` works in both MRI 2.2.0 and Rubinius 2.5.1.

`eval "def a b:\n c []; end"` works in MRI but causes a syntax error in Rubinius.

[2015-01-31 09:56] heftig opened #3302 "2.5.2 fails to build itself"
When attempting to build Rubinius using Rubinius 2.5.2, the build hangs after displaying `Running 198 tasks using 4 parallel threads`. Rake seems to be stuck in an infinite loop.

When using Rubinius 2.5.1 as system Ruby, the build completes.

[2015-01-31 11:01] YorickPeterse commented on #3302
Are you trying to build 2.5.2 into the same directory as the version you're using for the build? I believe that usually gives some problems. If so, try building into a different directory.

[2015-01-31 11:10] heftig commented on #3302
Necessarily the prefix is the same (/usr), since it's supposed to be a replacement. Since the prefix is set to a different directory than the source, the build system sets itself up to use a staging directory under the source.

Install uses DESTDIR so the products get redirected to yet another staging directory for packaging (/usr is not writable, anyway). Rubinius is packaged up from there. A pac

[2015-01-31 11:30] YorickPeterse opened #3303 "bundle install in rspec-mocks using specific Gemfile.lock segfaults Rbx"
When trying to take a look at the failures of rspec-mocks I ran a bundle install. The following combination of Gemfile/Gemfile.lock causes a segfault to occur when running `bundle install`.

Gemfile:

[code]

Gemfile.lock:

[code]

GDB log: https://gist.github.com/YorickPeterse/1dfd46ffe84bdf9479bd

Repro:

[code]

[2015-01-31 11:31] YorickPeterse commented on #3303
Note: rubysl is in the Gemfile.lock because it used to be added in the Gemfile. I bumped into this particular problem when trying to _remove_ rubysl from the Gemfile.

[2015-01-31 11:32] YorickPeterse commented on #3303
This is using `rubinius 2.5.2.n31 (2.1.0 2b0936a2 2015-01-31 3.5.1 JI) [x86_64-linux-gnu]`

[2015-01-31 11:36] YorickPeterse commented on #3303
This appears to be some sort of race condition as I'm now getting the following log output instead: https://gist.github.com/YorickPeterse/1dfd46ffe84bdf9479bd#file-gistfile2-txt

[2015-01-31 12:53] YorickPeterse commented on #3221
Added rspec-mocks to the list after talking to @samphippen. He mentioned the rspec team would like for rspec to pass on Rbx/Travis but they're currently having some issues with it. Travis failures:

https://travis-ci.org/rspec/rspec-mocks/jobs/48813684
https://travis-ci.org/rspec/rspec-core/jobs/48852957

Interesting enough some specs that fail on MRI seem to pass on Rubinius (e.g. `./spec/rspec/m

[2015-01-31 16:14] brixen commented on #3302
I know what the issue is, will push a fix shortly.

[2015-01-31 18:53] #3302 closed

[2015-02-01 02:18] brauliobo opened #3304 "Can't compile with rvm"
[code]

[2015-02-01 04:18] jc00ke commented on #3304
What version of llvm do you have installed?

[2015-02-01 09:37] YorickPeterse commented on #3304
Please see the contributing guide (https://github.com/rubinius/rubinius/blob/master/CONTRIBUTING.md), we need more than just a snippet of the compilation process' output.

[2015-02-01 10:20] brauliobo commented on #3304
@jc00ke 3.5 package in Ubuntu 14.10

[2015-02-01 10:21] brauliobo commented on #3304
also, I've got the same error with 2.4.1

[2015-02-01 21:45] burningTyger commented on #3304
you might want to cross reference to rvm, @brauliobo

[2015-02-02 01:27] brixen commented on #3304
@brauliobo could you please link to a gist of your configure.log and config.rb files.

[2015-02-02 01:46] brauliobo commented on #3304
`configure.log`:
[code]

[2015-02-02 01:47] brauliobo commented on #3304
Can't find `config.rb` on rvm temp dir:
[code]

[2015-02-02 02:21] brixen commented on #3304
@brauliobo I actually want the Rubinius configure.log. Looks like RVM is overwriting that, possibly? If RVM is overwriting it, that seriously sucks because it contains a bunch of useful information that could help explain why your system LLVM isn't working.

Sorry, we can't really help you with RVM issues. Could you try building from source?

[2015-02-02 02:23] brixen commented on #3304
@brauliobo is it possible that the build directory for Rubinius is somewhere else?

[2015-02-02 10:18] brauliobo commented on #3304
@brixen managed to clone rubinius git, checkout tag v2.5.2, run configure and rake. Got the same error, maybe it is related to llvm 3.5. The configure.log is at https://gist.github.com/brauliobo/f1ccf6aeb14f8588803b

[2015-02-02 15:22] brixen commented on #3304
@brauliobo I need config.rb as well.

[2015-02-02 15:26] brixen commented on #3304
@brauliobo also, run `llvm-config --cflags --cxxflags` and check that the `-I` path listed exists. Finally, check that `llvm/IR/Module.h` exists. If not, `ls -lR <the -I path above>`.

[2015-02-02 17:00] brauliobo commented on #3304
@brixen config.rb: https://gist.github.com/brauliobo/a28410714db220c47e67
[code]

`/usr/lib/llvm-3.5/include` don't exist!
`llvm-3.5-dev` was not installed by rvm! Shouldn't rubinius do a check for these files?

[2015-02-02 17:11] brauliobo commented on #3304
Compiled proceed, but now got another error:
[code]

[2015-02-02 17:15] brauliobo commented on #3304
(edited last comment)

[2015-02-02 19:20] brixen commented on #3304
@brauliobo it's not feasible to check for every include file specifically. We expect the package to be installed.

I'll build a Virtual Box machine with 14.10 and get the build to complete.

[2015-02-02 20:36] johnmcconnell opened #3305 "PTY: difference from between MRI 2.1 and RBX 2.4.1"
http://ruby-doc.org/stdlib-2.1.0/libdoc/pty/rdoc/PTY.html#method-c-open

[code]
should be valid ruby code according to those specs.
Right now, RBX shows:
[code]

[2015-02-02 20:42] jemc commented on #3305
@johnmcconnell
It could be that rubysl-pty (https://github.com/rubysl/rubysl-pty) just needs to be updated from MRI trunk - I could be wrong, but it doesn't look like there's anything rubinius-specific in its implementation (it's written as a C extension for the MRI C API).

[2015-02-02 20:53] jemc commented on #3305
Yeah, among the many changes to `pty.c` that have happened in MRI since `rubysl-pty` was last updated is that the arity of the `open` method as registered in `Init_pty` has changed from `0` to `-1`.  So the rubysl-pty gem just needs to be updated and it should "just work".

[2015-02-02 21:05] johnmcconnell commented on #3305
The pty library is being used from a rubygem? Are you saying I should issue a PR to the rubygem repo? with like an updated Gemfile.lock?

[2015-02-02 21:17] jc00ke commented on #3305
We gemified the stdlib, and we update the libraries from time-to-time. We'll get this one updated (over at rubysl/rubysl-pty#8) and then a simple `gem update rubysl-pty` or `bundle update` should take care of it.

[2015-02-02 21:17] #3305 closed

[2015-02-02 21:24] johnmcconnell commented on #3305
Okay great! This is one of the reasons rbx does not currently work on zeus.

[2015-02-02 23:23] fmfdias opened #3306 "Mismatch on Enumerator#size result between Rubinius and MRI"
Hi all,
Bumped into this situation yesterday.
When calling size on the enumerator returned by calling each_slice with no block, Rubinius and MRI return different values.

MRI 2.1.5, 2.2.0:
[code]
RBX 2.5.2
[code]

As a side note, [jruby 9000 pre1 also returns nil](https://github.com/jruby/jruby/issues/2553).

rbx version:
[code]

OS:
[code]

Thank you

[2015-02-03 02:49] brixen commented on #3304
@brauliobo from you config.rb it looks like gcc is 4.9. I've built with no issue on an ubuntu 14.10 box downloaded from http://www.vagrantbox.es/ and my gcc version is below:

[code]

Is there something special about your 14.10 or is it vanilla?

[2015-02-03 03:18] brixen commented on #3268
@sodabrew there is no way to "hide" instance variables from Ruby code (the concept is nonsensical) and all MRI achieves in doing so is impossible APIs instead of natural, object-oriented APIs (in an explicitly object-oriented language).

So, no, we are not ever going to add a way to "hide" Ruby instance variables, especially not when the API should just use them.

The disparity of code here concer

[2015-02-03 09:38] brauliobo commented on #3304
@brixen It is vanilla with few exceptions on `/etc/apt/sources.list.d`. I used the same version as yours:
[code]

[2015-02-03 12:02] brauliobo commented on #3304
@brixen the problem really seems to be with the option `-Werror`. Grepping for it I see it option on a number of files

[2015-02-03 12:15] brauliobo commented on #3304
commenting `-Werror` on `rakelib/blueprint.rb` fixed the problem.

[2015-02-03 12:16] brauliobo commented on #3304
Another error: `/usr/bin/ld: can't find library -ledit'. I think this and the llvm include files should be check on `configure`

[2015-02-03 12:59] pxlpnk opened #3307 "Kernel(Rubinius::Loader)#message (method_missing) when compiling rbx 2.5.2"
I tried to install rbx 2.5.2 on OSX 10.9.5 but it fails with the following:
[code]

The steps to reproduce:
[code]

[code]

[code]
I wanted to install it from source into the rbenv environment. Could it be that `rbenv 0.4.0` has any influence on this?
The same problem happens with:
`ruby 1.9.3p545 (2014-02-24 revision 45159) [x86_64-darwin13.1.0]`
and
`ruby 2.1.2p95 (2014-05-08 revision 45877) [x8

[2015-02-03 15:46] brixen commented on #3304
@brauliobo I did not comment out `-Werror` so I'm not sure why your system is having an issue with it.

For some reason, the llvm package does not correctly include the dependency for `-ledit`. You need to install `libedit-dev`.

[2015-02-03 15:53] YorickPeterse commented on #3304
The libedit requirement is a recent requirement of LLVM, see http://rubini.us/doc/en/getting-started/requirements/ for the specific package names required. It's possible `llvm-config` is, once again, adding extra warning flags that trigger errors on Rubinius (due to `-Werror`). We've had several cases like this in the past, resulting in various flags being blacklisted (e.g. https://github.com/rubi

[2015-02-03 15:53] brixen commented on #3307
This is fixed in master d759bfd91885be83b5534e97904ea0da7939ae5e

[2015-02-03 15:53] #3307 closed

[2015-02-03 15:55] YorickPeterse commented on #3307
@brixen Not so sure about that, we tried compiling from source during FOSDEM (Sunday to be exact) and we were still running into this particular problem.

[2015-02-03 17:55] brixen commented on #3307
@pxlpnk I just installed llvm 3.5.1 and rebuilt Rubinius on 10.10 with no issue. Unsure where to go from here for debugging this.

[2015-02-03 18:20] pxlpnk commented on #3307
The same things happen when using my system ruby (`ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin13]`).
So I think `rbenv` should not be the issue here. I have no idea either where to look. It seems that everything 2.5.x is not building. Haven't tested anything pre 2.5.0.

Seems like something on my system is broken. Thank you for your help.
Do you want to proceed investigatin

[2015-02-03 21:02] ErnstA commented on #3300
I have never done maintenance work on Rubinius and do not know how the existing specs need to be run.
Tried:

cd ~/.rvm/src/rbx-head/spec/ruby/core/regexp/*
gem install mspec
rspec escape_spec.rb
Missing or uninitialized constant: SpecGuard::RUBY_NAME

There are some specs for extended ASCII:
~/.rvm/src/rbx-head/spec/ruby/core/regexp$ grep xf * -ir
shared/new_ascii.rb:    a = "(?:[\x8E\xA1-\xFE])"

[2015-02-03 21:29] tmornini commented on #3300
Which version of Rubinius are you running?

[2015-02-03 21:37] brixen commented on #3300
@ErnstA the known-passing specs are run with `bin/mspec ci`. So, to run the Regexp specs, you can do `bin/mspec ci core/regexp`.

I see that you're trying to run the specs in your .rvm directory. That's probably going to be more pain than you want. Instead, work in a git clone:

[code]

When you make edits to Rubinius files, run `rake build` to rebuild. Then you can run `bin/mspec` again.

If you

[2015-02-03 22:08] ErnstA commented on #3300
@tmornini the regex problem occurs with
rubinius 2.2.10 (2.1.0 bf61ae2e 2014-06-27 JI) [i686-linux-gnu]
and
rubinius 2.5.0.n25 (2.1.0 af7eb1b4 2015-01-25 3.4 JI) [i686-linux-gnu]

[2015-02-03 22:09] ErnstA commented on #3300
@brixen thanks for the help. I will not be able to spend time on this before the weekend.

[2015-02-03 22:15] ErnstA commented on #2916
Until the regex problem is resolved I use a monkey patch on Net::IMAP and Net::IMAP::ResponseParser to avoid \xff and \xfe

So far this enabled me to connect to imap.gmail.com

[2015-02-03 23:29] brixen commented on #3307
Well, it's a confusing issue, for sure. I'm not finding any clear solution from googling and I can't reproduce it.

If you need to build Rubinius from source, we need to figure out what the issue is. If you just need to use Rubinius, we build binaries for OS X 10.8+ every release, so if we can make those more convenient for you (ie making them work with rbenv like they do with chruby), that's a be

[2015-02-04 00:14] YorickPeterse commented on #3307
It's worth mentioning I've experienced this same error a few times myself. However, every time I could solve the problem by removing the target installation directory and running `rake install` again. Having said that, the particular problem occurs very rarely so I'm not sure how to trigger it reliably.

[2015-02-04 00:18] brixen commented on #3307
@YorickPeterse ah, very interesting that you've seen it. If you see it again, could you `nm` all the object files to look for where this symbol occurs?

[2015-02-04 00:22] YorickPeterse commented on #3307
@brixen Will do

[2015-02-04 00:32] brixen commented on #3304
`-Werror` is always on for the vm files, so that's not LLVM's fault here.

[2015-02-04 00:37] brauliobo commented on #3304
end result: removed `-Werror` and installed `libedit-dev` and finished compilation (although some mspec tests failed).

but still I depend on a ruby manager to install it on the userspace, so currently I can't use rubinius.

[2015-02-04 01:40] hassan commented on #3304
@brauliobo - see `rvm help mount`

[2015-02-04 02:56] brixen commented on #3304
@brauliobo could you try `rvm use rbx-2.5.2 --install --binary --fuzzy`

[2015-02-04 06:42] pxlpnk commented on #3307
I did some more research yesterday and built rubinius on my system with a new user and all of a sudden it worked. So I went trough my configs and found this:
[code]
Which I added a year ago because homebrew would not build anything iirc.
Sorry for the troubles.

[2015-02-04 15:45] brixen commented on #3307
@pxlpnk oh, great to hear it's working! It's really confusing that clang reports as 4.2 so you can't easily tell which one the system is using.

[2015-02-04 17:01] brauliobo commented on #3304
@hassan nice, will try that

@brixen didn't work:
[code]

[2015-02-04 17:53] brixen commented on #3304
@brauliobo could you check with the RVM folks about that?

The index for Rubinius binaries (http://binaries.rubini.us) lists this:

http://binaries.rubini.us/ubuntu/14.10/x86_64/rubinius-2.5.2.tar.bz2

And I can access that file. So, either your RVM is broken for installing binaries, or the system matching is different than expected.

[2015-02-04 17:54] brixen commented on #3304
@brauliobo hm, I think I just realized what may be the issue: Is your system 32bit?

[2015-02-04 18:09] brauliobo commented on #3304
@brixen yeah, my system is 32bit. I chose because it use less memory. But yeah, maybe the next time I format I use a 64bit system.

[2015-02-04 18:19] brixen commented on #3304
@brauliobo heh, I'm so used to people using 64bit that it totally didn't register, sorry! I'll build a 32bit unicorn vbox machine and see if 1) I can repro your issue finally, and 2) build you a binary.

[2015-02-04 21:41] brixen commented on #3304
@brauliobo the issue you're hitting on the build comes from the LLVM header files and gcc. I can't fix it.

However, I installed the clang package and built 2.5.2 with `--cc=clang --cxx=clang++` and uploaded a binary. Please retry `rvm use rbx-2.5.2 --install --binary --fuzzy` to install 2.5.2 or build with clang.

[2015-02-04 21:41] #3304 closed

[2015-02-04 22:05] brauliobo commented on #3304
@brixen nice brixen, seems llvm can't be compiled with gcc. rvm should use these options to build rubinius.

just used your binary, it works!

[2015-02-04 22:07] brauliobo opened #3308 "Optimize loops"
It seems loops are not being optimized. See below:
[code]

[2015-02-04 22:37] brixen commented on #3308
@brauliobo the Rubinius JIT does not do on-stack-replacement (OSR). Essentially, you need to have the work load in a method that the JIT can compile. The method needs to exit so that the next invocation (after the JIT compiles it) can run the version the JIT created.

Please use issues for actionable things. In this case, you could look at the [rubinius-benchmark](https://github.com/rubinius/rubin

[2015-02-04 22:37] #3308 closed

[2015-02-04 23:55] brauliobo commented on #3308
@brixen thanks very much for the explanation! got 0,50s when putting the same code inside a method and ran it more than 3 times.

Sorry for dummy issue.

[2015-02-05 00:31] brixen commented on #3308
@brauliobo no worries! Visit us on Gitter if you want to chat more about stuff.

[2015-02-05 04:32] mustmodify opened #3309 "'scorched' gem fails miserably"
https://gist.github.com/mustmodify/ba6a3079517eda3ea049

    jw@logopolis:/projects/experiments/scorched-spike$ wc -l err.log
    5466 err.log
    jw@logopolis:/projects/experiments/scorched-spike$ cat err.log | sort | uniq | wc -l
    70

I hope to try to get an even simpler reproduction tomorrow. But who knows.

[2015-02-05 04:33] mustmodify commented on #3309
Works in MRI 2.1.4

[2015-02-05 04:45] brauliobo commented on #2163
I'm getting `undefined conversion for 'xxx' from UTF-8 to ASCII-8BIT` for all rails erb templates with utf-8 characters

Using version 2.5.2.

[2015-02-05 06:12] brixen commented on #3309
`Scorched::Options` inherits from `Hash` and redefines all `Hash` methods except for a handful to be aliases of `Scorched::Options#to_hash`:

https://github.com/Wardrop/Scorched/blob/master/lib/scorched/options.rb#L6

In Rubinius, `Hash#merge!` calls `Hash#__store__`, which Scorched made an alias of `Scorched::Options#to_hash`, which calls `Hash#merge`, which calls `Hash#merge!`, which calls `Hash

[2015-02-05 06:12] #3309 closed

[2015-02-05 06:24] jemc commented on #3309
@brixen beat me to the punch here with the explanation, but I'll chime in with a little extra:

@mustmodify, maybe you should hit them up with a pull request to use code that is a little more predictable - after seeing in the README for scorched that they tout the straightforwardness of their code and the virtue of eschewing magic for ease of understanding I think you should be able to sell them o

[2015-02-05 10:25] YorickPeterse commented on #2163
@brauliobo Please submit a new issue for that instead of necro-ing an existing one. Please also include a full stack trace and if possible a way to reproduce the problem.

[2015-02-05 10:39] YorickPeterse opened #3310 "Revise Thread::Backtrace::Location#path"
By now I've already fucked this one up twice, first thinking it always returns the basename and then thinking it's just an alias. Per notes in https://bugs.ruby-lang.org/issues/10561 the difference between `path` and `absolute_path` is as following:

* `absolute_path` _always_ returns the full path to the file `caller_locations` was called from.
* `path` returns the _basename_ when `caller_locatio

[2015-02-05 17:01] brixen commented on #3310
@YorickPeterse where are the MRI tests defining this behavior?

[2015-02-05 17:02] YorickPeterse commented on #3310
@brixen They are located at https://github.com/ruby/ruby/blob/9dc51967ef97808eacc2a900742a16aac2bd090b/test/ruby/test_backtrace.rb#L167-L186, although they are incredibly painful to digest. I'm not even sure if they properly assert the behaviour I described.

[2015-02-05 20:26] #3310 closed

[2015-02-06 10:49] jodosha commented on #3280
@brixen I'm really, really sorry for this late reply, but I've missed the notification email in a burden of inbox filters. I apologize, thanks to @jc00ke to make me notice this.

### Indifferent access is :-1:

It's a slow and hackish workaround. We receive a string hash but we want to be able to access with symbols too, because it's a common practice.

The solution that you suggested, requires mo

[2015-02-06 21:40] brixen commented on #3280
@jodosha thanks for your detailed response. My concern is destroying this meme about Symbols being used as some sort of performance magic wand. There are costs to creating and maintaining (including GC'ing) Symbols, etc.

I'm not suggesting that you monkey patch to make Symbol and String comparable. I'm suggesting someone convince MRI/Ruby of that.

Rubinius will GC Symbols at some point.

[2015-02-06 21:40] #3280 closed

[2015-02-07 20:05] saizai commented on #3307
@brixen When will this get into a version bump / rvm? (I'm seeing this in some errors in production.)

[2015-02-07 20:20] brixen commented on #3307
@saizai very soon, hopefully Monday latest.

[2015-02-08 14:01] wahjava commented on #3204
I've tried `2.5.2`, and the problem is not happening there anymore.

Thanks!

[2015-02-08 14:01] #3204 closed

[2015-02-08 14:13] saizai commented on #3307
@brixen Thanks! Would you mind pinging on this thread when it's bumped?

[2015-02-08 18:34] brixen commented on #3204
@wahjava pretty sure you were seeing the issue fixed in 6d1c999b9f63d12cf5148f3fda2deaab2378754b.

[2015-02-08 18:38] brixen commented on #3307
@saizai unfortunately, I'll probably forget, but I announce releases on https://twitter.com/rubinius. I'm open to suggestions for a better release notification mechanism. Maybe a specific RSS/Atom release feed at http://rubini.us?

[2015-02-08 20:59] jc00ke commented on #3307
If there's an RSS feed for tags on GitHub we can set up an RSS-to-email newsletter.

[2015-02-08 21:45] johnmuhl commented on #3307
@jc00ke there is https://github.com/rubinius/rubinius/releases.atom

[2015-02-08 22:32] brixen commented on #3307
@johnmuhl oh sweet, thanks! I was looking all over the UI for that.

[2015-02-09 18:28] jc00ke commented on #3307
Check out https://feed.press/ too, in case we want to set that up for those that don't use RSS.

[2015-02-10 17:39] tmornini opened #3312 "gem install digest-sha3 fails on 2.5.2"
[code]

[2015-02-10 17:47] tmornini opened #3313 "Exception running Puma: Unable to select on IO set (descriptor too big?) (IOError)"
[code]

[2015-02-10 17:50] brixen commented on #3312
@tmornini the digest.h file is part of the digest C-ext. Apparently, MRI copies it to its own include directory at some point. We'll probably need to do something similar with the pre-installed rubysl-digest gem.

Is there a Ruby alternative to this gem?

[2015-02-10 19:16] brixen commented on #3313
@tmornini is this something I can run?

[2015-02-11 02:52] tmornini commented on #3312
@brixen Yes, there are ruby alternatives. This one was #1 on Google for me though. :-)

[2015-02-11 02:55] tmornini commented on #3313
@brixen Sure, just gave you access to the repo.

[2015-02-11 04:00] brixen commented on #3313
@tmornini awesome! I'll check it out asap. I've got a bunch of thread-related fixes on master and a few more on the way.

[2015-02-11 04:16] asppsa commented on #2967
Ok, I've managed to do the GDB thing, but I haven't yet been able to produce a sample app for the problem.  The gist for the GDB is here: https://gist.github.com/asppsa/8fe8938c64b5181c7c57

Basically what I am doing to trigger this error is to start the server, and then hit it with lots of WebSocket requests until the error occurs.

I've put stuff into three files:

 1. 2967.log is the log file r

[2015-02-11 09:31] YorickPeterse commented on #2967
Hmpf, the backtrace of the thread crashing is as following:

[code]

This suggests that debugging symbols have been stripped. Is it possible to compile from source using `./configure --debug-build` (along side the other options you might've used) and try that again?

[2015-02-11 17:37] brixen commented on #2967
@asppsa I've got a ton of threading cleanup changes landing in master shortly. Once I do that (and hopefully release 2.5.3), can we try reproducing this?

[2015-02-12 02:54] asppsa commented on #2967
Ok, in the meantime I have tried again with `--debug-build`, and it looks like I got something different this time!  The gist is here: https://gist.github.com/asppsa/055db13474f4df4de5bf

Even I can see that this is not the same bug ... it is SIGPIPE this time.

I should mention that in-between these times I realised that I was running a very old version of Nokogiri (1.6.0), so I updated it to 1.6

[2015-02-12 03:00] ghazel commented on #2967
As I mentioned above, you probably should just ignore SIGPIPE: https://github.com/rubinius/rubinius/issues/2967#issuecomment-42901603

[2015-02-12 05:58] brixen commented on #2967
@asppsa that's a lot of threads! :) As @ghazel  said, SIGPIPE is probably misleading. You can ignore it in gdb with something like `handle sigpipe nostop ignore`. I've got changes specifically for `Thread#join` on the way.

[2015-02-12 16:14] bjfish commented on #3312
@brixen I think this happens around line 2317   https://github.com/ruby/ruby/blob/af5b7053f17b61681b7c492800cc8bf347de1cdd/lib/mkmf.rb

[2015-02-12 19:11] jzakiya opened #3314 "2.5.2 method sequence regression"
I seem to have found a regression between two equivalent method chains.

In MRI 2.2 and JRuby 1.7.19  1) is (slightly but consistently) faster  than 2).
In RBX 2.5.2  2) is significantly slower than 1), but 1) is supposed to be faster AND better coded.
Included is gist file of benchmarks to show difference in performance.

https://gist.github.com/jzakiya/f13e8e5e57a295a5c7b3

1) res.any? {|r| n%(r

[2015-02-12 19:27] jc00ke commented on #3314
@jzakiya can you provide an executable example? What's `res` supposed to be? A list of integers?

[2015-02-12 19:32] YorickPeterse commented on #3314
Also, please use https://github.com/evanphx/benchmark-ips instead of the regular Benchmark module as the latter doesn't take JIT warmups into account.

[2015-02-12 21:39] jzakiya commented on #3314
I changed the gist code to use benchmark-ips.
https://gist.github.com/jzakiya/f13e8e5e57a295a5c7b3

res is an array of integers (all numbers are integers).

If you load the file the benchmark will automatically run.

The only difference between primzpa? and primzpb? is the line indicated in my first post, pointed to in the code.  If you run the benchmark on MRI and JRuby you will see what I'm talk

[2015-02-12 22:40] benweint opened #3316 "Subtracting a 0-valued Bignum from a Fixnum raises a TypeError"
The following Ruby code raises an exception on rbx-2.5.0, but does not on MRI 2.2.0 or JRuby 1.7.16:

[code]

On MRI and JRuby, this expression yields a value of 1. (The `(0x3FFFFFFFFFFFFFFF+1).coerce(0).first` bit is just the easiest way I could find to produce a `Bignum` object with a value of zero - there may be a simpler way.)

On Rubinius 2.5.0, I get the following exception:

[code]

System

[2015-02-12 22:49] YorickPeterse commented on #3316
Backstory for this can be found here: https://github.com/newrelic/rpm/pull/197#issuecomment-74133249

[2015-02-12 23:01] jzakiya commented on #3314
Oh, I forgot to tell you this is for a 32-bit build.
I haven't tested in on a 64-bit system yet.

[2015-02-12 23:08] brixen commented on #3314
@jzakiya what do you mean by "regression" in your title? A regression in Rubinius is something broken or not performing in a later version relative to a previous version of Rubinius, not relative to MRI.

[2015-02-12 23:11] jemc commented on #3316
Note that this happens for any usually-Fixnum integer put into the `coerce` (not just zero), and only happens when subtracting from a Fixnum (not when adding).

[2015-02-12 23:26] jemc commented on #3316
In C++, `Bignum::normalize` returns `Fixnum::from(val)` if the number is small enough to fit inside a Bignum, otherwise returns the original Bignum.  However, `Fixnum::sub` is assuming that it's dealing with a Bignum at that point (`as<Bignum>`).

I think knowing this, I can fix it.

[2015-02-12 23:57] jc00ke commented on #3314
`Enumerable#any?` will go through [at most once](https://github.com/rubinius/rubinius/blob/b0825d87409b21ac80f123b5dbd8889df35a3e8c/kernel/common/enumerable.rb#L344-L351) where `Enumerable#map#include?` loops through up to 2x, once for the `#map` and up to once for `#include?` [(notice the `#each`)](https://github.com/rubinius/rubinius/blob/b0825d87409b21ac80f123b5dbd8889df35a3e8c/kernel/common/en

[2015-02-13 01:01] asppsa commented on #2967
Ok, sorry about that. I've added @ghazel's `handle` command and this time I have a SIGSEGV.  The gist is here: https://gist.github.com/asppsa/4c278bd298ca20d66242

I'll now await @brixen's threading changes before trying again.

Thank you to all of you for your work on Rubinius!

[2015-02-13 03:18] brixen commented on #3313
@tmornini I've loaded the app on master HEAD and also run test:spec and test:client. I couldn't get the setup done for the other tests.

I hope to release 2.5.3 tomorrow. Please re-open or file a new issue if the app doesn't work with 2.5.3.

[2015-02-13 03:18] #3313 closed

[2015-02-13 03:38] jzakiya commented on #3314
Could you please post the benchmarks results you get.
On my system, using res.any? is about 1.5 times slower in both cases:

                     primzpa?          primzpb?
for prime1:  11.423584s     17.324351s
for prime2:  35.721200s     54.436080s

On MRI 2.2 and JRuby 1.7.19  primzpb? (using res.any?) is always slightly faster.
I can only conclude 2.5.2's implementation of array.any? is signif

[2015-02-13 06:21] #3316 closed

[2015-02-13 08:30] YorickPeterse commented on #2967
Relevant snippet of the crash:

[code]

Is this using the mysql2 Gem?

[2015-02-13 08:42] asppsa commented on #2967
@YorickPeterse yep, currently version 0.3.17 of mysql2

[2015-02-13 10:53] YorickPeterse commented on #2967
This might be related to the problems discussed in https://github.com/rubinius/rubinius/issues/2662.

[2015-02-13 20:58] brixen commented on #3314
@jzakiya we generally don't accept performance tickets unless they have a very narrow scope, a good benchmark, and a patch that specifically fixes the narrow scope. I'll attempt to explain the reasons for this policy:

1. Performance is a global property, but people usually look at it as a local property. Since the trade-off between space and time is fundamental in computation, it's possible to ma

[2015-02-13 20:58] #3314 closed

[2015-02-13 22:41] #3306 closed

[2015-02-14 05:15] brixen commented on #3312
@tmornini this is the first time we've ever hit this issue. I wonder if a good solution would be to just include sha3 into Digest rubysl-digest gem. There's probably not a good reason it's not included in MRI other than MRI bundled standard libraries often being out of date.

[2015-02-14 07:21] bjfish commented on #3221
This dashboard is a very early WIP:
https://github.com/bjfish/rubinius-gem-dashboard

but it does provide at a glance the gems listed above

[2015-02-14 07:26] bjfish commented on #3221
Add PR for Psych https://github.com/tenderlove/psych/pull/224

[2015-02-16 09:46] tmornini commented on #3312
@brixen Shouldn't the gem I used just work? Happy to open a PR on the gem if it's something they need to fix.

[2015-02-16 15:06] brixen commented on #3312
@tmornini the question isn't whether it should work on not, but what we should do to make it work. The situation is somewhat like a Ruby library that expects to use the Ruby Digest class, but without calling `require "digest"` (which it should, because Digest is part of the standard library, which is available via `require`) because it can just go look at the path where the the file is installed.

[2015-02-17 04:13] tmornini commented on #3312
@brixen I see.

Am I correct in my belief that if the gem had a ```'require 'digest'``` in the code, all would be fine?

[2015-02-17 16:41] brixen commented on #3312
@tmornini no, `require 'digest'` wouldn't help here. The digest-sha3 C-ext is trying to use a header file that is part of digest C-ext.

[2015-02-17 20:47] tmornini commented on #3312
@brixen Got it.

[2015-02-17 22:58] johnmuhl opened #3319 "Error running rake doc:rails"
[Error output](http://git.io/NjJB)
[Rails app](https://github.com/johnmuhl/rbx-doc-rails)

[code]

[2015-02-18 03:46] brixen commented on #3319
@johnmuhl thanks for putting this in a repo with a README! That makes it so much easier to debug.

I wasn't able to reproduce this in one run. I had a watch of `lsof -p` running and never saw a file descriptor greater than 9 created. This was my output:

[code]

Is this consistently reproducible for you? The error is coming out of the C-API, which is consistent with this line in the backtrace http

[2015-02-18 03:48] brixen commented on #3319
@johnmuhl I should add, I was running on f241e40cae built with `--debug-build`.

[2015-02-18 11:12] ryoqun commented on #3122
@brixen any update on this? By the way, I've experienced similar JIT issue while heavily using mongo driver... I'll comment about this later.

[2015-02-18 14:25] johnmuhl commented on #3319
Yes it happens consistently. I tried a `--debug-build` of master but got the same error as with 2.5.2. Same thing also happens with Rails 4.1.9 so it's not specific to 4.2.x.

[code]

[2015-02-18 14:36] ruipserra opened #3321 "Incorrect behavior of Array#slice!(start, length)"
I ran into this issue with the Array#slice! method:

[code]

This happens when the `length` argument is 0 or any positive value. On the other hand, if `length` is negative, we get the following:

[code]
whereas MRI returns nil.

Rubinius version:
`rubinius 2.5.2 (2.1.0 7a5b05b1 2015-01-30 3.5.0 JI) [x86_64-darwin13.4.0]`

OS:
`Darwin Kernel Version 13.4.0: Sun Aug 17 19:50:11 PDT 2014; root:xnu-24

[2015-02-18 16:57] jemc commented on #3122
I can't reproduce on my machine with HEAD using any of the above repros.

[2015-02-18 16:58] chewi commented on #3122
I'll give it another try as soon as I can.

[2015-02-18 17:01] YorickPeterse commented on #2026
This still occurs as of Rbx 2.5.1

[2015-02-18 17:02] jemc commented on #3122
Okay, reproduced with `RBXOPT=-Xjit.show` to see what methods are getting compiled just before the failure.

After a few runs, it looks like the compiling of `ANONYMOUS#grep` is the culprit:
[code]

[2015-02-18 17:05] YorickPeterse commented on #2241
Do we have any repro for this, and does the problem still occur to begin with?

[2015-02-18 17:05] YorickPeterse commented on #2243
Any update on this?

[2015-02-18 17:09] YorickPeterse commented on #2603
The first snippet seems to work the same on both MRI 2.1.4 and Rbx 2.5.1, the latter still misbehaves on Rbx.

[2015-02-18 17:15] YorickPeterse commented on #2662
@sayap Did you manage to figure out a way to reproduce this in the mean time?

[2015-02-18 17:41] jemc commented on #3122
So what's happening in each iteration of the loop is that `[:bb]` is grepped looking for objects that satisfy `ActiveRecord::Relation === o`, and `[:aa]` is grepped looking for objects that satisfy `Symbol === o`.  Normally, only the `[:aa]` grep finds a match.  On the failing iteration of the loop, `ActiveRecord::Relation === :bb` is somehow found to be true and `:bb` gets yielded.  The ActiveRec

[2015-02-18 17:42] ryoqun commented on #3122
@brixen here is another repro using bson (mongo). jit has some problem compileing the === and case/when, it seems

[code]

suspicious jitted code

[code]

[2015-02-18 17:45] ryoqun commented on #3122
@jemc great investigation! I reached to the same conclusion in the past. No time to write such a detailed explanation... ;)

[2015-02-18 17:48] jemc commented on #3122
@ryoqun
We have a way to write JIT specs now.  Please see the handful of examples in `./spec/jit`.  If you want to speed this along, probably the best thing you can do is write a failing JIT spec there.

[2015-02-18 18:57] YorickPeterse commented on #2685
Still occurs on commit 4417909e57f781fc14f6dda55964c5f34696f9c2.

[2015-02-18 19:00] YorickPeterse commented on #2764
Closing this one as various changes have been made to the build system since. Feel free to re-open this issue if it surfaces again.

[2015-02-18 19:00] #2764 closed

[2015-02-18 19:02] YorickPeterse commented on #2765
@kevinzhow Have you had any time to dig into this since first reporting and/or continued to experience the problem using newer versions of Rubinius?

[2015-02-18 19:03] YorickPeterse commented on #2772
Still the case as of 4417909e57f781fc14f6dda55964c5f34696f9c2.

[2015-02-18 19:10] YorickPeterse commented on #2826
This still produces said error:

[code]

One-liner:

    rbx -e 'a = "11111"; 100_000.times { a.size.times { |i| a[i] } }'

This doesn't occur when disabling the JIT.

[2015-02-18 19:15] YorickPeterse commented on #2841
Do these crashes still occur using Rubinius 2.5.2?

[2015-02-18 19:18] YorickPeterse commented on #2842
This still occurs as of 4417909e57f781fc14f6dda55964c5f34696f9c2. Repro:

[code]

Run the script, then in a separate terminal window run `pry-remote`.

[2015-02-18 19:24] YorickPeterse commented on #2876
rbenv made various changes recently for supporting Rubinius 2.5 and such. I'm closing this issue for the time being but feel free to re-open if the problem surfaces again.

[2015-02-18 19:24] #2876 closed

[2015-02-18 19:26] YorickPeterse commented on #2993
Does this problem still occur using Rubinius 2.5.2? If so, could you provide a way for us to reproduce the problem?

[2015-02-18 19:27] YorickPeterse commented on #2973
Does this problem still occur on Rubinius 2.5.2? If so, could you provide a way for us to reproduce the problem?

[2015-02-18 19:31] YorickPeterse commented on #2966
The following snippet from the log seems to be the culprit:

[code]

Does this still occur when using Rubinius 2.5.2?

[2015-02-18 19:32] YorickPeterse commented on #2964
Closing this issue, if the problem still persists (or re-surfaces) feel free to re-open this issue.

[2015-02-18 19:32] #2964 closed

[2015-02-18 19:34] YorickPeterse commented on #2963
Does this still occur on Rubinius 2.5.2? If so, could you provide a way for us to reproduce it?

[2015-02-18 19:36] YorickPeterse commented on #2959
This still occurs as of 4417909e57f781fc14f6dda55964c5f34696f9c2.

[2015-02-18 19:37] YorickPeterse commented on #2958
Does this problem still occur on Rubinius 2.5.2?

[2015-02-18 19:38] YorickPeterse commented on #2951
Still occurs as of 4417909e57f781fc14f6dda55964c5f34696f9c2.

[2015-02-18 19:41] YorickPeterse commented on #2941
This no longer occurs as of 4417909e57f781fc14f6dda55964c5f34696f9c2 as we (since a short while) now use Psych as the default YAML engine.

[2015-02-18 19:41] #2941 closed

[2015-02-18 19:44] YorickPeterse commented on #2939
Still occurs as of 4417909e57f781fc14f6dda55964c5f34696f9c2. GDB logs: https://gist.github.com/YorickPeterse/59bdb982a3afcda1a6cc

[2015-02-18 19:49] YorickPeterse commented on #2920
What's the status of this, do these problems still occur when using Rubinius 2.5.2?

[2015-02-18 20:35] johnmuhl commented on #2973
@YorickPeterse I re-ran that old build or mine and it's working now. Seems like it was probably a Travis issue.

[2015-02-18 22:58] binaryplease opened #3322 "The Rubinius process is aborting with signal: SIGSEGV"
Hi, I ran into this error:

http://pastie.org/9959209
https://gist.github.com/binaryplease/c398d495f84904dc11ab

The project is pretty big and I can't really figure out what the problem is. Using the default ruby implementation "ruby-head" doesnt throw this error.
Also the code runs a few minutes and stops then, so debugging is a bit problematic.
How do I fix this? How do I find out what causes th

[2015-02-18 23:38] YorickPeterse commented on #3322
Are you using mysql2 in this project? Also, if you have GDB installed can you share a Gist of the GDB backtraces (see http://rubini.us/doc/en/how-to/obtaining-gdb-backtraces/ on how to do this).

[2015-02-19 00:07] binaryplease commented on #3322
Hi im using the mysql gem. not mysql2 though.

I followed the gdb instructions you gave. Here is the result:

https://gist.github.com/binaryplease/594c441e9bf1bbefddeb

[2015-02-19 02:01] jemc commented on #2959
Looks like @jc00ke's two commits somehow got reverted.  If reapplied, they should fix this.

[2015-02-19 09:32] YorickPeterse commented on #3322
@binaryplease Is it possible for you to try out mysql2 (https://github.com/brianmario/mysql2)? It's a more modern MySQL driver and they spent quite some time recently getting it up and running on Rubinius.

Sadly the logs don't really provide much information due to the lack of debugging symbols. If you're up for it you can build Rubinius from source using `./configure --debug-build` (and any othe

[2015-02-19 10:00] binaryplease commented on #3322
Ok, I'will try mysql2 then. It will take me a few days unill I get it done, then I will report back. Also, does sqeuel (http://sequel.jeremyevans.net/) work with rubinius?

[2015-02-19 10:20] YorickPeterse commented on #3322
The Sequel Gem works fine with Rubinius yes.

[2015-02-19 10:26] ryoqun commented on #3122
this may be related to https://github.com/rubinius/rubinius/issues/2826#issuecomment-74926948

[2015-02-19 12:07] weemanjz commented on #2966
There is a different error now:
https://gist.github.com/weemanjz/716bb24e5dca567925ce

[2015-02-19 12:18] YorickPeterse commented on #2966
This is caused by the following: https://github.com/couchbase/couchbase-ruby-client/blob/1d17825f0352f42ccc59f17ab3003d349807fccb/ext/couchbase_ext/couchbase_ext.h#L77-L79

This can probably be solved by adding a `#define HAVE_TYPE_ST_INDEX_T 1` somewhere in our C CAPI.

[2015-02-19 18:15] binaryplease commented on #3322
Ok ill try that one then. Just have to find and install a good mysql driver for it.

[2015-02-19 18:48] bjfish commented on #3221
New Dashboard http://bjfish.github.io/rubinius-gem-build-status/

[2015-02-19 20:06] brixen commented on #3322
@binaryplease from your [backtrace](https://gist.github.com/binaryplease/c398d495f84904dc11ab#file-gistfile1-rb-L25), it appears that you could be running into an issue with thread-safety of `getaddrinf`, `gethostbyname`: https://encrypted.google.com/search?hl=en&q=gethostbyname%20getaddrinfo%20thread%20safe

[2015-02-19 22:25] YorickPeterse commented on #3322
@binaryplease You can use mysql2 with Sequel, but you can also use the former _without_ Sequel.

[2015-02-20 00:10] binaryplease commented on #3322
@brixen I don't use that functions explicitly. The might be called by nokogiri gem or by mechanize, but I would have assumed that they are thread-safe. Also the problem doesn't occur with standard mri and takes about 10 minutes to occur with rubinius.

[2015-02-20 08:30] YorickPeterse commented on #3322
@binaryplease Nokogiri doesn't do any domain resolution, so that is unlikely. Mechanize doesn't have a C extension so it's unlikely to be the culprit. Looking at the backtrace it's much more likely that the mysql Gem uses this to, probably, look up a server address.

MRI has the GIL which prevents multiple threads from running in parallel (with the exception of some IO related things). It not occu

[2015-02-20 13:35] committance commented on #3322
Hi,
I tested the mysql2 gem without sequel. The error persists no change whatsoever.
The stacktrace is the same.

So how do I continue?

[2015-02-20 13:36] binaryplease commented on #3322
Hi,
I tested the mysql2 gem without sequel. The error persists no change whatsoever.
The stacktrace is the same.

So how do I continue?

[2015-02-20 14:13] YorickPeterse commented on #3322
Do you have some sort of sample script that we can use to reproduce the problem?

[2015-02-20 15:13] binaryplease commented on #3322
@YorickPeterse Thats the problem. The project is big and It runs a few minutes without problems before crashing.
I cant figure out where it crashes. If you see in the  backtrace which file/line is problemtatic I can look into it.

[2015-02-20 16:03] brixen commented on #3322
@binaryplease MRI has a global lock. Your Ruby threads are never running in parallel. So whether it works on MRI tells us nothing of value.

What I linked you to is likely the issue. Where that is getting called, I'm not certain without being able to run your code. Rubinius logs the backtrace of all the Ruby threads if it's able to do so. Your output shows this https://gist.github.com/binaryplease

[2015-02-20 17:25] brixen commented on #3321
@ruipserra just FYI, if you add eg `Fixes #3321` to your PR commit message, when the PR is merged, the issue automatically gets closed.

[2015-02-20 17:36] #3321 closed

[2015-02-20 17:47] ruipserra commented on #3321
@brixen thanks, I didn't know that.

[2015-02-20 17:54] binaryplease commented on #3322
@bixen I just made a test uninstalling any mysql gems and replacing my mysqlbackend methods with an simple array filled with test data. The error occured anyway. So th mysql gem can't be the issue.

[2015-02-20 18:14] bjfish opened #3325 "Incorrect parameter passed to inject inside each block"
The following w and h variables inside the inject are incorrectly being set to the width and heigh params of the each block:

rbx-2.5.2

[code]

Expected result:

ruby-2.1

[code]

[2015-02-20 19:33] YorickPeterse commented on #3325
What is the expected output/behaviour in this case?

[2015-02-20 20:04] brixen commented on #3322
@binaryplease given that you're running a crawler using Mechanize using Net::HTTP using DNS somewhere, I wouldn't be surprised that it's not mysql gem, nor that you have a potential threading issue.

The confusing thing is that most of what I read on google says that `getaddrinfo` is supposed to be thread-safe, but this backtrace would appear to contradict that https://gist.github.com/binaryplease

[2015-02-20 21:39] bjfish commented on #3325
@YorickPeterse I've added the expected output above.

[2015-02-20 21:59] YorickPeterse commented on #3325
Hm, interesting. If you're up for it you can write a spec. Doing so in https://github.com/rubinius/rubinius/blob/master/spec/ruby/core/enumerable/shared/inject.rb is probably the best, although the file currently looks a bit daunting. If possible try to trim down the spec to the bare minimum required to reproduce the problem, right now the example is a bit difficult to read due to the length.

[2015-02-21 16:48] bjfish commented on #3325
@YorickPeterse a little shorter example
[code]

[2015-02-21 19:33] binaryplease commented on #3322
@brixen I understand that its complicated without having the actual code, but I ran it with gdb, waiteed for the segv and posted the output as a gist above. I just dont really know how to use this backtrace properly.

You mentioned that DNS might be a problem. Would it then be a solution to translate the hosts to IP adresses first and use mechanize with the IPs? That should gt rig of DNS if I unde

[2015-02-21 19:58] brixen commented on #3322
@binaryplease I looked more closely through the Ruby backtrace output:

Thread 3094: [Socket::Foreign.getaddrinfo in /home/binaryplease/.rvm/rubies/rbx-2.5.2/gems/gems/rubysl-socket-2.0.1/lib/rubysl/socket.rb:393 (+226 jit)](https://gist.github.com/binaryplease/c398d495f84904dc11ab#file-gistfile1-rb-L242)
Thread 3114: [Socket::Foreign.getaddrinfo in /home/binaryplease/.rvm/rubies/rbx-2.5.2/gems/ge

[2015-02-21 20:00] brixen commented on #3322
@binaryplease it is definitely frustrating that docs appear to say `getaddrinfo` is thread safe but your backtrace appears to contradict that quite clearly.

[2015-02-21 21:03] binaryplease commented on #3322
Ok,
I changed my the implementation in my project to use only one mechanize agent per thread and it ran a lot longer before the error occured.

I can't use only one mechanize agent in the whole crawler because that would drop the performace too much as I need to retrieve more than one page at once if the server is responding slowly.

This is the stacktrace

https://gist.github.com/binaryplease/159

[2015-02-22 11:32] binaryplease commented on #3322
Sorry for double posting, but i found this:

https://coderrr.wordpress.com/2007/12/06/backgrounding-tasks-in-rails-with-threads-and-using-resolv-replace-to-make-them-faster/

I advises to use "require 'resolv-replace'" when working woth threads. I think this could be a solution, but I dont know how to use it, as requiring it gives me a load error and there is no gem by this name.

What do I need t

[2015-02-22 18:02] godfat commented on #3227
Just run into this. Here's the ticket for reference:
https://github.com/rubysl/rubysl-socket/issues/7

[2015-02-22 19:21] brixen commented on #3322
@binaryplease if your "agent per thread" is calling this function on more than one thread at the same time, you have the same problem.

I'm not suggesting you use one mechanize agent per process. This is what I suggested:

In other words, you'd have N threads running mechanize but either 1) you resolve all hosts to IPs beforehand, or 2) you have a single thread that provides a service to resolve h

[2015-02-22 21:43] bjfish opened #3326 "gem install ruby-shadow fails on travis"
This command fails on travis

[code]

[code]

Link to build:
https://travis-ci.org/bjfish/rbshadowtest/pull_requests

[2015-02-22 21:54] YorickPeterse commented on #3326
Code in question: https://github.com/apalmblad/ruby-shadow/blob/4231a4838fd50022b112838f114ee0586e119605/shadow/shadow.c#L149

We don't have the macro `RSTRUCT_PTR`, which probably triggers this particular problem. Since we generally don't support anything that relies on MRI's rstruct stuff I doubt we'll add this macro.

[2015-02-22 21:58] bjfish commented on #3326
@YorickPeterse  What would be the suggested long term fix for this then if this particular macro won't be supported? Thanks.

Another build which fails because of this dependency:
https://travis-ci.org/chef/chef/jobs/51750965

[2015-02-22 22:01] YorickPeterse commented on #3326
The long term fix would be for C extensions, and in this case ruby-shadow, to not depend on MRI internals such as these. In this case it looks like it's extracting values from an Array, if this is the case then it should instead use `rb_ary_entry()` (e.g. `rb_ary_entry(entry, i)` in this case).

[2015-02-23 10:14] committance commented on #3322
Hi,
I'm trying the solution you proposed. It seems to work, just not very good. I get no segv but the performance drops drastically. I also get problems redirecting and not finding some sites. I might have erros converting the url to an ip.

This is what I used:

    def ip(url)
        ip = '0.0.0.0'
        host = URI.parse(url).host

        begin
        @lock.synchronize do
            ip = I

[2015-02-23 10:15] binaryplease commented on #3322
Hi,
I'm trying the solution you proposed. It seems to work, just not very good. I get no segv but the performance drops drastically. I also get problems redirecting and not finding some sites. I might have erros converting the url to an ip.

This is what I used:

    def ip(url)
        ip = '0.0.0.0'
        host = URI.parse(url).host

        begin
        @lock.synchronize do
            ip = I

[2015-02-23 10:21] YorickPeterse commented on #3322
@binaryplease One option is to test if the original code works when using a global lock around any mechanize interactions, although performance would suffer from this as well. An example of such a lock for the AWS SDK: https://github.com/aws/aws-sdk-ruby/issues/455#issuecomment-48486235

[2015-02-23 10:25] binaryplease commented on #3322
Ok, Ill put a Mutex around the lines "agent.get(url)" and "agent.head(url)" that should ensure only one resolving process is running.

[2015-02-23 14:46] bjfish opened #3327 "gem install rbtrace compilation fails"
Mac OSX
Rubinius 2.5.2

[code]

[2015-02-23 16:15] YorickPeterse commented on #3327
Looking at the source code rbtrace seems to rely on MRI specific tracing/debugging APIs such as `rb_frame_method_id_and_class` and `rb_add_event_hook`. We currently don't support these and I doubt we'll ever will (or even can support them).

[2015-02-23 16:38] binaryplease commented on #3322
@YorickPeterse I created  muex in a global variable and used it with synchcronize on the relevant mechanize parts. The error didnt occur, but the performance is not usable. I am way slower than with MRI Ruby and no Mutex.

Is there a possibility to replace the dns resolver used in mechanize? I have been looking around but can't find a solution.

[2015-02-23 16:49] YorickPeterse commented on #3322
@binaryplease No idea to be honest. Interesting enough I've been running plenty of network related applications on Rubinius over time and I've never bumped into this particular problem. I doubt it's platform related since we're both running Arch Linux (at least by the looks of it).

If you could cook up some small script that reproduces this some way that would be of great help to us in finding ou

[2015-02-23 16:56] binaryplease commented on #3322
https://books.google.de/books?id=E_KMa5Zab0MC&pg=PA507&lpg=PA507&dq=ruby+resolv::dns+thread+safe&source=bl&ots=eA6H4fuERa&sig=ETp4i95ns0LIAC8ZIs2kO3aKNaE&hl=de&sa=X&ei=eVjrVN_sB9DkatGUgsgL&ved=0CCsQ6AEwAQ#v=onepage&q=ruby%20resolv%3A%3Adns%20thread%20safe&f=false

Just found this. It is for ruby 1.9 but it says to include 'resolv' and 'resolv-replace' to make dns requests thread safe.

I can requi

[2015-02-23 16:58] YorickPeterse commented on #3322
resolv-replace looks easy enough to copy into rubysl-resolv: https://github.com/ruby/ruby/blob/trunk/lib/resolv-replace.rb

I'll see if I can copy this into the Gem, maybe add some tests (if worth the pain) and release it somewhere later this night.

[2015-02-23 17:07] binaryplease commented on #3322
@YorickPeterse Cool. I don't really know how to do it myself, but If you let me know, I'll be happy to help testing and see if it solves the problem.

[2015-02-23 20:08] binaryplease commented on #3322
This might be relevant:
https://github.com/rubinius/rubinius/issues/2303

[2015-02-23 21:10] YorickPeterse commented on #3322
@binaryplease I updated and release a new version of rubysl-resolv which contains resolv-replace. Sadly for the time being you'll have to build Rubinius from source (until the next release) as pre-packaged rubysl Gems take priority over Gem installed ones.

[2015-02-23 21:13] binaryplease commented on #3322
@YorickPeterse Can you link me to some instructions for setting this up in Arch?

[2015-02-23 21:32] YorickPeterse commented on #3322
@binaryplease We can't really help with RVM, but building Rubinius from source itself is just a matter of running the following:

    git clone git@github.com:rubinius/rubinius.git
    cd rubinius
    bundle install
    ./configure --prefix=path/to/directory/to/install/rubinius/in
    rake install

If you have clang installed I recommend using the following configure command instead:

    ./config

[2015-02-23 21:46] brixen commented on #3319
@johnmuhl could you try running it under gdb/lldb? Set a breakpoint in the C-API code corresponding to that error (it's easy to find if you grep) and get `lsof` output as well.

[2015-02-23 23:09] binaryplease commented on #3322
Ok I installed as described.

But I have an error with ip_address_list

    NoMethodError: undefined method `ip_address_list' on Socket (Class)

running this in irb is enough to reproduce:

    require 'socket'
    ip = Socket.ip_address_list.detect{|intf| intf.ipv4_private?}

[2015-02-23 23:45] johnmuhl commented on #3319
[lldb output](https://gist.github.com/johnmuhl/7d3545dca1a74c1d8e2b)

[code]

[2015-02-24 01:34] kyledrake commented on #3302
I believe I may have some flavor of this, it hangs on the rake command:

[code]

This was run on master with commit e8a242769ba0cf2cfd373ec578541f12ebf840bd

[2015-02-24 05:21] jemc commented on #3302
@kyledrake
I think your problem is different - it looks like your installation is hanging during tests, not build.  Is it consistently hanging for you?

[2015-02-24 05:37] kyledrake commented on #3302
It seemed to be hanging with no CPU activity. 2.5.1 does not appear to have
the same issue, but I didn't try 2.5.2, I tried HEAD, so I'll try 2.5.2
tomorrow and see if it works.
On Feb 23, 2015 9:21 PM, "Joe Eli McIlvain" <notifications@github.com>
wrote:

[2015-02-24 09:57] YorickPeterse commented on #3322
Having already taken a look at this in the past I'll see if I can get said method implemented during the week.

[2015-02-24 16:08] binaryplease commented on #3322
@YorickPeterse Short update: I just tried it out with jruby, which also has native threads and has resolv-replace implemented. It solves the problem, without any other changes than require 'resolv-replace'

[2015-02-24 16:30] YorickPeterse commented on #3322
@binaryplease JRuby is an entirely different beast, it not occurring on JRuby doesn't instantly mean the problem is implementation specific.

[2015-02-24 16:31] binaryplease commented on #3322
@YorickPeterse Ok, ignore it then. I just thought It would show that resolv-replace solves the problem as the error also occures on jruby if I dont use resolv-replace.

[2015-02-24 16:57] YorickPeterse commented on #3322
The thing is that while their resolv/resolv-replace code might be the same Ruby code the underlying Socket internals might not be. That difference might ensure JRuby not to suffer from the same problem while Rubinius (and MRI if it wasn't for the GIL) will. As mentioned above I'll see if I can get Socket up to shape this week, but it will take a few days.

[2015-02-25 12:34] lucasmartins commented on #3254
@brixen Nice to read this discussion, about leveraging Sidekiq on Rubinius, [MailCannon](https://github.com/lucasmartins/mailcannon) is an Open Source project running at production for an year, I'm not working on the company which I created it for anymore but I'm sure I can get updated production metrics with the guys who do.

[2015-02-25 13:03] robin850 opened #3328 "#respond_to? and protected methods"
Hello,

There's a tiny behavioral difference between MRI and Rubinius regarding `#respond_to?` calls with protected methods. `#respond_to?` should return `false` for protected methods but this is not the case. This used to return `true` but this behavior has been changed in [Ruby 2.0](http://tenderlovemaking.com/2012/09/07/protected-methods-and-ruby-2-0.html) and the current one matches 1.9's:

[c

[2015-02-25 18:35] #3328 closed

[2015-02-25 18:42] robin850 commented on #3328
Boom! That was fast, thank you very much for fixing this! :-)

[2015-02-25 21:37] brixen commented on #3254
@lucasmartins it would be awesome to have a dialogue with folks supporting MailCannon in production. The new(-ish) Rubinius Metrics stuff was created exactly to address the problem of understanding performance without resorting to artificial (and nearly useless) benchmarking. The next step is to make it even easier to get the results of Rubinius Metrics. If you can put me in contact with someone,

[2015-02-26 07:50] cremno commented on #3326
I think `rb_struct_aref()`, which is implemented by rbx, is the correct replacement.

[2015-02-26 10:38] lucasmartins commented on #3254
@joaohornburg John, can you catch up on this thread? @brixen runs the Rubinius project and it would be awesome if you could give him some metrics about MailCannon running in production. Optimizing Sidekiq on RBX would leverage the adoption.  It still runs on RBX right?

[2015-02-26 12:43] schmurfy opened #3330 "sigsegv on 2.5.2"
I give rubinius a try regularly and just tried again with 2.5.2, while running my test suite I get a sigsegv pretty quickly which seems to be related to eventmachine but the trace shows that the error originates from rubinius internals.

ruby and lldb backtraces are available here: https://gist.github.com/schmurfy/509c4efc0e840fccb912

I am running on Mac OS X 10.9.4
I currently don't have any sim

[2015-02-26 12:56] lucasmartins commented on #3254
@pcasaretto Hey Paulo, can you catch up on this thread? @brixen runs the Rubinius project and it would be awesome if you could give him some metrics about MailCannon running in production. Optimizing Sidekiq on RBX would leverage its adoption. It still runs on RBX right?

[2015-02-26 13:18] schmurfy commented on #3330
I just tested with master and I have the same crash.

[2015-02-26 14:33] YorickPeterse commented on #3322
http://blog.gregburek.com/2015/02/22/dns-eglibc-and-resolv-replace-on-heroku/ This might be worth the read, giving more reasons to use resolv-replace (once I've finished implementing it).

[2015-02-26 20:01] wyde19 opened #3332 "Crash while bundling"
So, it says to report it, so here it is.
Just did bundle.
rbx-2.5.2, in rvm
irb does so too

[code]

[2015-02-26 20:22] YorickPeterse commented on #3332
Could you provide the following?:

* The contents of your Gemfile and Gemfile.lock (minus any private credentials you might be using)
* A Gist containing the GDB backtraces (see http://rubini.us/doc/en/how-to/obtaining-gdb-backtraces/)

[2015-02-26 21:07] wyde19 commented on #3332
I might, but lock already has changed (because I continued working with MRI), and AFAIK irb doesn't use any of it (but still crashes with same error)

gfile:
source 'https://rubygems.org'

gem 'rails', '4.1.7'
gem 'agent'
gem 'pg'
gem 'sass-rails', '~> 4.0.3'
gem 'slim-rails'
gem 'paperclip'
gem 'gretel'
gem 'uglifier', '>= 1.3.0'
gem 'coffee-rails', '~> 4.0.0'
gem 'devise'
gem 'activeadmin', gith

[2015-02-26 22:22] YorickPeterse commented on #3332
Can you try bundling without `binding_of_caller` present (or wrap it in a `platforms :mri do ... end` block)? Looking at the code I have my doubts about it working on Rubinius, but I could be mistaken.

[2015-02-26 23:08] wyde19 commented on #3332
nope, that's not the case
actually, it fires the error instantly, so I think its the case in initial sequence or something.
And I remind you, IRB is failing just as well and it doesn't imports any of the gems or code.

[2015-02-26 23:55] YorickPeterse commented on #3332
If a regular `irb` command is failing it sounds like your installation might be broken. Can you try to compile from source (instead of using RVM) and see if that works?:

    git clone git@github.com:rubinius/rubinius.git
    cd rubinius
    bundle install
    ./configure --prefix=path/to/directory/to/install/rubinius/in
    rake install

[2015-02-27 13:04] robin850 commented on #2934
Hi there!

I don't know if it's due to the same bug (at least we don't have the same exception raised) but we also have a thread-safety issue with autoloading. At the moment, Action Pack's test suite runs in parallel with Minitest's `parallelize_me!` method.

The problem is that most constants are autoloaded and we have a `ActionDispatch::Session` constant (a module) and a `ActionDispatch::Request

[2015-02-27 13:32] YorickPeterse commented on #2934
@robin850 Hm, interesting. In my own experience autoload is definitely not thread-safe, even if we might claim otherwise.

[2015-03-01 13:03] robin850 commented on #2934
@YorickPeterse : Yep, it looks like. I don't know whether it could be useful but here's a more "ruby-ish" example that doesn't rely on Minitest to showcase the problem: https://gist.github.com/robin850/3eeaed2538f50a9887c2 ; you just need to run `ruby -I"." foo.rb` once the gist is cloned.

[2015-03-02 10:40] robin850 opened #3334 "Wrong PID calling `system` with a command that doesn't exist"
Hello,

there's a little disparity between MRI and Rubinius calling the `system` method passing a command that doesn't exist:

[code]

There's no big deal here but this is pretty useful to get a handle on a `Process::Status` object. It looks like the offending line is [here](https://github.com/rubinius/rubinius/blob/40040f9956833ac13774d745e961c743eeeefcbb/vm/builtin/system.cpp#L831) ; I don't kno

[2015-03-02 12:47] sempervictus commented on #2842
The MRI can be annoying... Moreover, it looks like the server side doesnt like this much either, just saw a "down to the innards of RBX" stack trace. Will try to grab one next time i induce it.

[2015-03-02 16:47] mjc commented on #2241
IIRC loading the american date gem and then trying to do ```Date.parse("01/02/2013")``` would trigger it.

[2015-03-02 22:25] nirvdrum opened #3335 "String#slice with Symbol should raise"
Rubinius currently has special-case handling for String#slice with a Symbol index.  The ruby docs make no mention of this being a valid option (at least as of Ruby 2.2.0) and MRI raises:

[code]

Rubinius, due to its special handling, will return nil instead:

[code]

[2015-03-02 22:46] #3335 closed

[2015-03-03 08:01] dt1973 opened #3336 "Cleaning rbx 2.2.10 failed on FreeBSD 10.1"
[code]

[2015-03-03 09:29] YorickPeterse commented on #3336
You'll need to have LLVM installed (and `llvm-config` in your `$PATH`) in order to install Rubinius (unless you disable LLVM support during compilation). If `llvm-config` is called something differently (e.g. `llvm-config3.4`) you can use the `--llvm-config` option to customize the path. In your case:

    ruby-install rbx -- --llvm-config=path/to/alternative/llvm-config

Also, please try Rubinius

[2015-03-03 09:29] #3336 closed

[2015-03-03 13:22] pcasaretto commented on #3254
@andrehjr is the guy running MailCannon these days.

[2015-03-03 16:20] pH14 opened #3337 "Cannot convert ActiveSupport::HashWithIndifferentAccess to/from YAML with psych"
This seems to be a continuation of this error : https://github.com/rubinius/rubinius/issues/3279

I'm running a rails 4.2.0 app with rbx 2.5.0 / 2.5.2, and I keep getting that error with any version of psych > 2.0.9.

An app to demo this with (no test case yet, 'cause I don't really know what's going on) : https://github.com/pH14/demo-app-with-authpwn To reproduce the error, clone that repo, then

[2015-03-03 17:41] jemc commented on #3337
I'm not in a position to run your app and reproduce right now, but we can get you meaningful help quicker if you show the full traceback you get and also the contents of your `Gemfile.lock`.

[2015-03-03 17:47] pH14 commented on #3337
Yep, somehow forgot the traceback.

Traceback: https://gist.github.com/pH14/59febddcd066b3115cbc
Gemfile.lock: https://github.com/pH14/demo-app-with-authpwn/blob/master/Gemfile.lock

[2015-03-03 18:29] jemc commented on #3337
There are still issues with latest psych and `ActiveSupport::HashWithIndifferentAccess` because it is a subclass of `Hash`.

See https://github.com/tenderlove/psych/issues/220 and https://github.com/tenderlove/psych/issues/216

So, the best workaround would be to make sure you convert your `ActiveSupport::HashWithIndifferentAccess` to a `Hash` (or some other representation) before converting it to

[2015-03-04 18:11] pH14 commented on #3337
Aright thanks for that info jemc, that's helpful to figure out a next step.

[2015-03-05 10:59] dt1973 commented on #3336
Thanks for the clarification. Have a great weekend!

[2015-03-07 23:32] bruceadams commented on #3322
I hit a similar issue, running the very simple set of threading tests that are part of https://github.com/bruceadams/pmap
Here is the crash I hit https://gist.github.com/bruceadams/e4ebe6be3c38575a0685

I was running the `pmap` tests repeatedly trying to reproduce a different issue. The test suite had run, and passed the tests, 4381 times before this crash. So, the tests are simple, but the crash

[2015-03-09 14:47] schmurfy commented on #3330
I tried to reproduce the crash with a minimal test case but for now I failed :(
The strange thing is that now rubinius just stays there taking cpu until I control+c it and then it shows me the sigsegv error, can I connect to a running process with the debugger to see what it is currently doing ?

[2015-03-09 14:48] YorickPeterse commented on #3330
@schmurfy Using GDB is probably the easiest way here since it also gives insight in what's happening in C++. A small guide on using GDB can be found here: http://rubini.us/doc/en/how-to/obtaining-gdb-backtraces/

[2015-03-11 08:37] BenMorganIO commented on #3050
Hey, I'd like to bump this thread.

I'm currently trying to get spree/spree to run with Rubinius I'm getting some failures. Most are due to the issue being discussed here. The specs can viewed in [CircleCI](https://circleci.com/gh/BenMorganIO/spree/9).

[2015-03-11 14:14] bf4 commented on #3050
@BenMorganIO not sure if you read this thread, but this issue was mail-gem-specific, and resolved in https://github.com/mikel/mail/pull/782 as indicated above.  It might not yet be in a released gem.

[2015-03-11 18:06] vulpino opened #3353 "ruby-gpgme failure __gpgme_ath_mutex_lock: Assertion `*lock == ((ath_mutex_t) 0)' failed."
When running the code
[code]
at the same time in multiple threads (using `Thread.new`) Rubinius (but not MRI) fails, passing the error:
[code]
And, further down in the backtrace:
[code]
I've created an [example repository](https://github.com/vulpino/rubinius-gpgme-fail) and [Travis-CI build](https://travis-ci.org/vulpino/rubinius-gpgme-fail/builds/53978796) to illustrate the issue. The Travis-CI b

[2015-03-11 18:59] YorickPeterse commented on #3327
Closing this since we won't/can't support this for the foreseeable future.

[2015-03-11 18:59] #3327 closed

[2015-03-11 19:29] YorickPeterse commented on #3353
I'm able to reproduce this using the latest master version of Rbx. GDB logs: https://gist.github.com/YorickPeterse/434e361be76e37fb34ac

[2015-03-15 15:21] nidev opened #3359 "Installing rbx-2.5.2 fails randomly while preinstalling 2.1.0 gems due to utilities::thread"
I'm very happy to know Rubinius and will try using Rubinius for my main one.

I tried to build rbx-2.5.2 with ruby-build from rbenv. I built it for two times. The first try was failed and the second one was successful and I finally got Rubinius. The failure was so ridiculous that I put 'randomly' in the title of this issue. I attach gists:[two piles of build logs](https://gist.github.com/nidev/21d

[2015-03-15 17:42] YorickPeterse commented on #3359
This looks like a race condition, so it can fail/succeed at any given time.

[2015-03-15 17:57] saizai commented on #3307
@brixen Still not bumped per rvm?

[2015-03-16 03:43] nidev commented on #3359
I corrected the title because compiling of actual 'Rubinius' was successful.

@YorickPeterse, I guessed so and I tried to reproduce it by using this shell script in the folder:

[code]
(I didn't put DEV=1 environment variable. I did so to use GDB when it happens. Well, I did three times more but there was no failure.)

Does rakelib/preinstall_gems.rb utilize 'thread' to make installation faster?

[2015-03-16 11:06] YorickPeterse commented on #3359
The particular error occurs inside the Rubinius VM when it's trying to install a Gem. As such it's likely that this problem can also occur outside of the build process (e.g. when installing a Gem itself), it's not related to the Rake helper files themselves. @brixen made various changes related to threads, shutdown, etc, but these haven't been released yet. These changes _could_ solve the problem